block append styles
  link(href = '/statique/assets/styles/modaleDuplicationService.css', rel = 'stylesheet')

mixin modaleDuplicationService()
  .rideau.modale-duplication-service
    .modale
      .fermeture-modale
      form.contenu-modale
        h1 Dupliquer un service
        p.description Sélectionnez le nombre de copies que vous souhaitez pour le service #[span.nom-service].
        .requis
        label Nombre de copies
          br
          input(
            id = 'nombre-copie',
            name = 'nombre-copie',
            type = 'number',
            value = 1,
            min = 1,
            max = 100,
            placeholder = 'ex : 2',
            required,
          )
          .message-erreur Veuillez utiliser une valeur entre 1 et 100.
        .avertissement
          .resume En dupliquant ce service, les données copiées sont celles des rubriques :
          div
            ul.avec
              li Décrire
              li Sécuriser
              li Risques
              li Contacts utiles
              li PDF Synthèse de la sécurité du service
              li PDF Annexes

            ul.sans
              li Homologuer
              li PDF Décision d'homologation de sécurité

        .message-erreur.message-erreur-serveur

        button.bouton.bouton-duplication-service Valider
