block append styles
  link(href = '/statique/assets/styles/modaleDuplicationService.css', rel = 'stylesheet')

block append scripts
  script(type = "module", src = "/statique/scripts/modaleDuplicationService.js")

mixin modaleDuplicationService()
  .rideau.modale-duplication-service
    .modale
      .fermeture-modale
      form.contenu-modale
        h1 Dupliquer un service
        p.description Sélectionnez le nombre de copies que vous souhaitez pour le service #[span.nom-service].
        .requis
        label Nombre de copies
          br
          input(
            id = 'nombre-copie',
            name = 'nombre-copie',
            type = 'number',
            value = 1,
            min = 1,
            max = 100,
            placeholder = 'ex : 2',
            required,
          )
          .message-erreur Veuillez utiliser une valeur entre 1 et 100.
        .avertissement
          .resume En dupliquant ce service, les données copiées sont celles des rubriques :
          div
            ul.avec
              li Décrire
              li Sécuriser
              li Risques
              li Contacts utiles

            ul.sans
              li Homologuer

        .message-erreur.message-erreur-serveur

        button.bouton.bouton-duplication-service Valider
