block append styles
  link(href = '/statique/assets/styles/modaleSuppressionService.css', rel = 'stylesheet')

mixin modaleSuppressionService()
  .rideau.modale-suppression-service
    .modale
      .fermeture-modale
      .contenu-modale
        h1 Supprimer un service
        p Souhaitez-vous définitivement supprimer le service #[span.nom-service] ?
        .avertissement
          .resume.
            Toutes les données seront effacées.<br>
            Aucun contributeur ne pourra accéder à ce service.

        button(type = 'button').bouton.bouton-suppression-service Valider
