extends ../formulaireEtapierRecommandation
include ../../fragments/elementsAjoutables/elementsAjoutablesAvis

block append styles
  link(href = '/statique/assets/styles/etapesDossier/avis.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')
  link(href = '/styles/selectize.default.min.css', rel = 'stylesheet')

block formulaire
  section.description
    p.
      Renseignez, si vous le souhaitez, un ou plusieurs avis sur la sécurité du service pour aider
      l'autorité d'homologation à prendre sa décision. Nous vous recommandons au moins un avis groupé.

  -
    const avis = service.dossierCourant().avis
    const avecAvisRadio = { avecAvis: avis.avecAvis === null ? null : avis.avecAvis ? 1 : 0 }

  +inputChoix({
    type: 'radio',
    nom: 'avecAvis',
    items: [{ description: 'Aucun avis à renseigner' }, { description: 'Renseigner un ou plusieurs avis' }],
    objetDonnees: avecAvisRadio,
    messageErreur: 'Ce champ est obligatoire. Veuillez choisir une option.',
    requis: true,
  })

  +elementsAjoutablesAvis(service.dossierCourant().avis.avis)

  script(type = "module", src = "/statique/homologation/etapes/avis.js")
  script(src = "/bibliotheques/selectize.min.js")

block bouton-etape
    -
      const afficheBoutonAjout = service.dossierCourant().avis.avecAvis === true
      const cssAffichage = afficheBoutonAjout ? '' : 'invisible'
    a(
      class = `nouvel-item bouton bouton-secondaire ${cssAffichage}`
      id = 'ajout-element-un-avis'
    ) Ajouter un avis
    button.bouton#suivant(
      data-id-homologation = service.id,
      data-id-etape = idEtape,
      data-id-etape-suivante = referentiel.idEtapeSuivante(idEtape)
    ) Suivant
