extends ../formulaireEtapier

include ../../fragments/inputChoix

block append styles
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block formulaire
  - const dossierCourant = service.dossierCourant()

  .mention champ obligatoire

  section
    p.
      Saisissez les informations remplies par l'autorité d'homologation sur le document
      <strong>Décision de l'homologation de sécurité</strong>.

    .requis
      label Date d'homologation
        .infos-complementaires Cette date correspond à la date de signature de l'autorité d'homologation.
        input(id = 'date-homologation' nom = 'dateHomologation', type = 'date', required, value = dossierCourant.decision.dateHomologation)
        .message-erreur Ce champ est obligatoire. Veuillez saisir une date.

    .requis
      +inputChoix({
        type: 'radio',
        nom: 'dureeValidite',
        items: referentiel.echeancesRenouvellement(),
        titre: "Durée de validité de l'homologation",
        objetDonnees: dossierCourant.decision,
        messageErreur: 'Ce champ est obligatoire. Veuillez choisir une option.',
        requis: true,
      })
  script(type = "module", src = "/statique/homologation/etapes/etapeDate.js")

block bouton-etape
  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape = idEtape,
    data-id-etape-suivante = referentiel.idEtapeSuivante(idEtape)
    ) Suivant
