extends ../formulaireEtapier

include ../../fragments/inputChoix

block append styles
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block title
  title Homologuer - Date | MonServiceSécurisé

block contenu-etape
  - const dossierCourant = service.dossierCourant()

  section
    p.
      Saisissez les informations remplies par l'autorité d'homologation sur le document
      <strong>Décision de l'homologation de sécurité</strong>.

    .requis
      label Date de la commission d'homologation
        .infos-complementaires
        input(id = 'date-homologation' nom = 'dateHomologation', type = 'date', required, value = dossierCourant.decision.dateHomologation)
        .message-erreur Ce champ est obligatoire. Veuillez saisir une date.

    .requis
      +inputOuiNon({
        nom: 'validee',
        titre: "Validation de l'homologation",
        objetDonnees: {validee: !dossierCourant.decision.refusee},
        messageErreur: 'Ce champ est obligatoire. Veuillez choisir une option.',
        requis: true,
      })

    .requis(id="conteneur-duree-validite")
      +inputChoix({
        type: 'radio',
        nom: 'dureeValidite',
        items: referentiel.echeancesRenouvellement(),
        titre: "Durée de validité de l'homologation",
        objetDonnees: dossierCourant.decision,
        messageErreur: 'Ce champ est obligatoire. Veuillez choisir une option.',
        requis: true,
      })
  script(type = "module", src = "/statique/service/homologation/etapes/etapeDate.js")

block contenu-demarche-homologation

block bouton-etape
  button.bouton#suivant(
    data-id-homologation = service.id,
    data-id-etape = idEtape,
    data-id-etape-suivante = referentiel.idEtapeSuivante(idEtape)
    ) Suivant
