mixin preferencesCommunication(donnees, forceEmailsTransactionnels)
  .preferences-communication
    label Préférences de communication
    .conteneur-checkbox
      div
        input(
          id = 'infolettreAcceptee',
          name = 'infolettreAcceptee',
          checked = donnees.infolettreAcceptee,
          type = 'checkbox'
          class = 'input-checkbox'
        )
        label.label-checkbox(for = 'infolettreAcceptee') J'accepte de recevoir la lettre d'information MonServiceSécurisé.

      if forceEmailsTransactionnels
        input(type='hidden' id='transactionnelAccepte' value='true')
      else
        .separateur
        div
          input(
            id = 'transactionnelAccepte',
            name = 'transactionnelAccepte',
            checked = donnees.transactionnelAccepte,
            type = 'checkbox'
            class = 'input-checkbox'
          )
          label.label-checkbox(for = 'transactionnelAccepte') J'accepte de recevoir des informations relatives à l'utilisation de MonServiceSécurisé
