version: '3'

x-app:
  &configuration-base
  build:
    context: .
  env_file:
    - .env
  volumes:
    - .:/usr/src/app

services:
  db:
    image: postgres
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - postgres
    volumes:
      - /var/lib/postgresql/data

  test:
    <<: *configuration-base
    command: "npx mocha --recursive --watch"
    environment:
      - NODE_ENV=test

  web:
    <<: *configuration-base
    command: "npx nodemon server.js"
    environment:
      - NODE_ENV=development
    networks:
      - postgres
    ports:
      - "${PORT_MSS}:3000"
    depends_on:
      - db

networks:
  postgres:
