version: '3'

x-app: &configuration-base
  build:
    context: .
  env_file:
    - .env
  volumes:
    - .:/usr/src/app
    - node_modules:/usr/src/app/node_modules/

services:
  mss-db:
    image: postgres
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - mss-network
    volumes:
      - /var/lib/postgresql/data

  test:
    <<: *configuration-base
    command: 'npm run test:watch'
    environment:
      - NODE_ENV=test

  web:
    <<: *configuration-base
    command: bash -c "export PUPPETEER_EXECUTABLE_PATH=$$(which chromium) && npx knex migrate:latest && npx concurrently \"npx nodemon server.js\" \"npx vite build --watch --minify false --config svelte/vite.config.mts\""
    environment:
      - NODE_ENV=development
      # Sur Mac M1 le téléchargement de Chromium échoue, car aucune version compatible `arm64`.
      # Donc, on ordonne à Puppeteer de nous laisser gérer le téléchargement.
      # Il est fait dans le Dockerfile en `apt-get`.
      - PUPPETEER_SKIP_DOWNLOAD=true
    networks:
      - mss-network
    ports:
      - '${PORT_MSS}:3000'
    depends_on:
      - mss-db
      - mss-crypto

  mss-crypto:
    image: hashicorp/vault:1.14
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=root # Mot de passe de connexion sur l'UI Vault locale
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    networks:
      - mss-network
    ports:
      - '8200:8200'
    volumes:
      - ./scripts/init-mss-crypto.sh:/init-mss-crypto.sh
    entrypoint: sh -c "/init-mss-crypto.sh"

networks:
  mss-network:
    external: true

volumes:
  node_modules:
