.page(data-numero-page='1')
  h1 Téléchargez dès à présent votre encart d'homologation
  h2 Valorisez l'effort de sécurisation mis en œuvre et renforcer la confiance de vos usagers dans vos services

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/encartHomologation_1.png' alt='')

  .conteneur-actions
    bouton.bouton.suivant(tabindex=0) Suivant

.page(data-numero-page='2')
  h1 Obtenez votre encart dans le parcours "Homologuer"
  h2 Nous mettons à votre disposition des encarts en divers formats que vous pouvez obtenir dans la "Dernière homologation validée"

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/encartHomologation_2.png' alt='')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent(tabindex=0) Retour
    bouton.bouton.bouton-fermeture(tabindex=0) Fermer