.page(data-numero-page='1')
  h1 Découvrez le menu de navigation
  h2 Naviguez entre les rubriques et accédez à tous vos documents.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/menuNavigation_1.png')

  .conteneur-actions
    bouton.bouton.suivant Suivant

.page(data-numero-page='2')
  h1 Ouvert ou fermé
  h2 Adaptez la vue du menu en fonction de vos besoins.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/menuNavigation_2.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    a.decouvrir(href='/tableauDeBord' title='Aller au tableau de bord')
      bouton.bouton Aller au tableau de bord
