block append styles
  link(href = '/statique/assets/styles/nouvellesFonctionnalites/modaleNouvellesFonctionnalites.css', rel = 'stylesheet')

dialog.modale-nouvelles-fonctionnalites(data-page-actuelle='1')
  .conteneur-fermeture
    img.bouton-fermeture(src='/statique/assets/images/icone_fermeture_modale.svg')
  .conteneur-nouvelle-fonctionnalite
  .pagination
