.page(data-numero-page='1')
  h1 La CNIL s'associe à l'ANSSI sur MonServiceSécurisé
  h2 MonServiceSécurisé propose désormais d'accéder à une liste de mesures dédiées à la protection des données personnelles, conçue par la CNIL.

  img.illustration(src='/statique/assets/images/image_intro_mss.svg' alt='')

  .conteneur-actions
    bouton.bouton.suivant(tabindex=0) Suivant

.page(data-numero-page='2')
  h1 Comment retrouver les mesures CNIL ?
  h2.sans-marge-basse Allez dans « Sécuriser », utilisez la fonctionnalité « Filtres » et cochez « CNIL ».
  h2.plus-petit À noter : pour les services déjà référencés, l'intégration de ces mesures additionnelles impliquera temporairement une baisse de l'indice cyber. Indiquez le statut de ces mesures pour améliorer votre indice !

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/referentielCNIL_2.gif' alt="Démonstration de l'utilisation des filtres du tableau des mesures")

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent(tabindex=0) Retour
    bouton.bouton.suivant(tabindex=0) Suivant

.page(data-numero-page='3')
  h1 Les mesures CNIL sont liées aux données personnelles
  h2 Elles ne s’afficheront que si vous avez coché des données à caractère personnel dans « Décrire ».

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/referentielCNIL_3.png' alt='Questions concernant les données à caractère personnel')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent(tabindex=0) Retour
    bouton.bouton.bouton-fermeture(tabindex=0) Fermer