.page(data-numero-page='1')
  h1 Découvrez le nouveau tableau de bord
  h2 Profitez d'une vue globale et enrichie<br />de l'ensemble de vos services.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_1.png')

  .conteneur-actions
    bouton.bouton.suivant Suivant

.page(data-numero-page='2')
  h1 Pilotez la sécurité et l'homologation <br /> de tous vos services
  h2 Filtrez, triez, comparez à votre guise.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_2.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    bouton.bouton.suivant Suivant

.page(data-numero-page='3')
  h1 Sécurisez à deux, à dix ou à cent
  h2 Invitez rapidement les personnes de votre choix <br /> à collaborer à vos services.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_3.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    bouton.bouton.suivant Suivant

.page(data-numero-page='4')
  h1 Téléchargez tous vos documents depuis un seul endroit
  h2 La synthèse de la sécurité d'un service, la décision et le dossier d'homologation.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_4.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    bouton.bouton.suivant Suivant

.page(data-numero-page='5')
  h1 Exportez la liste de vos services 
  h2 En un clic. Au format CSV.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_5.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    bouton.bouton.suivant Suivant

.page(data-numero-page='6')
  h1 Dupliquez à l'infini
  h2 Copiez vos services pour constituer plus <br /> rapidement vos nouveaux dossiers.

  img.illustration(src='/statique/assets/images/nouvellesFonctionnalites/tableauDeBord_6.png')

  .conteneur-actions
    bouton.bouton.bouton-secondaire.precedent Retour
    a.decouvrir(href='/tableauDeBord' title='Aller au tableau de bord')
      bouton.bouton Découvrir le tableau de bord
