mixin besoinAide
  block append styles
    link(href = '/statique/assets/styles/homologation/aide.css', rel = 'stylesheet')

  .besoin-aide
    h1 Besoin d'aide ?
    p.
      Vous avez des questions sur votre homologation ou sur notre service ?
      Vous voulez nous faire part de vos remarques ?
    a(href = "mailto:contact@monservicesecurise.beta.gouv.fr?subject=Utilisation%20de%20Mon%20Service%20S%C3%A9curis%C3%A9").
      Contactez-nous &nbsp;&nbsp;›
