mixin carteInformations({ titre, sousTitre, details })
  .carte
    h1= titre
    h2= sousTitre

    block

    if details
      .plus-details Plus de détails
      .moins-details Moins de détails
      .details
        +#{details}
