mixin connexionAgentConnect()
  div
    a.agentconnect-button(href='/oidc/connexion')
      span.agentconnect-sr-only S'identifier avec ProConnect
    p
      a(href='https://agentconnect.gouv.fr/' target='_blank' rel='noopener noreferrer' title='Qu’est-ce que ProConnect ? - nouvelle fenêtre')
        | Qu'est-ce que ProConnect ?