mixin descriptionIndiceCyber()
  .
    L'indice cyber est calculé sur la base des informations renseignées
    par l’équipe concernant les mesures de sécurité proposées par l'ANSSI
    et à l'exclusion des mesures spécifiques ajoutées. Il fournit une évaluation
    indicative du niveau de sécurisation du service.
