mixin descriptionIndiceCyber()
  .
    L'indice cyber est calculé à partir des mesures de sécurité mises en
    œuvre, sur la base des déclarations de l'équipe, par rapport à l'ensemble
    des mesures proposées par l'ANSSI. Il fournit une évaluation indicative
    du niveau de sécurité du service.
