block append styles
  link(href='/statique/assets/styles/diagnostics.css', rel='stylesheet')

mixin disque(valeurCalculee, valeurReference, couleur)
  if valeurCalculee === valeurReference
    .disque(class = couleur)
  else
    .disque

mixin avisExpertCyber
  - const avis = homologation.avisExpertCyber

  .avis-expert-cyber
    +disque(avis.defavorable(), true, 'rouge')
    +disque(avis.favorable(), true, 'vert')

    if avis.defavorable()
      .avis.defavorable Défavorable
    if avis.favorable()
      .avis.favorable Favorable
    if avis.inconnu()
      .avis.inconnu Avis Inconnu
