mixin zoneSaisie(nom, index, description, valeurExemple)
  label.item-ajoute
    .icone-suppression
    input(
      id = 'description-' + nom + '-' + index,
      name = 'description-' + nom + '-' + index,
      type = 'text',
      value != description,
      placeholder = valeurExemple
    )

mixin elementsAjoutables({ identifiantConteneur, nom, valeurExemple = '', donnees = [], texteLienAjouter = 'Ajouter', zoneSaisieVideVisible = false })
  div(id = identifiantConteneur class = 'elements-ajoutables')
    if zoneSaisieVideVisible && donnees.length === 0
      +zoneSaisie(nom, 0, '', valeurExemple)
    each valeur, index in donnees
      +zoneSaisie(nom, index, valeur.description, valeurExemple)
  a(
    class = 'nouvel-item',
    id = 'ajout-element-' + nom
  )= texteLienAjouter

  script(type = 'module', src = '/statique/modules/elementsAjoutables.js')
