mixin elementsAjoutables({ identifiantConteneur, nom, valeurExemple = '', donnees = [], texteLienAjouter = 'Ajouter' })
  div(id = identifiantConteneur)
    each value, index in donnees
      label.item-ajoute
        .icone-suppression
        input(
          id = 'description-' + nom + '-' + index,
          name = 'description-' + nom + '-' + index,
          type = 'text',
          value = value.description,
          placeholder = valeurExemple
        )
  a(
    class = 'nouvel-item',
    id = 'ajout-element-' + nom
  )= texteLienAjouter

  script(type = 'module', src = '/statique/modules/elementsAjoutables.js')
