block append styles
  link(href='/statique/assets/styles/entites.css', rel='stylesheet')

mixin entites(classSupplementaire = '')
  .conteneur-entites(class=classSupplementaire)
    img(loading="lazy" src='/statique/assets/images/home/logos/ADICO.webp' alt="ADICO - ASSOCIATION POUR LE DEVELOPPEMENT ET L'INNOVATION NUMERIQUE DES COLLECTIVITES")
    img(loading="lazy" src='/statique/assets/images/home/logos/ANCT.webp' alt="ANCT - AGENCE NATIONALE DE LA COHESION DES TERRITOIRES")
    img(loading="lazy" src='/statique/assets/images/home/logos/CISIRH.webp' alt="CENTRE INTERMINISTERIEL DE SERVICES INFORMATIQUES RELATIFS AUX RESSOURCES HUMAINES (CISIRH)")
    img(loading="lazy" src='/statique/assets/images/home/logos/CLERMONT AUVERGNE METROPOLE.webp' alt="CLERMONT AUVERGNE METROPOLE")
    img(loading="lazy" src='/statique/assets/images/home/logos/COMMUNAUTE D AGGLOMERATION CHARTRES METROPOLE.webp' alt="COMMUNAUTE D AGGLOMERATION CHARTRES METROPOLE")
    img(loading="lazy" src='/statique/assets/images/home/logos/COMMUNE DE BOIVRE-LA-VALLEE.webp' alt="COMMUNE DE BOIVRE-LA-VALLEE")
    img(loading="lazy" src='/statique/assets/images/home/logos/COUR DES COMPTES.webp' alt="COUR DES COMPTES")
    img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE L EURE.webp' alt="DEPARTEMENT DE L EURE")
    img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE L ESSONNE.webp' alt="DEPARTEMENT DE L' ESSONNE")
    img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DE LA HAUTE GARONNE.webp' alt="DEPARTEMENT DE LA HAUTE GARONNE")
    img(loading="lazy" src='/statique/assets/images/home/logos/DEPARTEMENT DU VAR.webp' alt="DEPARTEMENT DU VAR")
    img(loading="lazy" src='/statique/assets/images/home/logos/DECLIC.webp' alt="DEVELOPPEMENT D'ECHANGES ENTRE COLLECTIVITES LOCALES EN MATIERE D'INFORMATIONS ET DE COMMUNICATIONS (DECLIC)")
    img(loading="lazy" src='/statique/assets/images/home/logos/GCS SARA.webp' alt="GCS SARA GROUPEMENT DE COOPERATION SANITAIRE SYSTEME D'INFORMATION DE SANTE AUVERGNE RHONE ALPES")
    img(loading="lazy" src='/statique/assets/images/home/logos/INSTITUT MINES-TELECOM (IMT).webp' alt="INSTITUT MINES-TELECOM (IMT)")
    img(loading="lazy" src='/statique/assets/images/home/logos/METROPOLE D AIX-MARSEILLE-PROVENCE (AMP).webp' alt="METROPOLE D'AIX-MARSEILLE-PROVENCE (AMP)")
    img(loading="lazy" src='/statique/assets/images/home/logos/METROPOLE DU GRAND NANCY.webp' alt="METROPOLE DU GRAND NANCY")
    img(loading="lazy" src='/statique/assets/images/home/logos/METZ METROPOLE.webp' alt="METZ METROPOLE")
    img(loading="lazy" src='/statique/assets/images/home/logos/PLATEFORME DE L INCLUSION.webp' alt="PLATEFORME DE L'INCLUSION")
    img(loading="lazy" src='/statique/assets/images/home/logos/SM D ENERGIES EQUIPEMENTS ET COMMUNICATION DU JURA (SIDEC).webp' alt="SM D'ENERGIES EQUIPEMENTS ET COMMUNICATION DU JURA (SIDEC)")
    img(loading="lazy" src='/statique/assets/images/home/logos/SYNDICAT MIXTE LA FIBRE64.webp' alt="SYNDICAT MIXTE LA FIBRE64")
