include ./inputChoix
include ./elementsAjoutables/elementsAjoutablesDescription

block append styles
  link(href = '/statique/assets/styles/homologation/descriptionService.css', rel = 'stylesheet')

mixin formulaireDescriptionService(idHomologation)
  form.homologation#homologation
    h1.action Décrire
    p.
      Précisez les caractéristiques de votre service pour obtenir des recommandations personnalisées de l'ANSSI.
    section
      .mention champ obligatoire
      .requis
        label Nom du service numérique à homologuer
          br
          input(
            id = 'nom-service',
            name = 'nomService',
            type = 'text',
            value != homologation.nomService(),
            required
          )
          .message-erreur Le nom est obligatoire. Veuillez le renseigner.

      .requis
        +inputChoix({
          type: 'checkbox',
          nom: 'typeService',
          titre: 'Type(s)',
          items: referentiel.typesService(),
          objetDonnees: homologation.descriptionService,
          messageErreur: 'Ce champ est obligatoire. Veuillez sélectionner une ou plusieurs options.',
          requis: true,
        })

      .requis
        +inputChoix({
          type: 'radio',
          nom: 'provenanceService',
          titre: 'Provenance',
          items: referentiel.provenancesService(),
          objetDonnees: homologation.descriptionService,
          messageErreur: 'La provenance est obligatoire. Veuillez cocher une option.',
          requis: true,
        })

      .requis
        +inputChoix({
          type: 'radio',
          nom: 'statutDeploiement',
          titre: 'Statut',
          items: referentiel.statutsDeploiement(),
          objetDonnees: homologation.descriptionService,
          messageErreur: 'Le statut est obligatoire. Veuillez cocher une option.',
          requis: true,
        })

      label Présentation
        textarea(
          id = 'presentation',
          name = 'presentation',
          placeholder = 'ex : site internet de la médiathèque permettant de créer un compte utilisateur, de réserver, prolonger leur réservation de contenus multimédia.',
        )= homologation.descriptionService.presentation

      label Accès
        br
        +elementsAjoutablesDescription({
          identifiantConteneur: 'points-acces',
          nom: 'point-acces',
          valeurExemple: 'exemple : https://www.adresse.fr, App Store, Play Store…',
          donnees: homologation.descriptionService.pointsAcces.toJSON(),
          texteLienAjouter: 'Ajouter un accès',
          zoneSaisieVideVisible: true,
        })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'fonctionnalites',
        titre: 'Fonctionnalité(s) offerte(s)',
        description: "Cette question permet d'obtenir la liste personnalisée des mesures de sécurité à appliquer.",
        items: referentiel.fonctionnalites(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutablesDescription({
        identifiantConteneur: 'fonctionnalites-specifiques',
        nom: 'fonctionnalite',
        donnees: homologation.descriptionService.fonctionnalitesSpecifiques.toJSON(),
        texteLienAjouter: 'Ajouter une fonctionnalité',
      })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'donneesCaracterePersonnel',
        titre: 'Données à caractère personnel et autres données sensibles stockées par le service',
        description: "Cette question permet d'obtenir la liste personnalisée des mesures de sécurité à appliquer.",
        items: referentiel.donneesCaracterePersonnel(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutablesDescription({
        identifiantConteneur: 'donnees-sensibles-specifiques',
        nom: 'donnees-sensibles',
        donnees: homologation.descriptionService.donneesSensiblesSpecifiques.toJSON(),
        texteLienAjouter: 'Ajouter des données',
      })

    section
      .requis
        +inputChoix({
          type: 'radio',
          nom: 'localisationDonnees',
          titre: 'Localisation des données',
          items: referentiel.localisationsDonnees(),
          objetDonnees: homologation.descriptionService,
          messageErreur: 'La localisation des données est obligatoire. Veuillez cocher une option.',
          requis: true,
        })

      .requis
        +inputChoix({
          type: 'radio',
          nom: 'delaiAvantImpactCritique',
          titre: 'Estimation de la durée maximale acceptable de dysfonctionnement grave du service',
          items: referentiel.delaisAvantImpactCritique(),
          objetDonnees: homologation.descriptionService,
          messageErreur: 'Ce champ est obligatoire. Veuillez cocher une option.',
          requis: true,
        })
      .requis
        +inputOuiNon({
          nom: 'risqueJuridiqueFinancierReputationnel',
          titre: 'Une atteinte à la sécurité ou au bon fonctionnement du service pourrait entraîner un impact critique sur les plans juridique, financier ou réputationnel',
          objetDonnees: homologation.descriptionService,
          exempleOui: "Les mesures de sécurité à mettre en œuvre, proposées dans l'étape suivante « Sécuriser », seront renforcées (ex : réaliser un audit de sécurité, une analyse Ebios Risk Manager, …).",
          messageErreur: 'Ce champ est obligatoire. Veuillez cocher une option.',
          requis: true,
        })

    if idHomologation
      button.bouton#diagnostic(idHomologation = idHomologation) Enregistrer
    else
      button.bouton#diagnostic Valider

  script(type = 'module', src = '/statique/homologation/descriptionService.js')
