include ./inputChoix
include ./elementsAjoutables

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/descriptionService.css', rel = 'stylesheet')

mixin formulaireDescriptionService(idHomologation)
  form.homologation#homologation
    h1 Première étape de la constitution de votre dossier
    h2 Description du service
    p.
      Présentez les caractéristiques de votre service numérique à homologuer pour recevoir des recommandations personnalisées.
      Ces informations pourront être complétées ou modifiées ultérieurement.
    section
      label Nom du service numérique à homologuer
        br
        input(
          id = 'nom-service',
          name = 'nomService',
          type = 'text',
          value != homologation.nomService(),
        )

      +inputChoix({
        type: 'checkbox',
        nom: 'typeService',
        titre: 'Type de service numérique',
        items: referentiel.typesService(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'checkbox',
        nom: 'provenanceService',
        titre: 'Provenance du service numérique',
        items: referentiel.provenancesService(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'radio',
        nom: 'statutDeploiement',
        titre: 'Statut',
        items: referentiel.statutsDeploiement(),
        objetDonnees: homologation.descriptionService,
      })

      label Présentation du service numérique
        textarea(
          id = 'presentation',
          name = 'presentation',
          placeholder = 'ex : site internet de la médiathèque permettant de créer un compte utilisateur, de réserver, prolonger leur réservation de contenus multimédia.',
        )= homologation.descriptionService.presentation

      label Accès au service numérique
        br
        +elementsAjoutables({
          identifiantConteneur: 'points-acces',
          nom: 'point-acces',
          valeurExemple: 'exemple : https://www.adresse.fr, App Store, Play Store…',
          donnees: homologation.descriptionService.pointsAcces.toJSON(),
          texteLienAjouter: 'Ajouter un accès',
          zoneSaisieVideVisible: true,
        })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'fonctionnalites',
        titre: 'Principales fonctionnalités offertes par le service numérique',
        items: referentiel.fonctionnalites(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutables({
        identifiantConteneur: 'fonctionnalites-specifiques',
        nom: 'fonctionnalite',
        donnees: homologation.descriptionService.fonctionnalitesSpecifiques.toJSON(),
        texteLienAjouter: 'Ajouter une fonctionnalité',
      })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'donneesCaracterePersonnel',
        titre: 'Données à caractère personnel et autres données sensibles stockées par le service',
        items: referentiel.donneesCaracterePersonnel(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutables({
              identifiantConteneur: 'donnees-sensibles-specifiques',
              nom: 'donnees-sensibles',
              donnees: homologation.descriptionService.donneesSensiblesSpecifiques.toJSON(),
              texteLienAjouter: 'Ajouter des données',
            })

    section
      +inputChoix({
        type: 'radio',
        nom: 'localisationDonnees',
        titre: 'Localisation des données',
        items: referentiel.localisationsDonnees(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'radio',
        nom: 'delaiAvantImpactCritique',
        titre: 'Estimation de la durée maximale acceptable de dysfonctionnement grave du service',
        items: referentiel.delaisAvantImpactCritique(),
        objetDonnees: homologation.descriptionService,
      })

      +inputOuiNon({
        nom: 'presenceResponsable',
        titre: "Une personne est-elle responsable de la sécurité des systèmes d'information au sein de votre organisation ?",
        objetDonnees: homologation.descriptionService,
      })

    if idHomologation
      .bouton#diagnostic(identifiant = idHomologation) Enregistrer
    else
      .bouton#diagnostic Valider

  script(type = 'module', src = '/statique/homologation/formulaireDescriptionService.js')
