include ./inputChoix
include ./elementsAjoutables/elementsAjoutablesDescription

mixin formulaireDescriptionService(idHomologation)
  form.homologation#homologation
    h1.action Décrire
    p.
      Précisez les caractéristiques de votre service pour obtenir des recommandations personnalisées de l'ANSSI.
    section
      label Nom du service numérique à homologuer
        br
        input(
          id = 'nom-service',
          name = 'nomService',
          type = 'text',
          value != homologation.nomService(),
        )

      +inputChoix({
        type: 'checkbox',
        nom: 'typeService',
        titre: 'Type(s)',
        items: referentiel.typesService(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'radio',
        nom: 'provenanceService',
        titre: 'Provenance(s)',
        items: referentiel.provenancesService(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'radio',
        nom: 'statutDeploiement',
        titre: 'Statut',
        items: referentiel.statutsDeploiement(),
        objetDonnees: homologation.descriptionService,
      })

      label Présentation
        textarea(
          id = 'presentation',
          name = 'presentation',
          placeholder = 'ex : site internet de la médiathèque permettant de créer un compte utilisateur, de réserver, prolonger leur réservation de contenus multimédia.',
        )= homologation.descriptionService.presentation

      label Accès
        br
        +elementsAjoutablesDescription({
          identifiantConteneur: 'points-acces',
          nom: 'point-acces',
          valeurExemple: 'exemple : https://www.adresse.fr, App Store, Play Store…',
          donnees: homologation.descriptionService.pointsAcces.toJSON(),
          texteLienAjouter: 'Ajouter un accès',
          zoneSaisieVideVisible: true,
        })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'fonctionnalites',
        titre: 'Fonctionnalité(s) offerte(s)',
        items: referentiel.fonctionnalites(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutablesDescription({
        identifiantConteneur: 'fonctionnalites-specifiques',
        nom: 'fonctionnalite',
        donnees: homologation.descriptionService.fonctionnalitesSpecifiques.toJSON(),
        texteLienAjouter: 'Ajouter une fonctionnalité',
      })

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'donneesCaracterePersonnel',
        titre: 'Données à caractère personnel et autres données sensibles stockées par le service',
        items: referentiel.donneesCaracterePersonnel(),
        objetDonnees: homologation.descriptionService,
      })

      +elementsAjoutablesDescription({
        identifiantConteneur: 'donnees-sensibles-specifiques',
        nom: 'donnees-sensibles',
        donnees: homologation.descriptionService.donneesSensiblesSpecifiques.toJSON(),
        texteLienAjouter: 'Ajouter des données',
      })

    section
      +inputChoix({
        type: 'radio',
        nom: 'localisationDonnees',
        titre: 'Localisation des données',
        items: referentiel.localisationsDonnees(),
        objetDonnees: homologation.descriptionService,
      })

      +inputChoix({
        type: 'radio',
        nom: 'delaiAvantImpactCritique',
        titre: 'Estimation de la durée maximale acceptable de dysfonctionnement grave du service',
        items: referentiel.delaisAvantImpactCritique(),
        objetDonnees: homologation.descriptionService,
      })

      +inputOuiNon({
        nom: 'risqueJuridiqueFinancierReputationnel',
        titre: 'Une atteinte à la sécurité ou au bon fonctionnement du service pourrait entraîner des conséquences graves sur les plans juridique, financier ou réputationnel',
        objetDonnees: homologation.descriptionService,
      })

    if idHomologation
      .bouton#diagnostic(idHomologation = idHomologation) Enregistrer
    else
      .bouton#diagnostic Valider

  script(type = 'module', src = '/statique/homologation/descriptionService.js')
