include ./inputChoix

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

mixin formulaireInformationsGenerales(idHomologation)
  form.homologation#homologation
    h1 Décrivez le service numérique
    h2 Informations générales
    p.
      Ces informations nous permettront de vous proposer des mesures de
      sécurité adaptées.
    section
      label Nom du service numérique à homologuer
        br
        input(
          id = 'nom-service',
          name = 'nomService',
          type = 'text',
          value != homologation.nomService(),
        )

      +inputChoix({
        type: 'checkbox',
        nom: 'typeService',
        titre: 'Type de service numérique',
        items: referentiel.typesService(),
        objetDonnees: homologation.informationsGenerales,
      })

      +inputChoix({
        type: 'checkbox',
        nom: 'provenanceService',
        titre: 'Quelle est la provenance du service numérique ?',
        items: referentiel.provenancesService(),
        objetDonnees: homologation.informationsGenerales,
      })

      +inputOuiNon({
        nom: 'dejaMisEnLigne',
        titre: 'Le service numérique est-il déjà en ligne ?',
        objetDonnees: homologation.informationsGenerales,
      })

      label Accès au service numérique
        br
        #points-acces
        a.nouvel-item.nouveau-point-acces Ajouter un accès

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'fonctionnalites',
        titre: 'Principales fonctionnalités offertes par le service numérique',
        items: referentiel.fonctionnalites(),
        objetDonnees: homologation.informationsGenerales,
      })

      #fonctionnalites-supplementaires
      a.nouvel-item.nouvelle-fonctionnalite Ajouter une fonctionnalité

    section
      +inputChoix({
        type: 'checkbox',
        nom: 'donneesCaracterePersonnel',
        titre: 'Données à caractère personnel et autres données sensibles stockées par le service',
        items: referentiel.donneesCaracterePersonnel(),
        objetDonnees: homologation.informationsGenerales,
      })

    section
      +inputChoix({
        type: 'radio',
        nom: 'delaiAvantImpactCritique',
        titre: 'Au bout de combien de temps le dysfonctionnement grave de votre service aura-t-il un impact critique pour votre organisation ou pour les usagers ?',
        items: referentiel.delaisAvantImpactCritique(),
        objetDonnees: homologation.informationsGenerales,
      })

      +inputOuiNon({
        nom: 'presenceResponsable',
        titre: "Une personne est-elle responsable de la sécurité des systèmes d'information au sein de votre organisation ?",
        objetDonnees: homologation.informationsGenerales,
      })

    if idHomologation
      .bouton#diagnostic(identifiant = idHomologation) Enregistrer &nbsp;&nbsp;›
    else
      .bouton#diagnostic Continuer &nbsp;&nbsp;›


  script(id = 'donneesPointsAcces', type = 'application/json').
    !{JSON.stringify(homologation.informationsGenerales.pointsAcces.toJSON()) }
  script(id = 'donnees-fonctionnalites-suppementaires', type = 'application/json').
    !{(homologation.informationsGenerales.fonctionnalitesSupplementaires) ? JSON.stringify(homologation.informationsGenerales.fonctionnalitesSupplementaires.toJSON()) : '[]'}
  script(type = 'module', src = '/statique/homologation/formulaireInformationsGenerales.js')
