mixin inputIdentite({ role, nomParametre })
  label(for='aucuneAction')= role
    .saisie-role-responsabilite
      label(for = nomParametre) Prénom / Nom
      input(
        id = nomParametre, name = nomParametre, type = 'text',
        value != homologation.rolesResponsabilites[nomParametre]
      )

      - const nomParamFonction = `fonction${nomParametre.charAt(0).toUpperCase()}${nomParametre.slice(1)}`
      label(for = nomParamFonction) Fonction
      input(
        id = nomParamFonction, name = nomParamFonction, type = 'text',
        value = homologation.rolesResponsabilites[nomParamFonction]
      )
