mixin inputIdentite({ role, nomParametre })
  label(for='aucuneAction')= role
    .saisie-identite
      label(for = nomParametre) Nom / Prénom
      input(
        id = nomParametre, name = nomParametre, type = 'text',
        placeholder = 'Exemple : Dujardin Jean',
        value != homologation.partiesPrenantes[nomParametre]
      )

      - const nomParamFonction = `fonction${nomParametre.charAt(0).toUpperCase()}${nomParametre.slice(1)}`
      label(for = nomParamFonction) Fonction
      input(
        id = nomParamFonction, name = nomParamFonction, type = 'text',
        placeholder = 'Exemple : Direction générale des services, maire',
        value = homologation.partiesPrenantes[nomParamFonction]
      )
