block append styles
  link(href = '/statique/assets/styles/modules/lienNouvelOnglet.css', rel = 'stylesheet')

mixin lienNouvelOnglet(href, name)
  a(href = href, target = '_blank', rel = 'noopener').nouvel-onglet= name
