mixin modaleDescriptionService
  .rideau
    .modale
      .fermeture-modale
      h1 Besoins de sécurité élevés
      section
        .informations-complementaires
          p.
            Les besoins de sécurité de votre service numérique ont été évalués
            comme particulièrement élevés, car vous avez sélectionné l’un des
            choix suivant :
          ul
            li Dispositif de signature électronique
            li Données de paiement
            li Données de santé et autres données particulièrement sensibles
            li Données de niveau Diffusion restreinte
            li Dysfonctionnement grave acceptable pendant une heure maximum
          p.
            L’homologation de sécurité pour ce type de services nécessite une
            démarche plus approfondie.

      a.bouton(href='/questionsFrequentes', target='_blank', rel='noopener').
        Suivre la démarche adaptée
      a.bloc(href='/espacePersonnel') Revenir à mon espace personnel

  script(type = 'module', src = '/statique/scripts/modaleDescriptionService.js')
