mixin modaleInformationsGenerales
  .rideau
    .modale
      .fermeture-modale
      h1 Merci pour ces informations sur votre service !
      section
        div Nous allons maintenant pouvoir
          ul
            li vous proposer des mesures de sécurité adaptées
            li évaluer le niveau de sécurité de votre service face aux risques les plus courants
        .diagnostic-documents-complementaires
      .bouton#envoi Continuer
      a#annulation Retour

