mixin modaleInformationsGenerales
  .rideau
    .modale
      .fermeture-modale
      h1 Merci pour ces informations sur votre service !
      section
        .informations-complementaires
      .bouton#envoi Continuer
      a.bloc#annulation Retour

