mixin navigationSiteVitrine(ongletActif)
  block append styles
    link(href='/statique/assets/styles/navigationSiteVitrine.css', rel='stylesheet')

  #navigation-site-vitrine
    .contenu-navigation
      -
        const itemsMenu = [
          {
            "id": "nav-accueil",
            "type": "link",
            "active": ongletActif === 'accueil',
            "collapsable": false,
            "label": "Accueil",
            "href": "/"
          },
          {
            "id": "nav-promouvoir",
            "type": "menu",
            "active": ongletActif && ongletActif.includes('promouvoir/'),
            "collapsable": true,
            "collapseId": "nav-promouvoir",
            "label": "Promouvoir",
            "items": [
              {
                "id": "nav-faire-connaitre",
                "type": "link",
                "active": ongletActif && ongletActif.includes('/faire-connaitre'),
                "collapsable": false,
                "label": "Promouvoir MonServiceSécurisé",
                "href": "/faire-connaitre-et-recommander-monservicesecurise"
              },
              {
                "id": "nav-ambassadeurrice",
                "type": "link",
                "active": ongletActif && ongletActif.includes('/devenir-ambassadeurrice'),
                "collapsable": false,
                "label": "Devenir Ambassadeur/rice",
                "href": "/devenir-ambassadeurrice-monservicesecurise"
              }
            ]
          },
          {
            "id": "nav-co-construire",
            "type": "link",
            "active": ongletActif === 'co-construire-monservicesecurise',
            "collapsable": false,
            "label": "Co-construire MonServiceSécurisé",
            "href": "/co-construire-monservicesecurise"
          },
          {
            "id": "nav-conseils-cyber",
            "type": "link",
            "active": ongletActif === 'conseils-cyber',
            "collapsable": false,
            "label": "Conseils Cyber",
            "href": "/conseils-cyber"
          },
          {
            "id": "nav-doctrine-homologation-anssi",
            "type": "link",
            "active": ongletActif === 'doctrine-homologation-anssi',
            "collapsable": false,
            "label": "L'homologation simplifiée",
            "href": "/doctrine-homologation-anssi"
          },
        ];
      dsfr-navigation(
        id="header-navigation",
        aria-label="Menu principal",
        items=JSON.stringify(itemsMenu),
      )