mixin navigationSiteVitrine()
  block append styles
    link(href='/statique/assets/styles/navigationSiteVitrine.css', rel='stylesheet')

  nav#navigation-site-vitrine
    .contenu-navigation
      a.actif(href='/') Accueil
      a(href='/promouvoir-monservicesecurise') Promouvoir MonServiceSécurisé