mixin navigationSiteVitrine(ongletActif)
  block append styles
    link(href='/statique/assets/styles/navigationSiteVitrine.css', rel='stylesheet')

  nav#navigation-site-vitrine
    .contenu-navigation
      a(href='/' class=`${ongletActif === 'accueil' ? 'actif': ''}`) Accueil
      a(href='/promouvoir-monservicesecurise' class=`${ongletActif === 'promouvoir-monservicesecurise' ? 'actif': ''}`) Promouvoir MonServiceSécurisé