block append styles
  link(href = '/statique/assets/styles/cartes/indiceCyber/logo.css', rel = 'stylesheet')

mixin scoreIndiceCyber(formatIndiceCyber, noteObtenue, noteMax)
  .logo-indice-cyber
    div(class = `disque couleur-indice-cyber-${Math.floor(noteObtenue)}`)
    div(class = `curseur position-${Math.floor(noteObtenue)}`)
    span.score= formatIndiceCyber(noteObtenue)
    span.score-max= `/${noteMax}`
