block append scripts
  script(src='/bibliotheques/chart.js')
  script(src='/bibliotheques/chartjs-plugin-datalabels.js')
  script(src = '/statique/scripts/statistiquesMesures.js')

mixin statistiquesMesures({ id, nombreTotalMesuresRestantes, titre, styleTitre = '' })
  .statistiques-mesures
    h4(class = styleTitre)= titre
    .details
      .camembert
        // Un canevas avec des valeurs d'illustration
        canvas(
          id = id,
          data-total-mesures = 60,
          data-mesures-en-cours = 8,
          data-mesures-non-faites = 7,
          data-mesures-faites = 20,
        )
      .fleche
      .mesures-restantes
        // La zone blanche à insérer
        p Il reste
        p.nombre-restantes #{nombreTotalMesuresRestantes} #{nombreTotalMesuresRestantes <= 1 ? `mesure`: `mesures`}
        p à mettre en œuvre
