mixin statistiquesMesures(titre)
  .statistiques-mesures
    h4= titre
    .details
      .camembert
        // Un camembert à insérer
      .fleche
        // Une image à insérer
      .mesures-restantes
        // La zone blanche à insérer
