mixin statistiquesMesures(titre, styleTitre = '')
  .statistiques-mesures
    h4(class = styleTitre)= titre
    .details
      .camembert
        // Un camembert à insérer
      .fleche
        // Une image à insérer
      .mesures-restantes
        // La zone blanche à insérer
