mixin zoneSaisieElementAjoutable(donneesElement, nom, index, lectureSeule, identifiantChampTitre)
  each valeur, cle in donneesElement
    - var id = cle + '-' + nom + '-' + index;
    if valeur.label
      label(for = id) #{valeur.label}
    input(
      id = id,
      name = id,
      type = 'text',
      value != valeur.valeur,
      placeholder = valeur.valeurExemple,
      readonly = lectureSeule
      aria-labelledby = identifiantChampTitre || ''
    )

mixin zoneSaisie(nom, donneesElement, index, lectureSeule, identifiantChampTitre)
  .item-ajoute
    if(!lectureSeule)
      button.icone-suppression(title="Suppression de l'élément")
    div(id = 'element-' + nom + '-' + index)
      +zoneSaisieElementAjoutable(donneesElement, nom, index, lectureSeule, identifiantChampTitre)

mixin elementsAjoutables({ identifiantConteneur, nom, donneesElements = [], texteLienAjouter = 'Ajouter', zoneSaisieVideVisible = false, structureZoneSaisieVide = {}, lectureSeule = false, identifiantChampTitre })
  div(id = identifiantConteneur class = 'elements-ajoutables')
    if zoneSaisieVideVisible && donneesElements.length === 0
      +zoneSaisie(nom, structureZoneSaisieVide, 0, lectureSeule, identifiantChampTitre)
    each donneesElement, index in donneesElements
      +zoneSaisie(nom, donneesElement, index, lectureSeule, identifiantChampTitre)
  if(!lectureSeule)
    a(
      class = 'nouvel-item',
      id = 'ajout-element-' + nom
    )= texteLienAjouter

  script(type = 'module', src = '/statique/modules/elementsAjoutables.js')
