include ./elementsAjoutables.pug

mixin elementsAjoutablesDescription({ identifiantConteneur, nom, valeurExemple = '', donnees = [], texteLienAjouter, zoneSaisieVideVisible, lectureSeule = false })
  - var donneesElements = donnees.map(donnee => ({ description: ({ valeur: donnee.description, valeurExemple })}))
  +elementsAjoutables({
    identifiantConteneur,
    nom,
    donneesElements,
    texteLienAjouter,
    zoneSaisieVideVisible,
    structureZoneSaisieVide: ({ description: ({ valeur: '', valeurExemple })}),
    lectureSeule
  })
