extends ../mssConnecte

include ../fragments/formulaireUtilisateur

block append styles
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')

block main
  form.etroit.utilisateur#edition
    h1 Profil

    +formulaireUtilisateur({
      donnees: utilisateur,
      emailLectureSeule: true,
      forceEmailsTransactionnels: false
    })

    button(type = 'submit').bouton Enregistrer

  script(type = 'module', src = '/statique/utilisateur/edition.js')
