extends ../mssConnecte

include ../fragments/formulaireUtilisateur

block append styles
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')

block header-gauche
  .conteneur-logo
    a.logo-mss(href='/tableauDeBord')
  .titre-page
    h3 Profil
    .retour-tableau-de-bord
      a(href='/tableauDeBord') Retour au tableau de bord

block main
  form.etroit.utilisateur#edition
    +formulaireUtilisateur({
      donnees: utilisateur,
      emailLectureSeule: true,
      forceEmailsTransactionnels: false
    })

    button(type = 'submit').bouton Enregistrer

  script(type = 'module', src = '/statique/utilisateur/edition.js')
