extends ../mssConnecte

include ../fragments/formulaireUtilisateur

block append styles
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')

block retour
  nav.fil-ariane
    a.avec-chevron(href = '/tableauDeBord') Tableau de bord
    div Profil

block main
  form.etroit.utilisateur#edition
    h1 Profil

    +formulaireUtilisateur({
      donnees: utilisateur,
      emailLectureSeule: true
    })

    button(type = 'submit').bouton Enregistrer

  script(type = 'module', src = '/statique/utilisateur/edition.js')
