extends ../mssConnecte

include ../fragments/formulaireUtilisateur
include ../fragments/utilisateur/nouveauMotDePasse
include ../fragments/utilisateur/questionCgu

block main
  form.etroit.utilisateur#edition
    h1 Profil

    +formulaireUtilisateur({
      donnees: utilisateur,
      emailLectureSeule: true
    })

    section
      +nouveauMotDePasse
      if !utilisateur.accepteCGU()
        +questionCgu

    button(type = 'submit').bouton Enregistrer

  script(type = 'module', src = '/statique/utilisateur/edition.js')
