extends ../homologation/formulaire

block formulaire
  form.utilisateur#edition
    h1 Changez votre mot de passe

    section
      label Nouveau mot de passe
        br
        input(id='mot-de-passe', name = 'motDePasse', type='password')

      if !utilisateur.accepteCGU()
        input(id = 'cguAcceptees', name = 'cguAcceptees', type = 'checkbox')
        label(for = 'cguAcceptees').
          J'accepte les <a href="/cgu">conditions générales d'utilisation de Mon
          Service Sécurisé</a>

    .bouton Mettre à jour &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/utilisateur/edition.js')
