.carte .contenu {
  font-size: 0.9em;
}

.carte .contenu p:first-of-type {
  margin-bottom: 0.5em;
}

.carte .indice-total {
  margin-bottom: 1.3em;
  color: var(--bleu-mise-en-avant);
  font-weight: bold;
  font-size: 1.3em;
}

.carte .indice-total .note {
  font-size: 1.2em;
}

.carte .details {
  font-size: 0.9em;
}
