.carte .contenu {
  font-size: 0.9em;
}

.carte .contenu p {
  border-radius: 0.3em;
  background-color: var(--fond-bleu-pale);
  padding: 1em;
  margin: 1.2em 0;
}

.carte .contenu p.deconseillee {
  background-color: var(--fond-ocre-pale);
}

.carte .details {
  font-size: 0.9em;
}
