extends ./formulaire
include ../fragments/inputChoix

block formulaire
  form.homologation#avis-expert-cyber
    h1.action Avis sur le dossier
    p.
      Renseignez ici l'avis sur le lancement ou le maintien en ligne des principaux
      acteurs de l'homologation, en capacité d'évaluer le niveau de sécurité du service.

    section
      +inputChoix({
        type: 'radio',
        nom: 'avis',
        titre: "Spécialiste cybersécurité",
        items: {
          favorable: { description: 'Avis favorable' },
          defavorable: { description: 'Avis défavorable' },
        },
        objetDonnees: homologation.avisExpertCyber,
      })

      +inputChoix({
        type: 'radio',
        nom: 'dateRenouvellement',
        titre: "Renouvellement de l'homologation",
        items: referentiel.echeancesRenouvellement(),
        objetDonnees: homologation.avisExpertCyber,
      })

      label Commentaires et recommandations
        textarea(
          id = 'commentaire', name = 'commentaire', placeholder = "Précisez l'avis rendu sur l'homologation",
        )= homologation.avisExpertCyber.commentaire


    .bouton(idHomologation = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/avisExpertCyber.js')
