extends ./formulaire
include ../fragments/inputChoix

block formulaire
  form.homologation#avis-expert-cyber
    h1 Complétez le dossier
    h2 Avis de l'expert cyber

    section
      +inputChoix({
        type: 'radio',
        nom: 'avis',
        titre: "Avis de l'expert cybersécurité sur le lancement ou le maintien en service.",
        items: {
          favorable: { description: 'Avis favorable' },
          defavorable: { description: 'Avis défavorable' },
        },
        objetDonnees: homologation.avisExpertCyber,
        decoration: "Au regard des mesures de sécurité mises en œuvre, l'expert cybersécurité doit exprimer un avis sur le lancement ou le maintien en service.",
      })

      +inputChoix({
        type: 'radio',
        nom: 'dateRenouvellement',
        titre: "Date de renouvellement de l'homologation",
        items: referentiel.echeancesRenouvellement(),
        objetDonnees: homologation.avisExpertCyber,
      })

      label Commentaires et recommandations de l'expert cybersécurité
        p Ajoutez ici les commentaires, recommandations ou remarques de l'expert cybersécurité.
        textarea(
          id = 'commentaire', name = 'commentaire',
        )= homologation.avisExpertCyber.commentaire


    .bouton(identifiant = homologation.id)  Continuer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/avisExpertCyber.js')
