extends ./formulaire
include ../fragments/inputChoix

block append styles
  link(href = '/statique/assets/styles/homologation/caracteristiquesComplementaires.css', rel = 'stylesheet')

block formulaire
  form.homologation#caracteristiques-complementaires
    h1 Décrivez le service numérique
    h2 Caractéristiques complémentaires

    section
      label Présentation du service numérique
        p Présentez en quelques lignes l'objet du service numérique, son rôle, ses utilisateurs, etc.
        textarea(
          id = 'presentation', name = 'presentation',
        )= homologation.caracteristiquesComplementaires.presentation

      label Structure ayant développé le service numérique
        input(
          id = 'structure-developpement', name = 'structureDeveloppement', type = 'text',
          value = homologation.caracteristiquesComplementaires.structureDeveloppement,
        )

      label Nom de l'hébergeur
        input(
          id = 'hebergeur', name = 'hebergeur', type = 'text',
          value = homologation.caracteristiquesComplementaires.hebergeur,
        )

      +inputChoix({
        type: 'radio',
        nom: 'localisationDonnees',
        titre: 'Localisation des données',
        items: referentiel.localisationsDonnees(),
        objetDonnees: homologation.caracteristiquesComplementaires,
      })

      label Entités externes disposant d'un accès privilégié au service
        p.
          Listez les tierces parties ayant un accès privilégié au service qui
          peuvent, à leur insu ou par négligence, constituer des vecteurs par
          lesquels un incident de sécurité pourrait affecter votre service. Ex.
          entité publique partenaire co-gérant le service, prestataire
          d'infogérance, prestataires de sécurité, etc.

        #entites-externes
        a.nouvel-item Référencer une entité externe

    .bouton(identifiant = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(id = 'donneesEntitesExternes', type = 'application/json').
    !{JSON.stringify(homologation.caracteristiquesComplementaires.entitesExternes.toJSON())}
  script(type = 'module', src = '/statique/homologation/caracteristiquesComplementaires.js')
