extends ./formulaire

block append styles

block formulaire
  form.homologation#caracteristiques-complementaires
    h1.action Caractéristiques complémentaires
    .bouton(identifiant = homologation.id) Retour

  script(type = 'module', src = '/statique/homologation/caracteristiquesComplementaires.js')
