extends ../mss

block append styles
  link(href='/statique/assets/styles/formulaire.css', rel='stylesheet')
  link(href='/statique/assets/styles/homologation/creation.css', rel='stylesheet')

block main
  form#homologation
    h1 Informations générales
    p Pour bien démarrer votre nouveau projet d'homologation, dites-nous en un peu plus sur le service numérique.
    section
      label Nom du service à homologuer
        br
        input(id='nom-service', name='nomService', type='text')
      fieldset Quelle est la nature du service numérique ?
        br
        input(id='nature-service-site-internet', name='natureService', value='siteInternet', type='checkbox')
        label(for='nature-service-site-internet') Site internet
        br
        input(id='nature-service-application-mobile', name='natureService',
              value='applicationMobile', type='checkbox')
        label(for='nature-service-application-mobile') Application mobile
        br
        input(id='nature-service-api', name='natureService', value='api', type='checkbox')
        label(for='nature-service-api') API
    .bouton Continuer &nbsp;&nbsp;›

  script(src='/statique/homologation/creation.js')
