extends ../mss
include ../fragments/inputChoix

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/creation.css', rel = 'stylesheet')

block main
  form#homologation
    h1 Décrivez le service numérique
    h2 Informations générales
    p.
      Ces informations permettront d'évaluer les besoins de sécurité de votre
      service numérique, afin de vous proposer des mesures de sécurité adaptées
      et les pièces à joindre au document d'homologation.
    section
      label Nom du service à homologuer
        br
        input(id = 'nom-service', name = 'nomService', type = 'text')

      +inputChoix({
        type: 'checkbox',
        prefixeIdentifiant: 'nature-service-',
        nom: 'natureService',
        titre: 'Quelle est la nature du service numérique ?',
        items: referentiel.naturesService(),
      })

      +inputChoix({
        type: 'checkbox',
        prefixeIdentifiant: 'provenance-service-',
        nom: 'provenanceService',
        titre: 'Quelle est la provenance du service numérique ?',
        items: referentiel.provenancesService(),
      })

      +inputChoix({
        type: 'radio',
        prefixeIdentifiant: 'deja-mis-en-ligne-',
        nom: 'dejaMisEnLigne',
        titre: 'Le service numérique est-il déjà mis en ligne ?',
        items: { oui: { description: 'Oui' }, non: { description: 'Non' } },
      })

    section
      +inputChoix({
        type: 'checkbox',
        prefixeIdentifiant: 'fonctionnalite-',
        nom: 'fonctionnalite',
        titre: 'Le service numérique inclut-il une ou plusieurs des fonctionnalités suivantes ?',
        items: referentiel.fonctionnalites(),
      })

      +inputChoix({
        type: 'checkbox',
        prefixeIdentifiant: 'donnees-caractere-personnel-',
        nom: 'donneesCaracterePersonnel',
        titre: 'Le service numérique est-il amené à traiter une ou plusieurs des données à caractère personnel suivantes ?',
        items: referentiel.donneesCaracterePersonnel(),
      })

    .bouton Continuer &nbsp;&nbsp;›

  script(src = '/statique/homologation/creation.js')
