extends ./formulaire
include ../fragments/formulaireDescriptionService
include ../fragments/modaleDescriptionService

block formulaire
  +modaleDescriptionService
  +formulaireDescriptionService

  script(type= 'module', src = '/statique/homologation.js')
