extends ../mss

block append styles
  link(href='/statique/assets/styles/formulaire.css', rel='stylesheet')
  link(href='/statique/assets/styles/homologation/creation.css', rel='stylesheet')

block main
  form.homologation
    h1 Informations générales
    p Pour bien démarrer votre nouveau projet d'homologation, dites-nous en un peu plus sur le service numérique.
    section
      label Nom du service à homologuer
        br
        input(id='nom-service', type='text')
    .bouton Continuer &nbsp;&nbsp;›

  script(src='/statique/homologation/creation.js')
