extends ./formulaire
include ../fragments/formulaireInformationsGenerales
include ../fragments/modaleInformationsGenerales

block formulaire
  +modaleInformationsGenerales
  +formulaireInformationsGenerales(homologation.id)

  script(type = 'module', src = '/statique/homologation.js')
