extends ./formulaire
include ../fragments/formulaireDescriptionService
include ../fragments/modaleDescriptionService

block formulaire
  +modaleDescriptionService
  +formulaireDescriptionService(homologation.id)

  script(type = 'module', src = '/statique/homologation.js')
