extends ./formulaireEtapier

block formulaire
  // rien pour l'instant

block bouton-etape
  button.bouton#suivant(data-id-homologation = homologation.id, data-id-etape-suivante = 1) Nouvelle homologation
