extends ./formulaire
include ../fragments/formulaireInformationsGenerales

block formulaire
  +formulaireInformationsGenerales("#{ homologation.id }")

  script(type = 'module', src = '/statique/homologation/edition.js')
