extend ../mss

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/formulaire.css', rel = 'stylesheet')

block main
  .retour.marges-fixes
    - let lienRetour = '/';
    - if (homologation) lienRetour = '/espacePersonnel';
    - if (homologation && homologation.id) lienRetour = `/homologation/${homologation.id}`;
    a(href = lienRetour) ‹&nbsp;&nbsp;Retour

  .formulaire.marges-fixes
    block formulaire
