extend ../mss
include ../fragments/besoinAide

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/formulaire.css', rel = 'stylesheet')

block main
  .retour
    a(href=(homologation.id ? `/homologation/${homologation.id}` : "/homologations")).
      ‹&nbsp;&nbsp;Retour
  .formulaire
    block formulaire
    +besoinAide
