extends ./formulaire
include ../fragments/inputIdentite
include ../fragments/inputPartiePrenante
include ../fragments/elementsAjoutables/elementsAjoutablesActeurHomologation

block append styles
  link(href = '/statique/assets/styles/homologation/partiesPrenantes.css', rel = 'stylesheet')

block formulaire
  form.homologation#parties-prenantes
    h1.action Parties prenantes

    section
      h3 Acteurs de l'homologation

      +inputIdentite({
        role: "Autorité d'homologation",
        nomParametre: 'autoriteHomologation',
      })

      +inputIdentite({
        role: 'Spécialiste cybersécurité',
        nomParametre: 'expertCybersecurite',
      })

      +inputIdentite({
        role: 'Délégué(e) à la protection des données à caractère personnel',
        nomParametre: 'delegueProtectionDonnees',
      })

      +inputIdentite({
        role: 'Responsable métier du projet',
        nomParametre: 'piloteProjet',
      })

      +elementsAjoutablesActeurHomologation({
        donnees: homologation.partiesPrenantes.acteursHomologation.toJSON(),
      })

    section
      h3 Parties prenantes

      +inputPartiePrenante({
        categorie: 'Hébergement du service',
        nomParametre: 'hebergement',
        donnees: homologation.partiesPrenantes.partiesPrenantes.hebergement(),
      })

      +inputPartiePrenante({
        categorie: 'Développement / fourniture du service',
        nomParametre: 'developpementFourniture',
        donnees: homologation.partiesPrenantes.partiesPrenantes.developpementFourniture(),
      })

    .bouton(identifiant = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/partiesPrenantes.js')
