extends ./formulaire
include ../fragments/inputIdentite

block formulaire
  form.homologation#parties-prenantes
    h1 Décrivez le service numérique
    h2 Parties prenantes

    section
      h3 Autorité d'homologation

      +inputIdentite({
        role: "Autorité d'homologation",
        nomParametre: 'autoriteHomologation',
      })

    section
      h3 Équipe chagée du projet d'homologation

      +inputIdentite({
        role: 'Pilote du projet',
        descriptif: 'ex : personne proposant le déploiement du service, chef de projet numérique, responsable métier, etc.',
        nomParametre: 'piloteProjet',
        raccourciVisible: true
      })

      +inputIdentiteExpertCyber

    .bouton(identifiant = homologation.id)  Continuer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/partiesPrenantes.js')
