extends ./formulaire
include ../fragments/inputIdentite

block formulaire
  form.homologation#parties-prenantes
    h2.titre-page Parties prenantes

    section
      h3 Autorité d'homologation

      +inputIdentite({
        role: "Autorité d'homologation",
        descriptif: "Personne en capacité de prendre la responsabilité de la mise en ligne d'un service (ex. directeur·ice général·e des services, maire ou adjoint·e au maire)",
        nomParametre: 'autoriteHomologation',
      })

    section
      h3 Équipe chargée du projet d'homologation

      +inputIdentite({
        role: 'Responsable métier du projet',
        descriptif: 'Personne pilote du projet au niveau métier (ex. chef·fe du projet, responsable métier)',
        nomParametre: 'piloteProjet',
        raccourciVisible: true
      })

      +inputIdentiteExpertCyber

    .bouton(identifiant = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/partiesPrenantes.js')
