extends ../base

block page
  script(src='/bibliotheques/jquery-3.6.0.min.js')
  script(src='/bibliotheques/purify.min.js')
  script(src='/bibliotheques/html2canvas.min.js')
  script(src='/bibliotheques/jspdf.umd.min.js')

  include ../fragments/diagnostics

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/syntheseSecurite.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')

  nav.ne-pas-imprimer
    a(href = `/homologation/${homologation.id}`) ‹&nbsp;&nbsp;Retour
    .bouton#telecharger Télécharger le document

  .page
    main
      h1 Synthèse de la sécurité du service
      .nom-service!= homologation.nomService()

  script(type = 'module', src = '/statique/homologation/syntheseSecurite.js')
