extends ../documentImprimable

block append page

  block append styles
    link(href='/statique/assets/styles/syntheseSecurite.css', rel='stylesheet')

  .page
    header
      .bloc-marque
        .marianne
        .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
        .devise
      .logo-mss
        .logo MonService<b>Sécurisé</b>
        .devise Protégeons les services publics en ligne
      .logo-anssi

    main
      h1 Synthèse de la sécurité du service
      .nom-service!= homologation.nomService()

  script(type = 'module', src = '/statique/homologation/syntheseSecurite.js')
