extends ../deuxColonnes
include ../cartes/indiceCyber

mixin action({ id, description, sousTitre, url, statut })
  a(href = url)
    .action(class = id)
      .statut(class = (statut === InformationsHomologation.COMPLETES ? 'faite' : ''))
      div(class = `icone-action`)
      h2= description
      .sous-titre= sousTitre


block append styles
  link(href = '/statique/assets/styles/homologation/synthese.css', rel = 'stylesheet')

block retour
  a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

block zone-principale
  .details-service
    .tableau-bord
      .titre-service
        h1!= service.nomService()
      a.bouton(href = `/homologation/${service.id}/decision`) Télécharger la synthèse

    .actions
      each actionSaisie in actionsSaisie
        +action(actionSaisie)

    .outils-complementaires
      h3 Outils complémentaires
      // vide pour l'instant

block cartes-informations
  if process.env.AVEC_INDICE_CYBER
    - const indiceCyber = service.indiceCyber()
    +indiceCyber({ referentiel, indiceCyber })
