extends ../deuxColonnes
include ../cartes/indiceCyber

mixin action({ description, url, statut })
  - let classeStyleStatut
  -
    switch(statut) {
      case InformationsHomologation.A_SAISIR: classeStyleStatut = 'a-faire'; break;
      case InformationsHomologation.A_COMPLETER: classeStyleStatut = 'a-completer'; break;
      case InformationsHomologation.COMPLETES: classeStyleStatut = 'faite'; break;
      default: '';
    }

  a.action(class = classeStyleStatut, href = url)= description


block append styles
  link(href = '/statique/assets/styles/homologation/synthese.css', rel = 'stylesheet')

block retour
  a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

block zone-principale
  .details-service
    .tableau-bord
      .titre-service
        h1!= service.nomService()
      a.bouton(href = `/homologation/${service.id}/decision`) Télécharger la synthèse

    .actions
      ul
        each actionSaisie in actionsSaisie
          li
            +action(actionSaisie)

    .outils-complementaires
      h3 Outils complémentaires
      // vide pour l'instant

block cartes-informations
  - const indiceCyber = service.indiceCyber()
  if process.env.AVEC_INDICE_CYBER
    +indiceCyber({ referentiel, indiceCyber })
