mixin tiroir
  .tiroir
    .entete-tiroir
      img.image-entete(src='/statique/assets/images/fond_entete_tiroir.svg')
      .par-dessus
        .fermeture-tiroir.croix-fermeture ✕
        h3.titre-tiroir
        p.texte-tiroir
    .contenu-tiroir
      block
