.bloc-contenu#contenu-invitation
  form.conteneur-formulaire
    label(for = 'email-invitation-collaboration') Ajouter un ou plusieurs contributeurs
      select(
        id = 'email-invitation-collaboration',
        name = 'email-invitation-collaboration',
        placeholder = 'ex : e.leroy@domaine.fr',
        required,
      )
      ul#liste-ajout-contributeur
    .conteneur-loader
      .icone-chargement
      .titre-loader Envoi en cours...
      .info-loader Merci de ne pas rafraîchir la page
    .conteneur-actions
      button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
      button.bouton#action-invitation(type='button') Envoyer une invitation
  .conteneur-rapport
    img(src='/statique/assets/images/image_succes_invitation.svg')
    p Un e-mail d'invitation a bien été envoyé.
    button.bouton#retour-liste-contributeurs(type='button') Revenir à la liste des contributeurs
