.bloc-contenu#contenu-export
  form.conteneur-formulaire
    - const formatDateCourt = Intl.DateTimeFormat('fr-CA', { year: 'numeric', month: '2-digit', day: '2-digit' });
    - const maintenant = new Date();
    - const nomFichierCsv = `MSS_services_${formatDateCourt.format(maintenant).replaceAll('-', '')}.csv`
    ul.liste-fichiers
      li.fichier
        .nom-document
          p= nomFichierCsv
        button.bouton#action-export-csv(type='button') Télécharger
