.bloc-contenu#contenu-suppression
  form.conteneur-formulaire
    p 
      span Souhaitez-vous vraiment supprimer 
      span#nombre-service-suppression
      span ?
    .banniere.banniere-avertissement
      img(src='/statique/assets/images/icone_danger.svg' alt='')
      .contenu-texte-avertissement
        strong Cette action est irréversible
        p Les données seront définitivement effacées. Les contributeurs n'auront plus accès à ce service.
    .banniere.banniere-information
      img(src='/statique/assets/images/icone_information_suppression.svg' alt='')
      .contenu-texte-information
        p Pour confirmer la suppression, veuillez saisir l'intitulé "
          span#intitule-confirmation
          span " dans le champ ci-dessous
    label.requis.label-confirmation Confirmation
      input(id='confirmation-suppression', name = 'confirmationSuppression', type='text', required)
      .message-erreur La confirmation saisie est incorrecte
    .conteneur-loader
      .icone-chargement
      .titre-loader Suppression en cours…
      .info-loader Merci de ne pas rafraîchir la page
    .conteneur-actions
      button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
      button.bouton#action-suppression(type='button') Confirmer la suppression
