mixin tiroir
  .tiroir
    .entete-tiroir
      .par-dessus
        button.fermeture-tiroir.croix-fermeture ✕
        h2.titre-tiroir Titre du tiroir
        p.texte-tiroir
    .contenu-tiroir
      block
