.bloc-contenu#contenu-telechargement-tampon-homologation
  p
    span Vous êtes sur le point de télécharger une archive&nbsp;
    code .zip
    span &nbsp;sur le site MonServiceSécurisé.
  p
    span Cette archive contient des cartouches d'homologation personnalisés pour votre service. Nous vous proposons ces cartouches en divers format, afin de faciliter leur utilisation sur votre site internet.
  ul
    li
      span Au format&nbsp;
      code .png
      ul
        li 3 images de cartouche d'homologation. Pour les formats téléphone, tablette et bureau.
        li 1 image de tampon d'homologation.
    li
      span Au format&nbsp;
      code .html
      ul
        li
          span 3 fichiers contenants les cartouches d'homologation au format&nbsp;
          code base64
          span .
        li
          span 1 fichier contenant le tampon d'homologation au format&nbsp;
          code base64
          span .
  .conteneur-actions
    a.bouton.bouton-avec-icone#lien-archive-tampon-homologation Télécharger le tampon d’homologation