mixin tiroir
  .tiroir(data-visite-guidee-id='tiroir-legacy')
    .entete-tiroir
      .par-dessus
        button.fermeture-tiroir.croix-fermeture(data-visite-guidee-id='tiroir-legacy-fermeture') ✕
        h3.type-tiroir
        h2.titre-tiroir Titre du tiroir
        p.texte-tiroir
    .contenu-tiroir
      block
