.bloc-contenu#contenu-contributeurs
  form.conteneur-formulaire
    h3.titre-liste.titre-contributeurs-actifs Ajouté(s) au service
    ul.liste-contributeurs.contributeurs-actifs
  .conteneur-confirmation
    p.entete 
      span Souhaitez-vous vraiment retirer les accès de 
      span#nom-contributeur-suppression
      span au service 
      span#nom-service-contributeur-suppression
      span ?
    label.banniere-information
      img(src='/statique/assets/images/icone_information_suppression.svg')
      .contenu-texte-information
        strong Cette action est réversible
        p Vous pourrez ajouter à nouveau cette personne.
    .conteneur-actions
      button.bouton.bouton-secondaire.fermeture-tiroir(type='button') Annuler
      button.bouton#confirmation-suppression-contributeur(type='button') Retirer du service
