extends ./decrire
include ../fragments/formulaireDescriptionService

block titre
  h1 Décrire

block sous-titre
  h2 Fournir les informations permettant d'évaluer les besoins de sécurité du service et de proposer des mesures de sécurité adaptées

block formulaire
  script(id = 'infos-siret-manquant', type = 'application/json').
    !{JSON.stringify({estEnCreation: true})}

  +formulaireDescriptionService
