extends ../mssConnecte

block title
  title Ajouter un service | MonServiceSécurisé

block append scripts
  +composantSvelte('creationV2.js')
  +donneesPartagees('donnees-profil', { entite })
  script(type = 'module', src = '/statique/creationV2.mjs')


block main
  #creation-v2
