extends ./decrire
include ../fragments/formulaireDescriptionService
include ../fragments/avancementEtape

block titre
  h1 Présentation du service

block sous-titre
  h2
    | Complétez les informations permettant d'évaluer les besoins de sécurité du service et de proposer&nbsp;
    b des mesures de sécurité adaptées
    | .

block avancement-etape
  +avancementEtape(1, 2)

block etapier
  .conteneur-etapier
    .etape.active(data-numero-etape="1")
    .etape(data-numero-etape="2")

block formulaire
  dialog#modale-creation-service
    .contenu-modale
      span.icone
        .barres
          span.barre.barre-1
          span.barre.barre-2
          span.barre.barre-3
        span.pulse
        span.barre-chargement
      p Nous préparons les mesures de sécurité adaptées à votre service

  +formulaireDescriptionService
