extends ../mssConnecte

block title
  title Ajouter un service | MonServiceSécurisé

block append scripts
  +composantSvelte('creationV2.js')
  script(type = 'module', src = '/statique/creationV2.mjs')


block main
  #creation-v2
