extends ./decrire
include ../fragments/texteTronque
include ../fragments/formulaireDescriptionService

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Décrire

block sous-titre
  h2 Fournir les informations permettant d'évaluer les besoins de sécurité du service et de proposer des mesures de sécurité adaptées

block formulaire
  +formulaireDescriptionService(service.id)
