extends ./decrire
include ../fragments/texteTronque
include ../fragments/formulaireDescriptionService
include ../fragments/avancementEtape

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Présentation du service

block sous-titre
  h2
    | Complétez les informations permettant d'évaluer les besoins de sécurité du service et de proposer&nbsp;
    b des mesures de sécurité adaptées
    | .

block avancement-etape
  +avancementEtape(1, 3)

block etapier
  .conteneur-etapier
    .etape.active(data-numero-etape="1")
    .etape(data-numero-etape="2")
    .etape(data-numero-etape="3")

block formulaire
  script(id = 'infos-siret-manquant', type = 'application/json').
    !{JSON.stringify({siret: service.descriptionService.organisationResponsable.siret, estEnCreation: false})}

  +formulaireDescriptionService(service.id)
