extends ./formulaireEtapier
include ../cartes/recommandationsANSSI
include ../fragments/cartesInformations

block cartes-informations
  +recommandationsANSSI({ referentiel, noteObtenue: service.indiceCyber().total })
