extends ../parcoursService
include ../fragments/texteTronque
include ../fragments/avancementEtape

block append styles
  link(href='/statique/assets/styles/etapesDossier.css', rel='stylesheet')
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block append scripts
  script(id = 'autorisations-homologuer', type = 'application/json').
    !{JSON.stringify(autorisationsService.HOMOLOGUER)}

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  if idEtape
    h1!= referentiel.libelleEtape(idEtape)
  else
    h1 Homologuer

block avancement-etape
  if idEtape
    +avancementEtape(referentiel.numeroEtape(idEtape), referentiel.derniereEtapeParcours(autorisationsService.peutHomologuer).numero)

block etapier
  if idEtape
    - const numeroEtapeCourante = referentiel.numeroEtape(idEtape);
    .conteneur-etapier
      each etape in referentiel.etapesParcoursHomologation(autorisationsService.peutHomologuer)
        - const etapeAccessible = etape.numero <= numeroEtapeCourante;
        if etapeAccessible
          a.etape(href=`/service/${service.id}/homologation/edition/etape/${etape.id}`)
        else
          .etape

block sous-titre
  h2 Générer un dossier et un projet de décision d'homologation pour se mettre en conformité avec la réglementation

block formulaire
  form.homologation.conteneur-page-formulaire

    block contenu-etape

    .enregistrement
      .boutons
        .boutons-etape
          block bouton-etape

