extends ./formulaireEtapier
include ../cartes/indiceCyber
include ../cartes/recommandationsANSSI
include ../fragments/cartesInformations

block cartes-informations
  if peutVoirIndiceCyber
    - const indiceCyber = service.indiceCyber()
    +indiceCyber({ referentiel, indiceCyber })
    +recommandationsANSSI({ referentiel, noteObtenue: indiceCyber.total })
