extends ../homologation/formulaire

block append styles
  link(href='/statique/assets/styles/service/homologations.css', rel='stylesheet')

block zone-principale
  form.homologation
    h1.action Homologuer
    .consignes.
      Complétez, téléchargez puis faites signer la
      <i>Décision d'homologation de sécurité</i>
      de votre service. Une fois ces étapes réalisées, renseignez la date de
      signature pour connaître la date de la prochaine homologation.

    hr

    .bouton.blanc
      a(href = `/homologation/${homologation.id}`) Revenir à la synthèse
