extends ../parcoursService
include ../fragments/texteTronque

block title
  title Sécuriser | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/homologation/mesures.css', rel = 'stylesheet')

block append scripts
  +composantSvelte('mesure.js')
  +composantSvelte('tableauDesMesures.js')
  +composantSvelte('indiceCyber.js')
  +composantSvelte('indiceCyberPersonnalise.js')
  script(type = 'module', src = '/statique/service/mesures.js')

  +donneesPartagees('referentiel-categories-mesures', referentiel.categoriesMesures())
  +donneesPartagees('referentiel-statuts-mesures', referentiel.statutsMesures())
  +donneesPartagees('referentiel-priorites-mesures', referentiel.prioritesMesures())
  +donneesPartagees('referentiel-retours-utilisateur', referentiel.retoursUtilisateurMesure())
  +donneesPartagees('securiser-lecture-seule', autorisationsService.SECURISER.estLectureSeule)
  +donneesPartagees('indice-cyber', { indiceCyber: service.indiceCyber().total, noteMax: referentiel.indiceCyberNoteMax()})
  +donneesPartagees('indice-cyber-personnalise', { indiceCyberPersonnalise: service.indiceCyberPersonnalise().total })
  +donneesPartagees('nonce-commentaires', nonce)

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Sécuriser

block sous-titre
  h2 Mettre en œuvre des mesures de sécurité adaptées

block formulaire
  #tableau-des-mesures
    .conteneur-indicateurs
      .conteneur-indice-cyber
        .cartouche-indice-cyber
          span Indice cyber&nbsp;
          span
            b ANSSI&nbsp;&nbsp;
          br
          a.lien-indice-cyber(href="indiceCyber?onglet=indice-cyber-ANSSI") Voir le détail
        #conteneur-indice-cyber
      .conteneur-indice-cyber.personnalise
        .cartouche-indice-cyber.personnalise
          span Indice cyber&nbsp;
          span
            b personnalisé&nbsp;&nbsp;
          br
          a.lien-indice-cyber(href="indiceCyber?onglet=indice-cyber-personnalise") Voir le détail
        #conteneur-indice-cyber-personnalise