dialog.modale-encart-homologation
  .conteneur-fermeture
    button#bouton-fermeture-modale-encart-homologation.bouton-fermeture Fermer
      img(src='/statique/assets/images/icone_fermeture_modale.svg' alt='Fermeture de la modale')
  .conteneur-encart-homologation
    .page
      h1 Félicitations pour votre homologation !
      img(src='/statique/assets/images/exemple_encart_homologation.png' alt='Exemple d’encart d’homologation')
      p Vous pouvez dès à présent télécharger les encarts d'homologation personnalisés pour votre service. Nous vous proposons ces encarts en divers format au format, afin de faciliter leur utilisation sur votre site internet.
      ul
        li Au format .png
          ul
            li images d'encart d'homologation. Pour les formats téléphone, tablette et bureau.
            li image de tampon d'homologation.
        li Au format .html
          ul
            li fichiers contenant les encarts d'homologation au format base64.
            li fichier contenant le tampon d'homologation au format base64.
      .conteneur-actions
        a.bouton.bouton-primaire.bouton-avec-icone#bouton-tampon-homologation-modale(href=`/api/service/${service.id}/archive/tamponHomologation.zip`) Télécharger l'encart d'homologation
