extends ../parcoursService
include ../fragments/texteTronque

block title
  title Risques de sécurité | MonServiceSécurisé

block header-titre-page
  h3
    +texteTronque({texte: service.nomService() || ''})

block titre
  h1 Risques de sécurité

block append styles
  link(href = '/statique/assets/styles/homologation/risques-v2.css', rel = 'stylesheet')

block sous-titre
  h2
    span Réalisez une première analyse de risque grâce aux risques courants suggérés par l’ANSSI et/ou
    br
    span recensez les risques identifiés dans le cadre d’une analyse de risque plus approfondie.

block formulaire
  #conteneur-risques

  +donneesPartagees('donnees-risques', service.risques.toJSON() || {risquesGeneraux: [], risquesSpecifiques: []})
  +donneesPartagees('donnees-referentiel-categories', referentiel.detailCategoriesRisque())
  +donneesPartagees('donnees-referentiel-gravite', referentiel.niveauxGravite())
  +donneesPartagees('donnees-referentiel-risques', referentiel.risques())
  +donneesPartagees('autorisations-risques', autorisationsService.RISQUES)
  +composantSvelte('risques.js')
  script(type = 'module', src = '/statique/service/risques-v2.js')