extends ./formulaire
include ../fragments/inputIdentite
include ../fragments/inputPartiePrenante
include ../fragments/elementsAjoutables/elementsAjoutablesActeurHomologation
include ../fragments/elementsAjoutables/elementsAjoutablesPartiePrenante

block append styles
  link(href = '/statique/assets/styles/homologation/rolesResponsabilites.css', rel = 'stylesheet')

block filArianeNoeudFinal
  div Contacts utiles

block formulaire
  form.homologation#roles-responsabilites
    h1.action Rôles et responsabilités
    p.
      Listez toutes les personnes assurant le bon fonctionnement du service pour les contacter rapidement en cas de besoin.

    section
      nav#onglets-liens
        a.actif#onglet-gouvernance Gouvernance
        a#onglet-parties-prenantes Parties prenantes

      .onglet#gouvernance
        +inputIdentite({
          role: "Autorité d'homologation",
          nomParametre: 'autoriteHomologation',
        })

        +inputIdentite({
          role: 'Spécialiste cybersécurité',
          nomParametre: 'expertCybersecurite',
        })

        +inputIdentite({
          role: 'Délégué(e) à la protection des données à caractère personnel',
          nomParametre: 'delegueProtectionDonnees',
        })

        +inputIdentite({
          role: 'Responsable métier du projet',
          nomParametre: 'piloteProjet',
        })

        +elementsAjoutablesActeurHomologation({
          donnees: homologation.rolesResponsabilites.acteursHomologation.toJSON(),
        })

      .onglet#parties-prenantes
        +inputPartiePrenante({
          categorie: 'Hébergement du service',
          nomParametre: 'hebergement',
          donnees: homologation.rolesResponsabilites.partiesPrenantes.hebergement(),
        })

        +inputPartiePrenante({
          categorie: 'Développement / fourniture du service',
          nomParametre: 'developpementFourniture',
          donnees: homologation.rolesResponsabilites.partiesPrenantes.developpementFourniture(),
        })

        +inputPartiePrenante({
          categorie: 'Maintenance du service',
          nomParametre: 'maintenanceService',
          donnees: homologation.rolesResponsabilites.partiesPrenantes.maintenanceService(),
        })

        +inputPartiePrenante({
          categorie: 'Gestion de la sécurité du service',
          nomParametre: 'securiteService',
          donnees: homologation.rolesResponsabilites.partiesPrenantes.securiteService(),
        })

        +elementsAjoutablesPartiePrenante({
          donnees: homologation.rolesResponsabilites.partiesPrenantes.specifiques(),
        })

    .bouton(idHomologation = homologation.id) Enregistrer &nbsp;&nbsp;›

  script(type = 'module', src = '/statique/homologation/rolesResponsabilites.js')
