extends ../mssConnecte

block title
  title Actualiser votre service | MonServiceSécurisé

block append scripts
  +composantSvelte('simulationV2.js')
  +donneesPartagees('donnees-id-service', { idService })
  script(type = 'module', src = '/statique/simulationV2.mjs')

block header-gauche
  .bloc-marque
    .marianne
    .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
    .devise
  a.logo-anssi(href='https://cyber.gouv.fr')
  a.logo-mss(href='/tableauDeBord')

block main
  #simulation-v2