extends ../formulaireEtapier

mixin document({ nom, description })
  a(href = `/api/service/${homologation.id}/dossier/etape/decision/${nom}`, target = '_blank', rel = 'noopener')= description

block formulaire
  ul.consignes
    li Télécharger les documents ci-dessous :
      ul.documents
        li: +document({ nom: 'decision', description: "Décision d'homologation de sécurité (modèle)"})
        li: +document({ nom: 'synthese', description: "Synthèse de l'état de sécurité du service" })
        li: +document({ nom: 'annexes', description: 'Annexes' })
    li.
      Remplir la décision d'homologation de sécurité avec l'ensemble des
      personnes concernées.
    li.
      Présenter, pour signature, la décision d'homologation à l'autorité
      d'homologation ainsi que la synthèse de la sécurité.
    li.
      Reconnectez-vous ensuite pour renseigner la date de signature et la
      durée de validité de l'homologation dans la dernière étape <b>Date</b>.

block bouton-etape
  button.bouton#suivant(data-id-homologation = homologation.id, data-id-etape = idEtape, data-id-etape-suivante = idEtape + 1) Suivant
