extends ../formulaireEtapier

block formulaire
  -
    const LABEL_BOUTON = 'Enregistrer la décision';
    const dossierCourant = homologation.dossierCourant();
    const dureeValidite = dossierCourant.descriptionDureeValidite();
    const dateHomologation = dossierCourant.descriptionDateHomologation();

  p.
    La décision d'homologation de sécurité a été prise le
    #[b= dateHomologation] pour une durée de #[b= dureeValidite]. #[br]
    #[br]
    En cliquant sur « #{LABEL_BOUTON} », vous confirmez avoir renseigné
    l'exactitude des informations fournies dans le document de Décision
    d'homologation de sécurité.

block bouton-etape
  button(type = 'submit', data-id-homologation = homologation.id, data-id-etape = idEtape).bouton#suivant= LABEL_BOUTON
