.police-marianne {
  font-family: 'Marianne';
  font-weight: normal;
  font-size: 1px;
}

.police-marianne-moyen {
  font-family: 'Marianne';
  font-weight: 500;
  font-size: 1px;
}

.police-marianne-gras {
  font-family: 'Marianne';
  font-weight: bold;
  font-size: 1px;
}

html {
  /* On utilise ces règles CSS pour assurer un rendu correct des images et graphiques */
  /* https://github.com/puppeteer/puppeteer/issues/2685#issuecomment-643573422 */
  -webkit-print-color-adjust: exact !important;
  -webkit-filter: opacity(1) !important;
}

.entete {
  -webkit-filter: opacity(1) !important;
}

body {
  font-family: 'Marianne';
  font-size: 12px;
}

p {
  margin: 0;
}

.tampon-homologation {
  width: 288px;
  margin: -8px;
  font-size: 14px;
  border-radius: 8px;
  overflow: hidden;
}

.tampon-homologation .entete {
  padding: 24px;
  background: #dbecf1;
}

.tampon-homologation h1 {
  color: #0d0c21;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 28px;
  word-wrap: break-word;
}

.tampon-homologation .conteneur-cartouches {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tampon-homologation .cartouche {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 12px 24px;
}

.tampon-homologation .cartouche .titre {
  color: #1c293b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.tampon-homologation .cartouche .conteneur-description {
  border-radius: 4px;
  background: #e8edff;
  padding: 0 8px;
  color: #0163cb;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  width: fit-content;
}

.tampon-homologation .pied-page {
  padding: 24px;
  background: white;
}

.tampon-homologation .conteneur-images {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 24px;
}

.tampon-homologation .conteneur-images #logo-mss {
  width: 140px;
  height: fit-content;
  content: var(--logo-mss);
}

.tampon-homologation .conteneur-images #logo-tampon {
  width: 94px;
  height: 94px;
  top: -40px;
  right: 0;
  content: var(--logo-tampon-homologation);
  position: absolute;
}

.tampon-homologation .footer {
  color: #3a3a3a;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tampon-homologation .conteneur-extras {
  margin-bottom: 16px;
}

.tampon-homologation.tablette {
  width: 656px;
}

.tampon-homologation:is(.tablette, .desktop) h1 {
  font-size: 32px;
  line-height: 40px;
}

.tampon-homologation.tablette .entete {
  padding: 24px 48px;
}

.tampon-homologation:is(.tablette, .desktop) .cartouche {
  flex-direction: row;
  gap: 12px;
  width: fit-content;
  padding: 12px;
  align-items: center;
}

.tampon-homologation:is(.tablette, .desktop) .cartouche .titre {
  white-space: nowrap;
  margin-bottom: 0;
}

.tampon-homologation.tablette .pied-page {
  padding: 24px 48px;
}

.tampon-homologation.desktop .pied-page {
  padding: 24px 64px;
}

.tampon-homologation:is(.tablette, .desktop) .conteneur-images {
  margin-bottom: 12px;
}

.tampon-homologation:is(.tablette, .desktop) #logo-tampon {
  width: 155px;
  height: 155px;
  position: absolute;
  right: -20px;
  top: -90px;
}

.tampon-homologation.tablette .footer {
  width: 398px;
}

.tampon-homologation.desktop {
  width: 996px;
}

.tampon-homologation.desktop h1,
.tampon-homologation.desktop .conteneur-cartouches {
  max-width: 644px;
}

.tampon-homologation.desktop h1 {
  margin-bottom: 28px;
}

.tampon-homologation.desktop .entete {
  padding: 47px 64px;
}

.tampon-homologation.desktop .cartouche .titre {
  min-width: 300px;
}

.tampon-homologation.desktop .cartouche .conteneur-description {
  max-width: 354px;
}

.tampon-homologation.desktop #logo-mss {
  position: absolute;
  top: 0;
  left: 0;
}

.tampon-homologation.desktop #logo-tampon {
  right: -22px;
  top: -236px;
  width: 226px;
  height: 226px;
}

.tampon-homologation.desktop .conteneur-images {
  margin: 0;
}

.tampon-homologation.desktop .footer,
.tampon-homologation.desktop .conteneur-extras {
  margin-left: 164px;
}
