extends ./homologation/formulaire

block append styles
  link(href = '/statique/assets/styles/accesRefuse.css', rel = 'stylesheet')

block formulaire
  form.acces-refuse
    h1 Accès refusé
    p Désolé, vous n'avez pas accès aux fonctionnalités d'administration.
