extends ./mss
include ./fragments/header

block append styles
    link(href = '/statique/assets/styles/accueilInscription.css', rel = 'stylesheet')

block append scripts
    +composantSvelte('accueilInscription.js')
    +donneesPartagees('invite', { invite })

block header
    +header(avertissementMaintenance, featureFlags, true, '/', "Retour à l'accueil du site MonServiceSécurisé - République Française", true)

block main
    #conteneur-accueil-inscription

    script(type = 'module', src = '/statique/accueilInscription.mjs')
