extends ./mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/activation.css', rel = 'stylesheet')

block main
  .info.etroit
    h1 Activer votre compte
    .description
      p.
        Un e-mail contenant un lien d'activation vous a été envoyé pour finaliser la création de votre compte.
      p.
        La réception peut prendre quelques minutes.<br>
        Si vous n'avez pas reçu cet e-mail, contactez-nous à
        <a href="mailto:support@monservicesecurise.beta.gouv.fr?subject=Non%20r%C3%A9ception%20du%20lien%20d%27activation">support@monservicesecurise.beta.gouv.fr</a>.
    a.bouton(href = '/') Aller à la page d'accueil
