include ../vues/fragments/donneesPartagees
doctype html
html(lang = 'fr')
  head
    meta(charset='utf-8')
    meta(name = 'viewport', content = 'width=device-width')
    title MonServiceSécurisé | Redirection aprés authentification

    script(type = 'module', src = '/statique/apresAuthentification.js')

    +donneesPartagees('url-redirection', {urlRedirection: urlRedirection})