extends mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 À propos

      p.
        MonServiceSécurisé est une solution de cybersécurité conçue par
        <a href="https://www.ssi.gouv.fr/agence/missions/rapport-dactivite-2020/">le laboratoire d'innovation de l'ANSSI</a>,
        en lien avec l'incubateur <a href="https://beta.gouv.fr/startups/">BetaGouv</a>
        de la direction interministérielle du numérique. Pensé pour et par les
        entités publiques, MonServiceSécurisé a pour mission d'aider les
        entités publiques à sécuriser et homologuer les services publics
        numériques (sites web, applications mobiles et API).

      p Cette solution est :

      ul
        li.
          développée par une équipe de développeurs et de designers UX/UI via
          <a href="https://omnicite.fr/">Omnicité</a>;
        li.
          hébergée chez
          <a href="https://scalingo.com">Scalingo</a> prenant appui sur le
          Cloud 3DS d'Outscale qualifié SecNumCloud;
        li.
          sous licence
          <a href="https://github.com/betagouv/mon-service-securise/blob/master/LICENSE">Apache-2.0</a>.

      p: a(href = 'https://github.com/betagouv/mon-service-securise') Le code est accessible en ligne.

      p.
        Pour toute question ou suggestion concernant les
        fonctionnalités de MonServiceSécurisé ou sa sécurité, contactez l'équipe à
        <a href="mailto:contact@monservicesecurise.beta.gouv.fr">contact@monservicesecurise.beta.gouv.fr</a>.
