extends mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 À propos

      p.
        Mon Service Sécurisé est un service numérique développé par l'incubateur
        de services numériques du <a href="https://www.ssi.gouv.fr/agence/missions/rapport-dactivite-2020/">laboratoire d'innovation de l'ANSSI</a>,
        avec le soutien de l'incubateur <a href="https://beta.gouv.fr/startups/">Beta.gouv</a>
        (<a href="https://beta.gouv.fr/startups/homologation.html">plus d'informations</a>).
        
      p.
        Conçu pour et par les entités publiques, MonServiceSécurisé vise à
        aider les collectivités territoriales et les administrations à maîtriser
        la sécurité des services publics numériques (« téléservices »). Pour
        se faire, MonServiceSécurisé facilite l'homologation des services
        numériques les plus courants - à savoir les sites webs, applications
        mobiles et API - aux besoins de sécurité modérés.
        
      p.
        MonServiceSécurisé est en cours de développement et est entré en phase
        de test Bêta en janvier 2022. Pour en savoir plus sur les évolutions
        du service et les fonctionnalités à venir, il est possible de contacter
        l'équipe de MonServiceSécurisé par <a href="mailto:contact@monservicesecurise.beta.gouv.fr">mail</a>.
        
      p.
        Le service est développé par une équipe en développement et en UX
        design via <a href="https://omnicite.fr/">Omnicité</a>
        et est hébergé chez <a href="https://scalingo.com">Scalingo</a> prenant
        appui sur le Cloud 3DS d'Outscale qualifié SecNumCloud.
        
      p.
        Illustrations copyright 2021 Katerina Limpitsouni
        
