extend mss-aide-entete

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .page
    .documentation
      h1 À propos

      p.
        Mon Service Sécurisé est un service numérique pour aider, pas à pas,
        les entités publiques à sécuriser leurs services numériques et à les
        faire homologuer selon une approche adaptée aux services les plus
        courants.

      p Cette approche est guidée par plusieurs principes :

      ul
        li rendre la démarche d'homologation accessible aux non experts&nbsp;;
        li.
          permettre de lancer une démarche d'homologation sans délai et de
          manière collaborative&nbsp;;
        li.
          simplifier et accélérer la démarche d'homologation pour la masse des
          services numériques les plus simples&nbsp;;
        li.
          accompagner les porteurs de projets et RSSI avec une méthode
          standardisée et outillée pour les projets les plus courants&nbsp;;
        li.
          éclairer sur les risques les plus fréquents rencontrés par un service
          numérique&nbsp;;
        li.
          focaliser sur les recommandations essentielles de l'ANSSI adaptées au
          service afin d'en augmenter le niveau de sécurité&nbsp;;
        li.
          faciliter la prise de décision des autorités d'homologation grâce à
          des explications pédagogiques et aux recommandations de l'ANSSI&nbsp;;
        li valoriser les homologations réalisées&nbsp;;
        li suivre la sécurité des services numériques homologués dans la durée.

      .resume
        p.
          La plate-forme a été développée par <a href="https://ut7.fr">/ut7</a>,
          sous l'égide de <a href="https://www.ssi.gouv.fr">l'ANSSI</a>, et est
          hébergée chez <a href="https://scalingo.com">Scalingo</a>.
