extends mssDeconnecte
block variables
  - const meta_description = description

block title
  title!= `${titre} | MonServiceSécurisé`

block append styles
  link(href = '/statique/assets/styles/article.css', rel = 'stylesheet')

block main
  .marges-fixes
    .article
      h1!= titre
      .contenu!= contenu