doctype html
meta(charset='utf-8')
meta(name = 'viewport', content = 'width=device-width')
link(rel='icon', href='/statique/assets/images/favicons/favicon.ico')
script(src = '/statique/scripts/matomo.js')

block page
