doctype html
meta(charset='utf-8')
meta(name = 'viewport', content = 'width=device-width')
meta(property = 'og:site_name', content = 'MonServiceSécurisé')
link(rel='icon', href='/statique/assets/images/favicons/favicon.ico')

block page

if process.env.ID_MATOMO
    script(src='/statique/scripts/matomo.js', id='script-matomo' data-id-matomo=process.env.ID_MATOMO)
    script(src='/statique/scripts/matomoGestionnaireTag.js')
