extends mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 Conditions générales d'utilisation de Mon Service Sécurisé

      p.
        Nous vous invitons à lire avec attention le présent document (ci-après,
        les « Conditions Générales d'Utilisation »). En accédant au présent
        portail Mon Service Sécurisé (ci-après le «&nbsp;Site&nbsp;»), l'utilisateur du
        Site (ci-après « l'Utilisateur » ou « Vous ») s'engage à respecter les
        présentes Conditions Générales d'Utilisation. L'Utilisateur est
        nécessairement un membre du personnel d'une entité soumise au
        <a href='https://www.ssi.gouv.fr/entreprise/reglementation/confiance-numerique/le-referentiel-general-de-securite-rgs/'>Référentiel Général de Sécurité (RGS)</a>.

      p.
        La <a href='/confidentialite'>Politique de confidentialité</a> fait
        partie intégrante des présentes Conditions Générales d'Utilisation.

      p.
        Pour les informations légales du Site, veuillez consulter la page des
        <a href='/mentionsLegales'>Mentions légales</a>.

      h2 1. Objet des conditions Générales d'Utilisation

      p.
        Les présentes Conditions Générales d'Utilisation définissent les
        conditions selon lesquelles l'Utilisateur peut accéder au Site et l'utiliser.


      h2 2. Le portail Mon Service Sécurisé

      p Le Site a pour objet :

      ul
        li la création et la gestion de comptes d'utilisateurs ;
        li.
          d'aider, pas à pas, les entités publiques à sécuriser leurs services
          numériques et à les faire homologuer selon une approche adaptée aux
          services les plus courants ;
        li la création et la gestion des documents d'homologation des services concernés ;
        li le suivi des documents d'homologation effectués.

      h2 3. Acceptation et mises à jour des Conditions Générales d'Utilisation

      h3 A. Acceptation

      p.
        L'accès au Site est conditionné par le respect de la part de
        l'Utilisateur des Conditions Générales d'Utilisation. Par conséquent,
        pour créer un compte utilisateur, l'Utilisateur doit être un membre du
        personnel d'une entité soumise au RGS et avoir expressément accepté les
        présentes Conditions Générales d'Utilisation en cochant la case «
        J'accepte les conditions générales d'utilisation de Mon Service
        Sécurisé » lors de la création de son compte. Ainsi, il confirme
        accepter sans restriction ni réserve les Conditions Générales
        d'Utilisation ainsi que le traitement de ses données à caractère
        personnel, conformément à la <a href='/confidentialite'>Politique de
        confidentialité</a>. Si l'Utilisateur est en désaccord avec l'un de ces
        termes, y compris à l'issue d'une actualisation des Conditions
        Générales d'Utilisation, il est libre de cesser d'utiliser à tout
        moment les services du site et de supprimer son compte.

      h3 B. Mise à jour des Conditions Générales d'Utilisation

      p.
        L'ANSSI est libre de modifier, à tout moment, les Conditions Générales
        d'Utilisation, afin notamment de prendre en compte toute évolution
        légale, réglementaire, jurisprudentielle et technique. La version qui
        prévaut est celle qui est accessible en ligne à l'adresse suivante :
        <a href='https://www.monservicesecurise.beta.gouv.fr/cgu'>https://www.monservicesecurise.beta.gouv.fr/cgu</a>.

      p.
        L'Utilisateur sera informé en cas de modification des Conditions
        Générales d'Utilisation. Si l'Utilisateur s'oppose aux modifications
        apportées, il est libre de cesser d'utiliser à tout moment les services
        du Site et de supprimer son compte. S'il continue à utiliser le Site
        après la publication ou l'envoi d'un avis concernant les modifications
        apportées aux présentes conditions, cet usage vaut acceptation des
        Conditions Générales d'Utilisation mises à jour.

      h2 4. Obligations de l'Utilisateur

      p Dans le cadre de l'utilisation du Site, l'Utilisateur s'engage à :

      ul
        li.
          se conformer aux stipulations décrites dans les Conditions Générales
          d'Utilisation et aux dispositions des lois et règlements en vigueur,
          et à respecter les droits des tiers ;
        li.
          ne créer qu'un seul compte utilisateur et ne communiquer que des
          informations, fichiers et autres contenus conformes à la réalité,
          honnêtes et loyaux ;
        li.
          ne pas divulguer <em>via</em> le Site des propos ou des contenus
          illicites, et notamment tous contenus contrefaits, diffamatoires,
          injurieux, insultants, obscènes, offensants, discriminatoires,
          violents, xénophobes, incitant à la haine raciale ou faisant
          l'apologie du terrorisme, ou tout autre contenu contraire à la
          législation et réglementation applicable ainsi qu'aux bonnes mœurs et
          aux règles de bienséance ;
        li.
          ne pas intégrer et diffuser <em>via</em> le Site du contenu qui
          serait contraire à la finalité de celui-ci ;
        li.
          ne pas communiquer ou envoyer, par l'intermédiaire du site, du
          contenu, quel qu'il soit, qui comprendrait des liens pointant vers
          des sites internet illicites, offensants ou incompatibles avec la
          finalité du Site ;
        li.
          ne pas utiliser le Site pour envoyer massivement des messages non
          sollicités (publicitaires ou autres).

      p.
        En outre, l'Utilisateur garantit expressément la véracité et la réalité
        des informations qu'il communique sur le Site.

      p.
        En cas de manquement à une ou plusieurs de ces obligations, l'ANSSI se
        réserve le droit de supprimer le compte de l'Utilisateur responsable.

      h3 Compte Utilisateur

      p.
        L'Utilisateur est titulaire d'un compte. Il s'engage à choisir un mot
        de passe sécurisé, protéger la sécurité et la confidentialité de son
        mot de passe, et est responsable de toute utilisation de son compte.
        Toute utilisation abusive doit être signalée à l'ANSSI aux coordonnées
        indiquées dans les <a href='/mentionsLegales'>Mentions légales</a>.
        Tout utilisateur peut procéder à la modification des données liées à
        son compte et à sa suppression.

      h3 Convention de preuve

      p L'Utilisateur accepte qu'en cas de litige :

      ul
        li.
          Les moyens d'identification (adresse de messagerie électronique, mot
          de passe) liés au compte utilisé pour accéder au Site soient
          admissibles devant les tribunaux et fassent preuve des données et des
          faits qu'ils contiennent ;
        li.
          les données de connexion relatives aux actions effectuées depuis le
          Site soient admissibles devant les tribunaux et fassent preuve des
          données et des faits qu'elles contiennent ;
        li.
          tout ou partie des informations issues du compte lui soient présumées
          imputables ;
        li.
          les dates générées ou inscrites électroniquement de toute information
          ou décision soient admissibles devant les tribunaux et fassent preuve
          des données et des faits qu'elles contiennent.

      p La preuve contraire peut être rapportée.

      h3 Notifications et Messages

      p.
        L'Utilisateur accepte que des notifications et des messages lui soient
        communiqués par les moyens suivants : (i) via le Site (compte
        Utilisateur) ou (ii) envoyés aux coordonnées fournies par l'Utilisateur
        (adresse e-mail). Si ses coordonnées ne sont pas à jour, l'Utilisateur
        est conscient que des notifications importantes sont susceptibles de ne
        pas lui parvenir. Par conséquent, l'Utilisateur s'engage à tenir à jour
        ses coordonnées.

      h2 5. Propriété intellectuelle

      h3 A. Contenus édités par le Site

      p.
        Sauf mention expresse contraire, tous les contenus protégeables par le
        droit de la Propriété intellectuelle ne peuvent être reproduits ou
        réutilisés sans l'autorisation expresse de l'ANSSI.

      p.
        Les demandes d'autorisation de reproduction d'un contenu doivent au
        préalable être adressées à l'ANSSI, en écrivant à l'adresse suivante :

      p lab-inno [at] ssi.gouv.fr

      p.
        La demande devra préciser le contenu visé ainsi que le contexte
        d'utilisation prévu (supports concernés, période, destinataires, etc.).

      p.
        Aucune stipulation des Conditions Générales d'Utilisation ne peut être
        interprétée comme une cession de droits de propriété intellectuelle,
        que ce soit tacitement ou d'une autre façon.

      h3 B. Contenus fournis par l'Utilisateur

      p.
        L'Utilisateur intègre et diffuse des contenus <em>via</em> le Site
        (informations relatives au service numérique qu'il souhaite
        homologuer). À ce titre, l'Utilisateur est et reste titulaire des
        droits sur lesdits contenus. Il autorise uniquement l'ANSSI à conserver
        ces contenus dans l'historique du compte.

      h2 6. Responsabilités, garanties et accessibilité au Site

      h3 A. Le portail Mon Service Sécurisé

      p.
        Le Site met en place les moyens nécessaires à son bon fonctionnement et
        en particulier au maintien de la continuité et de la qualité du
        service. Le service associé au Site est fourni à l'Utilisateur « en
        l'état » et est accessible sans garantie absolue de disponibilité et de
        régularité. L'ANSSI s'efforcera de rendre le Site accessible 24 heures
        sur 24, 7 jours sur 7. Toutefois, l'ANSSI ne pourra en aucun cas être
        tenue pour responsable en raison d'une interruption du service quelle
        que soit la durée ou la fréquence de cette interruption et quelle qu'en
        soit la cause, notamment en raison d'une maintenance nécessaire au
        fonctionnement, de pannes éventuelles, d'aléas techniques liés à la
        nature du réseau Internet, d'actes de malveillance ou de toute atteinte
        portée au fonctionnement du Site.

      h3 B. Réseau Internet

      p.
        L'ANSSI ne peut être tenue responsable des perturbations du réseau
        Internet entraînant un dysfonctionnement ou une impossibilité d'accéder
        au Site.

      p.
        L'ANSSI ne peut également pas être tenue responsable de l'installation
        et du fonctionnement des terminaux utilisés par l'Utilisateur pour
        accéder aux services disponibles sur le Site.

      p.
        Les taux de transfert et les temps de réponse des informations
        circulant à partir du Site vers Internet ne sont pas garantis, ceux-ci
        dépendant exclusivement des réseaux de communication et des modalités
        de connexion utilisées par l'Utilisateur.

      p.
        L'ANSSI ne saurait en aucun cas être tenue de réparer d'éventuels
        dommages indirects subis par l'Utilisateur à l'occasion de
        l'utilisation du service. Les dommages indirects sont ceux qui ne
        résultent pas exclusivement et directement de la défaillance du Site.
        En outre, la responsabilité de l'ANSSI ne peut pas être recherchée pour
        des actes réalisés par l'Utilisateur ou un tiers utilisant le Site.

      h3 C. Liens hypertextes pointant vers des Sites Tiers

      p.
        Le Site peut intégrer des liens hypertextes renvoyant vers des sites
        internet édités par des tiers (ci-après les « Sites Tiers ») sur
        lesquels l'ANSSI n'exerce aucune sorte de contrôle. L'ANSSI n'assume
        aucune responsabilité quant au contenu des Sites Tiers ou au contenu
        vers lequel les Sites Tiers peuvent renvoyer.

      p.
        La présence de liens hypertextes vers des Sites Tiers ne saurait
        signifier que l'ANSSI approuve de quelque façon que ce soit les
        contenus des Sites Tiers. L'ANSSI n'est responsable d'aucune
        modification ou mise à jour concernant les Sites Tiers. L'ANSSI n'est
        pas responsable de la transmission d'informations à partir des Sites
        Tiers, ni du mauvais fonctionnement de ceux-ci.

      h3 D. Liens hypertextes pointant vers le Site

      p.
        Les liens hypertextes renvoyant vers la page d'accueil du Site ou l'une
        de ses rubriques sont autorisés.

      p.
        Les pages du Site ne doivent pas être imbriquées à l'intérieur des
        pages d'un autre site (<em>framing</em>).

      p.
        En toute hypothèse, l'établissement d'un lien vers le Site ne constitue
        pas une approbation par l'ANSSI du contenu du site établissant ce lien.

      h2 7. Stipulations diverses

      p.
        Dans le cas où certaines stipulations des Conditions Générales
        d'Utilisation seraient inapplicables pour quelque raison que ce soit, y
        compris en raison d'une loi ou d'une réglementation applicable,
        l'Utilisateur restera lié par les autres stipulations des Conditions
        Générales d'Utilisation. Le fait pour l'ANSSI ou l'Utilisateur de ne
        pas se prévaloir d'une ou plusieurs stipulations des Conditions
        Générales d'Utilisation ne pourra en aucun cas impliquer la
        renonciation par ceux-ci à s'en prévaloir ultérieurement.

      h2 8. Droit applicable et attribution de compétence

      p.
        Les Conditions Générales d'Utilisation sont régies par le droit
        français.  Toute difficulté relative à la validité, l'application ou
        l'interprétation des Conditions Générales d'Utilisation seront
        soumises, à défaut d'accord amiable, à la compétence du Tribunal
        Administratif de Paris, auquel les parties attribuent compétence
        territoriale, quel que soit le lieu d'exécution du Site ou le domicile
        du défendeur. Cette attribution de compétence s'applique également en
        cas de procédure en référé, de pluralité de défendeurs ou d'appel en
        garantie.

      h2 9. Contact

      p.
        Pour toute question ou réclamation concernant le Site ou les Conditions
        Générales d'Utilisation, l'Utilisateur peut contacter l'ANSSI aux
        coordonnées indiquées dans les <a href='/mentionsLegales'>Mentions
        légales</a>. Pour toute question ou réclamation relative aux cookies et
        données à caractère personnel, l'Utilisateur peut contacter l'ANSSI aux
        coordonnées indiquées dans la <a href='/confidentialite'>Politique de
        confidentialité</a>.
