extends mssConnexionEnCours

block append styles
  link(href='/statique/assets/styles/formulaire.css', rel='stylesheet')
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block main
  form.etroit
    h1 Connectez-vous
    p.sous-titre ou&nbsp;
      a(href='/inscription') créez votre compte
    section
      label E-mail
        br
        input(id='login', type='email', placeholder='ex: jean.dupont@domaine.fr')
      label Mot de passe
        br
        input(id='mot-de-passe', type='password')
      .message-erreur E-mail ou mot de passe incorrect.
      a(href='/reinitialisationMotDePasse' class='texte-normal') mot de passe oublié
    .bouton Valider

  script(src='/statique/connexion.js')
