extends mssConnexionEnCours

block append styles
  link(href='/statique/assets/styles/formulaire.css', rel='stylesheet')

block main
  form.etroit
    h1 Connectez-vous
    p Vous n'avez pas encore de compte ?&nbsp;
      a(href='/inscription') Créez-en un !
    section
      label E-mail
        br
        input(id='login', type='email')
      label Mot de passe
        br
        input(id='mot-de-passe', type='password')
        a(href='/reinitialisationMotDePasse') J'ai oublié mon mot de passe
    .bouton Se connecter &nbsp;&nbsp;›

  script(src='/statique/connexion.js')
