extends mssDeconnecte

block variables
  - const meta_description = "Tous nos conseils à propos de la mise en œuvre des mesures de sécurité, de l'homologation, et de l'utilisation de MonServiceSécurisé."
  - const ongletActif = "conseils-cyber"

block title
  title= 'Conseils Cyber | MonServiceSécurisé'

block append styles
  link(href = '/statique/assets/styles/conseilsCyber.css', rel = 'stylesheet')

block append scripts
  +donneesPartagees('donnees-conseils-cyber', {articles, sections})
  script(type = 'module', src='/statique/scripts/conseilsCyber.mjs')
  +composantSvelte('conseilsCyber.js')

block main
  -
    const filAriane = [
      { label: "Accueil", href: "/" },
      { label: "Conseils Cyber" }
    ]
  lab-anssi-bandeau-titre(
    titre="Conseils cyber"
    description="Tous nos conseils à propos de la mise en œuvre des mesures de sécurité, de l'homologation, et de l'utilisation de MonServiceSécurisé"
    fil-ariane=JSON.stringify(filAriane)
  )
  #conteneur-conseils-cyber