extends ./mss

block variables
    - const classeDuHeader = 'header-a-gauche-uniquement'

block append styles
    +feuilleDeStyleSvelte()
    link(href = '/statique/assets/styles/creation-compte.css', rel = 'stylesheet')
    link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')

block append scripts
    +composantSvelte('inscription.js')
    +donneesPartagees('configuration-composant-svelte',{estimationNombreServices})
    +donneesPartagees('informations-professionnelles', { informationsProfessionnelles })
    +donneesPartagees('departements', { departements })
    +donneesPartagees('invite', invite)

block main
    #conteneur-inscription

    script(type = 'module', src = '/statique/creation-compte.js')
