extends mssConnecte
include ./fragments/texteTronque

block append styles
  link(href = '/statique/assets/styles/deuxColonnes.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/menuNavigation.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/scripts/menuNavigation.js')

block header
  // Pas de header sur les pages 2 colonnes

block main
  include ./fragments/menuNavigation

  .corps.marges-fixes
    .zone-principale
      block zone-principale

    .cartes-informations
      block cartes-informations
