extends mssConnecte
include ./fragments/texteTronque

block append styles
  link(href = '/statique/assets/styles/deuxColonnes.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')

block header
  // Pas de header sur les pages 2 colonnes

block retour
  - const s = homologation || service
  if s
    nav.fil-ariane
      a.avec-chevron(href = '/tableauDeBord') Tableau de bord
      if s.id
        a.avec-chevron(href = `/service/${s.id}`)
          +texteTronque({ texte: s.nomService() })

      block filArianeNoeudFinal

block main
  .corps.marges-fixes
    .zone-principale
      block nom-service
      block zone-principale

    .cartes-informations
      block cartes-informations
