extends mssConnecte
include ./tiroirs/tiroir.pug

block append styles
  link(href = '/statique/assets/styles/deuxColonnes.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/menuNavigation.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')
  link(href = '/statique/composants-svelte/gestionContributeurs.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/scripts/menuNavigation.js')
  script(type = 'module', src = '/statique/composants-svelte/gestionContributeurs.js')

block header-gauche
  .conteneur-logo
    a.logo-mss(href='/tableauDeBord')
  .titre-page
    block header-titre-page
    .retour-tableau-de-bord
      a(href='/tableauDeBord') Retour au tableau de bord

block bandeau-nouveautes
  // Pas de « Nouveautés » sur les pages de service

block main
  include ./fragments/menuNavigation

  .corps.marges-fixes.page-service(data-id-service=service.id)
    .zone-principale
      block zone-principale

    .cartes-informations
      block cartes-informations

  +tiroir
    include ./tiroirs/tiroirContributeurs
