block append styles
  link(href = '/statique/assets/styles/diagnosticDocumentsComplementaires.css', rel = 'stylesheet')

div.
  Compte tenu des besoins de sécurité découlant des fonctionnalités et des
  données traitées par #{nomService}, les pièces suivantes seront à joindre à
  votre dossier.

ul
  each documentComplementaire in documents
    li= documentComplementaire
