extends ./base

block page
  block scripts
    script(src='/statique/bibliotheques/jquery-3.6.0.min.js')
    script(src='/statique/bibliotheques/purify-3.0.5.min.js')
    script(src='/statique/bibliotheques/html2canvas-1.4.1.min.js')
    script(src='/statique/bibliotheques/jspdf-2.5.1.min.js')

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
    link(href='/statique/assets/styles/documentImprimable.css', rel='stylesheet')

  nav.ne-pas-imprimer
    a(href = `/service/${service.id}`) ‹&nbsp;&nbsp;Retour
    .bouton#telecharger Télécharger le document
