extends ./base

block page
  block scripts
    script(src='/bibliotheques/jquery-3.6.0.min.js')
    script(src='/bibliotheques/purify.min.js')
    script(src='/bibliotheques/html2canvas.min.js')
    script(src='/bibliotheques/jspdf.umd.min.js')

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
    link(href='/statique/assets/styles/documentImprimable.css', rel='stylesheet')

  nav.ne-pas-imprimer
    a(href = `/service/${homologation.id}`) ‹&nbsp;&nbsp;Retour
    .bouton#telecharger Télécharger le document
