extends mss

block append styles
  link(href = '/statique/assets/styles/doisJeHomologuer.css', rel = 'stylesheet')

block main
  .page
    .documentation
      h1 Dois-je faire une homologation de sécurité RGS ?
      .resume
        p.
          Conformément au
          <a href='https://www.ssi.gouv.fr/entreprise/reglementation/confiance-numerique/le-referentiel-general-de-securite-rgs/'>référentiel général de sécurité</a>
          et aux recommandations de l'ANSSI en matière d'homologation de
          sécurité, un service numérique (ou « téléservice ») doit être
          homologué par une autorité administrative si les conditions suivantes
          sont réunies.

        ul
          li Il a été développé ou acheté sur étagère par cette dernière.
          li Il permet des échanges de données avec d'autres autorités administratives ou des usagers.

      section.en-savoir-plus
        h2 En savoir plus :
        ul
          li
            a(href = '#rgs') Le référentiel général de sécurité (RGS)
          li
            a(href = '#autorites-concernees') Les autorités administratives concernées
          li
            a(href = '#services-concernes') Les types de services publics numériques concernés

      section
        h2#rgs Le référentiel général de sécurité (RGS)

        p.
          Le <a href='#'>référentiel général de sécurité (RGS)</a> est le cadre
          réglementaire permettant d'instaurer la confiance dans les échanges au
          sein de l'administration et avec les citoyens. Il a pour objet le
          renforcement de la confiance des usagers dans les services électroniques
          mis à disposition par les autorités administratives et s'impose ainsi à
          elles comme un cadre contraignant tout en étant adaptable et adapté aux
          enjeux et besoins de tout type d'autorité administrative.

        p.
          Le référentiel général de sécurité propose notamment une méthodologie
          orientée autour de la responsabilisation des autorités vis-à-vis de leurs
          services numériques à travers la démarche d'homologation.

      section
        h2#autorites-concernees Les autorités administratives concernées

        p.
          Les autorités administratives incluent :

        ul
          li une administration de l'État (ex: un ministère),
          li une collectivité territoriale (ex : un département),
          li.
            un établissement public à caractère administratif (ex: Pôle-Emploi ou
            l'Agence française pour la biodiversité),
          li.
            un organisme gérant des régimes de protection sociale relevant du
            code de la sécurité sociale et du code rural ou mentionnés aux
            articles L. 223-16 et L. 351-21 du code du travail (ex : les caisses
            d'allocations familiales),
          li.
            un autre organisme chargé de la gestion d'un service public
            administratif (ex : une université),
          li.
            une commission de coordination des actions de prévention des
            expulsions locatives prévues à l'article 7-2 de la loi n°90-449 du 31
            mai 1990 visant à la mise en oeuvre du droit au logement (ex :
            Commission de coordination des actions de prévention des expulsion,
            CCAPEX).

      section
        h2#services-concernes Les types de services publics numériques concernés

        p.
          Tout type de service public numérique peut être concerné par
          l'homologation de sécurité :

        ul
          li.
            un service développé en interne ou par un prestataire au profit d'une
            autorité administrative,
          li.
            un service acheté sur étagère auprès d'un fournisseur (ex. service de
            visioconférence, de stockage de fichiers).

      .question
        p Vous avez une question ?
        a.bouton(href='mailto:contact@monservicesecurise.beta.gouv.fr') Contactez-nous
