extends mssDeconnecte

block title
  title Erreur | MonServiceSécurisé

block append styles
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')
  link(href = '/statique/assets/styles/erreur.css', rel = 'stylesheet')

block main
  .marges-fixes
    .conteneur-erreur.sans-marge
      .contenu-texte
        h1 Oups, une erreur est survenue !
        if (idSentry)
          p
            span Vous pouvez transmettre l'identifiant
            code= ` ${idSentry} `
            span à notre équipe support pour faciliter la résolution de l'erreur.
        a.bouton.bouton-primaire(href=`https://aide.monservicesecurise.cyber.gouv.fr/fr/?id_erreur=${idSentry}`) Contacter le support
      .contenu-image
        img(src="/statique/assets/images/illustration_maintenance.svg" alt="Illustration d'erreur")