extends mssDeconnecte

block title
  title Erreur | MonServiceSécurisé

block append styles
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/erreurAccesRefuse.css', rel='stylesheet')

block main
  .marges-fixes.contenu-erreur
    img(src='/statique/assets/images/acces_refuse.svg')
    h1 Vous n’avez pas les droits pour accéder à cette page.
    p Mais vous pouvez continuer à sécuriser sur les autres pages de notre site.

    a.bouton(href = '/tableauDeBord') Aller au tableau de bord
