extends mss-aide-entete

block append styles
  link(href='/statique/assets/styles/espacePersonnel.css', rel='stylesheet')

block main
  .suivi-homologations.marges-fixes
    h1 Mon espace personnel
    .homologations
      a.nouvelle.homologation(href='/homologation/creation')
        .icone_ajout
        div Créer un nouveau projet d'homologation

  script(type="module", src="/statique/espacePersonnel.js")
