extends mssConnecte
include fragments/modaleNouveauService
include fragments/modales/modaleDuplicationService
include fragments/modales/modaleSuppressionService

block append styles
  link(href = '/statique/assets/styles/espacePersonnel.css', rel = 'stylesheet')

block main
  +modaleNouveauService
  +modaleDuplicationService
  +modaleSuppressionService

  a(href = './nouvellesFonctionnalites').bandeau-nouveautes
    p.marges-fixes.
      Découvrez les nouvelles fonctionnalités

  a(href = './utilisateur/edition').bandeau-maj-profil.invisible
    p.marges-fixes.
      Mettez à jour vos informations

  .suivi-services.marges-fixes
    h1 Mon espace personnel
    .services

  script(type = "module", src = "/statique/espacePersonnel.js")
