extends mssConnecte
include fragments/modaleNouveauService

block append styles
  link(href='/statique/assets/styles/espacePersonnel.css', rel='stylesheet')

block main
  +modaleNouveauService
  
  a(href= './nouvellesFonctionnalites').bandeau-nouveautes
    p.marges-fixes.
      Découvrez les nouvelles fonctionnalités  ›
  .suivi-homologations.marges-fixes
    h1 Mon espace personnel
    .homologations

  script(type="module", src="/statique/espacePersonnel.js")
  
