extends mssConnecte

block append styles
  link(href='/statique/assets/styles/espacePersonnel.css', rel='stylesheet')

block main
  a(href= './nouvellesFonctionnalites').bandeau-nouveautes
    p.marges-fixes.
      Découvrez les nouvelles fonctionnalités  ›
  .suivi-services.marges-fixes
    h1 Mon espace personnel
    .services

  script(type="module", src="/statique/espacePersonnel.js")
