extends mss-aide-entete

block append styles
  link(href='/statique/assets/styles/espacePersonnel.css', rel='stylesheet')

block main
  .suivi-homologations.marges-fixes
    h1 Mon espace personnel
    .homologations

  script(type="module", src="/statique/espacePersonnel.js")
