extends mssConnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/nouvellesFonctionnalites.css', rel = 'stylesheet')

block header-gauche
  .conteneur-logo
    a.logo-mss(href='/tableauDeBord' title='Retour au tableau de bord')
  .titre-page
    h3 Historique du produit
    .retour-tableau-de-bord
      a(href='/tableauDeBord' title='Retour au tableau de bord') Retour au tableau de bord

block main
  .marges-fixes
    .documentation
      p.description Découvrez les dernières évolutions de MonServiceSécurisé.
      
      ul.evolutions
        li
          h4 Tableau de bord
          span Retrouvez tous vos services numériques dans votre nouveau tableau de bord.
          br
          span Profitez d'une vue enrichie de l'ensemble de vos services. Filtrez-les ou triez-les à votre guise.
          br
          span Invitez simplement les personnes de votre choix à collaborer à vos services.
          br
          span Téléchargez directement tous vos documents PDF (synthèse de la sécurité d'un service, décision et dossier d'homologation).
          br
          span Exportez d'un seul clic une liste de vos services au format CSV.
          br
          span Dupliquez vos services simplement pour accélérer la constitution de vos nouveaux dossiers.
        li
          h4 Dupliquer un service déjà renseigné
          .
            Vos services déjà renseignés peuvent être dupliqués pour aller plus vite
            pour la sécurisation et l'homologation de services similaires.

        li
          h4 Recommandation de durée d'homologation
          .
            Dorénavant nous vous indiquons la durée d'homologation recommandée par
            l'ANSSI, visible lors de votre parcours d'homologation et adaptée à
            votre indice cyber.

        li
          h4 Format PDF
          .
            Vous pouvez désormais télécharger au format PDF l'ensemble des
            mesures de sécurité classées par statut et catégorie. Ce document
            vous servira de feuille de route pour mettre en place les bonnes
            pratiques de sécurité.

        li
          h4 Décisions d'homologation
          .
            Il est possible de télécharger une décision d'homologation au
            format PDF. Cette décision doit être signée par les prestataires
            qui vous accompagnent dans la mise en place de mesures de sécurité.

        li
          h4 Accès Prestataires
          .
            MonServiceSécurisé permet désormais aux prestataires agissant pour
            le compte d'entités publiques en matière de sécurité de leurs
            services numériques, de s'inscrire et de les accompagner dans la
            sécurisation de leurs services.

        li
          h4 L'arrivée de l'indice cyber !
          .
            En un coup d'œil, obtenez une évaluation indicative du niveau de sécurité des services numériques référencés
            sur MonServiceSécurisé, pour l'équipe et l'autorité d'homologation. L'indice cyber est obtenu à partir des
            mesures mises en œuvre, sur la base des déclarations de l'équipe, par rapport à l'ensemble des mesures proposées
            par l'ANSSI.

        li
          h4 Un nouveau PDF de « synthèse de la sécurité » d'un service
          .
            À la demande générale, une nouvelle version du PDF faisant la « synthèse de la sécurité » permettra de faire
            le point sur les mesures de sécurité mises en œuvre et d'afficher l'indice cyber. Les annexes détaillées
            (ex : liste des mesures de sécurité, risques) seront déployées dans les semaines à venir.

      .boutons
        a.bouton(href = '/tableauDeBord') Revenir au tableau de bord
