extends mss-aide-entete

block append styles
  link(href='/statique/assets/styles/homologations.css', rel='stylesheet')

block main
  .suivi-homologations
    h1 Mes homologations
    .homologations
      a.nouvelle.homologation(href='/homologation/creation')
        .icone ＋
        div Créer un nouveau projet d'homologation

  script(type="module", src="/statique/homologations.js")
