extends mssConnecte

mixin action({ description, url, statut })
  - let classeStyleStatut
  -
    switch(statut) {
      case InformationsHomologation.A_SAISIR: classeStyleStatut = 'a-faire'; break;
      case InformationsHomologation.A_COMPLETER: classeStyleStatut = 'a-completer'; break;
      case InformationsHomologation.COMPLETES: classeStyleStatut = 'faite'; break;
      default: '';
    }

  a.action(class = classeStyleStatut, href = url)= description


block append styles
  link(href = '/statique/assets/styles/homologation.css', rel = 'stylesheet')

block main
  .retour.marges-fixes
    a(href = '/espacePersonnel') ‹&nbsp;&nbsp;Mon espace personnel

  .details-homologation.marges-fixes
    .tableau-bord
      h1!= homologation.nomService()
      a.bouton(href = `/homologation/${homologation.id}/decision`) Voir le document d'homologation

      .actions
        ul
          each actionSaisie in actionsSaisie
            li
              +action(actionSaisie)
