extends mss
include ./fragments/besoinAide

mixin action({ description, url, statut })
  - let classeStyleStatut
  -
    switch(statut) {
      case InformationsHomologation.A_SAISIR: classeStyleStatut = 'a-faire'; break;
      case InformationsHomologation.A_COMPLETER: classeStyleStatut = 'a-completer'; break;
      case InformationsHomologation.COMPLETES: classeStyleStatut = 'faite'; break;
      default: '';
    }

  a.action(class = classeStyleStatut, href = url)= description


block append styles
  link(href = '/statique/assets/styles/homologation.css', rel = 'stylesheet')

block main
  .details-homologation.marges-fixes
    .tableau-bord
      h1!= homologation.nomService()
      a.bouton(href = `/homologation/${homologation.id}/decision`) Télécharger le document d'homologation

      each actions, descriptionSection in actionsDeSaisie
        section
          dl.actions
            dt= descriptionSection
            dd
              ul
                each donneesAction in actions
                  li
                    +action(donneesAction)

    +besoinAide
