extends mssDeconnecte

block append styles
  link(href='/statique/assets/styles/index.css', rel='stylesheet')
  link(href='/statique/assets/styles/index.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')

block main
  .introduction.marges-fixes
    .presentation
      h1 MonServiceSécurisé
      h2 Protégeons les services publics en ligne

      .etiquette Nouveauté ANSSI
      h3 Gratuite et 100% en ligne

      p.
        La solution de cybersécurité de l'ANSSI <br/>
        pour aider les entités publiques à sécuriser et à homologuer
        rapidement leurs sites web, applications mobiles et API.

      nav
        a.bouton.inscription(href = '/inscription').
          S'inscrire
        a.bouton.presse.nouvel-onglet(href = 'https://www.ssi.gouv.fr/actualite/monservicesecurise-une-nouvelle-solution-de-lanssi/', target = '_blank', rel = 'noopener').
          Voir l'actu sur le site de l'ANSSI

    .image-intro-mss
