extends mssDeconnecte

block append styles
  link(href='/statique/assets/styles/index.css', rel='stylesheet')

block main
  .introduction.marges-fixes
    .presentation
      h1 MonServiceSécurisé
      h2 Protégeons les services publics en ligne

      .etiquette Nouveauté ANSSI
      h3 Gratuite et 100% en ligne

      p.
        La solution de cybersécurité de l'ANSSI <br/>
        pour aider les entités publiques à sécuriser et à homologuer
        rapidement leurs sites web, applications mobiles et API.

      nav
        a.bouton(href = '/inscription').
          S'inscrire
    .image-intro-mss
