extends mssDeconnecte

block append styles
  link(href='/statique/assets/styles/index.css', rel='stylesheet')

block main
  .introduction.marges-fixes
    .presentation
      h1.
        MonServiceSécurisé,<br>
        Protégeons les services publics en ligne<br>
      p.
        Gratuit et 100% en ligne<br>
        La solution de cybersécurité de l'ANSSI pour aider les entités publiques
        à sécuriser et à homologuer rapidement leurs sites web, applications mobiles et API.
      nav
        a.bouton(href = '/inscription').
          Sécuriser un service numérique
    .image-intro-mss
