extends mss-aide-entete

block append styles
  link(href='/statique/assets/styles/index.css', rel='stylesheet')

block main
  .introduction
    .logo-anssi
    h1
      | Sécuriser et homologuer
      br
      | mes services publics numériques
    p
      | Site internet, application mobile, outil collaboratif : Mon Service
      | Sécurisé aide les entités
      br
      | publiques à sécuriser et homologuer simplement leurs services
      | numériques <b>les plus courants</b>.

    a.bouton(href="mailto:contact@monservicesecurise.beta.gouv.fr?subject=Tenez-moi%20au%20courant%20de%20l'avanc%C3%A9e%20du%20projet%20!&body=%C2%AB%C2%A0Mon%20service%20S%C3%A9curis%C3%A9%20%C2%BB%20m'int%C3%A9resse.%20Merci%20de%20me%20tenir%20au%20courant%20des%20prochaines%20%C3%A9volutions.")
      | Tenez-moi au courant de l'avancée du projet !

  .fonctionnalites
    .fonctionnalite.parcours-guide
      | Un parcours
      br
      |guidé et unique
    .fonctionnalite.suggestions-anssi Des suggestions de l'ANSSI pour sécuriser
    .fonctionnalite.mode-collaboratif
      | Un outil pour
      br
      | collaborer en équipe

  .bandeau
    h1 Comment ça marche ?
    .etapes
      .etape
        h2 1
        p
          | Identifiez les risques et
          br
          | les mesures de sécurité
      .etape
        h2 2
        p Télécharger le document d'homologation de sécurité
      .etape
        h2 3
        p Publiez l'homologation sur Mon Service Sécurisé

