extends mss-aide-entete

block append styles
  link(href='/statique/assets/styles/index.css', rel='stylesheet')

block main
  .introduction.marges-fixes
    .presentation
      h1.
        Mon Service Sécurisé,<br>
        l'homologation 100% en ligne<br>
        des services publics numériques
      p.
        Aide les entités publiques à se mettre en conformité avec
        les réglementations RGS et RGPD (article 32) en homologuant
        la sécurité de leurs sites web, applications mobiles et API
        aux <b>besoins de sécurité modérés</b>.
      nav
        a.bouton(href = 'mailto:contact@monservicesecurise.beta.gouv.fr?subject=Cr%C3%A9ation%20de%20compte').
          Démarrer une homologation &nbsp;&nbsp;›
    .intro-mss

  .fonctionnalites.marges-fixes
    ul
      li.pedagogique Pédagogique
      li.collaborative Collaborative
      li.personnalisee Personnalisée

  .bandeau
    .description
      h1 Une approche simplifiée pour les services numériques les plus courants

      p.
        Mon Service Sécurisé vise à accroître le niveau de sécurité des services numériques
        (ou «&nbsp;téléservices&nbsp;») les plus courants à savoir les sites web, applications mobiles
        et API publics aux besoins de sécurité modérés (niveaux pianissimo et mezzo piano
        du <a href="https://www.ssi.gouv.fr/actualite/lhomologation-en-9-etapes-simples-nouvelle-publication-de-lanssi/">guide de l'homologation en 9 étapes</a>).

      p.
        L'ANSSI fait le choix d'une démarche d'homologation allant à l'essentiel,
        en basant la démarche d'homologation sur le respect par les entités publiques d'un
        socle de sécurité composé de mesures de sécurité personnalisées pour chaque service,
        répondant aux risques les plus fréquents pour ce type de services.

      p.
        Chaque dossier peut être complété, par l'ajout de risques et de mesures spécifiques,
        conformément à <a href='https://www.ssi.gouv.fr/entreprise/management-du-risque/la-methode-ebios-risk-manager/'>la méthode EBIOS Risk manager</a>.

      p.
        Pour les sites web, API et applications mobiles aux besoins de sécurité élevés et pour les autres types services,
        l'ANSSI recommande la mise en oeuvre d'une <a href="/questionsFrequentes">démarche d'homologation de sécurité adaptée</a>.

      hr

      h2.
        Exemples de services numériques pouvant être homologués à l'aide de Mon
        Service Sécurisé

      .exemples
        .exemple.site-internet
          h3 Site internet
          p Le site Internet de la médiathèque, pour réserver les livres

        .exemple.application
          h3 Application
          p L'application mobile de guide touristique pour la ville

        .exemple.api
          h3 API
          p.
            L'API permettant l'accès à la base de données du service de
            transports de la ville

  .utilisation.marges-fixes
    h1 Une démarche en ligne en 4 grandes étapes

    .etapes
      .etape
        h1 1
        h2 Décrivez le service numérique à homologuer
        p.
          Quelques questions simples pour en apprendre plus sur
          le service numérique et vous guider.
      .point-etape
      .icone-etape.informations

      .icone-etape.mesures
      .point-etape
      .ligne-verticale
      .etape
        h1 2
        h2 Évaluez les risques de sécurité
        p.
          Déterminez le niveau de gravité des risques à partir d'une liste de risques suggérés.

      .etape
        h1 3
        h2 Renseignez les mesures de sécurité mises en oeuvre
        p.
          Des mesures personnalisées, indispensables ou recommandées, pour constituer un socle de sécurité.
      .point-etape
      .icone-etape.niveau-securite

      .icone-etape.dossier
      .point-etape
      .etape
        h1 4
        h2 Complétez et téléchargez votre dossier d'homologation
        p.
          Un document court et pédagogique conçu pour faciliter la décision
          de l'autorité d'homologation.
      .ligne-verticale

  .bandeau#exemple-dossier
    .exemple-dossier.marges-fixes
      .legende
        h1 Un dossier d'homologation clé en main
        p Un document court et pédagogique conçu pour faciliter la décision de l'autorité d'homologation.
        a(href = '/statique/exempleDossierHomologation.pdf') Voir un exemple &nbsp;&nbsp;›
      a.capture-ecran(href = '/statique/exempleDossierHomologation.pdf')



  a.bouton(href="mailto:contact@monservicesecurise.beta.gouv.fr?subject=Tenez-moi%20au%20courant%20de%20l'avanc%C3%A9e%20du%20projet%20!&body=%C2%AB%C2%A0Mon%20service%20S%C3%A9curis%C3%A9%20%C2%BB%20m'int%C3%A9resse.%20Merci%20de%20me%20tenir%20au%20courant%20des%20prochaines%20%C3%A9volutions.")
    | Tenez-moi au courant de l'avancée du projet !
