extends ./homologation/formulaire

block formulaire
  form.acces-refuse
    h1 Créez votre compte
    p
      span La création de compte est réservée exclusivement aux agents publics.
      br
      span Merci de bien vouloir&nbsp;
      a(href = 'mailto:contact@monservicesecurise.beta.gouv.fr?subject=Cr%C3%A9ation%20de%20compte').
        nous contacter
      span.
        &nbsp;pour obtenir un accès.
