extends ./mss

block append styles
  +feuilleDeStyleSvelte()

block append scripts
  +composantSvelte('inscription.js')

block main
  #conteneur-inscription

  script(type = 'module', src = '/statique/inscription-v2.js')
