extends ./mssInscription
include ./fragments/utilisateur/questionCgu
block variables
  - const meta_description = 'Inscrivez-vous sur MonServiceSécurisé et accédez à une plateforme pour sécuriser tous vos services numériques.'


block title
  title Inscription | MonServiceSécurisé

append champs-formulaire
  +questionCgu
