extends ./mss

block append styles
  +feuilleDeStyleSvelte()
  link(href = '/statique/assets/styles/inscription-v2.css', rel = 'stylesheet')

block append scripts
  +composantSvelte('inscription.js')

block main
  #conteneur-inscription

  script(type = 'module', src = '/statique/inscription-v2.js')
