extends ./mssInscription

append champs-formulaire
  .requis(data-nom = 'cguAcceptees')
    .case-a-cocher
      input(id = 'cguAcceptees', name = 'cguAcceptees', type = 'checkbox')
      label(for = 'cguAcceptees').
        J'accepte les <a href="/cgu">conditions générales d'utilisation de Mon Service Sécurisé</a>
    .message-erreur Ce champs est obligatoire. Veuillez le cocher.
