extends ./homologation/formulaire

block append styles
  link(href = '/statique/assets/styles/accesRefuse.css', rel = 'stylesheet')

block formulaire
  form.acces-refuse
    h1 Créez votre compte
    p
      span.
        Pendant la phase alpha de l'exploitation de Mon Service Sécurisé, la
        création de compte est restreinte. Merci de bien vouloir&nbsp;
      a(href = 'mailto:contact@monservicesecurise.beta.gouv.fr?subject=Cr%C3%A9ation%20de%20compte').
        nous contacter
      span.
        &nbsp;pour créer votre compte.
