extends mssConnecte
block variables
  - const meta_description = "Retrouvez ici le référentiel de l'ANSSI et de la CNIL regroupant l'ensemble des mesures de sécurité."
  - const titrePage = 'Liste de mesures'

block append styles
  link(href = '/statique/assets/styles/main-responsive.css', rel = 'stylesheet')


block append scripts
  +composantSvelte('listeMesures.js')
  +donneesPartagees('referentiel-statuts-mesures', referentiel.statutsMesures())
  script(type = 'module', src = '/statique/listeMesures.mjs')

block bandeau-titre
  -
    const filAriane = [
      {label: "Mon tableau de bord", href: "/tableauDeBord"},
      {label: "Liste de mesures"}
    ]

  lab-anssi-bandeau-titre(
    titre="Liste de mesures"
    description="Retrouvez ici le référentiel de l'ANSSI et de la CNIL regroupant l'ensemble des mesures de sécurité."
    fil-ariane=JSON.stringify(filAriane)
  )

block main
  #liste-mesures