extends mssConnecte
block variables
  - const meta_description = "Retrouvez ici le référentiel de l'ANSSI et de la CNIL regroupant l'ensemble des mesures de sécurité."
  - const titrePage = 'Liste de mesures'

block main
  #liste-mesures