extends mssConnecte
block variables
  - const meta_description = "Retrouvez ici le référentiel de l'ANSSI et de la CNIL regroupant l'ensemble des mesures de sécurité."
  - const titrePage = 'Liste de mesures'

block append scripts
  +composantSvelte('listeMesures.js')
  +donneesPartagees('referentiel-statuts-mesures', referentiel.statutsMesures())
  +donneesPartagees('referentiel-categories-mesures', referentiel.categoriesMesures())
  +donneesPartagees('referentiel-types-service', referentiel.typesService())
  +donneesPartagees('referentiel-nombre-maximum-modeles-mesure-specifique', referentiel.nombreMaximumDeModelesMesureSpecifiqueParUtilisateur())
  +donneesPartagees('affiche-modeles-mesure-specifique', featureFlags.afficheModelesMesureSpecifique)
  script(type = 'module', src = '/statique/listeMesures.mjs')

block append styles
  link(href = '/statique/assets/styles/fond-blanc.css', rel = 'stylesheet')

block bandeau-titre
  -
    const filAriane = [
      {label: "Mon tableau de bord", href: "/tableauDeBord"},
      {label: "Liste de mesures"}
    ]

  lab-anssi-bandeau-titre(
    titre="Liste de mesures"
    description=`Retrouvez ici le référentiel de l'ANSSI et de la CNIL regroupant l’ensemble des mesures de sécurité. L’ajout de mesures spécifiques est limité à ${referentiel.nombreMaximumDeModelesMesureSpecifiqueParUtilisateur()} pour favoriser une mise en œuvre efficace. `
    fil-ariane=JSON.stringify(filAriane)
  )

block main
  #liste-mesures
  #rapport-televersement