extends mssDocumentation
block variables
  - const meta_description = "Découvrez les mentions légales de MonServiceSécurisé. Consultez nos conditions d'utilisation, notre politique de confidentialité et nos engagements en matière de sécurité numérique. Protégez-vous en toute transparence."
  - const titrePage = 'Mentions légales'

block contenu-documentation
  h2 Éditeur

  p.
    Le site est édité par l'Agence nationale de la sécurité des systèmes
    d'information (ANSSI) :

  p.
    51 boulevard de la Tour-Maubourg<br>
    75700 Paris 07 SP<br>
    France<br>
    <a href="mailto:lab-inno@ssi.gouv.fr">lab-inno@ssi.gouv.fr</a>.

  h2 Directeur de la publication

  p Vincent Strubel, directeur général de l'ANSSI.

  p.
    La conception éditoriale, le suivi et les mises à jour du site internet
    sont assurés par les services de l'ANSSI.

  h2 Hébergement

  p.
    L'hébergement du site est assuré par Clever Cloud SAS, société par actions simplifiée, immatriculée au RCS de Nantes sous le numéro RCS Nantes B 524 172 699.
    Le siège social de l’hébergeur est situé au 4 rue Voltaire, 44000 Nantes, France.

  p.
    Toute correspondance à leur attention doit être adressée à l'adresse
    suivante&nbsp;:&nbsp;<a href="mailto:support@clever-cloud.com">support@clever-cloud.com</a>.<br>
    Téléphone : 02 85 52 07 69.

  h2 Crédits images

  p Illustrations : copyright Katerina Limpitsouni 2021.

  h2 Protection des contenus

  p.
    Sauf mention expresse contraire, tous les contenus protégeables par le droit de la
    Propriété intellectuelle ne peuvent être reproduits ou réutilisés sans l'autorisation
    expresse de l'ANSSI.

  h2 Demande d'autorisation

  p.
    Les demandes d'autorisation de reproduction d'un contenu doivent au préalable être
    adressées à l'ANSSI, en écrivant à l'adresse suivante : <a href="mailto:lab-inno@ssi.gouv.fr">lab-inno@ssi.gouv.fr</a>.

  p.
    La demande devra préciser le contenu visé ainsi que le contexte d'utilisation prévu
    (supports concernés, période, destinataires, etc.).
