extends mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 Mentions légales

      h2 Éditeur

      p.
        Le site est édité par l'agence nationale de la sécurité des systèmes
        d'information (ANSSI) située

      p.
        51 boulevard de la Tour-Maubourg<br>
        75700 Paris 07 SP<br>
        France<br>
        lab-inno@ssi.gouv.fr.

      h2 Directeur de la publication

      p Guillaume Poupard, directeur général de l'ANSSI.

      p.
        La conception éditoriale, le suivi et les mises à jour du site internet
        sont assurés par les services de l'ANSSI.

      h2 Hébergement

      p.
        L'hébergement du site est assuré par 3DS OUTSCALE SecNumCloud et
        SCALINGO, 15 avenue du Rhin, 67100 Strasbourg, société par actions
        simplifiée, immatriculée au RCS de Strasbourg sous le numéro
        808 665 483.

      p.
        Toute correspondance à leur attention doit être adressée à l'adresse
        suivante :<br>
        support@scalingo.com.

