extend mss

block append styles
  link(href='/statique/assets/styles/aide-entete.css', rel='stylesheet')

block aide-entete
  .aide-entete
    a(href = '/doisJeHomologuer') Dois-je homologuer mon service numérique ?
    a(href = 'mailto:contact@monservicesecurise.beta.gouv.fr') Nous contacter
