extends ./base

block page
  block scripts
    script(src='/bibliotheques/axios-1.0.0.min.js')
    script(src='/bibliotheques/jquery-3.6.0.min.js')

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
    link(href='/statique/assets/styles/mss.css', rel='stylesheet')
    link(href='/statique/assets/styles/entete.css', rel='stylesheet')
    link(href='/statique/assets/styles/piedPage.css', rel='stylesheet')

  title MonServiceSécurisé

  header.marges-fixes
    .bloc-marque
      .marianne
      .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
      .devise
    a.logo-anssi(href='https://www.ssi.gouv.fr')
    a.logo-mss(href='/') MonService<b>Sécurisé</b>
    nav
      block navigation

  main
    .retour.marges-fixes
      block retour
    block main

  footer
    .bandeau-mss.marges-fixes
    .separateur
    nav.marges-fixes
      a(href = '/aPropos') À propos
      a(href = '/mentionsLegales') Mentions légales
      a(href = '/confidentialite') Politique de confidentialité
      a(href = '/cgu') Conditions générales
      a(href = '/statistiques') Statistiques d'usage

  script(type = 'module', src = '/statique/entete.js')
