doctype html
meta(charset='utf-8')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://code.jquery.com/jquery-3.6.0.min.js')

block styles
  link(href='assets/styles/fonts.css', rel='stylesheet')
  link(href='assets/styles/mss.css', rel='stylesheet')

title Mon Service Sécurisé

header
  .logo-mss Mon Service <b>Sécurisé</b>

main
  block main

footer Mon Service Sécurisé par l'ANSSI – Version béta
