extends ./base

block page
  script(src='/bibliotheques/axios.min.js')
  script(src='/bibliotheques/jquery-3.6.0.min.js')

  block styles
    link(href='/statique/assets/styles/palette.css', rel='stylesheet')
    link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
    link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
    link(href='/statique/assets/styles/mss.css', rel='stylesheet')
    link(href='/statique/assets/styles/entete.css', rel='stylesheet')
    link(href='/statique/assets/styles/piedPage.css', rel='stylesheet')

  title Mon Service Sécurisé

  header.marges-fixes
    .bloc-marque
      .marianne
      .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
      .devise
    a.logo-anssi(href='https://www.ssi.gouv.fr')
    a.logo-mss(href='/') Mon Service <b>Sécurisé</b>
    nav
      block navigation

  main
    block main

  footer.marges-fixes
    span Mon Service Sécurisé par l'ANSSI
    nav
      a(href = '/aPropos') À propos
      a(href = '/confidentialite') Politique de confidentialité
      a(href = '/mentionsLegales') Mentions légales
      a(href = '/cgu') Conditions générales d'utilisation
      a(href = '/statistiques') Statistiques d'usage

  script(type = 'module', src = '/statique/entete.js')
