doctype html
meta(charset='utf-8')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://code.jquery.com/jquery-3.6.0.min.js')

block styles
  link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
  link(href='/statique/assets/styles/mss.css', rel='stylesheet')

title Mon Service Sécurisé

header
  a.logo-mss(href='/') Mon Service <b>Sécurisé</b>
  .utilisateur-courant

main
  block main

footer Mon Service Sécurisé par l'ANSSI – Version béta

script(src='/statique/entete.js')
