doctype html
meta(charset='utf-8')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://code.jquery.com/jquery-3.6.0.min.js')

block styles
  link(href='/statique/assets/styles/fonts.css', rel='stylesheet')
  link(href='/statique/assets/styles/bouton.css', rel='stylesheet')
  link(href='/statique/assets/styles/mss.css', rel='stylesheet')
  link(href='/statique/assets/styles/entete.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.css', rel='stylesheet')

title Mon Service Sécurisé

header.marges-fixes
  .bloc-marque
    .marianne
    .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
    .devise
  .logo-anssi
  a.logo-mss(href='/') Mon Service <b>Sécurisé</b>
  block aide-entete
  .utilisateur-courant

main
  block main

footer.marges-fixes
  span Mon Service Sécurisé par l'ANSSI – Version béta
  nav
    a(href = '/aPropos') À propos
    a(href = '/confidentialite') Politique de confidentialité
    a(href = '/mentionsLegales') Mentions légales
    a(href = '/cgu') Conditions générales d'utilisation

script(src='/statique/entete.js')
