extends mss

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

block navigation
  a.aide(href = 'mailto:contact@monservicesecurise.beta.gouv.fr') Besoin d'aide
  .utilisateur-courant

  .rideau#deconnexion
    .modale.deconnexion
      .fermeture-modale
      .image-deconnexion
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton(href = '/connexion') Reconnexion

  script(type = 'module', src = '/statique/mssConnecte.js')
