extends mss

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

block navigation
  .bandeau-nouveautes
    img(src='/statique/assets/images/bandeau_nouveautes_decoration.svg', alt='Décoration du bouton des nouveautés')
    p.
      Nouveautés

  .utilisateur-courant

  .rideau#deconnexion
    .modale.deconnexion
      .fermeture-modale
      .image-deconnexion
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton(href = '/connexion') Reconnexion

  include csrf.pug
  include nouvellesFonctionnalites/modaleNouvellesFonctionnalites.pug

  script(type = 'module', src = '/statique/mssConnecte.js')

block bom-contenu
  p Vous souhaitez :
  ul
    a(href = 'https://aide.monservicesecurise.ssi.gouv.fr/'): li Nous contacter
    a(href = 'https://calendly.com/monservicesecurise-henri/presentation-de-monservicesecurise-anssi'): li Une présentation sur-mesure de MonServiceSécurisé
    a(href = 'https://aide.monservicesecurise.ssi.gouv.fr/'): li Consulter la F.A.Q.
    
block footer-bandeau-mss
  // Bloc vide en mode connecté
