extends mss
include ./fragments/header

block variables
  - const ongletActif = "services"

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/scripts/intercepteurAxios.mjs')
  +composantSvelte('tiroir.js')

block header
  +header(avertissementMaintenance, featureFlags, true, '/tableauDeBord', "Retour au tableau de bord", false, ongletActif)

block tiroir
  #tiroir

block append session
  .rideau#deconnexion
    .modale.deconnexion
      img.image-deconnexion(src="/statique/assets/images/session_expiree.svg" alt="Illustration de la session expirée")
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton#reconnexion(href = '/connexion') Reconnexion

  script(type = 'module', src = '/statique/mssConnecte.mjs')
  +composantSvelte('visiteGuidee.js')

block centre-aide
  lab-anssi-centre-aide(nomService="MonServiceSécurisé" liens=JSON.stringify([
    { texte: '💬 Nous contacter par chat', href: 'https://aide.monservicesecurise.cyber.gouv.fr/' },
    {
      texte: "👩‍💻 S'inscrire à la formation",
      href: 'https://app.livestorm.co/lab-anssi/formation-monservicesecurise-declarer-son-premier-service-numerique?s=fd6032fa-4833-4403-8087-3945d168752e'
    },
    {
      texte: "🔎 Parcourir la visite guidée",
      preventDefault: true,
      id: "centre-aide-visite-guidee"
    },
    { texte: '🙌 Consulter la F.A.Q.', href: 'https://aide.monservicesecurise.cyber.gouv.fr/' },
  ]))
    
block footer
  +footer(true)

block visite-guidee
  +donneesPartagees('etat-visite-guidee', etatVisiteGuidee || {})

  if etatVisiteGuidee && etatVisiteGuidee.dejaTerminee === false
    if etatVisiteGuidee.enPause === false
      #visite-guidee-rideau
      #visite-guidee
    #visite-guidee-menu-navigation
