extends mss

block append styles
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

block navigation
  a(href = '/nouvellesFonctionnalites').bandeau-nouveautes
    img(src='/statique/assets/images/bandeau_nouveautes_decoration.svg', alt='Décoration du bouton des nouveautés')
    p.
      Découvrez les nouveautés

  .utilisateur-courant

  .rideau#deconnexion
    .modale.deconnexion
      .fermeture-modale
      .image-deconnexion
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton(href = '/connexion') Reconnexion

  include csrf.pug

  script(type = 'module', src = '/statique/mssConnecte.js')

block bom-contenu
  p Vous souhaitez :
  ul
    a(href = 'https://aide.monservicesecurise.beta.gouv.fr/fr/article/dupliquer-un-service-1jwc27k/'): li Dupliquer un service
    a(href = 'https://aide.monservicesecurise.beta.gouv.fr/fr/article/ajouter-des-contributeurs-a-un-projet-519lrx/'): li Ajouter un contributeur
    a(href = 'https://aide.monservicesecurise.beta.gouv.fr/'): li Poser une question par tchat
    a(href = 'https://aide.monservicesecurise.beta.gouv.fr/'): li Consulter la F.A.Q.
    a(href = 'mailto:support@monservicesecurise.beta.gouv.fr?subject=Je%20souhaite%20faire%20une%20suggestion%20sur%20MonServiceSécurisé'): li Faire une suggestion

block footer-bandeau-mss
  // Bloc vide en mode connecté
