extends mss

block append styles
  link(href = '/statique/assets/styles/headerLarge.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')
  +feuilleDeStyleSvelte()

block append scripts
  script(type = 'module', src = '/statique/scripts/intercepteurAxios.mjs')
  +composantSvelte('centreNotifications.js')
  +composantSvelte('tiroir.js')

block navigation
  #centre-notifications
  button.utilisateur-courant

block tiroir
  #tiroir

block append session
  .rideau#deconnexion
    .modale.deconnexion
      img.image-deconnexion(src="/statique/assets/images/session_expiree.svg" alt="Illustration de la session expirée")
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton#reconnexion(href = '/connexion') Reconnexion

  script(type = 'module', src = '/statique/mssConnecte.mjs')
  +composantSvelte('visiteGuidee.js')

block bom-contenu
  p Vous souhaitez :
  ul
    a(href = 'https://aide.monservicesecurise.cyber.gouv.fr/' target='_blank' rel = 'noopener'): li Nous contacter ou donner votre avis
    a(href = 'https://calendly.com/fabien-giraud/presentation-de-monservicesecurise-1' target='_blank' rel = 'noopener'): li Assister à un webinaire de présentation MonServiceSécurisé
    a(id = "lien-reinitialise-visite-guidee"): li Parcourir la visite guidée de MonServiceSécurisé
    a(href = 'https://aide.monservicesecurise.cyber.gouv.fr/' target='_blank' rel = 'noopener'): li Consulter la F.A.Q.
    
block footer-bandeau-mss

block visite-guidee
  +donneesPartagees('etat-visite-guidee', etatVisiteGuidee || {})

  if etatVisiteGuidee && etatVisiteGuidee.dejaTerminee === false
    if etatVisiteGuidee.enPause === false
      #visite-guidee-rideau
      #visite-guidee
    #visite-guidee-menu-navigation
