extends mss

block append styles
  link(href = '/statique/assets/styles/headerLarge.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modale.css', rel = 'stylesheet')

block navigation
  block bandeau-nouveautes
    button.bandeau-nouveautes
      img(src='/statique/assets/images/bandeau_nouveautes_decoration.svg', alt='Décoration du bouton des nouveautés')
      p.
        Nouveautés

  button.utilisateur-courant

  include nouvellesFonctionnalites/modaleNouvellesFonctionnalites.pug

block append session
  .rideau#deconnexion
    .modale.deconnexion
      .fermeture-modale
      .image-deconnexion
      h1 Session expirée
      p Veuillez vous reconnecter.
      a.bouton(href = '/connexion') Reconnexion

  script(type = 'module', src = '/statique/mssConnecte.js')
  script(type = 'module', src = '/statique/composants-svelte/visiteGuidee.js')

block bom-contenu
  p Vous souhaitez :
  ul
    a(href = 'https://aide.monservicesecurise.ssi.gouv.fr/' target='_blank' rel = 'noopener'): li Nous contacter ou donner votre avis
    a(href = 'https://calendly.com/monservicesecurise-henri/presentation-de-monservicesecurise-anssi-clone' target='_blank' rel = 'noopener'): li Une présentation sur-mesure de MonServiceSécurisé
    a(href = 'https://aide.monservicesecurise.ssi.gouv.fr/' target='_blank' rel = 'noopener'): li Consulter la F.A.Q.
    
block footer-bandeau-mss

block lien-footer-mss
  li
    a(href = '/historiqueProduit') Historique du produit

block visite-guidee
  script(id = 'etat-visite-guidee', type = 'application/json').
    !{JSON.stringify(etatVisiteGuidee || {})}

  if etatVisiteGuidee && !etatVisiteGuidee.dejaTerminee
    if !etatVisiteGuidee.enPause
      #visite-guidee-rideau
      #visite-guidee
    #visite-guidee-menu-navigation