extends mss

block navigation
  a(href = 'https://aide.monservicesecurise.beta.gouv.fr' target='_blank' rel='noopener') Questions fréquentes
  a(href = 'mailto:support@monservicesecurise.beta.gouv.fr') Contactez-nous
  .utilisateur-courant
