extends mss

block navigation
  a(href = 'https://aide.monservicesecurise.beta.gouv.fr' target='_blank' rel='noopener') Questions fréquentes
  a(href = 'mailto:support@monservicesecurise.beta.gouv.fr') Contactez-nous
  .utilisateur-courant

block bom
  .bom
    .bom-vignette
    .bom-titre Aide
    .bom-modale
      .fermeture
      .bandeau-titre Bienvenue sur
        .nom-produit MonServiceSécurisé
      .contenu
        p Vous souhaitez :
        ul
          a(href = 'mailto:antoine.dupuy@beta.gouv.fr?subject=Je%20souhaite%20avoir%20une%20présentation%20de%20MonServiceSécurisé'): li Une présentation sur-mesure de MonServiceSécurisé
          a(href = 'https://aide.monservicesecurise.beta.gouv.fr/fr/article/comment-nous-contacter-yttbql/'): li Poser une question par tchat
          a(href = 'https://aide.monservicesecurise.beta.gouv.fr/'): li Consulter la F.A.Q.
          a(href = 'mailto:support@monservicesecurise.beta.gouv.fr?subject=Je%20souhaite%20en%20savoir%20plus%20sur%20MonServiceSécurisé'): li Nous contacter par e-mail
