extends ./mssConnexionEnCours

include ./fragments/formulaireUtilisateur

block main
  form.etroit#inscription
    h1 Créez votre compte
    p.sous-titre
      span ou&nbsp;
      a(href = '/connexion') connectez-vous
    .avertissement
      p.
        MonServiceSécurisé est accessible aux professionnels travaillant au sein d'une <b>organisation publique ou privée</b> dans la sécurisation de services publics numériques.

    +formulaireUtilisateur({ forceEmailsTransactionnels: true })
    button(type = 'submit').bouton Valider

  script(type = 'module', src = '/statique/inscription.js')
