extends ./mssConnexionEnCours

include ./fragments/formulaireUtilisateur

block main
  form.etroit#inscription
    h1 Créez votre compte
    p.sous-titre
      span ou&nbsp;
      a(href = '/connexion') connectez-vous
    .avertissement
      p.
        MonServiceSécurisé est accessible aux professionnels travaillant au sein d'une <b>entité publique</b> ou
        d'une <b>organisation accompagnant des entités publiques</b> dans la sécurisation de leurs services numériques.

    +formulaireUtilisateur({})
    button(type = 'submit').bouton Valider

  script(type = 'module', src = '/statique/inscription.js')
