extends ./mssDeconnecte

include ./fragments/formulaireUtilisateur

block main
  form.etroit#inscription(novalidate)
    h1 Créez votre compte
    p.sous-titre
      span ou&nbsp;
      a(href = '/connexion') connectez-vous
    .avertissement
      p La création de compte est exclusivement réservée aux agents publics.

    +formulaireUtilisateur({})
    button(type = 'submit').bouton Valider

  script(type = 'module', src = '/statique/inscription.js')
