extends mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/nouvellesFonctionnalites.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 Nouvelles fonctionnalités
      p.description Découvrez les dernières évolutions de MonServiceSécurisé.
      

      h2 7 novembre 2022
      ul.evolutions
        li
          h4 Rubrique Décrire
          .
            Les réponses de la question « Provenance » sont précisées et passent de 2 à 3 pour plus de clarté sur la
            provenance de vos services et une meilleure personnalisation de la liste des mesures. #[<br>]
            Désormais, vous pouvez cocher l’une des propositions suivantes :
          ul
            li Développé pour les besoins de l’organisation lorsque le service a été développé spécifiquement pour vos besoins. Ex. site web développé de A à Z par une agence web ou en interne.
            li Déployé à partir d’un outil existant lorsque le service s’appuie tout ou partie sur une solution déjà existante. Ex. un applicatif métier proposé à l’achat par un éditeur, installé et déployé sur internet pour l’organisation.
            li Proposé en ligne par un fournisseur, lorsque aucun développement ou déploiement n’a eu lieu pour vos besoins et que vous souscrivez à un service disponible uniquement en ligne. Ex. service de type SaaS, disponible gratuitement ou sur souscription.

        li
          h4 Une nouvelle version du référentiel de mesures de sécurité, élaborée avec les experts de l’ANSSI, accessible au plus grand nombre et adaptée à davantage de services
          ul
            li Plus de pédagogie dans l’intitulé dans la description des mesures : comment les mettre en œuvre et quels bénéfices sur la sécurité du service numérique.
            li 10 nouvelles mesures pour permettre de référencer toujours plus de services, y compris aux besoins de sécurité plus importants. Elles pourront vous être proposées selon les caractéristiques de vos services.
            ul.ajouts
              li Réaliser un audit de la sécurité du service
              li Fermer tous les ports non strictement nécessaires
              li Installer un certificat de signature électronique conforme à la réglementation
              li Fixer des contraintes de longueur et de complexité des mots de passe
              li Encourager les administrateurs à utiliser un coffre-fort de mot de passe
              li Prévoir le renouvellement régulier des mots de passe des administrateurs
              li Protéger les mots de passe stockés sur le service
              li Administrer techniquement le service dans des environnements dédiés et sécurisés
              li Recourir à un service de supervision de la sécurité
              li Recourir à une ou plusieurs solutions garantissant un haut niveau de disponibilité du service
            li 10 mesures en moins car déjà prises en compte par ailleurs ou ne contribuant pas directement à la cybersécurité du service référencé.
            ul.suppressions
              li Afficher aux utilisateurs l'heure et la date de leur dernière connexion
              li Disposer d'une politique d'information des utilisateurs en cas d'incident
              li Souscrire ou mettre en œuvre un outil de scan Internet des plages d'adresses IP du service numérique
              li Installer un pare-feu
              li Mettre en place une politique de sécurité des mots de passe
              li Réaliser des actions régulières de sensibilisation des agents aux risques numériques
              li Fixer les modalités de suivi de la sécurité du service par l'ensemble des parties prenantes
              li Formaliser les modalités de mise en œuvre des mécanismes de sécurité importants pour le service
              li Proscrire le partage ou la vente de données des utilisateurs du service à des tierces parties à des fins commerciales
              li Permettre la connexion des utilisateurs via FranceConnect

      h2 16 octobre 2022
      ul.evolutions
        li
          h4 Une interface repensée pour mieux vous accompagner
          .
            Une rubrique « décrire » : toutes les informations indispensables sur votre service. #[br]
            Une rubrique « sécuriser » : la liste personnalisée des mesures de sécurité à mettre en œuvre, proposée par l'ANSSI pour votre service. #[br]
            Une rubrique « homologuer » : [ bientôt disponible ] pour générer rapidement une décision d'homologation (PDF) et renseigner la date d'homologation. #[br]
            Deux outils complémentaires : « risques de sécurité » pour cartographier les impacts potentiels des risques les plus courants ; « contacts utiles ».

        li
          h4 L'arrivée de l'indice cyber !
          .
            En un coup d'œil, obtenez une évaluation indicative du niveau de sécurité des services numériques référencés
            sur MonServiceSécurisé, pour l'équipe et l'autorité d'homologation. L'indice cyber est obtenu à partir des
            mesures mises en œuvre, sur la base des déclarations de l'équipe, par rapport à l'ensemble des mesures proposées
            par l'ANSSI.

        li
          h4 Un nouveau PDF de « synthèse de la sécurité » d'un service
          .
            À la demande générale, une nouvelle version du PDF faisant la « synthèse de la sécurité » permettra de faire
            le point sur les mesures de sécurité mises en œuvre et d'afficher l'indice cyber. Les annexes détaillées
            (ex : liste des mesures de sécurité, risques) seront déployées dans les semaines à venir.

        li.astuce Vous pouvez continuer à télécharger le PDF de synthèse et d'homologation dans sa première version depuis la synthèse de vos services.

        li
          h4 L'inscription 100% en ligne et autonome pour tous les agents publics

        li
          h4 Le référencement possible de tous les sites web, applications mobiles et API publics
          .
            Pilotez la sécurité de tous vos services publics numériques depuis votre espace personnel dans MonServiceSécurisé.
            Seuls les services numériques qui relèvent d'une réglementation encadrant la sécurité des systèmes d'information
            aux besoins de sécurité élevés ne peuvent pas être référencés sur MonServiceSécurisé.
            #[a(href = '/questionsFrequentes', target = '_blank', rel = 'noopener') En savoir plus]

        li
          h4 La rubrique « Profil » devient « Mes informations »
          .
            Complétez les données pour mieux assurer le bon fonctionnement de votre compte, vous accompagner au quotidien
            et vous proposer des fonctionnalités et services encore plus adaptés à vos besoins.
          img.moyenne(src = './statique/assets/images/captures/nouveautes__modifier_mon_profil.png')

      .boutons
        a.bouton(href = '/espacePersonnel') Revenir sur l'espace personnel
