extends mssConnecte
include ./tiroirs/tiroir.pug

block append styles
  link(href = '/statique/assets/styles/parcoursService.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/formulaire.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/scripts/menuNavigation.mjs')
  script(type = 'module', id= 'bandeau-referentiel-v2', src = '/statique/service/bandeauReferentielV2.js' data-version-service=service.version())
  +composantSvelte('menuNavigationService.js')
  +composantSvelte('gestionContributeurs.js')
  +composantSvelte('bandeauReferentielV2.js')
  +composantSvelte('entetePageService.js')
  +donneesPartagees('autorisations-service', autorisationsService)
  +donneesPartagees('etape-active', etapeActive)
  +donneesPartagees('service', service)
  +donneesPartagees('donnees-indice-cyber', {
    indiceCyber: service.indiceCyber().total,
    noteMax: referentiel.indiceCyberNoteMax()
  })
  +donneesPartagees('donnees-indice-cyber-personnalise', { indiceCyberPersonnalise: service.indiceCyberPersonnalise().total })

block header-gauche
  .bloc-marque
    .marianne
    .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
    .devise
  a.logo-anssi(href='https://cyber.gouv.fr')
  a.logo-mss(href='/tableauDeBord')

block header-complementaire
  #conteneur-bandeau-referentiel-v2
  #entete-page-service

block main
  #menu-navigation-service

  .marges-fixes.page-service(data-id-service=service.id)
      .zone-principale
        block zone-principale
          .formulaire
            .conteneur-entete
              .avancement-etape
                block avancement-etape
              .titre.titre-page
                block titre
              .etapier
                block etapier
              .sous-titre
                block sous-titre
            .conteneur-page-formulaire
              block modale
              block formulaire

  +tiroir
    include ./tiroirs/tiroirTelechargement
    include ./tiroirs/tiroirMesure
    include ./tiroirs/tiroirExportMesures
    include ./tiroirs/tiroirTelechargementTamponHomologation
    include ./tiroirs/tiroirSuppressionDossierCourant