extends mssConnecte
include ./tiroirs/tiroir.pug

block append styles
  link(href = '/statique/assets/styles/parcoursService.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/menuNavigation.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/homologation/formulaire.css', rel = 'stylesheet')

block append scripts
  script(type = 'module', src = '/statique/scripts/menuNavigation.js')
  script(type = 'module', src = '/statique/composants-svelte/gestionContributeurs.js')

block header-gauche
  .conteneur-logo
    a.logo-mss(href='/tableauDeBord' title='Retour au tableau de bord')
  .titre-page
    block header-titre-page
    .retour-tableau-de-bord
      a(href='/tableauDeBord' title='Retour au tableau de bord') Retour au tableau de bord

block main
  include ./fragments/menuNavigation

  .marges-fixes.page-service(data-id-service=service.id)
      .zone-principale
        block zone-principale
          .formulaire
            .conteneur-entete
              .titre.titre-page
                block titre
              .sous-titre
                block sous-titre
            .conteneur-page-formulaire
              block modale
              block formulaire

  +tiroir
    include ./tiroirs/tiroirContributeurs
    include ./tiroirs/tiroirTelechargement
    include ./tiroirs/tiroirMesure
    include ./tiroirs/tiroirExportMesures
    include ./tiroirs/tiroirTelechargementTamponHomologation
    include ./tiroirs/tiroirSuppressionDossierCourant