extends mssDeconnecte
include ../vues/fragments/descriptionIndiceCyber

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/questionsFrequentes.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation.questions-frequentes
      h1 Questions fréquentes

      section
        ul
          li
            a(href = '#homologation').
              Qu'est-ce que l'homologation de sécurité ?
          li
            a(href = '#utilite').
              Pourquoi l'homologation de sécurité est importante ?
          li
            a(href = '#obligatoire').
              Est-il obligatoire d'homologuer la sécurité des services
              numériques ?
          li
            a(href = '#services-concernes').
              Quels types de services numériques doivent être homologués ?
          li
            a(href = '#responsable').
              Qui est responsable de l'homologation de sécurité ?
          li
            a(href = '#MSS').
              Comment MonServiceSécurisé peut-il aider les entités publiques ?
          li
            a(href = '#adapte').
              MonServiceSécurisé est-il adapté à tous les types de
              services numériques ?
          li
            a(href = '#services-exclus').
              Quels services ne peuvent pas être référencés sur MonServiceSécurisé ?
          li
            a(href = '#prestas').
              Quelles aides sont disponibles pour la réalisation d'une
              homologation de sécurité ?
          li
            a(href = '#indice-cyber').
              Que signifie et comment est calculé l'indice cyber ?

      section
        h2#homologation.
          Qu'est-ce que l'homologation de sécurité ?

        p.
          L'homologation de sécurité est une décision (un acte formel) par
          laquelle une autorité d'homologation atteste des mesures de sécurité
          mises en œuvre en vue de protéger un système d'information, au regard
          des risques de sécurité identifiés et par laquelle elle accepte les
          risques qui demeurent.

        p.
          Démarche essentielle de gouvernance de la sécurité des systèmes
          d'information, dont les services numériques, sur l'ensemble de leur
          cycle de vie, l'homologation de sécurité prend appui sur
          l'implication et la responsabilisation de l'ensemble des personnes
          concernées par sécurité d'un système d'information.

      section
        h2#utilite.
          Pourquoi l'homologation de sécurité est importante ?

        p.
          La mise en œuvre de mesures de sécurité adaptées aux risques, préalable à
          la décision d'homologation de sécurité est essentielle
          au renforcement de la sécurité des systèmes d'information, dont celle des
          services numériques, face aux risques de cyberattaques.

        p.
          La décision d'homologation de sécurité permet d'attester aux
          utilisateurs d'un système d'information que les risques qui pèsent
          sur eux, sur les informations qu'ils manipulent et sur les services
          rendus, sont connus et maîtrisés. L'homologation de sécurité des
          services numériques contribue, ce faisant, à accroître la confiance
          des utilisateurs.

      section
        h2#obligatoire.
          Est-il obligatoire d'homologuer la sécurité des services numériques ?

        p.
          L'homologation de sécurité est obligatoire pour l'ensemble des
          entités publiques (ou « autorités administratives ») au titre du
          Référentiel Général de Sécurité (RGS) visant au renforcement de la
          confiance des usagers dans les services publics numériques, et
          du décret 2022-513 du 8 avril 2022 relatif à la sécurité des systèmes
          d'information et de communication de l'État et de ses établissements
          publics.

        p.
          Les entités publiques concernées incluent notamment :

        ul
          li Les administrations d'État.
          li Les collectivités territoriales.
          li Les établissements publics.
          li.
            Les organismes gérant des régimes de protection sociale relevant du
            code de la sécurité sociale et du code rural ou mentionnés aux
            articles L. 223-16 et L. 351-21 du code du travail (ex : les caisses
            d'allocations familiales).
          li.
            Les autres organismes chargés de la gestion d'un service public
            administratif.

      section
        h2#services-concernes.
          Quels types de services numériques doivent être homologués ?

        p.
          Un service public numérique (ou « téléservice » dans le RGS) doit
          être homologué par une autorité administrative s'il permet des
          échanges de données entre l'administration et les usagers ou entre
          administrations, en particulier lorsqu'ils permettent des démarches
          administratives en ligne.

        p.
          Les services numériques sont concernés par l'homologation de
          sécurité, que ceux-ci aient été développés en interne ou par un
          prestataire au profit d'une autorité administrative, ou qu'ils aient
          été obtenus sur étagère gratuitement ou achetés auprès d'un
          fournisseur.

      section
        h2#responsable.
          Qui est responsable de la décision d'homologation de sécurité ?

        p.
          L'autorité d'homologation doit être placée à un niveau
          hiérarchique suffisant, lui permettant d'assumer la
          responsabilité de la mise en ligne d'un service numérique au regard
          des risques identifiés et des mesures de sécurité mises en œuvre.

        p.
          À titre d'exemple, au sein d'une collectivité territoriale,
          l'autorité d'homologation peut être maire, adjointe ou adjoint au maire,
          directeur général ou directrice générale des services ; au sein d'un
          ministère, directeur général ou directrice générale.

        p.
          Si l'autorité d'homologation signe la décision d'homologation,
          celle-ci peut en déléguer l'instruction préalable afin de faciliter
          et d'accélérer le processus. Par exemple, au sein d'une collectivité
          au niveau de la personne occupant la fonction de chef de service ou
          de sous-directeur.
        p.
          Lorsque le service numérique est sous la responsabilité de plusieurs
          autorités, l'autorité d'homologation est désignée parmi ces
          dernières, sur leur décision conjointe.

      section
        h2#MSS.
          Comment MonServiceSécurisé peut-il aider les entités publiques ?

        p.
          MonServiceSécurisé aide les entités publiques à sécuriser et à
          homologuer rapidement la sécurité de leurs sites web, applications
          mobiles et API.

        p.
          Gratuit et collaboratif, MonServiceSécurisé permet de référencer un
          service numérique en projet, en cours de développement ou déjà en
          ligne puis de le décrire afin de :
        ul
          li.
             Accéder à une liste personnalisée de mesures de sécurité élaborée par
             l'ANSSI et obtenir une évaluation indicative du niveau de
             sécurité du service concerné (l'indice cyber), sur la base des
             mesures de sécurité déclarées par l'équipe comme ayant été mises
             en œuvre.
        ul
          li.
             Générer en quelques étapes une décision d'homologation de sécurité
             incluant un ou plusieurs avis des membres de l'équipe sur le
             projet de décision d'homologation et de soumettre cette décision à
             la signature de l'autorité d'homologation (fonctionnalité bientôt
             disponible).

      section
        h2#adapte.
          MonServiceSécurisé est-il adapté à tous les types de services
          numériques ?

        p.
          MonServiceSécurisé permet de faciliter la démarche de sécurisation et
          d'homologation des sites web, applications mobiles et API du secteur
          public uniquement.

      section
        h2#services-exclus.
          Quels services ne peuvent pas être référencés sur
          MonServiceSécurisé ?

        ul
          li.
            Les services essentiels au fonctionnement de la société ou de
            l'économie, des opérateurs désignés opérateurs de services
            essentiels (loi n° 2018-133 du 26 février 2018 qui présente les
            mesures de transposition de la direction européenne sur la sécurité
            des réseaux et des systèmes d'information, décret n° 2018-384 du 23
            mai 2018 en détaillant les modalités d'application).
          li.
            Les services pour lesquels l'atteinte à la sécurité ou au bon
            fonctionnement engendrerait des conséquences importantes sur le
            potentiel scientifique et technique (décret n° 2011-1425 du 2
            novembre 2011 portant application de l'article 413-7 du code pénal
            relatif à la protection du potentiel scientifique et technique de
            la nation).
          li.
            Les services pour lesquels l'atteinte à la sécurité ou au
            fonctionnement engendrerait des conséquences importantes sur le
            potentiel de guerre ou économique, la sécurité ou la capacité de
            survie de la Nation (article 22 de la loi n° 2013-1168 du 18
            décembre 2013 relative à la programmation militaire pour les années
            2014 et 2019).
          li.
            Les services traitant d'informations protégées par le secret de la
            défense nationale ou équivalent, ou de niveau diffusion restreinte
            (IGI 1300 relative au secret de la défense nationale, l'IGI 2102
            relatives aux informations ou supports classifiés de l'Union
            européenne, l'IGI 2100 relative à la protection des supports
            classifiés dans le cadre de l'OTAN, l'IGI 901 définissant les
            règles relatives à la protection des informations sensibles et à
            diffusion restreinte).

        p.
          Ces services et l'ensemble des systèmes d'information non couverts
          par MonServiceSécurisé doivent être homologués conformément à la
          méthode d'homologation de sécurité de l'ANSSI décrite dans :

        ul
          li
            a(href = 'https://www.ssi.gouv.fr/actualite/lhomologation-en-9-etapes-simples-nouvelle-publication-de-lanssi/').
              le Guide de l'homologation en 9 étapes
          li
            a(href = "https://www.ssi.gouv.fr/uploads/2018/11/guide-securite-numerique-agile-anssi-pa-v1.pdf").
              le Guide Agilité et sécurité numérique adapté aux projets
              agiles

      section
        h2#prestas.
          Quelles aides sont disponibles pour la réalisation d'une homologation
          de sécurité ?

        p.
          Plusieurs catégories de prestataires et d'outils peuvent aider à la
          réalisation d'une homologation de sécurité, en particulier en vue de
          réaliser une démarche d'homologation approfondie.

        ul.conseils-commentes
          li.
           Utiliser un outils d'analyse de risque labellisé Ebios Risk Manager
           par l'ANSSI
          p.
           Il est possible d'utiliser des outils logiciels pour réaliser une
           analyse de risque : plusieurs solutions existent sur le marché et
           sont conformes à la démarche EBIOS Risk Manager. <a href="https://www.ssi.gouv.fr/entreprise/management-du-risque/la-methode-ebios-risk-manager/label-ebios-risk-manager-des-outils-pour-faciliter-le-management-du-risque-numerique/">En savoir plus</a>
          li.
            Faire appel à un prestataire d'accompagnement et de conseil en
            sécurité des systèmes d'information qualifié par l'ANSSI
          p.
            Des prestataires d'accompagnement et de conseil en sécurité des
            systèmes d'information (PACS), actuellement en cours de qualification
            peuvent accompagner la démarche d'homologation et la réalisation
            d'une analyse des risques.
          li.
            Faire appel à un prestataire d'audit de sécurité qualifié par
            l'ANSSI
          p.
           Des prestataires d'audit de sécurité labellisés (PASSI) accompagnent
           dans l'audit approfondi des systèmes d'information. L'audit peut
           inclure un audit de configuration, de code, la réalisation de test
           d'intrusion, etc. <a href="https://www.ssi.gouv.fr/entreprise/qualifications/prestataires-de-services-de-confiance-qualifies/prestataires-daudit-de-la-securite-des-systemes-dinformation-passi-qualifies/">En savoir plus</a>
          li.
            Faire appel à un prestataire de campagne de recherche de bugs (bug bounty).

      section
        h2#indice-cyber.
          Que signifie et comment est calculé l'indice cyber ?

        p: +descriptionIndiceCyber()
        p Cet indice K est calculé selon la formule suivante.

        figure(title = "formule de calcul de l'indice cyber")!= formuleIndiceCyber

        p … avec
        ul
          li <i>i<sub>c</sub></i> le nombre de mesures indispensables cochées « faites » pour la catégorie
          li <i>I<sub>c</sub></i> le nombre total de mesures indispensables proposées pour la catégorie
          li <i>r<sub>c</sub></i> le nombre de mesures recommandées cochées « faites » pour la catégorie
          li <i>R<sub>c</sub></i> le nombre total de mesures recommandées proposées pour la catégorie
          li <i>n<sub>c</sub></i> le nombre total de mesures proposées pour la catégorie (indispensables et recommandées)
          li <i>N</i> le nombre total de mesures proposées pour le service (toutes catégories confondues)
        p.
          Cette formule exprime les règles suivantes.
        ul
          li.
            Seules les mesures de sécurité cochées « faites » sont prises en
            compte dans le calcul de l'indice pour un service.
          li.
            L'indice est calculé à partir de la totalité des mesures de
            sécurité proposées par l'ANSSI pour le service.
          li.
            L'indice est d'abord calculé par catégorie (gouvernance,
            protection, défense, résilience) sur 5 points, sur la base du
            rapport entre les mesures cochées « faites » et le nombre total de
            mesures pour la catégorie.
          li.
            Les mesures marquées « indispensables » sont pondérées de manière à
            contribuer davantage que les mesures simplement recommandées.
            Le coefficient de pondération pour les mesures
            indispensables est de 0,6 et celui pour les mesures
            recommandées est de 0,4. Chaque mesure indispensable vaut en conséquence
            50% de plus qu'une mesure simplement recommandée.
          li.
            La prise en compte des mesures recommandées cochées « faites » dans
            le calcul de l'indice est proportionné à la mise en œuvre des
            mesures indispensables. Ainsi, si aucune mesure indispensable n'est
            cochée « faite » mais que toutes les mesures recommandées le sont,
            la note sera malgré tout de 0.
          li.
            L'indice global est calculé en réalisant une moyenne arithmétique
            pondérée des notes de chaque catégorie, chaque coefficient de
            pondération étant établi à partir du nombre de mesures contenues au
            sein de la catégorie correspondante.
        p.
          Cette note ne constitue pas une preuve du niveau de sécurité du
          service mais une évaluation indicative basée sur les déclarations de
          l'équipe de l'entité ayant référencé le service. MonServiceSécurisé
          et l'ANSSI ne peuvent en aucun cas être tenus responsables
          d'incidents de sécurité susceptibles d'affecter le service numérique,
          quelle que soit la note attribuée à ce dernier.

      .question
        p Vous avez une question ?
        a.bouton(href='mailto:contact@monservicesecurise.beta.gouv.fr').
          Nous contacter
