extends mssDeconnecte

block title
  title Sécurité | MonServiceSécurisé

block append styles
  link(href = '/statique/assets/styles/documentation.css', rel = 'stylesheet')

block main
  .marges-fixes
    .documentation
      h1 Sécurité

      p.
        L'ANSSI soumet MonServiceSécurisé à un rythme d'homologation soutenu (tous les 6 mois) dans le cadre d'une démarche de renforcement continue de la sécurité du service numérique.
        En 2023, MonServiceSécurisé a fait l'objet d'une analyse de risques EBIOS Risk Manager et d'un audit de sécurité approfondi par un prestataire qualifié par l'ANSSI (PASSI).
      p
      | MonServiceSécurisé est hébergé chez&nbsp;
      a(href="https://scalingo.com/" rel="noopener" target="_blank") Scalingo
      | &nbsp;prenant appui sur le Cloud 3DS d'Outscale qualifié SecNumCloud.

      img#tampon-homologation(src="/statique/assets/images/tamponHomologation.png" alt="Tampon d'homologation de MonServiceSécurisé")
