extends mssDocumentation
block variables
  - const meta_description = 'Découvrez les mesures que MonServiceSécurisé met en place pour assurer la sécurité de vos données.'
  - const titrePage = 'Sécurité'

block contenu-documentation

  img#tampon-homologation(src="/statique/assets/images/tamponHomologation.png" alt="Tampon d'homologation de MonServiceSécurisé")

  h2
  
  p
  | MonServiceSécurisé est hébergé chez&nbsp;
  a(href="https://www.clever-cloud.com/" rel="noopener" target="_blank") Clever Cloud
  | &nbsp;prenant appui sur&nbsp;
  a(href="https://www.cloud-temple.com/notre-approche-secnumcloud/" rel="noopener" target="_blank") Cloud Temple
  | &nbsp;qualifié SecNumCloud.

  p.
    L'ANSSI soumet MonServiceSécurisé à un rythme d'homologation soutenu dans le cadre d'une démarche de renforcement
    continu de la sécurité du service numérique, dont plusieurs éléments clés mais non exhaustifs sont résumés ci-dessous.

  h2 Gouvernance

  p Nous auditons régulièrement nos fournisseurs en termes de configuration et d'architecture et maintenons un contact étroit avec eux pour améliorer en continu leur sécurité et donc celle de vos données.

  p Nous auditions également régulièrement nos services (audits de code et tests d'intrusion) par des prestataires qualifiés (PASSI).

  p Nous réalisons et tenons à jour une analyse de risques de nos services en prenant appui sur la méthode EBIOS Risk Manager.

  p Nous maintenons une classification de l'ensemble des données que nous conservons, selon leur sensibilité, afin d'assurer une protection adaptée.

  p Nous maintenons un dossier d’architecture technique détaillé de nos services et de leurs interconnexions.

  p Les membres de nos équipes sont sensibilisés aux bonnes pratiques de sécurité, quels que soient les profils (technique, produit, design, déploiement), au travers de formations en continu ou de la réalisation de campagnes anti-phishing.

  h2 Protection

  p Vos données sont protégées par un chiffrement multi-couches, système et applicatif.

  p Chaque membre de notre équipe est équipé de clés d'authentification matérielle et l’authentification multi-facteur est généralisée à tous les accès, permettant de mettre en œuvre une authentification forte sur l'ensemble de nos services.

  p Nous limitons les accès au strict nécessaire et cloisonnons de façon rigoureuse les activités d'administration, en particulier au niveau technique&nbsp;: utilisation de comptes dédiés et séparés selon leurs usages&nbsp;; postes d'administration durcis et réservés à ce seul usage&nbsp;; clés d’authentification nominatives.

  p Nous n’installons et n’utilisons que les applications strictement nécessaires.

  p Les droits des administrateurs techniques et métiers sont restreints au strict nécessaire.

  h2 Défense

  p La sécurité de nos services est surveillée en permanence à plusieurs niveaux.

  p L'ensemble des actions est historisé de façon nominative pour simplifier l'analyse en cas d'incident.

  p Nous mettons en œuvre et testons régulièrement notre procédure de gestion des incidents de sécurité.

  h2 Résilience

  p Vos données sont sauvegardées de façon sécurisée et pérenne sur un environnement totalement séparé de la plate-forme de production.

  p En cas d'incident majeur, nous sommes capables de reconstruire totalement l'application en production dans un délai très court.