extends mssDocumentation
block variables
  - const meta_description = 'Découvrez les mesures que MonServiceSécurisé met en place pour assurer la sécurité de vos données.'
  - const titrePage = 'Sécurité'

block contenu-documentation
  p
  | MonServiceSécurisé est hébergé chez&nbsp;
  a(href="https://www.clever-cloud.com/" rel="noopener" target="_blank") Clever Cloud
  | &nbsp;prenant appui sur&nbsp;
  a(href="https://www.cloud-temple.com/notre-approche-secnumcloud/" rel="noopener" target="_blank") Cloud Temple
  | &nbsp;qualifié SecNumCloud.

  p.
    L'ANSSI soumet MonServiceSécurisé à un rythme d'homologation soutenu (tous les ans) dans le cadre d'une démarche de renforcement
    continu de la sécurité du service numérique.
    Pour protéger vos données, nous mettons en œuvre des mesures sur les 4 grands axes de sécurité&nbsp;:
    gouvernance&nbsp;; protection&nbsp;; défense&nbsp;; résilience.

  h1 Gouvernance

  p Nous auditons régulièrement nos fournisseurs en termes d'organisation et d'architecture, et maintenons un contact étroit pour améliorer en continu leur sécurité, et donc celle de vos données.

  p Nous faisons auditer régulièrement nos propres solutions (audits de code et tests d'intrusion par des prestataires qualifiés PASSI). Nous menons des analyses de risques EBIOS Risk Manager.

  p Nous maintenons une classification de l'ensemble des données que nous conservons, selon leur sensibilité, afin d'assurer une protection adaptée.

  p Nos équipes sont sensibilisées en continu, quels que soient les profils : techniques, produit, design... (formations, campagnes anti-phishing, ...)

  h1 Protection

  p Vos données sont protégées par un chiffrement multi-niveaux, système et applicatif.

  p Chaque membre de notre équipe est équipé de clés d'authentification matérielles, permettant de mettre en œuvre une authentification forte sur l'ensemble de nos services.

  p Nous limitons les accès au strict nécessaire et cloisonnons de façon rigoureuse les activités d'administration des autres activités&nbsp;: utilisation de comptes dédiés&nbsp;; postes d'administration durcis et réservés à ce seul usage.

  h1 Défense

  p
  | La sécurité de nos services est surveillée en permanence (détection de défiguration et scans du&nbsp;
  a(href="https://www.cert.ssi.gouv.fr/scans/" rel="noopener" target="_blank") CERT-FR
  | , scan de vulnérabilités&nbsp;
  a(href="https://cyberwatch.fr") cyberwatch
  |).

  p L'ensemble des actions est historisé de façon nominative pour simplifier l'analyse en cas d'incident.

  p Nous mettons en œuvre une procédure de gestion des incidents de sécurité.

  h1 Résilience

  p Vos données sont sauvegardées de façon sécurisée et pérenne sur un environnement totalement séparé de la plate-forme de production.

  p En cas d'incident majeur, nous sommes capables de reconstruire totalement l'application en production dans un délai très court.

  p Nous reposons sur des solutions souveraines et, lorsque c'est possible, certifiées SecNumCloud.

  img#tampon-homologation(src="/statique/assets/images/tamponHomologation.png" alt="Tampon d'homologation de MonServiceSécurisé")
