extends mssDocumentation
block variables
  - const meta_description = 'Découvrez les mesures que MonServiceSécurisé met en place pour assurer la sécurité de vos données.'
  - const titrePage = 'Sécurité'

block contenu-documentation
  .conteneur-image
    img#tampon-homologation-mobile(src="/statique/assets/images/encartHomologation.mobile.png" alt="Tampon d'homologation de MonServiceSécurisé")
    img#tampon-homologation-tablette(src="/statique/assets/images/encartHomologation.tablette.png" alt="Tampon d'homologation de MonServiceSécurisé")
    img#tampon-homologation-desktop(src="/statique/assets/images/encartHomologation.desktop.png" alt="Tampon d'homologation de MonServiceSécurisé")

  dsfr-transcription(id="transcription-tampon-homologation", fullscreen="Agrandir", fullscreen-aria-label="Agrandir la transcription")
    p Homologation : MonServiceSécurisé
    p Organisation responsable : Agence Nationale de la Sécurité des systèmes d'information (ANSSI)
    p Date d'homologation : 17/03/2025
    p Durée et échéance de l'homologation : 1 an | 17/03/2026

  lab-anssi-resume-pssi(nomService="MonServiceSécurisé")