extends mssDeconnecte

block append styles
  link(href='/statique/assets/styles/statistiques.css', rel='stylesheet')

block main
  .marges-fixes
    h1 Statistiques

    iframe(
      src=`${new URL(
              `/public/dashboard/${process.env.STATISTIQUES_ID_DASHBOARD_METABASE}#titled=false&bordered=false&theme=transparent`,
              process.env.STATISTIQUES_DOMAINE_METABASE_MSS
            ).toString()}`
      sandbox="allow-scripts allow-same-origin"
    )
