extends mssDeconnecte

block append styles
  link(href='/statique/assets/styles/statistiques.css', rel='stylesheet')

block main
  script(src='https://cdn.jsdelivr.net/npm/chart.js@^3')
  script(src='https://cdn.jsdelivr.net/npm/moment@^2')
  script(src='https://cdn.jsdelivr.net/npm/moment/locale/fr.js')
  script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1')

  .marges-fixes
    h1 Statistiques

    canvas(id = 'utilisateursEtDossiers')
    canvas(id = 'pourcentageUtilisateursEnPlus')

  script(type = 'module', src = '/statique/statistiques.js')
