extends mssDeconnecte
include ./fragments/navigationSiteVitrine

block variables
  - const meta_description = "Découvrez les statistiques d'utilisation de MonServiceSécurisé et l'impact généré sur les services numériques qui utilisent le produit."

block title
  title Statistiques | MonServiceSécurisé

block append styles
  link(href='/statique/assets/styles/entete.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/piedPage.responsive.css', rel='stylesheet')
  link(href='/statique/assets/styles/statistiques.css', rel='stylesheet')

block navigation-site-vitrine
  +navigationSiteVitrine()


mixin uneCarteDeStats(illustration, chiffre, label, evolution)
  .carte
    img(src=`/statique/assets/images/${illustration}.svg`)
    .chiffre #{chiffre}
    .label #{label}
    .evolution #{evolution} depuis 1 an


block main
  .bandeau
    .fil-ariane
      a(href='/') Accueil
      img(src='/statique/assets/images/forme_chevron_blanc.svg')
      span Nos statistiques
    h1 Nos statistiques
    h2 L'impact de MonServiceSécurisé en quelques chiffres

  .statistiques
    .cartes
      - const chiffres = new Intl.NumberFormat('fr-FR')
      +uneCarteDeStats('avatar', chiffres.format(3000), 'Utilisateurs inscrits', '+30%')
      +uneCarteDeStats('navigateur', chiffres.format(5500), 'Services sécurisés', '+32%')
      +uneCarteDeStats('data_viz', '+ 60%', "Évolution de l'indice cyber", '+32%')
      +uneCarteDeStats('connexion_perdue', chiffres.format(60000), "Vulnérabilités corrigées", '+32%')
