extends mssConnecte

block variables
  - const ongletActif = "admin-supervision"

block append scripts
  +composantSvelte('supervision.js')
  +donneesPartagees('referentiel-options-filtrage-date', referentiel.optionsFiltrageDate())
  +donneesPartagees('entites-supervisees', entitesSupervisees)
  script(type = 'module', src = '/statique/supervision.mjs')

block main
  #conteneur-supervision