extends mssConnecte

block append styles
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')

block append scripts
  +composantSvelte('tableauDeBord.js')
  +donneesPartagees('utilisateur-superviseur', {estSuperviseur})
  script(type = 'module', src = '/statique/tableauDeBord-v2.mjs')

block main
  #tableau-de-bord