extends mssConnecte

block append styles
  link(href = '/statique/assets/styles/tiroir.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/selectize.css', rel = 'stylesheet')

block append scripts
  +composantSvelte('tableauDeBord.js')
  +composantSvelte('explicationNouveauReferentiel.js')
  +donneesPartagees('utilisateur-superviseur', {estSuperviseur})
  +donneesPartagees('avec-promotion-de-msc', featureFlags.avecBandeauMSC)
  +donneesPartagees('avec-decrire-v2', featureFlags.avecDecrireV2)
  +donneesPartagees('donnees-explication-nouveau-referentiel', explicationNouveauReferentiel)
  script(type = 'module', src = '/statique/tableauDeBord.mjs')

block main
  #tableau-de-bord
  #rapport-televersement
  #explication-nouveau-referentiel