extends ../mssConnecte

include ../fragments/utilisateur/nouveauMotDePasse
include ../fragments/utilisateur/questionCgu

block append styles
  link(href = '/statique/assets/styles/filAriane.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block retour
  nav.fil-ariane
    a.avec-chevron(href = '/espacePersonnel') Espace personnel
    div Changez votre mot de passe

block main
  form.etroit.mot-de-passe#edition
    h1 Changez votre mot de passe

    section
      +nouveauMotDePasse
      if !utilisateur.accepteCGU()
        +questionCgu

    button(type = 'submit').bouton Valider

  script(type = 'module', src = '/statique/motDePasse/edition.js')
