extends ../mssConnecte

include ../fragments/utilisateur/questionCgu

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')
  link(href = '/statique/assets/styles/modules/validation.css', rel = 'stylesheet')

block header-gauche
  .conteneur-logo
    a.logo-mss(href='/tableauDeBord')
  .titre-page
    if afficheChallengeMotDePasse
      h3 Changez votre mot de passe
    else
      h3 Créez votre mot de passe
    .retour-tableau-de-bord
      a(href='/tableauDeBord') Retour au tableau de bord

block main
  form.etroit.mot-de-passe#edition
    .mention champ obligatoire
    section
      div Le mot de passe doit comporter <b>12 caractères mininum</b> contenant au moins :
        ul
          li 1 majuscule
          li 1 minuscule
          li 1 chiffre
          li 1 caractère spécial parmi #?!@$%^&*-'+_()[]

      .conseil.
        Évitez d'utiliser des mots du dictionnaire, des suites de lettres, des suites de chiffres,
        des dates, des informations personnelles (ex : nom, prénom, date de naissance).

      if afficheChallengeMotDePasse
        label.requis Mot de passe actuel
          input(id='mot-de-passe-challenge', name = 'motDePasseChallenge', type='password', required)
          .message-erreur-specifique Le mot de passe actuel saisi est incorrect

      label.requis Nouveau mot de passe
        input(id='mot-de-passe', name = 'motDePasse', type='password', required)
        .message-erreur Le mot de passe n'est pas assez robuste

      label.requis Confirmez mot de passe
        input(id='mot-de-passe-confirmation', name = 'motDePasseConfirmation', type='password', required)
        .message-erreur Les deux mots de passe sont différents

      if !utilisateur.accepteCGU()
        +questionCgu

    button(type = 'submit').bouton Valider

  script(type = 'module', src = '/statique/motDePasse/brancheValidationMotDePasse.js')
  script(type = 'module', src = '/statique/motDePasse/edition.js')
  script(id = 'challenge-mot-de-passe', type = 'application/json').
    !{JSON.stringify({ afficheChallengeMotDePasse })}
