.onglet-mesures h2 {
  color: #2b8564;
}

.onglet-mesures .item-selectionnable, .onglet-mesures .item-selectionne {
  border: solid 1px #2b8564;
}

.onglet-mesures .item-selectionne {
  margin-bottom: 130px;
}

.onglet-mesures input[type="submit"] {
  background: #2b8564;
}

.onglet-mesures textarea {
  border: #2b8564 solid 1px;
  background: #2b856410;
  width: auto;
}

.grille-details-mesure {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 5px;

  position: relative;
  top: -13px;
  left: 40px;

  width: 91.1%;
  box-sizing: border-box;
}

.liste-mesures-selectionnees {
  background: red;
}

.risques-pour-mesure {
  background: white;
  border: dashed 1px #2b8564;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

