.onglet-risques h2 {
  color: #df7116;
}

.onglet-risques .item-selectionnable, .onglet-risques .item-selectionne {
  border: solid 1px #df7116;
}

.onglet-risques .item-selectionne {
  margin-bottom: 110px;
}

.onglet-risques input[type="submit"] {
  background: #df7116;
}

.onglet-risques textarea {
  border: #df7116 solid 1px;
  background: #df711610;
}

.contexte-menace {
  position: relative;

  top: -13px;
  left: 40px;
  width: 88%;

  color: #df7116;
}
