body {
  width: 900px;
  margin: 0 auto;
  font-family: "Marianne";
  background: #f9f9f9;
  padding: 0;
}

textarea {
  font-family: inherit;
  font-size: 1em;

  box-sizing: border-box;
  width: 100%;
  height: 2em;
  resize: none;
}

.invisible {
  display: none;
}

.grille-items-selectionnables {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 5px;
}

.grille-items-selectionnables input[type="submit"] {
  border: none;
  margin: -0.5em;
  padding: 0.45em 0.65em;

  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.items-selectionnables, .items-selectionnes {
  padding: 0.5em;
}

.items-selectionnes {
  border: solid 1px #bbb;
  background: white;
}

.item-selectionnable, .item-selectionne {
  background: white;
  padding: 0.5em;
  margin: 0.5em 0 0;

  position: relative;
}

.ajoute-item {
  float: right;
}

.details-item {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;

  position: absolute;
}

.grille-risques {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}

.risque, .mesures-associees {
  padding: 0.5em;
  background: #ccc;
}

.fleche {
  width: 40px;
  height: 40px;
  background: url(images/fleche.png) 0 0 no-repeat;

  position: absolute;
}

