.piedpage {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1cm 3mm 1cm;
  font-size: 8px;
}

.piedpage .mss {
  color: #08416A;
}

.piedpage .pagination {
  display: flex
}

:is(.piedpage .pageNumber, .piedpage .totalPages) {
  margin-left: 1px;
  margin-right: 1px;
}
