.police-marianne {
  font-family: 'Marianne';
  font-weight: normal;
  font-size: 1px;
}

.police-marianne-moyen {
  font-family: 'Marianne';
  font-weight: 500;
  font-size: 1px;
}

.police-marianne-gras {
  font-family: 'Marianne';
  font-weight: bold;
  font-size: 1px;
}

html {
  /* On utilise ces règles CSS pour assurer un rendu correct des images et graphiques */
  /* https://github.com/puppeteer/puppeteer/issues/2685#issuecomment-643573422 */
  -webkit-print-color-adjust: exact !important;
  -webkit-filter: opacity(1) !important;
}

body {
  font-family: 'Marianne';
  font-size: 12px;
}

p {
  margin: 0;
}

.bloc-indivisible {
  break-inside: avoid;
}

.saut-page {
  page-break-after: always;
}

.boite-grise {
  width: 100%;
  border-collapse: collapse;
}

.boite-grise th {
  text-align: left;
  padding: 0;
}

.boite-grise .decalage-titre {
  height: 30px;
}

.boite-grise .titre,
.synthese-securite fieldset legend {
  display: inline-block;
  background: #EFEFEF;
  color: #08416A;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px 12px;
  margin-left: 16px;
  border: 1px solid #B5C1D2;
}

.boite-grise .titre p,
.synthese-securite fieldset legend p {
  transform: translateY(-2px);
}

.boite-grise .bordure-titre {
  border: 1px #B5C1D2 solid;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 11px;
  margin: -11px 0 0 0;
  padding-bottom: 24px;
}

.boite-grise tbody td {
  padding: 0;
}

.boite-grise .contenu {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 24px;
  margin-top: -16px;
  border: 1px #B5C1D2 solid;
  border-top: none;
  border-bottom: none;
}

.boite-grise .bordure-pied-table {
  border: 1px #B5C1D2 solid;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 10px;
  margin-top: -4px;
}

.boite-grise ul {
  list-style: none;
  padding-left: 0;
}

.boite-grise ul.liste-puce li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.boite-grise ul.liste-puce li::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--point-bleu);
  transform: translateY(2px) scale(0.4);
  flex-shrink: 0;
}

.boite-grise ul.liste-puce li.etoile::before {
  background-image: var(--etoile-orange);
  transform: scale(0.8);
}

.categorie-mesures {
  text-transform: uppercase;
  color: #08416A;
  background: #E4EFFF;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  padding: 2px 8px;
  margin: 8px 0 0;
}

.mesure-description {
  font-weight: 500;
}

.mesure-modalite {
  color: #667892;
}

.non-renseignees div {
  padding: 8px 0 0 0;
}

.contenu-niveau {
  margin-left: 8px;
}

.niveau {
  color: #08416A;
}

.rond {
  width: 8px;
  height: 8px;
  margin-right: 2px;
  border-radius: 50%;
  display: inline-block;
}

.rond.gris {
  background: #CECECE;
}

.rond.rouge {
  background: #E32630;
}

.rond.orange {
  background: #FF9940;
}

.rond.jaune {
  background: #FCDF41;
}

.rond.vert {
  background: #4CB963;
}

.risques hr {
  border: none;
  border-bottom: 1px solid #B5C1D2;
}

.risques hr:last-of-type {
  display: none;
}

.bloc-risque {
  display: grid;
  grid-template-columns: 78px auto;
  padding: 8px 0;
}

.contenu-risque .definition {
  margin-top: 8px;
}

.contenu-risque .description {
  font-weight: bold;
}

.contenu-risque .commentaire {
  color: #64748B;
  margin-top: 18px;
}

.avis .collaborateurs {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.avis .collaborateurs img {
  content: var(--collaborateurs);
  width: 40px;
  height: 40px;
  margin-right: 4px;
  transform: translateY(2px);
  flex-shrink: 0;
}

.avis .statut {
  margin: 8px 0;
}

.avis .statut span {
  font-weight: bold;
  color: #0F7AC7;
  font-size: 13px;
}

.avis .commentaire::before {
  content: 'Commentaire : ';
  font-weight: bold;
  color: #8A8A8A;
}

.documents ul {
  list-style: disc;
  padding-left: 2em;
}

.recommandation-anssi {
  color: #0C5C98;
}

.recommandation-anssi tbody,
.recommandation-anssi tfoot,
.recommandation-anssi .bordure-titre {
  background: #EFF6FF;
}

.recommandation-anssi .note,
.recommandation-anssi .recommandation {
  font-weight: bold;
}

.recommandation-anssi .note {
  margin-top: 1em;
}

.recommandation-anssi .complement {
  margin: 1em 0;
}

:is(.dossier-decision, .synthese-securite) {
  padding-top: 16px;
}

:is(.dossier-decision, .synthese-securite) h1 {
  text-transform: uppercase;
  font-size: 14px;
}

:is(.dossier-decision, .synthese-securite) .separateur {
  width: 30px;
  height: 1px;
  background-color: black;
  border-radius: 20px;
}

:is(.dossier-decision, .synthese-securite) h2 {
  color: #5E5E5E;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-top: 16px;
}

:is(.dossier-decision, .synthese-securite) h3 {
  color: #08416A;
  font-weight: 500;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 64px;
}

.dossier-decision .bloc-bordure {
  padding: 0.5cm;
  border: 1px solid #B5C1D2;
  border-radius: 4px;
}

.dossier-decision h4 {
  margin: 0;
  font-size: 14px;
}

.dossier-decision .autorite {
  color: #0C5C98;
}

.dossier-decision ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  margin-bottom: 32px;
}

.dossier-decision li {
  counter-increment: item;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.dossier-decision li:before {
  content: counter(item);
  background: #EFEFEF;
  border-radius: 2px;
  width: 24px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding: 0;
  font-weight: bold;
}

.dossier-decision .duree-validite {
  margin-top: 16px;
}

.dossier-decision .duree-validite .label {
  font-weight: bold;
  display: flex;
}

.dossier-decision .discret {
  font-weight: 400;
  color: #5E5E5E;
}

.dossier-decision .durees {
  display: flex;
  justify-content: space-between;
  width: 7cm;
  margin-left: 0.5cm;
}

.dossier-decision .durees span::before {
  content: '';
  border: 1px solid #5E5E5E;
  display: inline-block;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  transform: translateY(2px);
}

.dossier-decision .bloc-bordure.commentaires,
.dossier-decision .bloc-bordure.date-signature {
  padding: 2mm;
  margin-top: 16px;
  font-weight: bold;
}

.dossier-decision .bloc-bordure.commentaires {
  height: 6cm;
}

.dossier-decision .bloc-bordure.date-signature {
  height: 2.5cm;
}

.dossier-decision .bloc-bordure.date-signature .label {
  margin-bottom: 8px;
}

.dossier-decision .conteneur-rgs-rgpd {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.dossier-decision .conteneur-images {
  display: flex;
  gap: 8px;
}

.dossier-decision .icone-rgs,
.dossier-decision .icone-rgpd {
  width: 46px;
}

.dossier-decision .icone-rgs {
  content: var(--icone-rgs);
}

.dossier-decision .icone-rgpd {
  content: var(--icone-rgpd);
}

.dossier-decision .conteneur-texte {
  font-weight: bold;
  font-size: 9px;
}

.dossier-decision .conteneur-responsabilite {
  font-size: 9px;
  font-weight: 500;
  color: #5E5E5E;
  margin-top: 16px;
}

.synthese-securite h3 {
  margin-bottom: 32px;
}

.synthese-securite .conteneur {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 1.5em;
}

.synthese-securite fieldset {
  border: 1px #B5C1D2 solid;
  border-radius: 10px;
}

.synthese-securite fieldset .contenu {
  padding-left: 1em;
}

.synthese-securite .resume :is(dt, dd) {
  display: inline;
  font-size: 11px;
}

.synthese-securite .resume dl {
  margin: 0.3em 0;
}

.synthese-securite .resume dt,
.synthese-securite .indices-par-categories .titre {
  color: #8A8A8A;
  font-weight: 700;
}

.synthese-securite .resume dd {
  margin-left: 0.25em;
  font-weight: 500;
}

.synthese-securite .localisation-donnees.france::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: var(--vignette-drapeau-france);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin-right: 3px;
  transform: translateY(4px);
}

.synthese-securite .indice-cyber {
  margin-top: 0.9em;
}

:root {
  --largeur-logo: 100px;
  --rayon-logo: calc(var(--largeur-logo) / 2);
  --decalage-general-top: calc(var(--largeur-logo) / 5 * -1);
  --largeur-disque: 60px;
  --rayon-disque: calc(var(--largeur-disque) / 2);
  --decalage-disque-top: calc(var(--rayon-logo) - var(--rayon-disque) + var(--decalage-general-top));
  --largeur-curseur: 16px;
  --decalage-curseur-top: calc(var(--decalage-disque-top) + var(--rayon-disque) - var(--largeur-curseur) / 2);
  --translation-curseur-sur-disque: calc(var(--rayon-disque) * -1 - var(--largeur-curseur) / 3);
  --taille-note: 24px;
  --taille-note-max: 14px;
  --decalage-note-top: calc(var(--decalage-disque-top) + var(--taille-note) - var(--taille-note) / 2)
}

.synthese-securite .indice-cyber .logo-indice-cyber img.logo {
  content: var(--logo-indice-cyber);
  width: var(--largeur-logo);
}

.synthese-securite .logo-indice-cyber {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.synthese-securite .logo-indice-cyber>* {
  position: absolute;
  top: var(--decalage-general-top);
}

.synthese-securite .logo-indice-cyber .disque {
  top: var(--decalage-disque-top);
  width: var(--largeur-disque);
  height: var(--largeur-disque);
  border-radius: 50%;
}

.synthese-securite .couleur-indice-cyber-0 {
  background: #9926be;
}

.synthese-securite .couleur-indice-cyber-1 {
  background: #7025da;
}

.synthese-securite .couleur-indice-cyber-2 {
  background: #3352b0;
}

.synthese-securite .couleur-indice-cyber-3 {
  background: #46a0e6;
}

.synthese-securite .couleur-indice-cyber-4 {
  background: radial-gradient(#cecece, #9cacb5);
}

.synthese-securite .couleur-indice-cyber-5 {
  background: radial-gradient(#f4cd5e, #d6aa23);
}

.synthese-securite .logo-indice-cyber .curseur {
  width: var(--largeur-curseur);
  height: var(--largeur-curseur);
  background-image: var(--curseur-gris);
  background-repeat: no-repeat;
  background-size: 100%;
  top: var(--decalage-curseur-top);
}

.synthese-securite .curseur.position-0 {
  transform: rotate(15deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .curseur.position-1 {
  transform: rotate(50deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .curseur.position-2 {
  transform: rotate(86deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .curseur.position-3 {
  transform: rotate(122deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .curseur.position-4 {
  transform: rotate(157deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .curseur.position-5 {
  transform: rotate(180deg) translateX(var(--translation-curseur-sur-disque))
}

.synthese-securite .logo-indice-cyber :is(.note, .note-max) {
  color: #fff;
}

.synthese-securite .conteneur-note {
  display: flex;
  align-items: flex-end;
  top: var(--decalage-note-top);
}

.synthese-securite .logo-indice-cyber .note {
  font-weight: bold;
  font-size: var(--taille-note);
  line-height: var(--taille-note);
}

.synthese-securite .logo-indice-cyber .note-max {
  font-size: var(--taille-note-max);
  line-height: var(--taille-note-max);
  transform: translateY(calc(var(--taille-note-max) / 2));
}

.synthese-securite .indices-par-categories {
  display: flex;
  column-gap: 1em;
  margin-top: 8em;
}

.synthese-securite .indices-par-categories .titre {
  margin: 0;
}

.synthese-securite .categories {
  color: #08416A;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.synthese-securite .indice-cyber-categorie {
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
}

.synthese-securite .note {
  color: #0F7AC7;
}

.synthese-securite :is(.mesures-securite, .graphiques, .conteneur-pied-page, .total) {
  grid-column: 1 / 3;
}

.synthese-securite .mesures-securite .type {
  font-weight: 500;
  margin-top: 1em;
}

.synthese-securite :is(.mesures-par-criticite, .mesures-par-categorie) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin-top: 1em;
}

.synthese-securite :is(.mesures-par-criticite, .mesures-par-categorie) .conteneur {
  background: #F0F0F0;
}

.synthese-securite .mesures-par-criticite .indispensables {
  border-top-left-radius: 10px;
}

.synthese-securite .mesures-par-criticite .recommandees {
  border-top-right-radius: 10px;
}

.synthese-securite :is(.mesures-par-criticite, .mesures-par-categorie) .total {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.synthese-securite .mesures-par-categorie .graphiques {
  display: flex;
  column-gap: 2em;
  padding: 0 2em 2em 2em;
  border-radius: 10px 10px 0 0;
}

.synthese-securite .mesures-par-criticite {
  margin-bottom: 1.5em;
}

.synthese-securite .mesures-par-categorie {
  padding-bottom: 1em;
}

.synthese-securite .mesures-par-criticite .conteneur:not(.total) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.synthese-securite .titre {
  color: #08416A;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.synthese-securite .mesures-par-criticite .indispensables .titre::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 0.2em;
  background-image: var(--etoile-orange);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(2px);
}

.synthese-securite .statistiques-mesures .details {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
  padding-bottom: 2em;
}

.synthese-securite .statistiques-mesures .graphique-camemberts {
  width: 10em;
  height: 10em;
  position: relative;
}

.synthese-securite .statistiques-mesures .camembert {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.synthese-securite .statistiques-mesures .camembert.masque-reste-a-faire {
  background: #F0F0F0;
  transform: scale(1.05);
}

.synthese-securite .statistiques-mesures .camembert.bordure-reste-a-faire {
  transform: scale(1.08);
}

.synthese-securite .graphique-camemberts .chiffre {
  position: absolute;
  transform: translate(calc(5em - 50%), calc(5em - 50%));
  font-weight: bold;
}

.synthese-securite .graphique-camemberts .chiffre.en-cours {
  color: white;
}

.synthese-securite .graphique-camemberts .chiffre:is(.non-fait, .restant) {
  color: #08416A;
}

.synthese-securite .graphique-camemberts .chiffre.fait {
  font-weight: normal;
  color: white;
}

.synthese-securite .statistiques-mesures .fleche {
  width: 1em;
  height: 1.3em;
  background-image: var(--forme-fleche-bleue);
  background-size: contain;
  background-repeat: no-repeat;
}

.synthese-securite .statistiques-mesures .mesures-restantes {
  padding: 1em;
  border-radius: 0.5em;
  background-color: white;
  color: #5E5E5E;
  font-weight: bold;
  line-height: 1.1em;
  font-size: 11px;
}

.synthese-securite .statistiques-mesures .nombre-restantes {
  color: #0F7AC7;
}

.synthese-securite .total {
  display: flex;
  margin: 0;
  padding: 0.7em 1em;
  font-size: 10px;
}

.synthese-securite .total :is(.contenu, .legende) {
  flex: 1;
}

.synthese-securite .total .contenu {
  color: #5E5E5E;
  white-space: nowrap;
}

.synthese-securite .total .legende {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.synthese-securite .total .legende>*::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  margin-right: 0.5em;
  transform: translateY(2px);
}

.synthese-securite .legende-faites::before {
  background: #0a4c8c;
  border: solid 1px #0a4c8c;
}

.synthese-securite .legende-en-cours::before {
  background: #75a1e8;
  border: solid 1px #75a1e8;
}

.synthese-securite .legende-non-faites::before {
  background: #D0E0F6;
  border: solid 1px #D0E0F6;
}

.synthese-securite .legende-a-remplir::before {
  background: #fff;
  border: solid 1px #BBBBBB;
}

.synthese-securite .mesures-par-categorie .categorie {
  width: 100%;
}

.synthese-securite .mesures-par-categorie .graphique {
  display: flex;
}

.synthese-securite .mesures-par-categorie .graphique .statut {
  padding: 0.8em;
  margin-top: 1em;
  text-align: center;
}

.synthese-securite .mesures-par-categorie .graphique .statut:first-of-type {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.synthese-securite .mesures-par-categorie .graphique .statut:last-of-type {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.synthese-securite .mesures-par-categorie .graphique .faites {
  background-color: #0a4c8c;
  color: #fff;
}

.synthese-securite .mesures-par-categorie .graphique .en-cours {
  background-color: #75a1e8;
  color: #fff;
}

.synthese-securite .mesures-par-categorie .graphique .non-faites {
  background-color: #D0E0F6;
  color: #0a4c8c;
}

.synthese-securite .mesures-par-categorie .graphique .a-remplir {
  background-color: #fff;
  color: #0a4c8c;
}

.synthese-securite .conteneur-pied-page {
  color: #5E5E5E;
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 12px;
}
