html {
  font-family: 'Marianne';
  font-size: 12px;
}

.entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2mm;
  margin: 3mm 1cm 0 1cm;
  background-image: var(--dossier-entete);
}

.entete .illustration {
  width: 40px;
  height: 40px;
  content: var(--dossier-entete);
}

.entete h2 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.entete .sous-titre {
  font-size: 9px;
  color: #5E5E5E;
  font-weight: 500;
}

.entete img.indispensable {
  content: var(--etoile-orange);
  width: 10px;
  height: 10px;
  margin-left: 1px;
  transform: translateY(1px);
}

.piedpage {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1cm 3mm 1cm;
  font-size: 8px;
}

.piedpage .mss {
  color: #08416A;
  font-weight: bold;
}

.piedpage .pagination {
  display: flex
}

:is(.piedpage .pageNumber, .piedpage .totalPages) {
  margin-left: 1px;
  margin-right: 1px;
}
