.accessibilite {
  text-align: left;
  max-width: 990px;
  background: white;
  padding: 54px 100px;
  color: #08416a;
  margin-top: 48px;
  margin-bottom: 80px;
}

.accessibilite a {
  text-decoration: underline;
}
