.article {
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  padding: 56px 0;

  font-size: 16px;
}

.article h1 {
  color: var(--bleu-survol);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 0;
  padding: 24px 0;
}

.article h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
  padding: 32px 0 16px 0;
}

.article h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 8px 0;
}

.article h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
  padding: 4px 0;
}

.article p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 16px 0;
}

.article ul li {
  padding-bottom: 8px;
}

.article hr {
  border-bottom: 1px solid var(--liseres-fonce);
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 16px 0;
  padding: 16px 0;
}

.article video {
  width: 100%;
  border-radius: 10px;
}

.article .conteneur-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 16px 0 24px 0;
}

.article .conteneur-video p {
  font-style: italic;
  margin: 0;
}

.article img {
  width: 100%;
  margin: 0;
  padding: 16px 0 24px 0;
  border-radius: 10px;
}

.article .information,
.article .alerte,
.article .aide {
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: var(--bleu-survol);
  margin: 16px 0;
  font-size: 14px;
}

.article .information {
  border-left: 3px solid var(--bleu-mise-en-avant);
  background: var(--fond-bleu-pale);
}

.article .alerte {
  border-left: 3px solid #faa72c;
  background: var(--fond-ocre-pale);
}

.article .aide {
  background: #eff6ff;
  position: relative;
  padding-left: 80px;
}

.article .information:before,
.article .alerte:before {
  font-weight: bold;
  font-size: 16px;
}

.article .information:before {
  content: 'Information';
}

.article .alerte:before {
  content: 'Alerte';
}

.article .aide:before {
  content: '';
  display: inline;
  background-image: url('/statique/assets/images/icone_explication_tranche.svg');
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  left: 24px;
}

.article a.telechargement:after {
  content: '';
  background-image: url('/statique/assets/images/icone_exporter_service.svg');
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 8px;
}

main {
  gap: 64px;
}

main .marges-fixes {
  position: relative;
  margin: 0;
  width: unset;
}

.table-des-matieres {
  position: sticky;
  top: 32px;
  left: 64px;
  margin-top: 64px;
  max-width: 374px;
}

.contenu-tdm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  border-left: 1px solid var(--bleu-mise-en-avant);
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}

.table-des-matieres p {
  color: var(--texte-clair);
  font-weight: bold;
  line-height: 42px;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 16px;
}

.table-des-matieres a {
  text-decoration: none;
  color: var(--texte-fonce);
  opacity: 0.5;
}

.table-des-matieres a.actif {
  opacity: 1;
}

.table-des-matieres .niveau-3 {
  margin-left: 16px;
}

.table-des-matieres .niveau-4 {
  margin-left: 32px;
}

@media only screen and (max-width: 768px) {
  .table-des-matieres {
    display: none;
  }
}
