.bom {
  position: fixed;
  bottom: 2.6em;
  right: 2.5em;
  z-index: 10;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bom :is(.bom-titre) {
  cursor: pointer;
}

.bom .bom-titre {
  background-color: var(--bleu-mise-en-avant);
  border-radius: 20px;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  padding: 6px 19px;
}

.bom-titre::before {
  content: '';
  background: url('/statique/assets/images/icone_aide_point_interrogation.svg');
  width: 24px;
  height: 24px;
  display: flex;
}

.bom:hover .bom-titre {
  background-color: var(--bleu-survol);
}

.bom .bom-modale {
  display: none;
  background-color: #fff;
  border-radius: 1em;
  width: 316px;
  position: relative;
  background-clip: padding-box;
  border: solid 1px var(--liseres-fonce);
  padding-bottom: 12px;
}

.bom .bom-modale .bandeau-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  padding-left: 1.3em;
  border-radius: 1em 1em 0 0;
  color: #fff;
  text-align: left;
  background-color: var(--bleu-mise-en-avant);
}

.bom .bandeau-titre .bandeau-sous-titre {
  font-size: 1.5em;
  font-weight: bold;
}

.bom .bom-modale .contenu {
  text-align: left;
  padding: 1.7em 1.3em;
}

.bom .bom-modale .contenu p {
  margin: 0;
}

.bom .bom-modale .contenu ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 8px;
}

.bom .bom-modale .contenu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15em var(--liseres) solid;
  padding: 0.7em 0;
  cursor: pointer;
  font-weight: 500;
}

.bom .bom-modale .contenu a:last-of-type li {
  border-bottom: 0;
}

.bom .bom-modale .contenu li::after {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 1.7em;
  height: 1.7em;
  border-radius: 0.3em;
  background-image: url(../images/forme_chevron_blanc.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bleu-mise-en-avant);
}

.bom .bom-modale .contenu :is(a:hover, a:active) {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.bom .bom-modale .contenu a:hover {
  color: var(--bleu-survol);
}

.bom .bom-modale .contenu li:hover::after {
  background-color: var(--bleu-survol);
}

.bom .bom-modale .contenu a:active {
  color: var(--bleu-anssi);
}

.bom .bom-modale .contenu li:active::after {
  background-color: var(--bleu-anssi);
}

.bom .bom-modale .fermeture {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1.3em;
  gap: 8px;
  border: none;
  background: transparent;
  margin-left: auto;
}

.bom .bom-modale .fermeture::after {
  content: '';
  flex-shrink: 0;
  width: 1.7em;
  height: 1.7em;
  border-radius: 5px;
  border: 1px solid #667892;
  background-image: url(../images/icone_croix_grise.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.bom .bom-modale .fermeture p {
  margin: 0;
  text-align: right;
  color: #667892;
}
