.bouton {
  display: inline-block;

  margin: 2em;
  padding: 1em 3em;
  border-radius: 3px;
  background: var(--bleu-mise-en-avant);

  text-decoration: none;
  color: #fff;
}

.bouton:hover {
  opacity: .87;
  background-color: var(--bleu-mise-en-avant);

  cursor: pointer;
}

button.bouton {
  border: 0;

  font-family: 'Marianne';
  font-size: 1em;
}
