button {
  text-align: center;

  font-family: 'Marianne';
  font-size: 1em;
}

.bouton {
  display: inline-block;

  margin: 2em 0 2em auto;
  padding: 1em 3em;

  border: solid 1px var(--bleu-mise-en-avant);
  border-radius: 3px;

  background: var(--bleu-mise-en-avant);
  color: #fff;

  text-decoration: none;
}

.bouton:not(:disabled):hover {
  cursor: pointer;
  opacity: .87;
}

.bouton:disabled {
  background-color: var(--gris-inactif);
  border-color: var(--gris-inactif);
}

.bouton.occupe {
  background-color: var(--bleu-anssi);
  cursor: wait;
}
