.carte {
  box-sizing: border-box;
  padding: 1.7em;
  border-radius: 5px;

  background-color: #fff;

  text-align: left;
}

.carte h1 {
  display: inline;

  font-size: 0.9em;
  font-weight: 800;
  color: #08416a;
}

.carte h2 {
  margin-top: 0;

  font-size: 0.8em;
  font-weight: 500;
  color: var(--texte-clair);
}

.carte h3 {
  margin: 1.5em 0 0.5em;

  color: var(--bleu-anssi);
  font-size: 1em;
}

.carte h3 + p {
  margin-top: 0;
}

.carte dl {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.carte :is(dt, dd) {
  margin: 0;
}

.carte dd {
  font-family: 'Arial';

  padding-top: 0.2em;
  text-align: right;
}

.carte .details {
  margin-top: 2em;

  font-size: 0.8em;
}

.carte .plus-details,
.carte .moins-details {
  cursor: pointer;

  text-align: right;

  font-size: 0.8em;
  color: var(--bleu-mise-en-avant);
}

.carte .plus-details::after,
.carte .moins-details::after {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 1em;

  border: 2px var(--bleu-mise-en-avant) solid;
  transform: rotate(0.12turn);
}

.carte .moins-details::after {
  margin-bottom: -0.2em;

  border-bottom: 0;
  border-right: 0;
}

.carte .plus-details::after {
  margin-bottom: 0.2em;

  border-top: 0;
  border-left: 0;
}

.carte .details,
.carte .moins-details {
  display: none;
}

.carte .statut {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
  width: fit-content;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--gris-fonce);
  white-space: nowrap;
}

.carte .statut-non-homologue {
  background-color: var(--statut-non-homologue-arriere-plan);
}
.carte .statut-homologue {
  background-color: var(--statut-homologue-arriere-plan);
}

.carte .pastille {
  height: 1.5em;
}
.carte .statut-non-homologue .pastille {
  content: url(../images/icone_ko_pastille_rose.svg);
}
.carte .statut-homologue .pastille {
  content: url(../images/icone_ok_pastille_verte.svg);
}

.carte .dates-statut {
  color: #08416a;
}

.carte .statut-homologation::before {
  content: '';
  width: 1.6em;
  height: 1.6em;
  background-repeat: no-repeat;
  background-size: contain;
}

.carte .statut-homologation.aRealiser {
  background: #e9ddff;
}

.carte .statut-homologation.aRealiser::before {
  background-image: url('/statique/assets/images/icone_statut_homologation_aRealiser.svg');
}

.carte .statut-homologation.aFinaliser {
  background: #dbeeff;
}

.carte .statut-homologation.aFinaliser::before {
  background-image: url('/statique/assets/images/icone_statut_homologation_aFinaliser.svg');
}

.carte .statut-homologation.realisee {
  background: #d4f4db;
}

.carte .statut-homologation.realisee::before {
  background-image: url('/statique/assets/images/icone_statut_homologation_realisee.svg');
}

.carte .statut-homologation.bientotExpiree {
  background: #fff2de;
}

.carte .statut-homologation.bientotExpiree::before {
  background-image: url('/statique/assets/images/icone_statut_homologation_bientotExpiree.svg');
}

.carte .statut-homologation.expiree {
  background: #ffdfdf;
}

.carte .statut-homologation.expiree::before {
  background-image: url('/statique/assets/images/icone_statut_homologation_expiree.svg');
}

.carte .informations-complementaires-statut {
  font-size: 0.8em;
}
