.carte {
  box-sizing: border-box;
  width: 270px;
  padding: 1.7em;

  background-color: #fff;

  text-align: left;
}

.carte h1 {
  display: inline;

  font-size: 1.2em;
}

.carte h2 {
  margin-top: 0;

  font-size: 1em;
  font-weight: 600;
  color: var(--texte-clair);
}

.carte h3 {
  margin: 1.5em 0 0.5em;

  color: var(--bleu-anssi);
}

.carte h3 + p {
  margin-top: 0;
}

.carte .details {
  margin-top: 2em;
}

.carte .plus-details, .carte .moins-details {
  cursor: pointer;

  text-align: right;

  font-size: 0.85em;
  color: var(--bleu-mise-en-avant);
}

.carte .plus-details::after, .carte .moins-details::after {
  content: '';
  display: inline-block;
  width: .6em;
  height: .6em;
  margin-left: 1em;

  border: 2px var(--bleu-mise-en-avant) solid;
  transform: rotate(0.12turn);
}

.carte .moins-details::after {
  margin-bottom: -0.2em;

  border-bottom: 0;
  border-right: 0;
}

.carte .plus-details::after {
  margin-bottom: 0.2em;

  border-top: 0;
  border-left: 0;
}

.carte .details, .carte .moins-details {
  display: none;
}

.carte a.nouvel-onglet:after {
  content: '';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;

  background-image: url(../images/icone_lien_nouvel_onglet.svg);
  background-repeat: no-repeat;
  transform: translateY(0.2em);
}
