.demande-acceptation {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  gap: 8px;
}

.demande-acceptation p {
  text-align: left;
  font-weight: bold;
  margin: 0;
  color: white;
}

.bouton {
  padding: 7px 16px;
  margin: 0;
}

.fond-pied-documentation {
  position: sticky;
  bottom: 0;
  background-color: var(--bleu-mise-en-avant);
  border-top: 1px solid var(--liseres-fonce);
}

@media screen and (min-width: 1200px) {
  .demande-acceptation {
    padding: 2em 6em;
  }
}
