body {
  margin: 2em;
  padding: 0;
  background: #fafbfc;

  font-family: "Marianne";
  font-size: 10px;
  color: #0d4269;
}

header {
  margin-bottom: 4em;
}

header .mss, header .anssi {
  display: inline-block;
}

header .mss {
  padding-left: 3em;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: 1.6em;
  background-position: 0em 0.6em;
}

header h1 {
  margin: 0;
  font-weight: normal;
}

header p {
  margin-top: 0;
}

header .anssi {
  float: right;

  width: 20em;
  padding: 1em 6em;

  background-image: url(../images/logo_anssi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;

  text-align: right;
}

main h1 {
  position: relative;
  left: -2em;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 5px;

  font-size: 1.5em;
  color: #fff;
}

main h1.bleu {
  background: #1b7cc4;
}

main h1.vert {
  background: #1aaf54;
}

section {
  margin: 2em 0;
  padding: 1.5em 2em 2em;

  border: solid 1px #abb6bf;
  border-radius: 10px;

  background: #fff;
}

section h2 {
  margin: 0;
  font-size: 1.5em;
}

section p {
  margin: 0;
  color: #abb6bf;
}

section ul {
  display: grid;

  margin: 3em 0 0;
  padding: 0;
}

section li {
  list-style-type: none;
}

dl {
  margin: 2em 0 0;
}

dt, dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0.3em;
}

dd:after {
  display: block;
  margin-bottom: 0.5em;

  content: '';
}

section {
  position: relative;
}

section.introduction h2 {
  font-size: 1.8em;
}

section.risques ul {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em 2em;
}

section.risques li, section.detail-risques dt {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 3em;
  overflow: hidden;

  padding: 0.5em 0.5em 0.5em 3.5em;
  border: solid 1px #ebedf0;
  border-radius: 3px;

  background-image: url(../images/icone_risque.svg);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position-x: 1em;
  background-position-y: 50%;

  text-align: right;
  font-weight: bold;
}

section.mesures ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8em;
}

.type-mesure, .pourcentage {
  font-size: 1.7em;
  font-weight: bold;
  color: #1b7cc4;
}

.barre {
  position: relative;
  margin-top: 1em;

  width: 100%;
  height: 2em;
}

.barre > * {
  height: 100%;
  border: solid 1px #abb6bf;
  border-radius: 3px;
}

.barre-mesures-retenues {
  width: 100%;
  position: absolute;

  background: #fff1ce;
}

.barre-mesures-misesEnOeuvre {
  position: relative;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  background: #caefcb;
}

section.niveau-protection ul {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.niveau.bon:after, .avis-expert-cyber {
  position: absolute;
  top: 0.8em;
  right: 1em;

  display: flex;
  justify-content: flex-end;
  column-gap: 0.5em;

  color: #1aaf54;
  font-size: 1.7em;
  font-weight: bold;
}

.niveau.bon:after {
  content: 'Bon';
}

.criticite-mesure {
  font-size: 1.2em;
}

.disque {
  display: inline-block;

  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;

  background-color: #abb6bf;
}

.disque.rouge {
  background-color: #ce1b25;
}

.disque.vert {
  background-color: #1aaf54;
}

.avis {
  display: inline-block;
  padding-left: 0.5em;
}

.avis.inconnu {
  color: #abb6bf;
}

.avis.favorable {
  color: #1aaf54;
}

.avis.defavorable {
  color: #ce1b25;
}

.expert-cyber {
  margin-top: 2em;
  color: #0d4269;
}

.signature {
  margin-bottom: 10em;
}

section.decision ul {
  grid-template-columns: 1fr 3fr;
  grid-gap: 4em;

  margin-bottom: 2em;

  color: #1b7cc4;
}

section.decision li {
  padding-left: 5.6em;

  background-image: url(../images/badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.notes-finales {
  font-size: 0.8em;
  color: #0d4269;
}

section.pieces-jointes {
  margin-top: 5em;
  padding-top: 0;

  border: 0;
  background: none;
}

section.pieces-jointes h2 {
  display: inline-block;

  vertical-align: top;
}

section.pieces-jointes ul {
  display: inline-block;

  position: relative;
  left: 3em;
  top: 0.2em;

  margin: 0;

  font-size: 1.2em;
}

section.pieces-jointes li {
  margin-bottom: 0.5em;
  padding-left: 2em;

  background-image: url(../images/icone_coche_verte.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.annexe {
  position: relative;
  padding-top: 3em;
}

.legende {
  position: absolute;
  top: 1em;
  right: 1em;

  font-size: 0.8em;
}

.legende.avis-anssi {
  top: 3em;
}

.legende * {
  float: right;
}

.legende *:before {
  position: relative;
  top: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;

  margin: 0 1em 0 2em;

  border: solid 1px #abb6bf;

  content: '';
}

.legende.avis-anssi *:before {
  border: none;
  margin: 0 0 0 2em;
}

section.detail-risques dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em 2em;
}

section.detail-mesures li {
  margin-bottom: 1em;
  padding: 1em;
  border: solid 1px #abb6bf;
  border-radius: 3px;
}

section.detail-mesures li:last-child {
  margin-bottom: 0;
}

section.detail-mesures .description {
  display: inline-block;
  font-weight: bold;
}

section.detail-mesures .statut {
  float: right;

  display: inline-block;
  width: 1em;
  height: 1em;

  border: solid 1px #abb6bf;
}

section.detail-mesures .indispensable {
  float: right;
}

section.detail-mesures .indispensable, .legende.avis-anssi .indispensable:before {
  width: 3em;
  height: 1em;
  background-image: url(../images/icone_clef.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0.2em -0.5em;
}

section.detail-mesures .statut.fait, .legende .fait:before {
  background: #caefcb;
}

section.detail-mesures .statut.planifie, .legende .planifie:before {
  background: #fff1ce;
}

section.detail-mesures .statut.nonRetenu, .legende .nonRetenu:before {
  background: #ebedf0;
}

@page print {
  * {
      -webkit-print-color-adjust: exact !important;
      color-adjust: exact !important;
    }

  main h1.vert:before {
    break-before: page;
    page-break-before: always;
  }

  section {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }
}
@media print {
  * {
      -webkit-print-color-adjust: exact !important;
      color-adjust: exact !important;
    }

  .saut-page {
    break-before: page;
    page-break-before: always;
  }

  section {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }
}
