body {
  margin: 10em auto 0;
  width: 1000px;

  background: var(--fond-pale);

  font-family: "Marianne";
  font-size: 10px;
  color: var(--bleu-anssi);
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: inherit;
  padding: 2em;
  border-bottom: solid 1px;

  background: inherit;
}

nav a {
  text-decoration: none;
  color: var(--bleu-mise-en-avant);
}

nav .bouton {
  margin: 0;
  margin-left: auto;
}

.page {
  margin: 2em;
  padding: 0;
}

header {
  margin-bottom: 4em;
}

header .mss, header .anssi {
  display: inline-block;
}

header .mss {
  padding-left: 3em;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: 1.6em;
  background-position: 0em 0.6em;
}

header h1 {
  margin: 0;
  font-weight: normal;
}

header p {
  margin-top: 0;
}

header .anssi {
  float: right;

  width: 20em;
  padding: 1em 6em;

  background-image: url(../images/logo_anssi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;

  text-align: right;
}

main h1 {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 5px;

  font-size: 1.5em;
  color: #fff;
}

main h1.bleu {
  background: var(--bleu-mise-en-avant);
}

main h1.vert {
  background: var(--vert-anssi);
}

section {
  position: relative;

  margin: 2em 0;
  padding: 1.5em 2em 2em;

  border: solid 1px var(--liseres);
  border-radius: 10px;

  background: #fff;
}

section h2 {
  margin: 0;
  font-size: 1.5em;
}

section p {
  margin: 0;
  color: var(--texte-clair);
}

section ul {
  display: grid;

  margin: 3em 0 0;
  padding: 0;
}

section li {
  list-style-type: none;
}

dl {
  margin: 2em 0 0;
}

dt, dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0.3em;
}

dd:after {
  display: block;
  margin-bottom: 0.5em;

  content: '';
}

section.introduction h2 {
  font-size: 1.8em;
}

section.risques ul {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em 2em;
}

section.risques li, section.detail-risques dt {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 4em;
  overflow: hidden;

  padding: 0.5em 0.5em 0.5em 3.5em;
  border: solid 1px var(--liseres);
  border-radius: 3px;

  background-image: url(../images/icone_risque.svg);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position-x: 1em;
  background-position-y: 50%;

  text-align: right;
  font-weight: bold;
}

section.mesures ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8em;
}

.type-mesure {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--bleu-mise-en-avant);
}

.barre {
  position: relative;
  margin-top: 1em;

  width: 100%;
  height: 2em;
}

.barre > * {
  height: 100%;
  border: solid 1px var(--bleu-anssi);
  border-radius: 3px;
}

.barre-mesures-retenues {
  width: 100%;
  position: absolute;

  background: var(--bleu-ciel);
}

.barre-mesures-misesEnOeuvre {
  position: relative;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  background: var(--bleu-mise-en-avant);
}

section.niveau-securite ul {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.diagnostic-niveau-securite, .avis-expert-cyber {
  position: absolute;
  top: 0.8em;
  right: 1em;

  justify-content: flex-end;

  font-size: 1.7em;
}

.criticite-mesure {
  font-size: 1.2em;
}

.signature {
  margin-bottom: 10em;
}

section.decision ul {
  grid-template-columns: 1fr 3fr;
  grid-gap: 4em;

  margin-bottom: 2em;

  color: var(--bleu-mise-en-avant);
}

section.decision li {
  padding-left: 5.6em;

  background-image: url(../images/badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.notes-finales {
  font-size: 0.8em;
  color: var(--bleu-anssi);
}

.annexe {
  position: relative;
  padding-top: 3em;
}

.legende {
  position: absolute;
  top: 1em;
  right: 1em;

  font-size: 0.8em;
}

.legende.avis-anssi {
  top: 3em;
}

.legende * {
  float: right;
}

.legende *:before {
  position: relative;
  top: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;

  margin: 0 1em 0 2em;

  border: solid 1px var(--bleu-anssi);

  content: '';
}

.legende.avis-anssi *:before {
  border: none;
  margin: 0 0 0 2em;
}

section.detail-risques dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1em 2em;
  align-items: center;
}

section.detail-mesures li {
  margin-bottom: 1em;
  padding: 1em;
  border: solid 1px var(--bleu-anssi);
  border-radius: 3px;
}

section.detail-mesures li:last-child {
  margin-bottom: 0;
}

section.detail-mesures .description {
  display: inline-block;
  font-weight: bold;
}

section.detail-mesures .statut {
  float: right;

  display: inline-block;
  width: 1em;
  height: 1em;

  border: solid 1px var(--bleu-anssi);
}

section.detail-mesures .indispensable {
  float: right;
}

section.detail-mesures .indispensable, .legende.avis-anssi .indispensable:before {
  width: 3em;
  height: 1em;
  background-image: url(../images/icone_clef.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0.2em -0.5em;
}

section.detail-mesures .statut.fait, .legende .fait:before {
  background: var(--bleu-mise-en-avant);
}

section.detail-mesures .statut.planifie, .legende .planifie:before {
  background: var(--bleu-ciel);
}

section.detail-mesures .statut.nonFait, .legende .nonFait:before {
  background: var(--bleu-anssi);
}

section.detail-mesures .statut.nonRetenu, .legende .nonRetenu:before {
  background: #fff;
}

@page print {
  * {
      -webkit-print-color-adjust: exact !important;
      color-adjust: exact !important;
    }

  main h1.vert:before {
    break-before: page;
    page-break-before: always;
  }

  section {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }
}

@media print {
  * {
      -webkit-print-color-adjust: exact !important;
      color-adjust: exact !important;
    }

  body {
    margin: 0 auto;
  }

  .ne-pas-imprimer, .ne-pas-imprimer * {
    display: none;
  }

  .saut-page {
    break-before: page;
    page-break-before: always;
  }

  section {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }
}
