header {
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  width: unset;
  max-width: unset;
}

.header-gauche .conteneur-logo {
  width: var(--menu-largeur);
}

.header-gauche .titre-page h3 {
  color: var(--bleu-survol);
  font-size: 1.55em;
  font-weight: 700;
  margin: 0;
}

.corps {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 2em;
  margin-top: 3em;
}

.cartes-informations {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
