header {
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  width: unset;
  max-width: unset;
}

.header-gauche .conteneur-logo {
  width: var(--menu-largeur);
}

.header-gauche .titre-page {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header-gauche .titre-page h3 {
  color: var(--bleu-survol);
  font-size: 1.55em;
  font-weight: 700;
  margin: 0;
}

.header-gauche .titre-page .retour-tableau-de-bord {
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.35em;
  background: #f1f5f9;
  width: fit-content;
  border-radius: 20px;
  padding: 1px 8px;
}

.header-gauche .titre-page .retour-tableau-de-bord a {
  color: #667892;
}

.corps {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 2em;
  margin-top: 3em;
}

.cartes-informations {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
