.documentation {
  position: relative;

  background: #fff;
  border-radius: 5px;

  text-align: left;

  padding: 32px 16px;
  margin: 0;
}

.documentation section {
  padding: 3em 0;
}

.documentation h1 {
  font-size: 2.8em;
}

.documentation h2 {
  margin-top: 2em;
}

.documentation h3 {
  margin-top: 2em;
  font-weight: normal;
  color: var(--texte-fonce);
}

.documentation p,
.documentation ul {
  color: var(--texte-fonce);
}

.documentation li {
  padding-bottom: 0.5em;
}

.documentation dl {
  color: var(--texte-fonce);
}

.documentation dd,
.documentation dt {
  display: inline;
}

.documentation dt {
  font-weight: bold;
}

.documentation dt:before {
  display: block;
  margin-top: 1em;
  content: '';
}

.documentation dd {
  margin-inline-start: 0.5em;
}

.resume {
  line-height: 180%;
  font-weight: bold;
}

.resume ul {
  padding-top: 1em;
  padding-bottom: 2em;
}

.question {
  text-align: center;
}

.question p {
  margin: 0;
  padding: 2em 0 0;

  font-size: 2em;
  font-weight: bold;
  color: var(--bleu-anssi);
}

.date-mise-en-vigueur {
  margin-bottom: 2.5em;
}

.documentation #tampon-homologation {
  width: 100%;
  margin-top: 24px;
}

.documentation table {
  border-collapse: collapse;
  border: 1px solid var(--texte-fonce);
}

.documentation table th,
.documentation table td {
  padding: 8px;
  border: 1px solid var(--texte-fonce);
}

.documentation table th {
  background: var(--fond-bleu-pale);
}

body,
.marges-fixes {
  min-width: unset;
  width: unset;
}

.fond-entete {
  background-color: var(--bleu-mise-en-avant);
}

.entete-documentation {
  color: white;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.entete-documentation h1 {
  margin: 0;
}

.fil-d-ariane {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.fil-d-ariane a {
  color: white;
  text-decoration: underline;
}

main {
  display: block;
  text-align: left;
  background: white;
}

.documentation p:first-of-type,
.documentation h2:first-of-type {
  margin-top: 0;
}

a.nouvel-onglet {
  display: inline;
}

@media screen and (min-width: 1200px) {
  .entete-documentation,
  .bandeau-mss,
  .documentation {
    max-width: 1200px;
    margin: 0 auto;
  }

  .documentation {
    padding: 48px 96px;
  }

  header {
    justify-content: space-between;
    max-width: 1200px;
  }

  footer nav ul {
    width: 1200px;
    margin: 0 auto;
  }

  footer nav ul li:first-of-type a {
    margin-left: 0;
    padding-left: 0;
  }
}
