.documentation {
  position: relative;

  margin: 1em 5em;
  padding: 2em 6em;

  background: #fff;
  border-radius: 5px;

  text-align: left;
}

.documentation section {
  padding: 3em 0;
}

.documentation h1 {
  font-size: 2.8em;
}

.documentation h2 {
  margin-top: 2em;
}

.documentation h3 {
  margin-top: 2em;
  font-weight: normal;
  color: var(--texte-fonce);
}

.documentation p, .documentation ul {
  color: var(--texte-fonce);
}

.documentation li {
  padding-bottom: 0.5em;
}

.documentation dl {
  color: var(--texte-fonce);
}

.documentation dd, .documentation dt {
  display: inline;
}

.documentation dt {
  font-weight: bold;
}

.documentation dt:before {
  display: block;
  margin-top: 1em;
  content: '';
}

.documentation dd {
  margin-inline-start: 0.5em;
}

.resume {
  line-height: 180%;
  font-weight: bold;
}

.resume ul {
  padding-top: 1em;
  padding-bottom: 2em;
}

.question {
  text-align: center;
}

.question p {
  margin: 0;
  padding: 2em 0 0;

  font-size: 2em;
  font-weight: bold;
  color: var(--bleu-anssi);
}
