.zone-principale {
  background: white;
}

.conteneur-page-formulaire {
  max-width: 1200px;
}

.homologation hr {
  display: none;
}

.homologation .titre-section {
  margin: 24px 0 16px;
  font-weight: bold;
  font-size: 1.4em;
  color: #0c5c98;
}

.homologation .dossier {
  padding: 14px 16px;
  position: relative;
  pointer-events: none;
}

.homologation .dossier:not(.dossier-courant) {
  padding-top: 18px;
  padding-bottom: 18px;
}

.homologation .dossier.dossier-courant:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}

.homologation .statut {
  font-size: 1rem;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  align-items: center;
}

.homologation .indice-cyber {
  padding: 3px 8px 5px 8px;
  border-radius: 4px;
  background: #dbeeff;
  width: fit-content;
  border: 1px solid transparent;
  white-space: nowrap;
}

.homologation .indice-cyber.personnalise {
  background: white;
  border: 1px solid var(--liseres-fonce);
}

.homologation .conteneur-indice-cyber {
  font-weight: 500;
}

.homologation .contenu-gauche-dossier {
  display: flex;
  flex-direction: row;
}

.homologation .contenu-gauche {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.homologation .contenu-details {
  display: flex;
  flex-direction: column;
}

.homologation .numero-etape {
  border: none;
  color: #667892;
  text-align: left;
}

.homologation .titre-etape {
  color: #0279d0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.homologation .contenu-etape-courante {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.homologation .lien-etape-courante {
  pointer-events: auto;
  width: fit-content;
}

.homologation .lien-etape-courante:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.homologation .dossier-courant:hover .statut {
  color: #0079d0;
}

.homologation #affiche-documents,
.homologation #supprime-dossier-courant {
  pointer-events: auto;
  z-index: 2;
  position: relative;
  width: fit-content;
}

.homologation #affiche-documents:before {
  content: url('/statique/assets/images/icone_telechargement_fichier.svg');
}

.homologation #supprime-dossier-courant:before {
  content: url('/statique/assets/images/icone_poubelle.svg');
}

.homologation .conteneur-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.homologation .conteneur-actions button,
.homologation #bouton-tampon-homologation {
  border-radius: 4px;
  border: 1px solid var(--fond-gris-pale-composant);
  padding: 8px 16px 8px 12px;
}

.homologation .conteneur-actions button[disabled],
.homologation #bouton-tampon-homologation[disabled] {
  border: 1px solid var(--fond-gris-fonce);
  color: var(--gris-inactif);
}

.homologation .conteneur-actions button[disabled]:before,
.homologation #bouton-tampon-homologation[disabled]:before {
  filter: brightness(0) invert(56%) sepia(0%) saturate(1103%) hue-rotate(209deg)
    brightness(103%) contrast(91%);
}

.homologation .conteneur-actions button[disabled]:hover,
.homologation #bouton-tampon-homologation[disabled]:hover {
  background: none;
}

.homologation .details {
  color: #667892;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homologation .dossier .statut-homologation {
  padding: 5px 12px;
  border-radius: 40px;
  color: #2f3a43;
  width: fit-content;
  height: fit-content;
  font-size: 0.875rem;
  font-weight: normal;
}

.homologation .dossier .statut-homologation.activee {
  background: #d4f4db;
}

.homologation .dossier .statut-homologation.bientotExpiree {
  background: #fff2de;
}

.homologation .dossier .statut-homologation.expiree {
  background: #ffdfdf;
}

.homologation .enregistrement {
  display: none;
}

.homologation #commencer-homologation {
  margin-top: 24px;
  margin-bottom: 8px;
}

.homologation .aucun-projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  max-width: 360px;
  margin: 52px auto 0;
}

.homologation .aucun-projets img {
  max-width: 142px;
}

.homologation .aucun-projets p {
  margin: 0;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}

.homologation .aucun-projets #commencer-homologation {
  margin: 0;
}

.homologation .conteneur-statut-indice-cyber {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.homologation #bouton-tampon-homologation {
  pointer-events: auto;
  z-index: 2;
  position: relative;
  height: fit-content;
  white-space: nowrap;
}

.modale-encart-homologation::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.modale-encart-homologation {
  width: 663px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
  outline: none;
}

.modale-encart-homologation .conteneur-fermeture {
  display: flex;
  justify-content: end;
}

.modale-encart-homologation .conteneur-fermeture .bouton-fermeture {
  background: none;
  border: none;
  color: var(--bleu-anssi);
  display: flex;
  gap: 8px;
  margin-right: 26px;
  cursor: pointer;
}

.modale-encart-homologation .conteneur-fermeture .bouton-fermeture:hover {
  background: var(--systeme-design-etat-gris-survol);
}

.modale-encart-homologation .page {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modale-encart-homologation .page ul {
  padding-inline-start: 25px;
}

.modale-encart-homologation .page > ul > li {
  font-weight: bold;
  margin-bottom: 20px;
}

.modale-encart-homologation .page li {
  list-style: disc;
  font-weight: normal;
}

.modale-encart-homologation .bouton {
  padding: 0.5em 1em;
  margin: 0;
}

.modale-encart-homologation .conteneur-actions {
  margin-left: auto;
}

.conteneur-encart-homologation {
  padding: 8px 26px 32px;
}

dialog.modale-encart-homologation h1 {
  color: var(--bleu-mise-en-avant);
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 16px;
}

dialog.modale-encart-homologation .page img {
  margin-bottom: 24px;
  width: 100%;
}

#bouton-tampon-homologation-modale:before {
  content: url('/statique/assets/images/icone_telecharger_tampon.svg');
  width: 30px;
  height: 30px;
  margin-right: -4px;
  filter: brightness(0) invert();
}

.conteneur-statut-indice-cyber .indices-cyber {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homologation .infobulle-importe {
  margin-left: -12px;
  position: relative;
  pointer-events: auto;
}

.homologation .infobulle-importe .conteneur-image {
  padding: 8px 8px 4px 8px;
  cursor: help;
}

.homologation .infobulle-importe .conteneur-information {
  display: none;
  width: 383px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: -8px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 18, 0.16);
  background: white;
  transform: translateX(50%) translateY(-100%);
}

.homologation .infobulle-importe .conteneur-information p {
  margin: 0;
  color: #3a3a3a;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-wrap: initial;
}

.homologation .infobulle-importe .conteneur-information:after {
  content: '';
  background: white;
  width: 8px;
  height: 8px;
  display: flex;
  position: absolute;
  bottom: -4px;
  right: 211px;
  transform: rotate(45deg);
}

.homologation .infobulle-importe:hover .conteneur-information {
  display: flex;
}

.homologation .conteneur-importe {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homologation .badge-importe {
  display: flex;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #eaf5ff;
  color: var(--bleu-mise-en-avant);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: fit-content;
  white-space: nowrap;
}

.homologation .badge-importe:before {
  content: url('/statique/assets/images/icone_info.svg');
  display: flex;
  width: 12px;
  height: 12px;
}

.homologation .badge-aucun-indice-cyber {
  padding: 0 8px;
  gap: 4px;
  border-radius: 4px;
  background: var(--fond-gris-fonce);
  color: var(--gris-inactif);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: fit-content;
}
