.sous-titre h2 {
  margin-bottom: 16px;
}

.homologation hr {
  display: none;
}

.homologation .titre-section {
  margin: 24px 0 16px;
  font-weight: bold;
  font-size: 1.4em;
  color: #0c5c98;
}

.homologation .dossier {
  padding: 16px;
  position: relative;
  pointer-events: none;
}

.homologation .dossier:not(.dossier-courant) {
  padding-top: 26px;
  padding-bottom: 26px;
}

.homologation .statut {
  font-size: 1.11em;
  white-space: nowrap;
}

.homologation .indice-cyber {
  padding: 3px 8px 5px 8px;
  border-radius: 4px;
  background: #dbeeff;
  width: fit-content;
}

.homologation .conteneur-indice-cyber {
  font-weight: 500;
}

.homologation .contenu-gauche-dossier {
  display: flex;
  flex-direction: row;
}

.homologation .contenu-gauche {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: baseline;
}

.homologation .contenu-details {
  display: flex;
  flex-direction: column;
}

.homologation .numero-etape {
  border: none;
  color: #667892;
  text-align: left;
}

.homologation .titre-etape {
  color: #2f3a43;
}

.homologation .lien-etape-courante {
  pointer-events: auto;
  width: fit-content;
}

.homologation .lien-etape-courante:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.homologation .dossier:hover .statut {
  color: #0079d0;
}

.homologation #affiche-documents {
  pointer-events: auto;
  z-index: 2;
  position: relative;
  margin-right: 88px;
}

.homologation #affiche-documents:before {
  content: url('/statique/assets/images/icone_telechargement_fichier.svg');
}

.homologation .contenu-dossier {
  display: flex;
  align-items: center;
}

.homologation .conteneur-actions {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.homologation .details {
  color: #667892;
}

.homologation .dossier .statut-homologation {
  padding: 5px 12px;
  border-radius: 40px;
  font-weight: bold;
  color: #2f3a43;
  width: fit-content;
}

.homologation .dossier .statut-homologation.bientotActivee {
  background: #e7f8d7;
}

.homologation .dossier .statut-homologation.activee {
  background: #d4f4db;
}

.homologation .dossier .statut-homologation.bientotExpiree {
  background: #fff2de;
}

.homologation .dossier .statut-homologation.expiree {
  background: #ffdfdf;
}

.homologation .enregistrement {
  display: none;
}

.homologation #suivant {
  margin-top: 24px;
  margin-bottom: 8px;
}

.homologation .aucun-projets {
  padding: 9px 0;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  color: #2f3a43;
  font-weight: 500;
  text-align: center;
  margin-top: 68px;
}

.homologation #supprime-dossier-courant {
  background: none;
  border: none;
  pointer-events: auto;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.homologation #supprime-dossier-courant:hover img {
  filter: brightness(0) invert(28%) sepia(65%) saturate(2283%)
    hue-rotate(186deg) brightness(101%) contrast(103%);
}

.homologation .conteneur-statut-indice-cyber {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.homologation #bouton-tampon-homologation {
  pointer-events: auto;
  z-index: 2;
  position: relative;
  height: fit-content;
}

.modale-encart-homologation::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.modale-encart-homologation {
  width: 663px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
  outline: none;
}

.modale-encart-homologation .conteneur-fermeture {
  display: flex;
  justify-content: end;
}

.modale-encart-homologation .conteneur-fermeture .bouton-fermeture {
  background: none;
  border: none;
  color: var(--bleu-anssi);
  display: flex;
  gap: 8px;
  margin-right: 26px;
  cursor: pointer;
}

.modale-encart-homologation .conteneur-fermeture .bouton-fermeture:hover {
  background: var(--systeme-design-etat-gris-survol);
}

.modale-encart-homologation .page {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modale-encart-homologation .page ul {
  padding-inline-start: 25px;
}

.modale-encart-homologation .page > ul > li {
  font-weight: bold;
  margin-bottom: 20px;
}

.modale-encart-homologation .page li {
  list-style: disc;
  font-weight: normal;
}

.modale-encart-homologation .bouton {
  padding: 0.5em 1em;
  margin: 0;
}

.modale-encart-homologation .conteneur-actions {
  margin-left: auto;
}

.conteneur-encart-homologation {
  padding: 8px 26px 32px;
}

dialog.modale-encart-homologation h1 {
  color: var(--bleu-mise-en-avant);
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 16px;
}

dialog.modale-encart-homologation .page img {
  margin-bottom: 24px;
}

#bouton-tampon-homologation-modale:before {
  content: url('/statique/assets/images/icone_telecharger_tampon.svg');
  width: 30px;
  height: 30px;
  margin-right: -4px;
  filter: brightness(0) invert();
}
