header {
  display: flex;
  column-gap: 1.4em;
  align-items: center;
  padding: 1em 0 1.5em;
}

header a {
  display: inline-block;

  text-decoration: none;
  color: var(--bleu-anssi);
}

header nav {
  display: flex;
  column-gap: 1.4em;
  align-items: baseline;
  font-size: 0.9em;
}

header nav a:hover {
  color: var(--bleu-mise-en-avant);
}

.marianne, .devise {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.marianne {
  height: 0.8em;

  background-image: url(../images/marianne.svg);
}

.devise {
  height: 2em;

  background-image: url(../images/devise.svg);
}

.republique-francaise {
  padding: 0.25em 0 0.5em;

  line-height: 100%;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
}

.logo-anssi {
  width: 5.2em;
  height: 5.2em;
  margin: 0 0.8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/logo_anssi.png);

  font-size: 0.8em;
}

a.logo-mss {
  margin-right: auto;
  padding: 0 0 0 2em;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-size: 1.2em;
}

a.aide {
  padding: 0 0 0 2em;

  background-image: url(../images/icone_question.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

a.connexion {
  margin-left: 1em;
  padding: 0.5em 1.5em 0.7em;

  border: 0.5px solid var(--bleu-anssi);
  border-radius: 33% / 100%;
  background: var(--bleu-anssi);
  color: #fff;
}

a.connexion:hover {
  background: var(--bleu-mise-en-avant);
  border-color: var(--bleu-mise-en-avant);

  color: #fff;
}

.utilisateur-courant {
  float: right;
  position: relative;

  cursor: pointer;
}

.nom-utilisateur-courant {
  padding: 0 1em 0 2em;

  background-image: url(../images/icone_utilisateur.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu {
  position: absolute;
  z-index: 1;

  top: 2em;
  left: 0;
  width: 12em;

  padding: 1em;

  border: solid 1px var(--liseres);
  border-radius: 2px;
  background: var(--fond-pale);

  text-decoration: none;
}

.menu a {
  display: block;

  color: var(--bleu-anssi);
  font-size: 0.9em;
}

.menu a:hover {
  color: var(--bleu-mise-en-avant);
}
