header {
  display: flex;
  column-gap: 1.4em;
  align-items: center;
  padding: 1em 0;
}

header a {
  display: inline-block;

  text-decoration: none;
  color: var(--bleu-anssi);
}

header nav, .utilisateur-courant {
  display: flex;
  column-gap: 0.4em;
  align-items: center;
}

header nav {
  font-size: 0.9em;
}

header nav a, .nom-utilisateur-courant {
  padding: 0.3em 0.85em;

  color: var(--systeme-design-etat-bleu);
}

:is(header nav a, .nom-utilisateur-courant, .logo-anssi, .logo-mss):hover {
  background-color: var(--systeme-design-etat-gris-survol);
}

.marianne, .devise {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.marianne {
  height: 0.75em;

  background-image: url(../images/marianne.svg);
}

.devise {
  height: 1.38em;

  background-image: url(../images/devise.svg);
}

.republique-francaise {
  padding: 0.36em 0;

  line-height: 1.075em;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
}

.logo-anssi {
  width: 4.05em;
  height: 4.05em;
  margin: 0 0.4em;
  padding: 0.3em 0.85em;

  background-image: url(../images/logo_anssi.png);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-mss {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0.3em 0.85em;

  font-size: 1.2em;
}

.logo-mss::before {
  display: inline-block;
  content: '';
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;

  -webkit-mask: url(../images/logo_mss.svg) no-repeat center;
  mask: url(../images/logo_mss.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--bleu-anssi);
}

.utilisateur-courant {
  position: relative;

  cursor: pointer;
}

.connexion {
  display: flex;
  align-items: center;
  padding-left: 0.5em;

  border: 1px solid var(--systeme-design-etat-bleu);
  border-radius: 0.35em;
}

.nom-utilisateur-courant {
  display: flex;
  align-items: center;

  color: var(--systeme-design-etat-bleu);
}

:is(.connexion, .nom-utilisateur-courant):before,
.nom-utilisateur-courant::after {
  display: inline-block;

  content: '';
  background-color: var(--systeme-design-etat-bleu);
}

:is(.connexion, .nom-utilisateur-courant)::before {
  width: 1.3em;
  height: 1.1em;
  margin-right: 0.3em;

  -webkit-mask: url(../images/icone_utilisateur.svg) no-repeat center;
  mask: url(../images/icone_utilisateur.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.nom-utilisateur-courant::after {
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.3em;

  -webkit-mask: url(../images/icone_fleche_bas.svg) no-repeat center;
  mask: url(../images/icone_fleche_bas.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position-y: 0.2em;
  mask-position-y: 0.2em;
}

.menu {
  position: absolute;
  z-index: 1;

  top: 2em;
  left: 0;
  width: 12em;

  padding: 1em;

  border: solid 1px var(--liseres);
  border-radius: 2px;
  background: var(--fond-pale);

  text-decoration: none;
}

.menu a {
  display: block;

  color: var(--systeme-design-etat-bleu);
  font-size: 0.9em;
}
