.conteneur-erreur {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 97px 0;
}

.conteneur-erreur .contenu-texte {
  flex: 1;
  text-align: left;
}

.conteneur-erreur .contenu-image {
  flex: 2;
}

.conteneur-erreur .contenu-image img {
  max-width: 714px;
}

.conteneur-erreur .bouton {
  font-weight: 500;
  line-height: 24px;
  padding: 7px 16px 9px 16px;
  margin: 0;
}
