.contenu-erreur {
  padding: 80px 0;
  max-width: 530px;
}

.contenu-erreur h1 {
  margin-top: 18px;
}

.contenu-erreur p {
  font-weight: 500;
  margin-bottom: 0;
}

.contenu-erreur .bouton {
  padding: 0.4em 1em;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.contenu-erreur .lien {
  font-weight: 500;
}

.contenu-erreur .lien:after {
  font-weight: 500;
  content: '';
  background: url('/statique/assets/images/forme_chevron_bleu.svg');
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(1px);
}
