.suivi-homologations h1 {
  padding: 1em 0;

  text-align: left;
  color: var(--texte-fonce);
}

.homologations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.homologation {
  min-width: 0;

  height: 12em;
  padding: 2em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: white;
}

.homologation:hover {
  border-color: var(--bleu-mise-en-avant-20-pc);
  background-color: inherit;
}

.titre-homologation {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;

  font-size: 1.5em;
  font-weight: bold;
}

.homologation.existante {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: var(--texte-fonce);
}

.homologation p {
  margin: 0.5em;

  font-size: 0.8em;
}

.pastilles-contributeurs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pastilles-contributeurs > div {
  width: 2.5em;
  height: 2.5em;
}

.pastille-contributeur {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.3em;
  box-sizing: border-box;

  background-image: url(../images/pastille_bleu_anssi.svg);
  background-repeat: no-repeat;
  background-size: contain;

}

.pastille-contributeur .initiales {
  font-size: 0.7em;
  color: #fff;
}

.nouvelle.homologation {
  color: var(--bleu-mise-en-avant);
  font-weight: bold;
  text-decoration: none;
}

.nouvelle.homologation .icone-ajout {
  width: 4em;
  height: 4em;

  margin: 0 auto 1.3em;

  background-image: url(../images/icone_plus_pastille_grise.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
