.suivi-homologations h1 {
  padding: 1em 0;

  text-align: left;
  color: #2f3a43;
}

.homologations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.homologation {
  padding: 2em;

  border: solid 1px #ebedf0;
  border-radius: 5px;
  background: white;

  color: #1b7cc4;
  font-weight: bold;
  text-decoration: none;
}

.homologation:hover {
  border-color: #1b7cc460;
  background: #1b7cc401;
}

.homologation.existante {
  font-size: 1.5em;
  color: #2f3a43;
}

.nouvelle.homologation .icone-ajout {
  width: 4em;
  height: 4em;

  margin: 0 auto 1.3em;

  background-image: url(../images/icone_plus_pastille_grise.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
