.suivi-services h1 {
  padding: 1em 0;

  text-align: left;
  color: var(--texte-fonce);
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-width: 0;
  height: 12em;
  padding: 2em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: white;

  color: var(--texte-fonce);
}

.service:hover {
  border-color: var(--bleu-mise-en-avant-20-pc);
  background-color: inherit;
}

.service p {
  margin: 0.5em;

  font-size: 0.8em;
}

.titre-service {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;

  font-size: 1.5em;
  font-weight: bold;
}

.pastilles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pastilles > div {
  width: 2em;
  height: 2em;
}

.ajout-contributeur {
  cursor: pointer;

  background-image: url(../images/icone_plus_pastille_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.pastille {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.3em;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: contain;
}

.contributeur.valide {
  background-image: url(../images/pastille_violette.svg);
}

.contributeur.en-attente {
  background-image: url(../images/pastille_grise.svg);
}

.contributeurs-supplementaires {
  background-image: url(../images/pastille_transparente.svg);
}

.createur {
  margin-left: 1.2em;
  background-image: url(../images/pastille_bleu_anssi.svg);
}

.initiales, .nombre-contributeurs-supplementaires {
  font-size: 0.8em;
  transform: translateY(-0.1em);
}

.initiales {
  color: #fff;
}

.nombre-contributeurs-supplementaires {
  color: var(--bleu-mise-en-avant);
}

.nouveau.service {
  color: var(--bleu-mise-en-avant);
  font-weight: bold;
  text-decoration: none;
}

.nouveau.service .icone-ajout {
  width: 4em;
  height: 4em;

  margin: 0 auto 1.3em;

  background-image: url(../images/icone_plus_pastille_grise.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nouveau-contributeur {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.icone-enveloppe {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;

  background-image: url(../images/icone_enveloppe.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bandeau-nouveautes {
  display: flex;
  height: 2.7em;
  align-items: center;

  background-color: var(--rose-anssi);
}

.bandeau-nouveautes:hover {
  background-color: var(--rose-mise-en-avant);
}

.bandeau-nouveautes p {
  color: #fff;
  font-weight: bold;
  font-size: .95em;
  text-transform: uppercase;
  text-align: left;
}
