.suivi-homologations h1 {
  padding: 1em 0;

  text-align: left;
  color: var(--texte-fonce);
}

.homologations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.homologation {
  padding: 2em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: white;

  font-weight: bold;
  text-decoration: none;
}

.homologation:hover {
  border-color: var(--bleu-mise-en-avant-20-pc);
  background-color: inherit;
}

.homologation.existante {
  font-size: 1.5em;
  color: var(--texte-fonce);
}

.nouvelle.homologation .icone-ajout {
  width: 4em;
  height: 4em;

  margin: 0 auto 1.3em;

  background-image: url(../images/icone_plus_pastille_grise.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
