.homologation h2 {
  font-size: 1em;
  font-weight: normal;
}

hr {
  width: 100%;

  margin-top: 2em;
  border: solid 1px var(--liseres);
}

section {
  border: 0;
}

section.autorite {
  padding: 1em 0 0 0;
  border: 0;
}

.consignes {
  padding: 1em 0 1em 1em;
}

.consignes > li {
  padding: 0 0 1em 0;
}

.validation-telechargement input[type='text'] {
  display: none;
}

.validation-telechargement .message-erreur {
  margin-top: 1em;
  margin-bottom: 0;
}

.dossier {
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
  padding: 1.5em 2em;
  border: solid 1px #cbd5e1;
  border-radius: 4px;
}

.dossier .statut {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.dossier .details {
  color: var(--bleu-anssi);
}

.boutons {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  margin-left: 7em;
}

.boutons-etape {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}

.bouton {
  margin: 0;
  padding: 0.5em 1.3em;
}

.bouton.blanc {
  border: solid 1px var(--bleu-mise-en-avant);
  background: #fff;

  color: var(--bleu-mise-en-avant);
}

#bouton-tampon-homologation:before {
  content: url('/statique/assets/images/icone_telecharger_tampon.svg');
  width: 30px;
  height: 30px;
  margin-right: -4px;
}

.conteneur-page-formulaire section {
  border-bottom: none;
}

.boutons-etape #suivant {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px;
  margin: 0;
}

.boutons-etape #suivant:after {
  content: '';
  background: url(/statique/assets/images/fleche_gauche_bleue.svg);
  filter: invert(36%) sepia(59%) saturate(1758%) hue-rotate(181deg)
    brightness(88%) contrast(105%);
  transform: rotate(180deg);
  filter: brightness(0) invert(100%);
  display: flex;
  width: 16px;
  height: 16px;
  align-self: center;
}

#modale-parcours-homologation::backdrop {
  background: rgba(22, 22, 22, 0.64);
}

#modale-parcours-homologation {
  max-width: 890px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
  outline: none;
  padding: 0;
  text-align: left;
  max-height: calc(100vh - 110px);
}

#modale-parcours-homologation .conteneur-modale-parcours-homologation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#modale-parcours-homologation .conteneur-fermeture {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 16px;
}

#modale-parcours-homologation .conteneur-fermeture button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--bleu-mise-en-avant);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  padding: 4px 8px 4px 12px;
  border-radius: 4px;
}

#modale-parcours-homologation .conteneur-fermeture button:hover {
  background: rgba(0, 0, 0, 0.04);
}

#modale-parcours-homologation .conteneur-fermeture button img {
  width: 10px;
  height: 10px;
  margin-top: 3px;
  filter: brightness(0) invert(32%) sepia(67%) saturate(1923%)
    hue-rotate(185deg) brightness(93%) contrast(101%);
}

#modale-parcours-homologation .conteneur-parcours-homologation {
  padding: 0 32px;
}

#modale-parcours-homologation h4 {
  margin: 0 0 32px;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

#modale-parcours-homologation .contenu-parcours-homologation {
  padding: 24px 32px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

#modale-parcours-homologation .entete-parcours-homologation {
  display: flex;
  flex-direction: row;
}

#modale-parcours-homologation .entete-parcours-homologation div {
  padding: 40px 40px 40px 8px;
}

#modale-parcours-homologation .entete-parcours-homologation h5 {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
}

#modale-parcours-homologation .entete-parcours-homologation p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

#modale-parcours-homologation .entete-parcours-homologation img {
  padding: 0 50px;
}

#modale-parcours-homologation .detail-parcours-homologation h5 {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

#modale-parcours-homologation .detail-parcours-homologation table {
  border-collapse: collapse;
}

#modale-parcours-homologation .detail-parcours-homologation table :is(th, td) {
  padding: 8px 16px;
  border: 1px solid #dddddd;
  color: #3a3a3a;
}

#modale-parcours-homologation .detail-parcours-homologation table th {
  white-space: nowrap;
}

#modale-parcours-homologation .detail-parcours-homologation {
  margin-bottom: 24px;
}

#modale-parcours-homologation .contenu-parcours-homologation a {
  color: #042794;
  align-self: end;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
  border-bottom: 1px solid #042794;
  padding-bottom: 1px;
}
#modale-parcours-homologation .contenu-parcours-homologation a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#modale-parcours-homologation .contenu-parcours-homologation a:after {
  content: url('/statique/assets/images/icone_telecharger_dsfr.svg');
  width: 16px;
  height: 16px;
  display: flex;
}

#modale-parcours-homologation .conteneur-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 32px;
  gap: 16px;
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #ddd;
}

form.homologation .contenu-demarche-homologation {
  display: flex;
  justify-content: end;
}

.contenu-demarche-homologation #affiche-demarche-homologation {
  background: none;
  border: none;
  cursor: pointer;
  color: #042794;
  border-bottom: 1px solid #042794;
  padding-bottom: 1px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.contenu-demarche-homologation #affiche-demarche-homologation:hover {
  background: rgba(0, 0, 0, 0.04);
}

.contenu-demarche-homologation #affiche-demarche-homologation:after {
  content: url('/statique/assets/images/icone_question_dsfr.svg');
  width: 16px;
  height: 16px;
  display: flex;
}
