.homologation h2 {
  font-size: 1em;
  font-weight: normal;
}

hr {
  width: 100%;

  margin-top: 2em;
  border: solid 1px var(--liseres);
}

section {
  border: 0;
}

section.autorite {
  padding: 1em 0 0 0;
  border: 0;
}

.consignes {
  padding: 1em 0 1em 1em;
}

.consignes > li {
  padding: 0 0 1em 0;
}

.validation-telechargement input[type='text'] {
  display: none;
}

.validation-telechargement .message-erreur {
  margin-top: 1em;
  margin-bottom: 0;
}

.dossier {
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
  padding: 1.5em 2em;
  border: solid 1px #cbd5e1;
  border-radius: 4px;
}

.dossier .statut {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.dossier .details {
  color: var(--bleu-anssi);
}

.boutons {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  margin-left: 7em;
}

.boutons-etape {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}

.bouton {
  margin: 0;
  padding: 0.5em 1.3em;
}

.bouton.blanc {
  border: solid 1px var(--bleu-mise-en-avant);
  background: #fff;

  color: var(--bleu-mise-en-avant);
}

#bouton-tampon-homologation:before {
  content: url('/statique/assets/images/icone_telecharger_tampon.svg');
  width: 30px;
  height: 30px;
  margin-right: -4px;
}

.conteneur-page-formulaire section {
  border-bottom: none;
}
