.fonctionnalites span {
  color: #161616;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.fonctionnalites hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dddddd;
}

.fonctionnalite {
  scroll-margin-top: 16px;
}

.fonctionnalite img {
  max-width: 100%;
}

.conteneur-fonctionnalites {
  flex: 1;
}

.illustration-fonctionnalites-segmentees-desktop {
  display: none;
  max-width: 588px;
  height: fit-content;
}

@media screen and (min-width: 1200px) {
  .fonctionnalite {
    cursor: pointer;
  }

  .illustration-fonctionnalites-segmentees-desktop {
    display: flex;
    flex: 1;
  }

  .fonctionnalite img {
    display: none;
  }

  .fonctionnalite.active,
  .fonctionnalite.active span {
    color: var(--bleu-mise-en-avant);
  }
}
