.fonctionnalites hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dddddd;
  margin: 0;
}

.fonctionnalite {
  scroll-margin-top: 16px;
}

.fonctionnalite img {
  max-width: 100%;
}

.conteneur-fonctionnalites {
  gap: 16px;
  flex: 1;
}

.illustration-fonctionnalites-segmentees-desktop {
  display: none;
  max-width: 588px;
  height: fit-content;
}

#fonctionnalites {
  padding-block-start: 56px;

  .fonctionnalite-titre {
    color: currentColor;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    font-weight: 700;
  }
}

.controle-segmente-fonctionnalites {
  margin-block-end: 56px;
}

.fonctionnalite-description {
  margin: 0;
  padding-block-end: 8px;
}

@media screen and (min-width: 1200px) {
  #fonctionnalites {
    .fonctionnalite-titre {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .fonctionnalite {
    cursor: pointer;
  }

  .fonctionnalite:hover {
    color: var(--text-mention-grey);
  }

  .illustration-fonctionnalites-segmentees-desktop {
    display: flex;
    flex: 1;
  }

  .fonctionnalite img {
    display: none;
  }

  .fonctionnalite.active {
    color: var(--text-action-high-blue-france);
  }

  .conteneur-fonctionnalites {
    gap: 24px;
  }
}
