form {
  display: flex;
  flex-direction: column;
}

form h1 {
  padding-top: 1em;
}

form a {
  cursor: pointer;

  color: var(--bleu-mise-en-avant);
  text-decoration: none;
}

form label,
fieldset {
  display: block;
  margin-bottom: 3em;

  font-weight: bold;
}

form label .infos-complementaires {
  font-weight: normal;
  font-size: 0.9em;
  color: var(--texte-moyen);
}

form input {
  box-sizing: border-box;
  width: 100%;

  margin-top: 0.3em;
  padding: 0.8em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: var(--fond-pale);

  font-family: Marianne;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 0 0 2em;
  border: none;
}

input[type='text'] {
  margin-bottom: 1em;
}

input[type='text']:last-of-type {
  margin-bottom: 0;
}

input[type='date'] {
  width: 11em;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0 1em 0 0;
  padding: 0;
  width: 1.6em;
  height: 1.6em;
  transform: translateY(0.4em);
  flex-shrink: 0;
}

input[type="checkbox"] {
  border-radius: 0.15em;
  border: 1px solid var(--gris-fonce);
}

input[type="radio"] {
  border: 0;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %232f3a43; stroke-width: 0.25em" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: 0.5px solid var(--bleu-mise-en-avant);
  outline-offset: 2px;
}

input[type="radio"]:focus {
  border-radius: 1px;
}

input[type="checkbox"]:checked {
  background-color: var(--bleu-mise-en-avant);

  border-color: var(--bleu-mise-en-avant);
}

input[type="radio"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %230f7ac7; stroke-width: 0.50em" /></svg>');
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  content: "";
  display: block;
}

input[type="checkbox"]:checked::before {
  margin: auto;
  width: .4em;
  height: .9em;
  border-right: .15em #fff solid;
  border-bottom: .15em #fff solid;
  transform: rotate(0.12turn);
}

input[type="radio"]:checked::before {
  height: 100%;
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="25" style="fill: %230f7ac7" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

input[type='checkbox']+label,
input[type='radio']+label {
  display: inline-block;

  margin: 1em 0 0;

  font-weight: normal;
}

textarea {
  resize: vertical;
  display: block;
  box-sizing: border-box;

  height: 10em;
  width: 100%;

  margin-top: 1em;
  padding: 0.8em;

  border: solid 1px var(--liseres);
  border-radius: 3px;

  background: var(--fond-pale);

  font-family: "Marianne";
  font-size: 0.93em;
}

select {
  display: block;
  box-sizing: border-box;
  margin: 0.3em 0 1em 0;
  padding: 0.8em;
  border: solid 1px var(--liseres);
  border-radius: 5px;
  width: 100%;
  background: var(--fond-pale);
  font-family: Marianne;

  appearance: none;
}

.selecteur-options {
  position: relative;
}

.selecteur-options::after {
  content: "";
  top: 0.98em;
  right: 1.05em;
  position: absolute;
  border-bottom: 1.5px black solid;
  border-right: 1.5px black solid;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(45deg);
}

.case-a-cocher {
  display: grid;
  grid-template-columns: auto 1fr;
}

.case-a-cocher>input[type='checkbox']+label {
  margin-top: 0;
}

.case-a-cocher .message {
  grid-column-end: span 2;
}

.conseil {
  margin-bottom: 1em;

  color: var(--bleu-anssi);
  border: 1px solid var(--bleu-mise-en-avant);
  border-radius: 0.5em;
  padding: 0.6em 0.8em 0.6em 2.4em;
  background: url('../images/ampoule.svg') no-repeat 0.6em 0.6em;
}

.conteneur-nom-service {
  position: relative;
}

#liste-suggestions {
  position: absolute;
  border: 1px solid var(--bleu-survol);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: white;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  list-style: none;
  padding-left: 0;
  transform: translateY(-4px);
  max-height: 10em;
  overflow-y: scroll;
  display: none;
}

.item-suggestion {
  padding: 0.3em 0;
  cursor: pointer;
}

.item-suggestion:hover {
  background: var(--fond-gris-pale);
  color: var(--bleu-mise-en-avant);
}

.icone-chargement {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 1em;
  transform: translateY(-2.2em);
  z-index: 10;
}

.icone-chargement::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid var(--gris-fonce);
  border-color: var(--gris-fonce) transparent var(--gris-fonce) transparent;
  animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input[type="checkbox"]+label.label-checkbox {
  width: 80%;
  margin: 0;
}

#infolettreAcceptee {
  vertical-align: top;
  cursor: pointer;
}
