form {
  display: flex;
  flex-direction: column;
}

form h1 {
  padding-top: 1em;
}

form a {
  cursor: pointer;

  color: var(--bleu-mise-en-avant);
  text-decoration: none;
}

form label, fieldset {
  display: block;
  margin-bottom: 3em;

  font-weight: bold;
}

form label .infos-complementaires {
  font-weight: normal;
  font-size: 0.9em;
  color: var(--texte-moyen);
}

form input {
  box-sizing: border-box;
  width: 100%;

  margin-top: 0.3em;
  padding: 0.8em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: var(--fond-pale);

  font-family: Marianne;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 0 0 2em;
  border: none;
}

input[type='text'] {
  margin-bottom: 1em;
}

input[type='text']:last-of-type {
  margin-bottom: 0;
}

input[type='date'] {
  width: 11em;
}

input[type="checkbox"], input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0 1em 0 0;
  padding: 0;
  width: 1.6em;
  height: 1.6em;
  transform: translateY(0.4em);
}

input[type="checkbox"] {
  border-radius: 0.15em;
  border: 1px solid var(--gris-fonce);
}

input[type="radio"] {
  border: 0;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %232f3a43; stroke-width: 0.25em" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: 0.5px solid var(--bleu-mise-en-avant);
  outline-offset: 2px;
}

input[type="radio"]:focus {
  border-radius: 1px;
}

input[type="checkbox"]:checked {
  background-color: var(--bleu-mise-en-avant);

  border-color: var(--bleu-mise-en-avant);
}

input[type="radio"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %230f7ac7; stroke-width: 0.50em" /></svg>');
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
  content: "";
  display: block;
}

input[type="checkbox"]:checked::before {
  margin: auto;
  width: .4em;
  height: .9em;
  border-right: .15em #fff solid;
  border-bottom: .15em #fff solid;
  transform: rotate(0.12turn);
}

input[type="radio"]:checked::before {
  height: 100%;
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="25" style="fill: %230f7ac7" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

input[type='checkbox'] + label, input[type='radio'] + label {
  display: inline-block;

  margin: 1em 0 0;

  font-weight: normal;
}

textarea {
  resize: vertical;
  display: block;
  box-sizing: border-box;

  height: 10em;
  width: 100%;

  margin-top: 1em;
  padding: 0.8em;

  border: solid 1px var(--liseres);
  border-radius: 3px;

  background: var(--fond-pale);

  font-family: "Marianne";
  font-size: 0.93em;
}

select {
  display: block;
  margin: 1em 0;
}

.case-a-cocher {
  display: grid;
  grid-template-columns: auto 1fr;
}

.case-a-cocher > input[type='checkbox'] + label {
  margin-top: 0;
}

.case-a-cocher .message {
  grid-column-end: span 2;
}
