.landing {
  text-align: left;
}

.bloc-public {
  @media (min-width: 992px) {
    --padding-block: 4.5rem;
  }

  .conteneur-colonnes {
    --colonnes-gap: 1.5rem;

    .principale,
    .secondaire {
      @media (min-width: 992px) {
        --colonne-taille: 50%;
      }
    }
  }

  .principale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .titre {
    margin-block: 0;
  }

  .corps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .description {
    margin-block: 0;
  }
}

.bloc-chiffres {
  background-color: var(--background-action-high-blue-france);

  .chiffres {
    color: var(--text-inverted-grey);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0;
    list-style: none;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  .chiffre {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 992px) {
      flex: 1;
      padding-inline: 2rem;
    }
  }

  .valeur {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin-block: 0;
    text-align: center;

    @media (min-width: 992px) {
      white-space: nowrap;
    }
  }

  .libelle {
    margin-block: 0;
    text-align: center;
  }
}

.bloc-competences {
  background-color: var(--background-alt-blue-france);

  @media (min-width: 992px) {
    --padding-block: 6rem;
  }

  .entete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    @media (min-width: 992px) {
      align-items: center;
      text-align: center;
    }
  }

  .titre {
    margin-block: 0;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-block: 0;
  }

  .competences {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;

    @media (min-width: 992px) {
      margin-block-start: 3rem;
    }
  }

  .introduction {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-block: 0;
  }

  .cartes {
    display: grid;
    gap: 1.5rem;
    margin: 0;
    list-style: none;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-block-start: 2rem;

    @media (min-width: 992px) {
      margin-block-start: 3rem;
    }
  }
}
