:root {
  --couleur-principale: #0079d0;
  --couleur-principale-attenuee: #eaf5ff;
}

main {
  border-top: none;
  display: block;
}

.bloc-contenu {
  padding: 24px 16px;
}

.fond-couleur-principale {
  background: var(--couleur-principale);
  color: white;
}

.fond-couleur-principale-attenuee {
  background: var(--couleur-principale-attenuee);
  color: #282828;
}

.fond-couleur-principale-attenuee h3 {
  color: #08416a;
}

h1 {
  margin: 16px 0 0;
}

h2 {
  margin: 24px 0 0;
  font-weight: normal;
}

h3 {
  font-size: 1.8em;
}

.alignement-gauche {
  text-align: left;
}

a {
  background: white;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--couleur-principale);
  font-weight: 500;
  margin: 24px 0;
}

a.secondaire {
  background: transparent;
  border: 1px solid white;
  color: white;
}

a.principal {
  background: var(--couleur-principale);
  color: white;
}

.grande-marge-basse {
  margin-bottom: 40px;
}

.moyenne-marge-basse {
  margin-bottom: 32px;
}

.petite-marge-basse {
  margin-bottom: 24px;
}

.moyenne-police {
  font-size: 1.4em;
}

.couleur-principale-foncee {
  color: #0c5c98;
}

p {
  margin: 0;
}

.conteneur-logo-partenaire {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.conteneur-avantages {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contenu-avantage {
  border-left: 4px solid var(--couleur-principale);
  padding-left: 16px;
  padding-right: 8px;
}

.contenu-avantage h4 {
  font-size: 1.8em;
  text-align: left;
  margin: 0 0 8px;
}

.contenu-avantage p {
  font-size: 1em;
  text-align: left;
}

.conteneur-photos-equipe {
  display: flex;
  flex-direction: row;
}

.conteneur-photos-equipe .decalage-gauche {
  transform: translateX(-40px);
}

hr {
  border: none;
  border-top: 1px solid white;
}
