:root {
  --couleur-principale: #0079d0;
  --couleur-principale-attenuee: #eaf5ff;
}

main {
  border-top: none;
  display: block;
}

#home .bloc-contenu {
  padding: 24px 16px;
}

#home .fond-couleur-principale {
  background: var(--couleur-principale);
  color: white;
}

#home .fond-couleur-principale-attenuee {
  background: var(--couleur-principale-attenuee);
  color: #282828;
}

#home .fond-couleur-principale-attenuee h3 {
  color: #08416a;
}

#home h1 {
  margin: 16px 0 0;
}

#home h2 {
  margin: 24px 0 0;
  font-weight: normal;
}

#home h3 {
  font-size: 1.8em;
  margin: 24px 0 0;
}

#home .alignement-gauche {
  text-align: left;
}

#home a {
  background: white;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--couleur-principale);
  font-weight: 500;
  margin: 24px 0;
}

#home a.secondaire {
  background: transparent;
  border: 1px solid white;
  color: white;
}

#home a.principal {
  background: var(--couleur-principale);
  color: white;
}

#home .grande-marge-basse {
  margin-bottom: 40px;
}

#home .moyenne-marge-basse {
  margin-bottom: 32px;
}

#home .petite-marge-basse {
  margin-bottom: 24px;
}

#home .tres-petite-marge-basse {
  margin-bottom: 16px;
}

#home .sans-padding-bas {
  padding-bottom: 0;
}

#home .moyenne-police {
  font-size: 1.4em;
}

#home .couleur-principale {
  color: var(--couleur-principale);
}

#home .couleur-principale-foncee {
  color: #0c5c98;
}

#home p {
  margin: 0;
}

#home .conteneur-titre {
  display: flex;
  flex-direction: column;
}

#home .conteneur-logo-partenaire {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#home .conteneur-avantages {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#home .conteneur-avantage {
  display: flex;
  flex-direction: column;
}

#home .contenu-avantage {
  border-left: 4px solid var(--couleur-principale);
  padding-left: 16px;
  padding-right: 8px;
}

#home .contenu-avantage h4 {
  font-size: 1.8em;
  text-align: left;
  margin: 0 0 8px;
}

#home .contenu-avantage p {
  font-size: 1em;
  text-align: left;
}

#home .conteneur-photos-equipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home .conteneur-photos-equipe .decalage-gauche {
  transform: translateX(-40px);
}

#home hr {
  border: none;
  border-top: 1px solid white;
}

#home .etapes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#home .numero-etape {
  width: 48px;
  height: 48px;
  background: var(--couleur-principale);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

#home .numero-etape span {
  transform: translateY(-2px);
}

#home .etape h4 {
  font-size: 1.8em;
  margin: 0 0 16px;
}

#home .etape p {
  font-size: 1.2em;
}

#home .decalage-bas {
  transform: translateY(6px);
}

#home .chiffres-cle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#home .chiffre-cle h4 {
  font-size: 4em;
  margin: 0 0 16px;
}

#home .chiffre-cle p {
  font-weight: bold;
  font-size: 1.4em;
}

#home .conteneur-entites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

#home .conteneur-entites img {
  margin-bottom: 24px;
  align-self: center;
}

#home .conteneur-temoignages {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#home .temoignage h4 {
  margin: 8px 0 0;
  font-size: 1.4em;
}

#home .temoignage h5 {
  margin: 16px 0 0;
  font-size: 1em;
  color: #0c5c98;
}

#home .temoignage h6 {
  margin: 4px 0 0;
  color: #666666;
  font-style: italic;
  font-weight: normal;
}

#home .titre-etroit {
  padding: 0 16px;
}

#home .icone-lien-externe::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('/statique/assets/images/home/icone_lien_externe.svg');
  background-repeat: no-repeat;
  margin-right: 8px;
}

#home #carrousel-presentation .conteneur-carrousel {
  background: linear-gradient(
    to bottom,
    var(--couleur-principale) 20%,
    var(--couleur-principale-attenuee) 20%
  );
}

#home .conteneur-carrousel {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 24px;
}

#home .conteneur-carrousel::-webkit-scrollbar {
  display: none;
}

#home .carte-carrousel {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 12px 12px 0 #0000001a;
  padding: 0 32px 32px 32px;
  width: calc(100vw - (32px + 32px + 16px * 2));
  flex-shrink: 0;
  scroll-snap-align: center;
}

#home .carte-carrousel:first-of-type {
  margin-left: 16px;
}

#home .carte-carrousel:last-of-type {
  margin-right: 16px;
}

#home .carte-carrousel img {
  margin: 0;
}

#home .carte-carrousel h4 {
  margin: 8px 0 0;
  font-size: 1.8em;
  font-weight: 800;
}

#home .conteneur-liens-carrousel {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  background: var(--couleur-principale-attenuee);
  padding: 0 16px 24px 16px;
}

#home #carrousel-temoignages .conteneur-liens-carrousel {
  padding: 0 0 24px 0;
}

#home .conteneur-liens-carrousel button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #0c5c98;
  color: #0c5c98;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .conteneur-liens-carrousel button.suivant img {
  transform: rotate(180deg);
  padding-right: 8px;
}

#home .temoignage {
  min-width: calc(100vw - 32px);
  width: calc(100vw - 32px);
  flex-shrink: 0;
  scroll-snap-align: center;
}

#home .taille-borne-242 {
  max-width: 242px;
}

#home #illustration-collaboratif {
  max-width: 384px;
  width: 100%;
}

#home #conteneur-sport-collectif {
  overflow-y: hidden;
}
