.suivi-homologations h1 {
  padding: 1em 0;

  text-align: left;
  color: #2f3a43;
}

.homologations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.homologation {
  padding: 2em;

  border: solid 1px #ebedf0;
  border-radius: 5px;
  background: white;

  color: #1b7cc4;
}

.nouvelle.homologation {
  font-weight: bold;
  text-decoration: none;
}

.nouvelle.homologation:hover {
  border-color: #1b7cc460;
  background: #1b7cc401;
}

.nouvelle.homologation .icone {
  width: 1em;
  margin: 0 auto 0.6em;
  padding: 0.1em 0.35em;

  border-radius: 100%;
  background: #ebedf0;


  font-weight: bold;
  font-size: 2.5em;
}
