.details-homologation {
  width: 800px;

  box-sizing: border-box;
  margin-top: 3em;
  padding: 1em 6em;

  background: #fff;
  border-radius: 5px;

  text-align: left;
}

.tableau-bord {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableau-bord h1 {
  color: var(--texte-fonce);
  font-size: 2.2em;
}

.tableau-bord .bouton {
  margin: 0;
  padding: 1em 1.5em;

  font-size: 0.8em;
}

.details-homologation section:last-of-type {
  border-bottom: none;
}

.actions ul {
  margin: 0;
  padding: 0;
}

.actions li {
  list-style-type: none;
}

a.action {
  display: block;

  margin-bottom: 1em;
  padding: 1em 2em;

  border-radius: 5px;
  background: var(--liseres);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 98% 50%;

  text-decoration: none;

  font-weight: bold;
  font-size: 0.9em;
  color: var(--bleu-mise-en-avant);
}

a.action.faite {
  background-image: url(../images/icone_ok_pastille_verte.svg);
}

a.action.a-completer {
  background-image: url(../images/icone_edition_pastille_grise.svg);
}

a.action.a-faire {
  background-image: url(../images/icone_vide_pastille_blanche.svg);
}
