.tableau-bord {
  position: relative;

  padding: 1em 1.5em;

  background: #fff;
  border-radius: 5px;

  text-align: left;
}

.tableau-bord h1 {
  margin: 0;
  padding: 0.3em 0 1em;

  color: #000;
  font-size: 2.2em;
}

.tableau-bord h2 {
  font-size: 1em;
}

.tableau-bord .niveau-securite {
  padding-bottom: 2em;
}

.tableau-bord .niveau {
  text-transform: uppercase;
}

.tableau-bord .bouton {
  margin: 1em 0.5em 0.2em 1em;
  float: right;
  padding: 1em 1.5em;

  font-size: 0.8em;
}

.tableau-bord section:last-of-type {
  border-bottom: none;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;

  margin: 0 0 1em;
}

.actions dt {
  font-weight: bold;
  font-size: 1.3em;
}

.actions dd {
  margin: 0;
}

.actions ul {
  margin: 0;
  padding: 0;
}

.actions li {
  list-style-type: none;
}

a.action {
  display: block;

  margin-bottom: 1em;
  padding: 1em 2em;

  border-radius: 5px;
  background: #ebedf0;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 98% 50%;

  text-decoration: none;

  font-weight: bold;
  font-size: 0.9em;
  color: #1b7cc4;
}

a.action.faite {
  background-image: url(../images/icone_ok_pastille_verte.svg);
}

a.action.a-completer {
  background-image: url(../images/icone_edition_pastille_grise.svg);
}

a.action.a-faire {
  background-image: url(../images/icone_vide_pastille_blanche.svg);
}

.action a {
}
