.details-homologation {
  box-sizing: border-box;
  padding: 2em 2em 0;
  height: fit-content;

  background: #fff;
  border-radius: 5px;

  text-align: left;
}

.tableau-bord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 1.5em;
}

.tableau-bord .bouton {
  align-self: flex-end;
  margin: 0;
  padding: 1em 1.5em;

  font-size: 0.8em;
}

.description-dossier {
  display: flex;
  align-items: center;

  margin-bottom: .5em;
}

.titre-homologation {
  flex-basis: 100%;
  min-width: 0;
}

.titre-homologation h2 {
  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: bold;
  font-size: 2.2em;
  color: var(--texte-fonce);
}

.details-homologation section:last-of-type {
  border-bottom: none;
}

.actions ul {
  margin: 0;
  padding: 0;
}

.actions li {
  list-style-type: none;
}

a.action {
  display: block;

  margin-bottom: 1em;
  padding: 1em 2em;

  border-radius: 5px;
  background: var(--liseres);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 98% 50%;

  text-decoration: none;

  font-weight: bold;
  font-size: 0.9em;
  color: var(--bleu-mise-en-avant);
}

a.action.faite {
  background-image: url(../images/icone_ok_pastille_verte.svg);
}

a.action.a-completer {
  background-image: url(../images/icone_edition_pastille_grise.svg);
}

a.action.a-faire {
  background-image: url(../images/icone_vide_pastille_blanche.svg);
}
