h1 {
  margin-top: 0;

  font-size: 2.8em;
  line-height: 1.2em;
}

.logo-anssi {
  width: 33%;

  background-image: url(../images/logo_anssi.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction {
  display: flex;
  column-gap: 3em;

  margin-top: 3em;

  text-align: left;
}

.introduction h1 {
  color: #0d4269;
}

.introduction p {
  font-size: 1.5em;
}

.introduction .bouton {
  margin-left: 0;
}

.fonctionnalites ul, .exemples {
  display: flex;
  column-gap: 1em;

  padding: 3em 0 0;
}

.fonctionnalites li {
  list-style-type: none;

  flex: 1;

  margin: 0;
  padding: 5em 1em 2em;

  border: solid 1px #ebedf0;
  border-radius: 2px;

  font-weight: bold;
  font-size: 1.6em;

  background-color: white;
  background-repeat: no-repeat;
  background-size: 2.6em;
  background-position-x: 50%;
  background-position-y: 1.2em;
}

.demarrage-rapide {
  background-image: url(../images/icone_demarrage_rapide.svg);
}

.gain-temps {
  background-image: url(../images/icone_gain_temps.svg);
}

.conseils-anssi {
  background-image: url(../images/icone_conseils_anssi.svg);
}

.bandeau {
  margin-top: 3em;
  padding: 5em;
  background: #0d4269;

  font-size: 1.2em;
}

.description {
  width: 800px;
  margin: 0 auto;

  color: #fff;
}

.description h1 {
  margin-bottom: 2em;
}

.description h2 {
  font-size: 1.3em;
}

.description p {
  text-align: left;
}

.description hr {
  margin: 4em 0 3em;

  border: none;
  border-top: solid 0.5px;
}

.exemples {
  color: #0d4269;
}

.exemple {
  flex: 1;

  padding: 1em;
  border-radius: 2px;

  background: #fff;

  font-size: 0.9em;
}

.exemple h3 {
  margin: 0;
}

.exemple h3:before {
  display: block;

  width: 100%;
  height: 8em;

  margin-bottom: 2em;
  background-repeat: no-repeat;
  background-size: contain;

  content: '';
}

.exemple.site-internet h3:before {
  background-image: url(../images/photo_site_internet.png);
}

.exemple.application h3:before {
  background-image: url(../images/photo_application.png);
}

.exemple.api h3:before {
  background-image: url(../images/photo_api.png);
}


.exemple p {
  text-align: center;
}

.utilisation {
  padding-top: 5em;
}

.utilisation p {
  font-size: 1.2em;
}

.etapes, .exemple-dossier {
  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 5em 3em;

  margin-top: 6em;
}

.etape {
  padding: 2em 4em 2em 2em;
  border: solid 1px #ebedf0;
  border-radius: 5px;

  text-align: left;
}

.etape h1 {
  color: #1b7cc4;
  margin: 0;
}

.etape h2 {
  margin-top: 0;
  font-size: 1.2em;
}

.etape p {
  font-weight: light;
  font-size: 0.9em;
  color: #2f3a43;
}

.point-etape {
  position: relative;
  margin: auto;

  width: 4em;
  height: 4em;

  border-radius: 50%;
  background: #1b7cc4;
}

.icone-etape {
  padding: 2em;

  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.icone-etape.informations {
  background-image: url(../images/icone_etape_informations.svg);
}

.icone-etape.mesures {
  background-image: url(../images/icone_etape_mesures.svg);
}

.icone-etape.niveau-securite {
  background-image: url(../images/icone_etape_niveau_securite.svg);
}

.icone-etape.dossier {
  background-image: url(../images/icone_etape_dossier.svg);
}

.ligne-verticale {
  position: absolute;
  left: 49.6%;
  top: 12.5%;

  width: 0.8%;
  height: 75%;
  background: #1b7cc4;
}

.exemple-dossier {
  text-align: left;
  color: #fff;
}

.exemple-dossier h1 {
  font-size: 1.2em;
}

.exemple-dossier .legende {
  padding-right: 3em;
}

.exemple-dossier .capture-ecran {
  grid-column: 2 / 4;
  height: 40em;

  background-image: url(../images/capture_ecran_dossier_homologation.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau ~ .bouton {
  margin-top: 10em;
}
