h1 {
  margin-top: 0;

  font-size: 2.8em;
  line-height: 1.2em;
}

.intro-mss {
  width: 67%;

  background-image: url(../images/image_intro_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction {
  display: flex;
  column-gap: 3em;

  margin-top: 3em;

  text-align: left;
}

.introduction h1 {
  color: #0d4269;
}

.introduction p {
  font-size: 1.5em;
}

.introduction .logos {
  display: flex;
}

.introduction .logos div {
  width: 5.5em;
  height: 5.5em;
  margin-right: 1.7em;
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction .logo-rgpd {
  background-image: url(../images/logo_RGPD.svg);
}

.introduction .logo-rgs {
  background-image: url(../images/logo_rgs.svg);
}

.introduction .bouton {
  margin-left: 0;
}

.bandeau-solution {
  background-color: #f6f6f6;
  padding-bottom: 3em;
}

.fonctionnalites ul {
  display: flex;
  column-gap: 1em;

  padding: 3em 0 0;
}

.fonctionnalites li {
  list-style-type: none;

  flex: 1;

  margin: 0;
  padding: 1.3em;
  text-align: left;

  border: solid 1px #ebedf0;
  border-radius: 2px;

  font-weight: bold;
  font-size: 1.6em;

  background-color: white;
  background-repeat: no-repeat;
  background-size: 2.6em;
  background-position-x: 50%;
  background-position-y: 1.2em;
}

.fonctionnalites .message {
  align-self: center;
  padding: 0 0.5em 0 0;
  border: none;
  background: inherit;
  font-size: 2.2em;
}

.fonctionnalites p {
  font-size: 0.7em;
  font-weight: normal;
}

.icone-fonctionnalite {
  width: 0.9em;
  height: 0.9em;
  margin-bottom: 0.44em;
  background-size: contain;
  background-repeat: no-repeat;
}

.pedagogie {
  background-image: url(../images/icone_gros_livre.svg);
}

.collaboration{
  background-image: url(../images/icone_personnes.svg);
}

.personnalisation{
  background-image: url(../images/icone_etoile.svg);
}

.bandeau {
  padding: 3em 0 5em;
  background: #1b7cc4;

  font-size: 1.2em;
}

.bandeau a {
  color: #fff;
}

.bandeau a:hover {
  color: #f9b049;
}

.bandeau-description {
  box-sizing: border-box;
  padding: 4em 6em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.guide-homologation {
  flex: 1 1;

  background-image: url(../images/image_guide_homologation.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20em;
}

.description {
  flex: 2 1;
  color: #0d4269;
}

.description h1 {
  margin-bottom: 1.5em;
  font-size: 2.1em;
  text-align: left;
}

.description p {
  text-align: left;
}

.illustration {
  box-sizing: border-box;
  padding: 0 10em;
  margin: 0 auto;
  color: #fff;
}

.illustration h2 {
  font-size: 2em;
}

.exemples {
  display: flex;

  margin-top: 3em;

  color: #0d4269;
}

.exemple {
  flex: 1;

  margin: 0 0.75em;
  padding: 1em;
  border-radius: 2px;

  background: #fff;

  font-size: 0.9em;
}

.exemple h3 {
  margin: 0;
}

.exemple h3:before {
  display: block;

  width: 100%;
  height: 8em;

  margin-bottom: 2em;
  background-repeat: no-repeat;
  background-size: contain;

  content: '';
}

.exemple.site-internet h3:before {
  background-image: url(../images/image_site_internet.svg);
}

.exemple.application h3:before {
  background-image: url(../images/image_appli_mobile.svg);
}

.exemple.api h3:before {
  background-image: url(../images/image_api.svg);
}


.exemple p {
  text-align: center;
}

.utilisation {
  padding-top: 5em;
}

.utilisation p {
  font-size: 1.2em;
}

.etapes, .exemple-dossier {
  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 5em 3em;
}

.etapes {
  margin: 6em 0 4em;
}

.etape {
  padding: 2em 4em 2em 2em;
  border: solid 1px #ebedf0;
  border-radius: 5px;

  text-align: left;
}

.etape h1 {
  color: #1b7cc4;
  margin: 0;
  font-size: 3.9em;
}

.etape h2 {
  margin-top: 0;
  font-size: 1.7em;
}

.etape p {
  font-weight: light;
  font-size: 0.8em;
  color: #2f3a43;
}

.point-etape {
  position: relative;
  margin: auto;

  width: 4em;
  height: 4em;

  border-radius: 50%;
  background: #1b7cc4;
}

.icone-etape {
  padding: 2em;

  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.icone-etape.informations {
  background-image: url(../images/icone_etape_informations.svg);
}

.icone-etape.mesures {
  background-image: url(../images/icone_etape_mesures.svg);
}

.icone-etape.niveau-securite {
  background-image: url(../images/icone_etape_niveau_securite.svg);
}

.icone-etape.dossier {
  background-image: url(../images/icone_etape_dossier.svg);
}

.ligne-verticale {
  position: absolute;
  left: 49.6%;
  top: 12.5%;

  width: 0.8%;
  height: 75%;
  background: #1b7cc4;
}

.exemple-dossier {
  margin-top: 2em;

  text-align: left;
  color: #fff;
}

.exemple-dossier h1 {
  font-size: 2em;
  line-height: 1.4em;
  padding-right: 2em;
}

.exemple-dossier .legende {
  padding-right: 3em;
}

.exemple-dossier .capture-ecran {
  grid-column: 2 / 4;
  height: 40em;

  background-image: url(../images/capture_ecran_dossier_homologation.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau ~ .bouton {
  margin-top: 10em;
}

main {
  padding-bottom: 0;
}
