main {
  padding-bottom: 0;
}

.introduction {
  display: flex;
  column-gap: 3em;

  margin: 5em auto 3em auto;

  text-align: left;
}

.introduction h1 {
  margin-top: 0;

  color: var(--bleu-anssi);
  font-size: 2.7em;
  line-height: 1.2em;
}

.introduction p {
  font-size: 1.4em;
}

.presentation {
  flex: 2;
}

.image-intro-mss {
  flex: 1;

  background-image: url(../images/image_intro_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
