select {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.3em;
  padding: 0.8em;
  border: solid 1px var(--liseres);
  border-radius: 5px;
  background: var(--fond-pale);
  font-family: Marianne;

  appearance: none;
}

.departements {
  position: relative;
}

.departements::after {
  content: "";
  top: 14px;
  right: 15px;
  position: absolute;
  border-bottom: 1.5px black solid;
  border-right: 1.5px black solid;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(45deg);
}

.avertissement {
  display: flex;
  margin-top: 2em;
  border: 1px var(--bleu-anssi) solid;
  border-radius: 5px;
  text-align: left;
}

.avertissement::before {
  content: '';
  background-image: url(../images/icone_information_bulle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.3em;
  margin: 1em 0 0 1em;
}

.avertissement p {
  margin: 0;
  padding: 1em 1em 1em 0.8em;
}

.mention {
  align-self: end;
  margin-top: 2em;
  margin-bottom: -1em;
}

.mention::before {
  margin-right: .4em;
}

.mention::before, .requis::before {
  content: "*";
  color: var(--rose-anssi);
}

.requis::before {
  position: absolute;
  left: -1em;
}

.requis {
  position: relative;
}

.message-erreur {
  display: none;

  margin-top: 1em;

  color: var(--rose-anssi);
  font-weight: normal;
  font-size: 0.85em;
}

.erreur .message-erreur {
  display: block;
}

.erreur input, .erreur select, .erreur input[type="checkbox"] {
  border-color: var(--rose-anssi);
}

.erreur input[type="radio"] {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %23ff6584; stroke-width: 0.50em" /></svg>')
}

.case-a-cocher {
  display: flex;
}

.case-a-cocher > input + label {
  margin-top: 0;
}

.case-a-cocher input[type='checkbox'] {
  width: 2.35em;
}

.requis[data-nom = 'cguAcceptees'] {
  margin-bottom: 2em;
}

.champ-saisi {
  border-color: var(--bleu-mise-en-avant);
}
