a.nouvel-onglet::after {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;

  -webkit-mask: url(/statique/assets/images/icone_lien_nouvel_onglet.svg)
    no-repeat center;
  mask: url(/statique/assets/images/icone_lien_nouvel_onglet.svg) no-repeat
    center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position-y: 0.1em;
  mask-position-y: 0.1em;
  background-color: var(--bleu-mise-en-avant);
  transform: translateX(0.12em) translateY(0.15em);
}

a.nouvel-onglet {
  display: inline-block;
}

a.avec-chevron {
  margin-right: 0.18em;
}

a.avec-chevron::after {
  content: '';
  display: inline-block;

  width: 0.4em;
  height: 0.4em;
  margin-left: 0.2em;

  border: 2px var(--bleu-mise-en-avant) solid;
  border-left: 0;
  border-bottom: 0;

  transform: rotate(0.12turn) translateY(-0.05em);
}
