:root {
  --menu-couleur-repos: var(--bleu-survol);
  --menu-couleur-survol: var(--bleu-mise-en-avant);
  --menu-couleur-actif: var(--bleu-anssi);
}

.menu-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 21em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 0 34px 0 #00000026;
}

.menu-navigation > * {
  padding: 20px 30px;
}

:is(.menu-navigation, .menu-navigation a) {
  color: var(--menu-couleur-repos);
}

.menu-navigation a:hover {
  color: var(--menu-couleur-survol);
}
.menu-navigation a:hover .chevron,
.menu-navigation .lien-contacts-utiles:hover::before,
.menu-navigation .lien-risques:hover::before {
  background-color: var(--menu-couleur-survol);
}
.menu-navigation a:hover .position {
  border-color: var(--menu-couleur-survol);
}
.menu-navigation a.actif:hover .position {
  background-color: var(--menu-couleur-survol) !important;
}

.menu-navigation a:active {
  color: var(--menu-couleur-actif);
}
.menu-navigation a:active .chevron,
.menu-navigation .lien-contacts-utiles:active::before,
.menu-navigation .lien-risques:active::before {
  background-color: var(--menu-couleur-actif);
}
.menu-navigation a:active .position {
  border-color: var(--menu-couleur-actif);
}
.menu-navigation a.actif:active .position {
  background-color: var(--menu-couleur-actif) !important;
}

.menu-navigation .accueil {
  background: #ebf4f7;
}

.menu-navigation .accueil a {
  display: block;
  width: 7.5rem;
  height: 2.8rem;
  background: url(../images/logo_mss.svg) no-repeat center;
  background-size: contain;
}

.menu-navigation .nom-service {
  background: #dbecf1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.menu-navigation :is(.parcours, .lien-tableau-de-bord, .lien-deconnexion) {
  background: #f8fafc;
}

.menu-navigation .parcours {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  flex: 1;
  padding-top: 50px;
}

.menu-navigation .parcours ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu-navigation .parcours ul li {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.menu-navigation .parcours a {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.menu-navigation .parcours .etapes a {
  font-size: 1.2em;
  font-weight: 700;
  align-items: baseline;
}

.menu-navigation .parcours a.actif .position {
  color: white;
  background: var(--menu-couleur-repos);
}

.menu-navigation .parcours .position {
  width: 1.3em;
  height: 1.3em;
  border: 2px solid var(--menu-couleur-repos);
  padding: 4px;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.1em;
  border-radius: 100%;
  text-align: center;
}

.menu-navigation .parcours .statut-saisie {
  margin-left: auto;
  width: 1em;
  height: 1em;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-navigation .parcours .statut-saisie.faite {
  background-image: url(../images/icone_ok_pastille_verte.svg);
  background-size: contain;
}

.menu-navigation .parcours .statut-saisie.en-cours {
  background-image: url(../images/icone_crayon_pastille_bleue.svg);
  background-size: contain;
}

.menu-navigation .parcours .chevron {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  align-self: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  background: var(--menu-couleur-repos);
  rotate: 90deg;
}

.menu-navigation .parcours a.actif .chevron {
  rotate: -90deg;
}

.menu-navigation .parcours .sous-titre {
  font-size: 0.9em;
}

.menu-navigation :is(.outils-complementaires, .documents-telechargeables) {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 0.98em;
}

.menu-navigation :is(.outils-complementaires, .documents-telechargeables) h4 {
  text-align: left;
  color: var(--menu-couleur-repos);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.menu-navigation :is(.outils-complementaires, .documents-telechargeables) ul {
  margin-top: 0;
  row-gap: 20px;
  font-weight: 700;
}

.menu-navigation :is(.outils-complementaires, .documents-telechargeables) a {
  align-items: center;
}

.menu-navigation .documents-telechargeables a {
  color: var(--bleu-mise-en-avant);
  font-weight: 500;
}
.menu-navigation .documents-telechargeables a:hover {
  color: #0c5c98;
}
.menu-navigation .documents-telechargeables a:active {
  color: #08416a;
}

:is(
    .menu-navigation .lien-tableau-de-bord,
    .menu-navigation .lien-deconnexion
  ) {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-top: 1px solid var(--menu-couleur-repos);
}

.menu-navigation .lien-tableau-de-bord {
  font-size: 1.125rem;
  font-weight: 500;
}

.menu-navigation .lien-deconnexion {
  padding-top: 10px;
  padding-bottom: 10px;
}

:is(
    .menu-navigation .lien-contacts-utiles,
    .menu-navigation .lien-risques,
    .menu-navigation .lien-tableau-de-bord,
    .menu-navigation .lien-deconnexion,
    .menu-navigation .lien-pdf
  )::before {
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  content: '';
  background-size: 1.5em;
  border-radius: 100%;
}

.menu-navigation .lien-contacts-utiles::before {
  background: url(../images/icone_contacts_utiles.svg) no-repeat center
    var(--menu-couleur-repos);
}

.menu-navigation .lien-risques::before {
  background: url(../images/icone_risques.svg) no-repeat center
    var(--menu-couleur-repos);
}

.menu-navigation .lien-tableau-de-bord::before {
  background: url(../images/icone_undo.svg) no-repeat;
  background-size: contain;
}

.menu-navigation .lien-deconnexion::before {
  background: url(../images/icone_deconnecter.svg) no-repeat;
  background-size: contain;
  border-radius: 0;
}

.menu-navigation .lien-pdf::before {
  background: url(../images/icone_action_telechargement.svg) no-repeat;
  background-size: contain;
  border-radius: 0;
}
