:root {
  --menu-couleur-repos: var(--bleu-survol);
  --menu-couleur-survol: var(--bleu-mise-en-avant);
  --menu-couleur-actif: var(--bleu-anssi);
}

.menu-navigation {
  position: sticky;
  top: 0;
  left: 0;
  width: var(--menu-largeur);
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex-shrink: 0;
  background: #f1f5f9;
  transition: width 0.2s cubic-bezier(0.05, 1.13, 0.81, 0.99);
}

.menu-navigation > * {
  padding: 15px 24px;
}

:is(.menu-navigation, .menu-navigation a) {
  color: var(--menu-couleur-repos);
}

.menu-navigation a:hover {
  color: var(--menu-couleur-survol);
}

.menu-navigation a:hover .action-saisie {
  background-color: var(--menu-couleur-survol);
}
.menu-navigation a:active {
  color: var(--menu-couleur-actif);
}
.menu-navigation a:active .action-saisie {
  background-color: var(--menu-couleur-actif);
}

.menu-navigation .actions {
  display: flex;
  justify-content: space-between;
}

.menu-navigation .repli-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbecf1;
  border: none;
  border-radius: 100%;
  width: 2.1em;
  height: 2.1em;
  cursor: pointer;
  position: absolute;
  right: -1em;
}

.menu-navigation .repli-menu img {
  width: 1em;
  height: 1em;
  rotate: 180deg;
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) saturate(100%) invert(18%) sepia(93%) saturate(2644%)
    hue-rotate(191deg) brightness(91%) contrast(91%);
  transform: translateX(1px);
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu-navigation ul li {
  display: flex;
  flex-direction: column;
}

.menu-navigation a > div,
.menu-navigation .autres-liens a {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.menu-navigation .autres-liens a:hover > span {
  color: var(--menu-couleur-repos);
}
.menu-navigation .autres-liens a:active > span {
  color: var(--menu-couleur-actif);
}
.menu-navigation .autres-liens a:hover img {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(17%) sepia(100%) saturate(2297%)
    hue-rotate(190deg) brightness(98%) contrast(91%);
}
.menu-navigation .autres-liens a:active img {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(15%) sepia(76%) saturate(1769%)
    hue-rotate(184deg) brightness(96%) contrast(94%);
}
.menu-navigation .autres-liens a.actif > div {
  background-color: var(--menu-couleur-repos);
}
.menu-navigation .autres-liens a.actif > span {
  color: var(--menu-couleur-repos);
}
.menu-navigation .autres-liens a.actif:hover > span {
  color: var(--menu-couleur-survol);
}
.menu-navigation .autres-liens a.actif img {
  filter: brightness(0) saturate(100%) invert(100%);
}
.menu-navigation .autres-liens a.actif:active > div {
  background-color: var(--menu-couleur-actif) !important;
}
.menu-navigation .autres-liens a.actif:active > span {
  color: var(--menu-couleur-actif);
}
.menu-navigation .autres-liens a.actif:hover > div {
  background-color: var(--menu-couleur-survol);
}

.menu-navigation .etapes li a {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 16px;
}

.menu-navigation .etapes li div {
  display: flex;
  flex-direction: column;
}

.menu-navigation .etapes #descriptionService {
  -webkit-mask: url(../images/actionsSaisie/descriptionService.svg) no-repeat
    center;
  mask: url(../images/actionsSaisie/descriptionService.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.menu-navigation .etapes #mesures {
  -webkit-mask: url(../images/actionsSaisie/mesures.svg) no-repeat center;
  mask: url(../images/actionsSaisie/mesures.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.menu-navigation .etapes #dossiers {
  -webkit-mask: url(../images/actionsSaisie/dossiers.svg) no-repeat center;
  mask: url(../images/actionsSaisie/dossiers.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.menu-navigation .action-saisie {
  background: var(--menu-couleur-repos);
  width: 24px;
  height: 24px;
}

.menu-navigation .etapes .nom-action {
  font-weight: 700;
  font-size: 1.1em;
}
.menu-navigation .etapes .sous-titre {
  font-weight: 400;
  font-size: 0.85em;
}

.menu-navigation .statut-saisie {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  transform: translateY(2px);
}

.menu-navigation .statut-saisie.faite {
  background-image: url(../images/icone_ok_pastille_verte.svg);
  background-size: cover;
}

.menu-navigation .statut-saisie.en-cours {
  background-image: url(../images/icone_crayon_pastille_bleue.svg);
  background-size: cover;
}

.menu-navigation .autres-liens {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 0.98em;
}

.menu-navigation .pastille {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.menu-navigation .autres-liens ul {
  row-gap: 14px;
  font-weight: 500;
  font-size: 1.13em;
}

.menu-navigation .autres-liens a {
  height: 30px;
  align-items: center;
  color: var(--bleu-mise-en-avant);
  font-weight: 500;
  font-size: 0.95em;
}

.menu-navigation .autres-liens a img {
  width: 22px;
  height: 22px;
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(29%) sepia(96%) saturate(1526%)
    hue-rotate(185deg) brightness(95%) contrast(101%);
}

.menu-navigation #icone-risques {
  transform: translateY(-1px);
}

/* MENU FERMÉ */
.menu-navigation.ferme {
  width: 5.5em;
}

.menu-navigation.ferme .none-si-ferme {
  display: none !important;
}
.menu-navigation.ferme .repli-menu img {
  rotate: 0deg;
  transition: rotate 0.2s;
}

/* GÉRER CONTRIBUTEURS */
.menu-navigation #gerer-contributeurs {
  width: 52px;
  height: 30px;
  padding: 0;
  background-image: url(../images/bouton_inviter_collaborateur_fond_ouvert.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: width 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  border-radius: 25px;
  overflow: hidden;
  border: none;
}

.menu-navigation #gerer-contributeurs:active {
  background: #08416a;
}

.menu-navigation.ferme #gerer-contributeurs {
  width: auto;
}
.menu-navigation.ferme .actions,
.menu-navigation.ferme .etapes div {
  justify-content: center;
}

.menu-navigation:not(.ferme) #gerer-contributeurs:hover {
  width: 217px;
  height: 30px;
}

.menu-navigation:not(.ferme) #gerer-contributeurs:hover .nombre-contributeurs {
  display: none;
}

.menu-navigation:not(.ferme) #gerer-contributeurs:hover .inviter-contributeurs {
  display: block;
}

.menu-navigation #gerer-contributeurs .nombre-contributeurs {
  color: #fff;
  transform: translateY(-2px);
}

.menu-navigation #gerer-contributeurs .inviter-contributeurs {
  display: none;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  transform: translateY(-2px);
}
