body.recouvert {
  overflow: hidden;
}

.puce-information {
  cursor: pointer;

  position: absolute;
  top: 1em;
  right: 2em;

  width: 1.2em;
  height: 1.2em;
  background-image: url(../images/icone_information.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.rideau {
  cursor: default;

  display: none;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  background: #0005;
}

.rideau.visible {
  display: flex;
}

.rideau .modale {
  position: relative;
  width: 600px;

  margin: 0 auto;
  padding: 1em 3em 3em;

  border-radius: 5px;
  background: white;
}

.rideau .modale .fermeture-modale {
  cursor: pointer;

  position: absolute;
  top: 1em;
  right: 1em;

  width: 0.8em;
  height: 0.8em;

  background-image: url(../images/icone_fermer.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.rideau .modale h1 {
  padding: 1em 0;

  font-size: 1.3em;
  color: var(--bleu-anssi);
  text-transform: none;
}

.rideau .modale p {
  margin-bottom: 0;
  color: var(--texte-fonce);
}

.rideau .modale section {
  padding: 2em;

  border: solid 1.5px var(--bleu-mise-en-avant);
  border-radius: 3px;
  background: var(--bleu-mise-en-avant-03-pc);
}

.rideau .modale a {
  cursor: pointer;
}

.rideau .modale a.bloc {
  display: block;
}

.modale.deconnexion {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('../images/forme_rectangle_vague.svg');
  background-size: 100% 40%;
  background-repeat: no-repeat;

  padding: 72px 5em 1em;
  width: revert;
  text-align: center;
}

.modale.deconnexion h1 {
  padding: 0;
  margin: 1.5em 0 0 0;

  font-size: 1.3em;
}

.modale.deconnexion p {
  margin: 0;
}

.modale.deconnexion .bouton:hover {
  color: #fff;
}

.modale.deconnexion .image-deconnexion {
  background-image: url('../images/fermeture_coffre_fort.svg');
  background-size: contain;
  background-repeat: no-repeat;

  width: 100%;
  background-position-x: center;
  height: 180px;
}

.contenu-modale {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.contenu-modale h1 {
  align-self: center;
}

.contenu-modale input {
  flex: auto;

  margin: 0;
  padding: 1em;
  border: solid 1px #ebedf0;
  border-radius: 3px;

  font-size: 0.9em;
}

.contenu-modale .confirmation {
  display: flex;
  justify-content: flex-end;

  margin-top: 2em;
}

.contenu-modale .confirmation .bouton {
  margin: 0;
}
