.rideau {
  cursor: default;

  display: none;
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  background: #0005;
}

.rideau .modale {
  position: relative;
  width: 600px;

  margin: 0 auto;
  padding: 1em 3em 3em;

  border-radius: 5px;
  background: white;
}

.rideau .modale .fermeture-modale {
  cursor: pointer;

  position: absolute;
  top: 1em;
  right: 1em;

  width: 0.8em;
  height: 0.8em;

  background-image: url(../images/icone_fermer.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.rideau .modale h1 {
  padding: 1em 0;

  font-size: 1.3em;
  color: var(--bleu-standard);
  text-transform: none;
}

.rideau .modale p {
  margin-bottom: 0;
  color: var(--texte-fonce);
}

.rideau .modale section {
  padding: 2em;

  border: solid 1.5px var(--bleu-mise-en-avant);
  border-radius: 3px;
  background: var(--bleu-mise-en-avant-03-pc);
}

.rideau .modale a {
  cursor: pointer;
}

.rideau .modale a.bloc {
  display: block;
}
