.modale-suppression-service .modale {
  width: 400px;
  padding: 3em 5em 1em 5em;
}

.modale-suppression-service .modale h1 {
  padding: 0;
}

.modale-suppression-service .nom-service {
  font-weight: bold;
}
