html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: 'Marianne';

  display: flex;
  flex-direction: column;
}

.marges-fixes {
  width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  border-top: solid 1px var(--liseres);
  border-bottom: solid 2px var(--systeme-design-etat-bleu);
  background: var(--fond-pale);

  text-align: center;
  font-size: 0.9em;
  color: var(--texte-fonce);
}

main a {
  text-decoration: none;
  color: var(--bleu-mise-en-avant);
}

section {
  padding: 2em 0;
  border-top: solid 1px var(--liseres);

  text-align: left;
}

section:last-of-type {
  border-bottom: solid 1px var(--liseres);
}

.invisible {
  display: none;
}

.disparu {
  opacity: 0;
  pointer-events: none;
}

.zone-principale,
.etroit {
  padding: 1.65em 7em 2em;
  border-radius: 5px;
  background: #fff;
}

.zone-principale {
  min-width: 0;
}

.etroit {
  width: 400px;
  margin: 2em auto 0;
}

.etroit h1 {
  margin: 0 0 0.2em 0;
  padding: 0;

  line-height: 1.1em;
}

.etroit .sous-titre {
  margin: 0;
}

.etroit .description {
  margin-top: 2em;

  text-align: left;
}

.etroit section {
  padding-bottom: 0;
  border: 0;
}

.etroit label {
  margin-bottom: 2em;
}

.etroit a {
  font-weight: normal;
}

.etroit .bouton {
  margin: 2em 0 2em auto;
  padding: 1em 2em;
}

.icone-chargement::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid var(--gris-fonce);
  border-color: var(--gris-fonce) transparent var(--gris-fonce) transparent;
  animation: rotation 1.2s linear infinite;
}

.banniere-avertissement,
.banniere-information {
  display: flex;
  border: 1px solid #faa72c;
  border-radius: 4px;
  background: #fff2de;
  padding: 0.7em 1em;
  gap: 1em;
}

.banniere-information {
  background: #dbeeff;
  border-color: #0079d0;
}

:is(.banniere-avertissement, .banniere-information) p {
  margin: 0;
  font-weight: 500;
}

#visite-guidee-rideau {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2f3a43b2;
  z-index: 10000;
}

#visite-guidee {
  z-index: 10001;
  position: fixed;
}

#visite-guidee-menu-navigation {
  position: fixed;
  z-index: 10001;
  bottom: 64px;
  left: 50px;
}

.banniere-maintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--role-proprietaire);
  border-top: 1px solid var(--role-proprietaire-texte);
  border-bottom: 1px solid var(--role-proprietaire-texte);
  font-size: 12px;
  font-weight: 500;
  gap: 12px;
}

.agentconnect-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.agentconnect-button {
  background-color: transparent !important;
  background-image: url('/statique/assets/images/agent_connect.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 206px;
  height: 60px;
  border: none;
  display: flex;
  margin: 0 auto;
}

.agentconnect-button:hover {
  background-image: url('/statique/assets/images/agent_connect_hover.svg');
}

.separation-agent-connect {
  border-top: none;
  border-color: var(--liseres-fonce);
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.separation-agent-connect::before {
  content: 'OU';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--texte-clair);
  z-index: 2;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0 8px;
}

#connexion {
  margin-bottom: 2em;
}
