html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Marianne";

  display: flex;
  flex-direction: column;
}

.marges-fixes {
  width: 1200px;
  margin: 0 auto;
  color: var(--bleu-anssi);
}

main {
  flex-grow: 1;
  padding-bottom: 5em;
  border-top: solid 1px var(--liseres);
  border-bottom: solid 1px var(--liseres);
  background: var(--fond-pale);

  text-align: center;
  font-size: 0.9em;
  color: var(--texte-fonce);
}

main a {
  text-decoration: none;
  color: var(--bleu-mise-en-avant);
}

section {
  padding: 2em 0;
  border-top: solid 1px var(--liseres);

  text-align: left;
}

section:last-of-type {
  border-bottom: solid 1px var(--liseres);
}

.retour {
  display: inline-block;

  margin-top: 3em;

  text-align: left;
}

.invisible {
  display: none;
}

.zone-principale, .etroit {
  padding: 4em 7em 2em;
  border-radius: 5px;
  background: #fff;
}

.zone-principale {
  min-width: 0;
}

.etroit {
  width: 400px;
  margin: 2em auto 0;
}

.etroit h1 {
  margin: 0 0 0.2em 0;
  padding: 0;

  line-height: 1.1em;
}

.etroit .sous-titre {
  margin: 0;
}

.etroit .description {
  margin-top: 2em;

  text-align: left;
}

.etroit section {
  padding-bottom: 0;
  border: 0;
}

.etroit label {
  margin-bottom: 2em;
}

.etroit a {
  font-weight: normal;
}

.etroit .bouton {
  margin: 2em 0 2em auto;
  padding: 1em 2em;
}
