body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Marianne";
}

.marges-fixes {
  width: 1200px;
  margin: 0 auto;
  color: var(--bleu-anssi);
}

main {
  padding-bottom: 5em;
  border-top: solid 1px var(--liseres);
  border-bottom: solid 1px var(--liseres);
  background: var(--fond-pale);

  text-align: center;
  font-size: 0.9em;
  color: var(--texte-fonce);
}

main a {
  text-decoration: none;
  color: var(--bleu-mise-en-avant);
}

section {
  padding: 2em 0;
  border-top: solid 1px var(--liseres);

  text-align: left;
}

section:last-of-type {
  border-bottom: solid 1px var(--liseres);
}

.retour {
  display: inline-block;

  margin-top: 3em;

  text-align: left;
}

.invisible {
  display: none;
}
