html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: 'Marianne';

  display: flex;
  flex-direction: column;
}

.marges-fixes {
  width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  border-top: solid 1px var(--liseres);
  border-bottom: solid 2px var(--systeme-design-etat-bleu);
  background: var(--fond-pale);

  text-align: center;
  font-size: 0.9em;
  color: var(--texte-fonce);
}

main a {
  text-decoration: none;
  color: var(--bleu-mise-en-avant);
}

section {
  padding: 2em 0;
  border-top: solid 1px var(--liseres);

  text-align: left;
}

section:last-of-type {
  border-bottom: solid 1px var(--liseres);
}

.retour {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.retour:empty {
  display: none;
}

.invisible {
  display: none;
}

.disparu {
  opacity: 0;
  pointer-events: none;
}

.zone-principale,
.etroit {
  padding: 4em 7em 2em;
  border-radius: 5px;
  background: #fff;
}

.zone-principale {
  min-width: 0;
}

.etroit {
  width: 400px;
  margin: 2em auto 0;
}

.etroit h1 {
  margin: 0 0 0.2em 0;
  padding: 0;

  line-height: 1.1em;
}

.etroit .sous-titre {
  margin: 0;
}

.etroit .description {
  margin-top: 2em;

  text-align: left;
}

.etroit section {
  padding-bottom: 0;
  border: 0;
}

.etroit label {
  margin-bottom: 2em;
}

.etroit a {
  font-weight: normal;
}

.etroit .bouton {
  margin: 2em 0 2em auto;
  padding: 1em 2em;
}

.icone-chargement::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid var(--gris-fonce);
  border-color: var(--gris-fonce) transparent var(--gris-fonce) transparent;
  animation: rotation 1.2s linear infinite;
}
