body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Marianne";
}

.marges-fixes {
  width: 1200px;
  margin: 0 auto;
  color: #0d4269;
}

main {
  padding-bottom: 5em;
  border-top: solid 1px #ebedf0;
  border-bottom: solid 1px #ebedf0;
  background: #fafbfc;

  text-align: center;
  font-size: 0.9em;
  color: #2f3a43;
}

main a {
  text-decoration: none;
  color: #1b7cc4;
}

section {
  padding: 2em 0;
  border-top: solid 1px #abb6bf;

  text-align: left;
}

section:last-of-type {
  border-bottom: solid 1px #abb6bf;
}
