.description {
  margin-bottom: 2.5em;
}

section.informations {
  display: flex;
  padding: 1.5em 0;
  color: var(--texte-fonce);
}

.informations::before {
  content: '';
  display: block;

  width: 1.7em;
  margin: 0.25em 0.5em 0 0;

  background-image: url(../images/icone_information_bleue.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.informations, .evolutions {
  line-height: 1.6em;
}

.evolutions {
  list-style: none;
  position: relative;
  padding: 0;
}

.evolutions li {
 margin-bottom: 1em;
 margin-left: 1.7em;
}

.evolutions li::before {
  content: '\2705';
  position: absolute;
  left: 0;
}

.evolutions h4 {
  margin: 0;
  font-weight: bold;
}

.evolutions img {
  display: block;
  width: 70%;
  margin: 2em auto;
}

.evolutions img.moyenne {
  width: 50%;
}

.boutons {
  display: flex;
  justify-content: end;
}
