.description {
  margin-bottom: 2.5em;
  padding-bottom: 2.2em;

  border-bottom: 1px solid var(--liseres);
}

.evolutions {
  line-height: 1.6em;
}

.evolutions {
  list-style: none;
  position: relative;
  padding: 0;
}

.evolutions li {
 margin-bottom: 1em;
 margin-left: 1.7em;
}

.evolutions li::before {
  content: '\2705';
  position: absolute;
  left: 0;
}

.evolutions li a::after {
  display: inline-block;
  content: '';
  width: 1.2em;
  height: 1.2em;

  -webkit-mask: url(../images/icone_lien_nouvel_onglet.svg) no-repeat;
  mask: url(../images/icone_lien_nouvel_onglet.svg) no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--bleu-mise-en-avant);
  transform: translateX(0.4em) translateY(0.15em);
}

.evolutions .astuce {
  color: var(--bleu-anssi);
}

.evolutions .astuce::before {
  content: '👌'
}

.evolutions h4 {
  margin: 0;
  font-weight: bold;
}

.evolutions img {
  display: block;
  width: 70%;
  margin: 2em auto;
}

.evolutions img.moyenne {
  width: 50%;
}

.boutons {
  display: flex;
  justify-content: end;
}
