:root {
  --bleu-anssi: #08416a;
  --bleu-ciel: #a3c6ee;
  --bleu-mise-en-avant: #0f7ac7;
  --bleu-mise-en-avant-03-pc: #0f7ac708;
  --bleu-mise-en-avant-20-pc: #0f7ac730;
  --rose-anssi: #ff6584;
  --rose-mise-en-avant: #f15172;
  --gris-fonce: #2f3a43;
  --gris-inactif: #929292;

  --texte-fonce: var(--gris-fonce);
  --texte-moyen-fonce: #5e5e5e;
  --texte-moyen: #929292;
  --texte-clair: #abb6bf;

  --bordure-foncee: var(--texte-clair);
  --liseres: #ebedf0;
  --fond-pale: #fafbfc;
  --fond-gris-clair: var(--liseres);

  --pdf-bleu-clair: #e4efff;

  --graphique-bleu-moyen:#75a1e8;
  --graphique-bleu-fonce:#0a4c8c;

  --vert-anssi: #4cb963;
  --jaune-anssi: #fcdf41;
  --orange-anssi: #ff9940;
  --rouge-anssi: #e32630;

  --mauve-indice-cyber: #9926be;
  --violet-indice-cyber: #7025da;
  --indigo-indice-cyber: #3352b0;
  --bleu-indice-cyber: #46a0e6;
  --argent-indice-cyber: #9cacb5;
  --argent-brillant-indice-cyber: #cecece;
  --or-indice-cyber: #d6aa23;
  --or-brillant-indice-cyber: #f4cd5e;

  /* https://www.systeme-de-design.gouv.fr */
  --systeme-design-etat-bleu: #000091;
  --systeme-design-etat-gris-survol: #f6f6f6;
}
