/*

bleu marine : #0d4269
bleu moyen : #456d96
bleu cliquable : #1b7cc4

gris pâle : #fafbfc
gris liserés : #ebedf0
gris moyen: #abb6bf
gris foncé : #2f3a43

vert pâle : #caefcb
vert : #1aaf54
vert foncé : #378348
jaune pâle : #fff1ce
orange: #f9b049
rouge : #ce1b25

*/
