:root {
  --bleu-anssi: #08416a;
  --bleu-ciel: #a3c6ee;
  --bleu-mise-en-avant: #0f7ac7;
  --bleu-mise-en-avant-03-pc: #0f7ac708;
  --bleu-mise-en-avant-20-pc: #0f7ac730;
  --rose-anssi: #ff6584;
  --rose-mise-en-avant: #f15172;
  --gris-fonce: #2f3a43;

  --texte-fonce: var(--gris-fonce);
  --texte-moyen: #929292;
  --texte-clair: #abb6bf;

  --liseres: #ebedf0;
  --fond-pale: #fafbfc;

  --vert-anssi: #4cb963;
  --jaune-anssi: #fcdf41;
  --orange-anssi: #ff9940;
  --rouge-anssi: #e32630;
}
