main {
  background-color: white;
}

.titre h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: bold;
  text-align: left;
  margin: 0 0 8px 0;
}

.sous-titre h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  text-align: left;
  margin: 12px 0 0 0;
  max-width: 750px;
}

.marges-fixes {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: auto;
}

.conteneur-entete {
  background-color: white;
  padding: 32px 24px 0 72px;
  color: #161616;
  margin-bottom: 24px;
}

.conteneur-page-formulaire {
  padding: 0 72px 32px;
  background: white;
}

.zone-principale {
  padding: 0;
  background: white;
  height: 100%;
}

.avancement-etape {
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #666;
}

.avancement-etape p {
  margin: 0;
  line-height: 24px;
}

.conteneur-etapier {
  width: 588px;
  display: flex;
  gap: 6px;
  margin: 12px 0;
}

.conteneur-etapier .etape {
  height: 8px;
  background-color: #eeeeee;
  text-decoration: none;
  flex: 1;
}

.conteneur-etapier a.etape,
.conteneur-etapier .etape.active {
  cursor: pointer;
  background-color: var(--bleu-mise-en-avant);
}

nav.marges-fixes {
  width: 1200px;
  margin: 0 auto;
  height: unset;
}

#menu-navigation-service {
  height: 100%;
  width: 235px;
  min-width: 235px;
}

#entete-page-service {
  height: 136px;
  min-height: 136px;
}
