main {
  background-color: white;
}

.titre h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 8px 0;
}

.sous-titre h2 {
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.marges-fixes {
  width: 100%;
  margin: 0;
}

.conteneur-entete {
  background-color: var(--bleu-mise-en-avant);
  padding: 32px 0;
  color: white;
}

.conteneur-entete .titre,
.conteneur-entete .sous-titre,
.conteneur-page-formulaire {
  margin-left: 100px;
  margin-right: 62px;
}

.conteneur-page-formulaire {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 54px;
}

.zone-principale {
  padding: 0;
}

.avancement-etape {
  text-align: left;
  margin-left: 100px;
  margin-right: 62px;
  font-size: 14px;
  padding-bottom: 4px;
}

.avancement-etape p {
  margin: 0;
  line-height: 24px;
}

.conteneur-etapier {
  width: 588px;
  display: flex;
  gap: 6px;
  margin: 12px 62px 16px 100px;
}

.conteneur-etapier a.etape {
  opacity: 1;
}

.conteneur-etapier .etape {
  height: 8px;
  background-color: white;
  opacity: 0.5;
  text-decoration: none;
  flex: 1;
}
