footer {
  display: flex;

  padding: 1em 0;

  font-size: 0.8em;
}

footer nav {
  display: flex;
  justify-content: space-between;
  column-gap: 2em;
}

footer a {
  text-decoration: none;
  color: var(--texte-fonce);
}

footer a:hover {
  color: var(--bleu-mise-en-avant);
}
