footer {
  font-size: 0.8em;
}

footer .separateur {
  border-top: 1px solid var(--systeme-design-etat-contour-champs);
}

footer nav {
  display: flex;
  padding: 1em 0;
}

footer nav ul {
  display: flex;
  margin:0;
  padding: 0;

  list-style-type: none;
}

footer nav li {
  padding-right: 0.5em;
  border-left: 1px solid var(--systeme-design-etat-contour-champs);
}

footer nav li:first-of-type {
  border-left: none;
}

footer nav a {
  margin-left: 0.5em;
  padding: 0.3em 0.8em;

  text-decoration: none;
  color: var(--texte-fonce);
}

footer nav a:hover {
  background-color: var(--systeme-design-etat-gris-survol);
}

footer nav a:active {
  background-color: var(--systeme-design-etat-gris-actif);
}
