.radarIndiceCyber {
  width: 100%;
  height: 260px;
}

.radarIndiceCyber text {
  fill: #667892;
  font-size: 0.5em;
}

.radarIndiceCyber text.echelle {
  font-size: 0.4em;
  fill: black;
}

.zone-hover-point-radar {
  opacity: 0;
  cursor: pointer;
}

.zone-hover-point-radar:hover {
  opacity: 1;
}

.zone-hover-point-radar text {
  font-size: 0.45em;
}

.zone-hover-point-radar .fond-zone-hover {
  filter: drop-shadow(0 0 2px rgba(26, 68, 139, 0.2));
}
