.page {
  margin: 2em;
  padding: 0;

  color: #000;
}

header {
  display: flex;
}

.bloc-marque {
  margin-right: auto;
}

.bloc-marque :is(.marianne, .devise) {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.bloc-marque .marianne {
  height: 10px;

  background-image: url(../images/marianne.svg);
}

.bloc-marque .devise {
  height: 20px;

  background-image: url(../images/devise.svg);
}

.bloc-marque .republique-francaise {
  padding: 2px 0 4px;

  line-height: 100%;
  font-size: 10px;
  color: #000;
  font-weight: bold;
}

.logo-mss {
  color: var(--bleu-anssi);
}

.logo-mss::before {
  content: '';
  display: block;
  position: absolute;
  margin: 11px 0 0 -30px;

  width: 25px;
  height: 30px;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-mss .logo {
  font-size: 2em;
}

.logo-anssi {
  width: 60px;
  height: 60px;

  margin-left: 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/logo_anssi.png);
}

h1 {
  margin: 2em 0 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

.nom-service {
  font-size: 2em;
  color: var(--bleu-anssi);
}

.synthese {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5em;
  margin-top: 3em;
}

section {
  position: relative;
  border: 1px solid var(--bordure-foncee);
  border-radius: 10px;
  margin-top: 2em;
  padding: 2.4em 1.7em 1.7em;
}

section > h2 {
  position: absolute;
  top: -1.8em;
  background-color: var(--fond-gris-clair);
  border-radius: 1em;
  padding: 0.17em 0.83em 0.33em;
  color: var(--bleu-anssi);
}

.description dl {
  margin: 0.5em 0;
}

.description dl.presentation {
  margin-top: 1em;
}

.description :is(dt, dd) {
  display: inline;
}

.description dt {
  color: var(--texte-moyen);
}

.description dd {
  margin-left: 0.25em;
}

.description .localisation-donnees.france::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url(../images/vignette_drapeau_france.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin-right: 3px;
  transform: translateY(4px);
}

.mesures {
  grid-column: 1 / 3;
}

.mesures h3 {
  margin-left: 1em;
  font-weight: normal;
}

.statistiques-par-criticite {
  display: flex;
  column-gap: 2px;

  margin-bottom: 2px;
}

.statistiques-mesures, .total-mesures {
  background-color: var(--fond-gris-clair);
}

.statistiques-mesures {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 1em;

  padding: 1em;
}

.statistiques-mesures:first-of-type {
  border-top-left-radius: 1em;
}

.statistiques-mesures:last-of-type {
  border-top-right-radius: 1em;
}

.statistiques-mesures h4 {
  margin: 0;

  color: var(--bleu-anssi);
  text-align: center;
}

.statistiques-mesures h4.important::after {
  content:'';
  display: inline-block;

  background-image: url(../images/icone_etoile_orange.svg);
  background-repeat: no-repeat;
  background-size: contain;

  height: 1.2em;
  width: 1.2em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}

.statistiques-mesures .details {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.camembert {
  width: 10em;
  height: 10em;
}

.statistiques-mesures .fleche {
  width: 1em;
  height: 1.3em;

  background-image: url(../images/forme_fleche_bleue.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.statistiques-mesures .mesures-restantes {
  padding: 1em;
  border-radius: 0.5em;

  background-color: white;
  color: var(--texte-moyen-fonce);
  line-height: 0.25em;
}

.statistiques-mesures .nombre-restantes {
  color: var(--bleu-mise-en-avant);
}

.score-indice-cyber {
  width: 6em;
  height: 6em;
  margin: -2.3em auto 1em;
  font-size: 1.6em;
}

.indices-par-categories {
  display: flex;
  justify-content: space-between;
}

.indices-par-categories h3 {
  margin: 0;

  font-size: 1em;
  font-weight: normal;
  color: var(--texte-moyen);
}

.indices-par-categories :is(dl, dd) {
  margin: 0;
}

.indices-par-categories dl {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
}

.indices-par-categories dt {
  color: var(--bleu-anssi);
  font-weight: bold;
}

.indices-par-categories dd {
  color: var(--bleu-mise-en-avant);
  text-align: right;
}

.total-mesures {
  display: flex;
  margin: 0;
  padding: 1.2em 2em;
  border-radius: 0 0 1em 1em;
}

.total, .legende {
  flex: 1;
}

.total-mesures .total {
  color: var(--texte-moyen-fonce);
}

.total-mesures .legende {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.legende > *::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: solid 1px var(--gris-inactif);
  border-radius: 2px;
  margin-right: 0.5em;
  transform: translateY(2px);
}

.legende-faites::before {
  background: var(--graphique-bleu-fonce);
  border-color: var(--graphique-bleu-fonce);
}

.legende-en-cours::before {
  background: var(--graphique-bleu-moyen);
  border-color: var(--graphique-bleu-moyen);
}

.legende-non-faites::before {
  background: var(--graphique-bleu-clair);
}

.legende-a-remplir::before{
  background: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  margin-top: 10em;

  font-size: 0.9em;
}

footer .infos-indice-cyber {
  color: var(--texte-moyen-fonce);
}

footer .nom-mss {
  color: var(--bleu-anssi);
  font-weight: bold;
}
