.page {
  margin: 2em;
  padding: 0;

  color: #000;
}

header {
  display: flex;
}

.bloc-marque {
  margin-right: auto;
}

.bloc-marque :is(.marianne, .devise) {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.bloc-marque .marianne {
  height: 10px;

  background-image: url(../images/marianne.svg);
}

.bloc-marque .devise {
  height: 20px;

  background-image: url(../images/devise.svg);
}

.bloc-marque .republique-francaise {
  padding: 2px 0 4px;

  line-height: 100%;
  font-size: 10px;
  color: #000;
  font-weight: bold;
}

.logo-mss {
  color: var(--bleu-anssi);
}

.logo-mss::before {
  content: '';
  display: block;
  position: absolute;
  margin: 11px 0 0 -30px;

  width: 25px;
  height: 30px;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-mss .logo {
  font-size: 2em;
}

.logo-anssi {
  width: 60px;
  height: 60px;

  margin-left: 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/logo_anssi.png);
}

h1 {
  margin: 2em 0 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

.nom-service {
  font-size: 2em;
  color: var(--bleu-anssi);
}

section {
  position: relative;
  border: 1px solid var(--bordure-foncee);
  border-radius: 10px;
  margin: 3.5em 0;
  padding: 2.4em 1.7em 1.7em;
}

section:first-of-type {
  margin-top: 5em;
}

section > h2 {
  position: absolute;
  top: -1.8em;
  background-color: var(--fond-gris-clair);
  border-radius: 1em;
  padding: 0.17em 0.83em 0.33em;
  color: var(--bleu-anssi);
}

.description dl {
  margin: 0.5em 0;
}

.description dl.presentation {
  margin-top: 1em;
}

.description :is(dt, dd) {
  display: inline;
}

.description dt {
  color: var(--texte-moyen);
}

.description dd {
  margin-left: 0.25em;
}

.description .localisation-donnees.france::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url(../images/vignette_drapeau_france.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin-right: 3px;
  transform: translateY(4px);
}

.mesures h3 {
  margin-left: 1em;
  font-weight: normal;
}

.statistiques-par-criticite {
  display: flex;
  column-gap: 2px;

  margin-bottom: 2px;
}

.statistiques-mesures, .total-mesures {
  background-color: var(--fond-gris-clair);
}

.statistiques-mesures {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 1em;

  padding: 1em;
}

.statistiques-mesures:first-of-type {
  border-top-left-radius: 1em;
}

.statistiques-mesures:last-of-type {
  border-top-right-radius: 1em;
}

.statistiques-mesures h4 {
  margin: 0;

  color: var(--bleu-anssi);
  text-align: center;
}

.statistiques-mesures .details {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.total-mesures {
  margin: 0;
  padding: 1.2em;
  border-radius: 0 0 1em 1em;

  text-align: center;
}

.total-mesures .total {
  color: var(--texte-moyen-fonce);
}

footer {
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  margin-top: 10em;

  font-size: 0.9em;
}

footer .infos-indice-cyber {
  color: var(--texte-moyen-fonce);
}

footer .nom-mss {
  color: var(--bleu-anssi);
  font-weight: bold;
}
