.page {
  margin: 2em;
  padding: 0;

  color: #000;
}

header {
  display: flex;
}

.bloc-marque {
  margin-right: auto;
}

.bloc-marque :is(.marianne, .devise) {
  width: 45%;

  background-repeat: no-repeat;
  background-size: contain;
}

.bloc-marque .marianne {
  height: 10px;

  background-image: url(../images/marianne.svg);
}

.bloc-marque .devise {
  height: 20px;

  background-image: url(../images/devise.svg);
}

.bloc-marque .republique-francaise {
  padding: 2px 0 4px;

  line-height: 100%;
  font-size: 10px;
  color: #000;
  font-weight: bold;
}

.logo-mss {
  color: var(--bleu-anssi);
}

.logo-mss::before {
  content: '';
  display: block;
  position: absolute;
  margin: 11px 0 0 -30px;

  width: 25px;
  height: 30px;

  background-image: url(../images/logo_mss.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-mss .logo {
  font-size: 2em;
}

.logo-anssi {
  width: 60px;
  height: 60px;

  margin-left: 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/logo_anssi.png);
}

h1 {
  margin: 2em 0 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

.nom-service {
  font-size: 2em;
  color: var(--bleu-anssi);
}

section {
  position: relative;
  border: 1px solid var(--bordure-foncee);
  border-radius: 10px;
  margin: 3.5em 0;
  padding: 2.4em 1.7em 1.7em;
}

section:first-of-type {
  margin-top: 5em;
}

section > h2 {
  position: absolute;
  top: -1.8em;
  background-color: var(--fond-gris-clair);
  border-radius: 1em;
  padding: 0.17em 0.83em 0.33em;
  color: var(--bleu-anssi);
}

.description dl {
  margin: 0.5em 0;
}

.description dl.presentation {
  margin-top: 1em;
}

.description :is(dt, dd) {
  display: inline;
}

.description dt {
  color: var(--texte-moyen);
}

.description dd {
  margin-left: 0.25em;
}

.description .localisation-donnees.france::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url(../images/vignette_drapeau_france.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin-right: 3px;
  transform: translateY(4px);
}

.mesures h3 {
  margin-left: 1em;
  font-weight: normal;
}

.regroupement-criticite {
  margin: 1em;
}

.regroupement-criticite :is(h4, .total-mesures) {
  background-color: var(--fond-gris-clair);
  margin: 0;
  text-align: center;
  padding: 1.2em;
}

.regroupement-criticite .total-mesures {
  border-radius: 0 0 1em 1em;
}

.graphique {
  background-color: var(--fond-gris-clair);
  padding: 1.7em;
  margin: 0.2em 0;
}

.regroupement-criticite .graphique {
  height: 150px;
  border-radius: 1em 1em 0 0;
}

.indispensables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.indispensables h4::after {
  content:'';
  display: inline-block;

  background-image: url(../images/icone_etoile_orange.svg);
  background-repeat: no-repeat;
  background-size: contain;

  height: 1.2em;
  width: 1.2em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}

.indispensables h4 {
  width: 100%;
  margin: 0;
  font-size: 1em;
  color: var(--bleu-anssi);
  text-align: center;
}

.canvas {
  width: 110px;
  height: 110px;
}

.reste-mesures {
  margin-left: 50px;
  position: relative;
}

.reste-mesures::before {
  content: '';
  width: 10px;
  height: 20px;
  display: block;
  
  background-image: url(../images/forme_fleche_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -35px;
  top: 26px;
}

.reste-mesures p {
  margin: 0;
  background-color: #fff;
  padding: 0 1em;
  color: var(--texte-moyen-fonce);
  font-weight: bold;
}

.reste-mesures p:first-of-type {
  border-radius: 1em 1em 0 0;
  padding-top: 1em;
}

.reste-mesures p:last-of-type {
  border-radius: 0 0 1em 1em;
  padding-bottom: 1em;
}

.reste-mesures .mesures-restantes {
  padding: 0 0.9em;
  font-size: 1.1em;
  color: var(--bleu-mise-en-avant);
}

.regroupement-criticite .total-mesures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7em;
}

.total-mesures .total {
  color: var(--texte-moyen-fonce);
}

.legendes {
  display: flex;
  margin: 0.7em 0;
}

.legendes .legende {
  margin: 0;
  padding: 0.5em 1em;
  font-weight: bold;
}

.legendes .legende::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px var(--bordure-fonce) solid;
  border-radius: 2px;
  margin-right: 0.7em;
  transform: translateY(2px);
}

.legendes .legende.legende-faites::before {
  background-color: var(--camaieu-fonce);
  border-color: var(--camaieu-fonce);
}

.legendes .legende.legende-en-cours::before {
  background-color: var(--camaieu-moyen);
  border-color: var(--camaieu-moyen);
}

.legendes .legende.legende-non-faites::before {
  background-color: var(--camaieu-clair);
}

.legendes .legende.legende-a-remplir::before {
  background-color: #fff;
}
