:root {
  --marge-au-dessus-footer: 5em;
}

main {
  padding-bottom: 0;
}

.bandeau-maj-profil {
  display: flex;
  height: 2.7em;
  align-items: center;
  color: #fff;
  background-color: var(--bleu-mise-en-avant);
}

.bandeau-maj-profil p::after {
  background-color: #fff;
}

.bandeau-maj-profil:hover {
  background-color: var(--bleu-anssi);
}

.bandeau-maj-profil.invisible {
  display: none;
}

.bandeau-maj-profil p {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: .95em;
  text-align: left;
}

.bandeau-maj-profil p::after {
  display: block;
  content: '';
  width: 1em;
  height: 1em;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  transform: translateX(0.3em) translateY(0.08em) scale(0.95);
}

.services {
  display: flex;
  padding-bottom: var(--marge-au-dessus-footer);
}

.entete-suivi-services {
  background-image: url('/statique/assets/images/fond_entete_tableau_de_bord.svg');
  background-repeat: no-repeat;
  padding-bottom: 3em;
}

.entete-suivi-services .titres {
  padding-top: 3em;
}

.entete-suivi-services .titres h1 {
  text-align: left;
  margin: 0;
}

label[for='recherche-service'] {
  font-weight: bold;
}

.bandeau-info-action {
  display: flex;
  margin-top: 3em;
}

.informations {
  flex-grow: 1;
  display: flex;
  gap: 0.3em;
}

.carte {
  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  gap: 1em;
}

.carte .conteneur-image {
  width: 2em;
  background: #F1F5F9;
  border-radius: 50%;
  width: 2.8em;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carte .conteneur-image.vert {
  background: #D4F4DB;
}

.carte .conteneur-image.bleu {
  background: #DBEEFF;
}

.carte .conteneur-texte {
  text-align: left;
}

.carte .conteneur-texte dl {
  margin: 0;
}

.carte .conteneur-texte dd {
  margin-left: 0;
}

.carte .conteneur-texte .nombre {
  font-size: 1.7em;
  font-weight: bold;
}

#nombre-services {
  color: #7025DA;
}

#nombre-services-homologues {
  color: #0E972B;
}

#indice-cyber-moyen {
  color: #0079D0;
}

.actions {
  display: flex;
  gap: 1em;
  align-items: baseline;
  justify-content: end;
  flex-grow: 1;
}

#recherche-service {
  margin-left: 1em;
  padding: 0.7em;
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  min-width: 220px;
}

#nouveau-service {
  background: var(--bleu-mise-en-avant);
  color: #fff;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1em;
}

.tableau-services {
  flex: 1;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.tableau-services colgroup .nom-service {
  width: 40%;
}

.tableau-services thead th {
  user-select: none;
  padding: 0.7em 1.5em;
}

.tableau-services thead th:not(:first-child):not(:last-child) {
  cursor: pointer;
}

.tableau-services thead th:first-child {
  padding: 0;
}

.tableau-services thead .entete-selection {
  display: flex;
  align-items: center;
  justify-content: left;
}

.tableau-services thead th::after {
  content: '\00a0\00a0\00a0';
  margin-left: .3em;
}

.tableau-services thead th[data-direction="1"]::after {
  content: '↑';
}

.tableau-services thead th[data-direction="2"]::after {
  content: '↓';
}


.tableau-services thead tr th {
  background: #DBECF1;
}

.tableau-services thead tr th:first-of-type {
  background: none;
}

.tableau-services thead tr th:last-of-type {
  border-top-right-radius: 8px;
}

.tableau-services th.entete-contributeurs {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.tableau-services td {
  vertical-align: middle;
  text-align: center;
  padding: 0.7em 1.5em;
  border: 1px solid #CBD5E1;
  border-style: solid none none none;
}

.tableau-services tbody tr.selectionne {
  background: #EFF6FF;
}

.tableau-services tbody tr:first-of-type td:first-of-type {
  border-top-left-radius: 8px;
}

.tableau-services tbody tr:last-of-type td {
  border-bottom-style: solid;
}

.tableau-services tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}

.tableau-services tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

.tableau-services tbody tr td:first-of-type {
  border-left-style: solid;
}

.tableau-services tbody tr td:last-of-type {
  border-right-style: solid;
}


.tableau-services td>div {
  display: inline-block;
  font-weight: 500;
}

.tableau-services td.cellule-noms {
  display: flex;
  align-items: center;
}

.tableau-services td .conteneur-noms {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tableau-services td .nom-service {
  color: #2F3A43;
  font-weight: 500;
}

.tableau-services td .nom-organisation {
  color: #667892;
  font-weight: normal;
}

.tableau-services td .contributeurs {
  background: #DBEEFF;
  border-radius: 4px;
  width: fit-content;
  padding: 0.2em 0.5em;
}

.tableau-services td .contributeurs::before {
  display: inline-block;
  content: '';
  background-image: url('/statique/assets/images/icone_contributeurs.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3em;
}

.tableau-services td .statut-homologation {
  border-radius: 40px;
  padding: 0.3em 0.7em;
}

.tableau-services td .statut-homologation.statut-aSaisir {
  background: #E9DDFF;
}

.tableau-services td .statut-homologation.statut-aCompleter {
  background: #DBEEFF;
}

.tableau-services td .statut-homologation.statut-completes {
  background: #D4F4DB;
}

.tableau-services .cellule-actions {
  position: relative;
}

.tableau-services .menu-flotant {
  position: absolute;
  background: #fff;
  border: 1px solid #667892;
  border-radius: 5px;
  text-align: left;
  padding: 0.2em;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.tableau-services .menu-flotant.invisible {
  display: none;
}

.tableau-services .menu-flotant hr {
  width: 100%;
  border: 1px solid #CBD5E1;
  border-style: solid none none none;
}

.tableau-services .menu-flotant :is(a, .action) {
  padding: 0.5em;
  border-radius: 4px;
  font-size: 0.9em;
  user-select: none;
  cursor: pointer;
}

.tableau-services .menu-flotant :is(a, .action):hover {
  background: #F1F5F9;
  color: #0C5C98;
}

.tableau-services .action-lien {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.tableau-services .action-lien.actif {
  background: #F1F5F9;
  border-color: #08416A;
}

.tableau-services .action-lien img {
  pointer-events: none;
}

.tableau-services .selection-service {
  cursor: pointer;
}

.tableau-services .checkbox-selection-tous-services {
  transform: translateY(0);
}

.tableau-services .checkbox-selection-tous-services.selection-partielle {
  background-color: var(--bleu-mise-en-avant);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableau-services .checkbox-selection-tous-services.selection-partielle::before {
  content: '';
  width: 0.6em;
  height: 2px;
  background: white;
  border-radius: 8px;
}

.tableau-services .conteneur-selection-services {
  position: relative;
  display: flex;
  align-items: center;
}

.tableau-services .texte-nombre-service {
  cursor: pointer;
}

.tableau-services .fleche-droite {
  transform: translateY(1px);
}

.tableau-services .actions-services {
  position: absolute;
  right: 0;
  top: -1px;
  transform: translateX(100%);
  border-top-left-radius: 0;
}

.tableau-services .action {
  display: flex;
  flex-shrink: none;
  align-items: center;
  color: #0079D0;
}

.tableau-services .action :is(img, p) {
  pointer-events: none;
}

.tableau-services .action p {
  margin: 0;
  margin-left: 0.5em;
}

.tableau-services .conteneur-selection-services {
  border: 1px solid transparent;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.5em 1.5em;
  margin-bottom: 0.2em;
}

.tableau-services .conteneur-selection-services.actif {
  background: #F1F5F9;
  border: 1px solid #08416A;
}

.suivi-services {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.suivi-services .tirroir {
  background: #fff;
  height: calc(100% + var(--marge-au-dessus-footer));
  position: absolute;
  left: 100vw;
  top: 0;
  width: 32em;
  transition: transform 0.2s ease-in-out;
  box-shadow: -10px 0px 34px 0px #00000026;
}

.suivi-services .tirroir.ouvert {
  transform: translateX(-100%);
}

.suivi-services .entete-tirroir {
  position: relative;
  background: #DBECF1;
  text-align: left;
  padding: 0 2em;
}

.entete-tirroir .image-entete {
  position: absolute;
  top: 0;
  right: 0;
}

.entete-tirroir .par-dessus {
  position: relative;
}

.suivi-services .titre-tirroir {
  font-size: 1.6em;
  margin: 0;
  padding-top: 30px;
}

.suivi-services .texte-tirroir {
  margin: 0;
  padding-top: 0.8em;
  font-weight: 500;
  padding-bottom: 30px;
}

.suivi-services .croix-fermeture {
  position: absolute;
  top: 20px;
  right: 2em;
  font-weight: bold;
  background: #fff;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.suivi-services .contenu-tirroir {
  text-align: left;
  padding: 0 2em;
}

.contenu-tirroir .bouton {
  padding: 0.5em 1em;
  margin: 0;
}

#contenu-duplication p {
  font-weight: 500;
  margin-bottom: 2em;
}

#contenu-duplication label {
  font-weight: bold;
}

#contenu-duplication input {
  padding: 0.7em 1em;
  border: 1px solid #CBD5E1;
  border-radius: 6px;
  margin-top: 1em;
  width: 6em;
}

#contenu-duplication .conteneur-actions {
  padding-top: 3em;
  display: flex;
  justify-content: end;
  gap: 1em;
}
