:root {
  --marge-au-dessus-footer: 5em;
}

main {
  padding-bottom: 0;
}

.bandeau-maj-profil {
  display: flex;
  height: 2.7em;
  align-items: center;
  color: #fff;
  background-color: var(--bleu-mise-en-avant);
}

.bandeau-maj-profil p::after {
  background-color: #fff;
}

.bandeau-maj-profil:hover {
  background-color: var(--bleu-anssi);
}

.bandeau-maj-profil.invisible {
  display: none;
}

.bandeau-maj-profil p {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.95em;
  text-align: left;
}

.bandeau-maj-profil p::after {
  display: block;
  content: '';
  width: 1em;
  height: 1em;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  mask: url(../images/forme_chevron_blanc.svg) no-repeat center;
  transform: translateX(0.3em) translateY(0.08em) scale(0.95);
}

.services {
  display: flex;
  padding-bottom: var(--marge-au-dessus-footer);
}

.entete-suivi-services {
  background-image: url('/statique/assets/images/fond_entete_tableau_de_bord.svg');
  background-repeat: no-repeat;
  padding-bottom: 1em;
}

.entete-suivi-services .titres {
  padding-top: 3em;
}

.entete-suivi-services .titres h1 {
  text-align: left;
  margin: 0;
}

label[for='recherche-service'] {
  font-weight: bold;
}

.bandeau-info-action {
  display: flex;
  align-items: start;
  margin-top: 2em;
}

.informations {
  flex-grow: 1;
  display: flex;
  gap: 0.3em;
}

.carte {
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5em 1em 0.8em 1em;
  gap: 1em;
}

.carte .conteneur-image {
  width: 2em;
  background: #f1f5f9;
  border-radius: 50%;
  width: 2.8em;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carte .conteneur-image.vert {
  background: #d4f4db;
}

.carte .conteneur-image.bleu {
  background: #dbeeff;
}

.carte .conteneur-texte {
  text-align: left;
}

.carte .conteneur-texte dl {
  margin: 0;
}

.carte .conteneur-texte dd {
  margin-left: 0;
}

.carte .conteneur-texte .nombre {
  font-size: 1.7em;
  font-weight: bold;
}

#nombre-services {
  color: #7025da;
}

#nombre-services-homologues {
  color: #0e972b;
}

#indice-cyber-moyen {
  color: #0079d0;
}

.recherche {
  display: flex;
}

.recherche > label {
  margin-left: auto;
}

#recherche-service {
  margin-left: 1em;
  padding: 0.7em 1em;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  min-width: 300px;
  background: var(--fond-pale);
}

#nouveau-service {
  padding: 0.5em 1em;
  margin: 0;
}

.tableau-services {
  flex: 1;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.tableau-services colgroup .nom-service {
  width: 40%;
}

.tableau-services colgroup .nombre-contributeurs {
  width: 20%;
}

.tableau-services colgroup :is(.indice-cyber, .statut-homologation) {
  width: 15%;
}

.tableau-services thead th {
  user-select: none;
  padding: 0.7em 1.5em;
}

.tableau-services thead th[data-colonne] {
  cursor: pointer;
}

.tableau-services thead th:first-child {
  padding: 0;
}

.tableau-services thead .entete-selection {
  display: flex;
  align-items: center;
  justify-content: left;
}

.tableau-services thead th.triable::after {
  content: '';
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.7em;
  height: 1.7em;
  transform: translateY(7px);
  margin-top: -8px;
}

.tableau-services thead th.triable:not([data-ordre='0']) {
  color: #08416a;
}

.tableau-services thead th.triable:hover,
.tableau-services thead th.entete-contributeurs:hover {
  color: #0c5c98;
}

.tableau-services thead th.triable[data-ordre='0']::after {
  background-image: url('/statique/assets/images/icone_tri_aucun.svg');
}

.tableau-services thead th.triable[data-ordre='1']::after {
  background-image: url('/statique/assets/images/icone_tri_croissant.svg');
}

.tableau-services thead th.triable[data-ordre='2']::after {
  background-image: url('/statique/assets/images/icone_tri_decroissant.svg');
}

.tableau-services thead tr th {
  background: #dbecf1;
}

.tableau-services thead tr th:first-of-type {
  background: none;
}

.tableau-services thead tr:not(:last-of-type) th:last-of-type {
  border-top-right-radius: 8px;
}

.tableau-services th.entete-contributeurs {
  background: none;
  position: relative;
}

.tableau-services th.entete-contributeurs::before {
  content: '';
  position: absolute;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dbecf1;
}

.tableau-services th.entete-contributeurs::after {
  position: relative;
  content: '';
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.7em;
  height: 1.7em;
  transform: translateY(7px);
  margin-top: -8px;
}

.tableau-services th.entete-contributeurs p {
  position: relative;
  margin: 0;
  display: inline-block;
}

.tableau-services thead th.entete-contributeurs:not([data-ordre='0']),
.tableau-services
  thead
  th.entete-contributeurs[data-filtre-proprietaire='true'] {
  color: #08416a;
}

.tableau-services
  th.entete-contributeurs[data-ordre='0'][data-filtre-proprietaire='false']::after {
  background-image: url('/statique/assets/images/icone_tri_aucun.svg');
}

.tableau-services
  th.entete-contributeurs[data-ordre='1'][data-filtre-proprietaire='false']::after {
  background-image: url('/statique/assets/images/icone_tri_croissant.svg');
}

.tableau-services
  th.entete-contributeurs[data-ordre='2'][data-filtre-proprietaire='false']::after {
  background-image: url('/statique/assets/images/icone_tri_decroissant.svg');
}

.tableau-services
  th.entete-contributeurs[data-ordre='0'][data-filtre-proprietaire='true']::after {
  background-image: url('/statique/assets/images/icone_filtre_proprietaire.svg');
}

.tableau-services
  th.entete-contributeurs[data-ordre='1'][data-filtre-proprietaire='true']::after {
  background-image: url('/statique/assets/images/icone_filtre_proprietaire_croissant.svg');
}

.tableau-services
  th.entete-contributeurs[data-ordre='2'][data-filtre-proprietaire='true']::after {
  background-image: url('/statique/assets/images/icone_filtre_proprietaire_decroissant.svg');
}

.tableau-services th.entete-contributeurs > p:first-of-type {
  pointer-events: none;
}

.tableau-services th.entete-contributeurs .menu-flotant {
  top: 100%;
  left: 0;
  right: 0;
  padding: 0.85em;
  gap: 0.8em;
}

.tableau-services th.entete-contributeurs .menu-flotant p {
  margin: 0;
}

.tableau-services th.entete-contributeurs .menu-flotant .nom-propriete {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #667892;
  gap: 0.4em;
  cursor: initial;
}

.tableau-services th.entete-contributeurs .menu-flotant input {
  margin-right: 0.3em;
}

.tableau-services th.entete-contributeurs .menu-flotant .nom-propriete label {
  font-weight: 500;
  color: #2f3a43;
  cursor: pointer;
}

.tableau-services .menu-flotant .efface-tri-contributeurs {
  color: #0079d0;
  position: absolute;
  right: 0.85em;
  top: 0.85em;
}

.tableau-services .menu-flotant .filtre-mes-services::after {
  display: inline-block;
  content: '';
  background-image: url('/statique/assets/images/icone_createur_collaboration.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.7em;
  height: 1.7em;
  margin-left: 0.3em;
  transform: translateY(6px);
}

.tableau-services td {
  vertical-align: middle;
  text-align: center;
  padding: 0.7em 1.5em;
  border: 1px solid #cbd5e1;
  border-style: solid none none none;
}

.tableau-services tbody tr.selectionne {
  background: #eff6ff;
}

.tableau-services tbody tr:last-of-type td {
  border-bottom-style: solid;
}

.tableau-services tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}

.tableau-services tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

.tableau-services tbody tr td:first-of-type {
  border-left-style: solid;
}

.tableau-services tbody tr td:last-of-type {
  border-right-style: solid;
}

.tableau-services td > div {
  display: inline-block;
  font-weight: 500;
}

.tableau-services td.cellule-noms {
  display: flex;
  align-items: center;
  text-align: left;
}

.tableau-services td .conteneur-noms {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 100%;
}

.tableau-services td .nom-service {
  color: #2f3a43;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.tableau-services td .nom-organisation {
  color: #667892;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.tableau-services td .contributeurs {
  background: #dbeeff;
  border-radius: 4px;
  width: fit-content;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.tableau-services td .contributeurs::before {
  display: inline-block;
  content: '';
  background-image: url('/statique/assets/images/icone_contributeurs.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3em;
}

.tableau-services td .conteneur-contributeur::before {
  display: inline-block;
  content: '';
  background-image: url('/statique/assets/images/icone_createur_collaboration.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.3em;
}

.tableau-services td .conteneur-contributeur:not(.createur)::before {
  opacity: 0;
}

.cellule-indice-cyber {
  line-height: 0;
  font-weight: 500;
}

.tableau-services .note-totale {
  font-size: 0.9em;
}

.tableau-services td .statut-homologation {
  border-radius: 40px;
  padding: 0.3em 0.7em;
}

.tableau-services td .statut-homologation.statut-aRealiser {
  background: #e9ddff;
}

.tableau-services td .statut-homologation.statut-aFinaliser {
  background: #dbeeff;
}

.tableau-services td .statut-homologation.statut-realisee {
  background: #d4f4db;
}

.tableau-services td .statut-homologation.statut-bientotExpiree {
  background: #fff2de;
}

.tableau-services td .statut-homologation.statut-expiree {
  background: #ffdfdf;
}

.tableau-services .cellule-actions {
  position: relative;
}

.tableau-services .menu-flotant {
  position: absolute;
  background: #fff;
  border: 1px solid #0c5c98;
  border-radius: 5px;
  text-align: left;
  padding: 0.2em;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.tableau-services .menu-flotant.invisible {
  display: none;
}

.tableau-services .menu-flotant hr {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-style: solid none none none;
}

.tableau-services .menu-flotant :is(a, .action) {
  padding: 0.5em;
  border-radius: 4px;
  font-size: 0.9em;
  user-select: none;
  cursor: pointer;
}

.tableau-services .menu-flotant :is(a, .action):hover {
  background: #f1f5f9;
  color: #0c5c98;
}

.tableau-services .action-lien {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.tableau-services .action-lien.actif {
  background: #f1f5f9;
  border-color: #08416a;
}

.tableau-services .action-lien img {
  pointer-events: none;
}

.tableau-services .checkbox-selection-tous-services,
.tableau-services .checkbox-tous-services {
  transform: translateY(0);
}

.tableau-services .checkbox-selection-tous-services.selection-partielle {
  background-color: var(--bleu-mise-en-avant);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableau-services
  .checkbox-selection-tous-services.selection-partielle::before {
  content: '';
  width: 0.6em;
  height: 2px;
  background: white;
  border-radius: 8px;
}

.tableau-services .texte-nombre-service,
.tableau-services .texte-tous-service {
  font-weight: 500;
}

.tableau-services .action {
  display: flex;
  flex-shrink: none;
  align-items: center;
  color: #0079d0;
  font-size: 0.9em;
}

.tableau-services .action.actif {
  color: #08416a;
}

.tableau-services .action.actif img {
  /* On utilise ici un site web pour générer la couleur cible en partant d'une icône noire */
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(18%) sepia(34%) saturate(2472%)
    hue-rotate(179deg) brightness(97%) contrast(97%);
}

.tableau-services .action :is(img, p) {
  pointer-events: none;
}

.tableau-services .action p {
  margin: 0;
  margin-left: 0.5em;
}

.tableau-services .conteneur-contributeur {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.suivi-services {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.suivi-services .tiroir {
  height: 100%;
  min-width: 32em;
  position: absolute;
  left: 100vw;
  top: 0;
  overflow-y: scroll;
  transition: transform 0.2s ease-in-out;
  box-shadow: -10px 0px 34px 0px #00000026;
  background: #fff;
  visibility: hidden;
}

.suivi-services .tiroir.ouvert {
  transform: translateX(-100%);
  visibility: visible;
}

.suivi-services .entete-tiroir {
  position: relative;
  background: #dbecf1;
  text-align: left;
  padding: 0 2em;
}

.entete-tiroir .image-entete {
  position: absolute;
  top: 0;
  right: 0;
}

.entete-tiroir .par-dessus {
  position: relative;
}

.suivi-services .titre-tiroir {
  font-size: 1.6em;
  margin: 0;
  padding-top: 30px;
}

.suivi-services .texte-tiroir {
  margin: 0;
  padding-top: 0.8em;
  font-weight: 500;
  padding-bottom: 30px;
}

.suivi-services .croix-fermeture {
  position: absolute;
  top: 1.8em;
  right: 0;
  font-weight: bold;
  background: #fff;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.suivi-services .contenu-tiroir {
  text-align: left;
  padding: 2em 2em;
}

.contenu-tiroir .bouton {
  padding: 0.5em 1em;
  margin: 0;
}

#contenu-duplication p {
  font-weight: 500;
  margin-bottom: 2em;
}

:is(#contenu-duplication, #contenu-suppression) label {
  margin-bottom: 2em;
}

:is(#contenu-duplication, #contenu-suppression, #contenu-invitation)
  .conteneur-loader {
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  padding: 1em 0;
  margin-bottom: 2em;
}

:is(#contenu-duplication, #contenu-suppression, #contenu-invitation)
  .conteneur-loader.visible {
  display: flex;
}

:is(#contenu-duplication, #contenu-suppression, #contenu-invitation)
  .titre-loader {
  font-weight: bold;
}

:is(#contenu-duplication, #contenu-suppression, #contenu-invitation)
  .info-loader {
  font-weight: 500;
}

:is(#contenu-duplication, #contenu-invitation) label {
  font-weight: bold;
}

:is(#contenu-duplication, #contenu-invitation) input {
  padding: 0.7em 1em;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  margin-top: 1em;
  width: 8em;
}

#contenu-invitation input {
  width: 28em;
}

.contenu-tiroir .conteneur-actions {
  display: flex;
  justify-content: end;
  gap: 1em;
}

#contenu-suppression p {
  margin: 0 0 1em 0;
}

#contenu-contributeurs .confirmation-suppression .entete {
  margin: 0 0 1em 0;
}

.banniere-avertissement,
.banniere-information {
  display: flex;
  border: 1px solid #faa72c;
  border-radius: 4px;
  background: #fff2de;
  padding: 0.7em 1em;
  gap: 1em;
}

.banniere-information {
  background: #dbeeff;
  border-color: #0079d0;
}

:is(.banniere-avertissement, .banniere-information) p {
  margin: 0;
  font-weight: 500;
}

#contenu-invitation-confirmation {
  text-align: center;
  padding-top: 2em;
}

#contenu-invitation-confirmation button {
  margin-top: 2em;
}

#contenu-export .liste-fichiers {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#contenu-export .fichier {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1em;
  border: 1px solid var(--liseres-fonce);
  border-radius: 8px;
  font-weight: 500;
}

#contenu-export .nom-document p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

#contenu-export .nom-document p::before {
  content: '';
  width: 2.8em;
  height: 2.8em;
  background-image: url('/statique/assets/images/icone_document_csv.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#contenu-telechargement p {
  font-weight: 500;
}

#contenu-telechargement .document-telechargeable {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  border: 1px solid var(--liseres-fonce);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

#contenu-telechargement .lien-indisponible {
  display: none;
  text-align: right;
  color: #08416a;
}

#contenu-telechargement .document-telechargeable p {
  margin: 0;
}

#contenu-telechargement .document-telechargeable .contenu {
  display: flex;
  column-gap: 1em;
}

#contenu-telechargement .document-telechargeable .titre-document {
  font-weight: bold;
  color: var(--bleu-anssi);
  margin-bottom: 0.5em;
}

#contenu-telechargement .document-telechargeable .description-document {
  font-size: 0.9em;
}

#contenu-telechargement .document-telechargeable .lien-telechargement {
  align-self: flex-end;
}

#contenu-telechargement .document-telechargeable .icone-type-document {
  width: 2.8em;
  height: 2.8em;
}

#contenu-contributeurs #liste-contributeurs {
  list-style: none;
  padding-left: 0;
}

#contenu-contributeurs #liste-contributeurs li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1em;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 0.5em;
}

#contenu-contributeurs .contenu-nom-prenom {
  display: flex;
  align-items: center;
  gap: 1em;
  grid-column: 1 / 6;
}

#contenu-contributeurs .initiale {
  border-radius: 50%;
  min-width: 2.5em;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
}

#contenu-contributeurs .initiale.proprietaire {
  background: #c19616;
}

#contenu-contributeurs .initiale.contributeur {
  background: linear-gradient(180deg, #326fc0 0%, #4d3dc5 100%);
}

#contenu-contributeurs .nom-contributeur {
  font-weight: 500;
  word-break: break-word;
}

#contenu-contributeurs .poste-contributeur {
  font-weight: 500;
  color: #667892;
}

#contenu-contributeurs .role {
  border-radius: 4px;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 0.9em;
  padding: 0.4em 0.5em;
  align-self: center;
  grid-column: 6 / 7;
}

#contenu-contributeurs .role.proprietaire {
  background: #c19616;
}

#contenu-contributeurs .role.contributeur {
  background: linear-gradient(180deg, #326fc0 0%, #4d3dc5 100%);
}

.tableau-services .conteneur-barre-outils {
  display: flex;
  gap: 0.3em;
  padding: 0 1.5em;
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.2s, padding 0.2s;
}

.tableau-services #barre-outils th {
  border: none;
}

.tableau-services #barre-outils.visible th {
  border: 1px solid #cbd5e1;
  border-style: solid solid none solid;
}

.tableau-services #barre-outils.visible .conteneur-barre-outils {
  /* Cette valeur est volontairement trop élevée pour assurer l'affichage complet de la barre d'outils */
  max-height: 4em;
  padding: 0 1.5em;
}

.tableau-services .conteneur-barre-outils .action {
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5em 0.7em;
}

.tableau-services .conteneur-barre-outils .action.inactif {
  display: none;
}

.tableau-services .conteneur-barre-outils .action:hover {
  background: #f1f5f9;
  color: #0c5c98;
}

.tableau-services .conteneur-barre-outils .action:hover img {
  /* On utilise ici un site web pour générer la couleur cible en partant d'une icône noire */
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(21%) sepia(46%) saturate(4342%)
    hue-rotate(190deg) brightness(90%) contrast(91%);
}

.tableau-services .conteneur-selection-multiple,
.tableau-services .conteneur-tous-selection {
  display: flex;
  padding-top: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.7em;
}

.tableau-services .conteneur-tous-selection {
  padding-left: 1.5em;
}

.tableau-services .conteneur-barre-outils hr {
  margin: 0;
  border: 1px solid #cbd5e1;
  border-style: none none none solid;
  margin: 0.2em 0;
}

.tableau-services .conteneur-barre-outils hr.action {
  padding: 0;
}

#contenu-contributeurs .actions-contributeurs {
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  padding: 0.1em 0.2em;
  position: relative;
  align-self: center;
  cursor: pointer;
}

#contenu-contributeurs .actions-contributeurs.invisible {
  display: flex;
  visibility: hidden;
}

#contenu-contributeurs .actions-contributeurs.actif {
  border-color: #08416a;
}

#contenu-contributeurs .actions-contributeurs::before {
  content: '';
  display: flex;
  width: 2em;
  height: 2em;
  background-image: url('/statique/assets/images/points_horizontal_bleu.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#contenu-contributeurs .actions-contributeurs.actif::before {
  /* On utilise ici un site web pour générer la couleur cible en partant d'une icône noire */
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) invert(20%) sepia(56%) saturate(1325%)
    hue-rotate(173deg) brightness(89%) contrast(97%);
}

#contenu-contributeurs .menu-flotant {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  left: -2px;
  top: 0;
  transform: translateX(-100%);
  white-space: nowrap;
  background: #ffffff;
  border: 1px solid #0c5c98;
  border-radius: 5px;
}

#contenu-contributeurs #liste-contributeurs .menu-flotant ul {
  padding-left: 0;
  padding: 0.2em;
}

#contenu-contributeurs #liste-contributeurs .menu-flotant li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.6em 0.4em;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 4px;
}

#contenu-contributeurs #liste-contributeurs .menu-flotant li:hover {
  background: #f1f5f9;
  color: #0079d0;
}

#contenu-contributeurs .menu-flotant.invisible {
  display: none;
}
