:root {
  --centre-aide-background-entete: #0279d0;
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: white;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(
    --centre-aide-background-entete
  );
  --centre-aide-background-hover-lien: #0c5c98;
  --centre-aide-background-hover-declencheur: var(
    --centre-aide-background-hover-lien
  );
}
