.avertissement {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 1px var(--bleu-anssi) solid;
  border-radius: 5px;
  text-align: left;
}

.avertissement::before {
  content: '👉';
  font-size: 1.6em;
  margin: 0.4em 0 0 0.6em;
}

.avertissement p {
  margin: 0;
  padding: 1em 1em 1em 0.8em;
  color: var(--bleu-anssi);
}

section:first-of-type {
  padding-top: 1em;
}

.affichage-simple {
  margin-bottom: 2em;
}
