include ../carteInformations
include ../fragments/scoreIndiceCyber
include ../fragments/descriptionIndiceCyber
include ../fragments/indicesCyberParCategorie
include ../fragments/lienNouvelOnglet

block append styles
  link(href = '/statique/assets/styles/cartes/indiceCyber.css', rel = 'stylesheet')

mixin indiceCyber({ referentiel, indiceCyber })
  - const noteMax = referentiel.indiceCyberNoteMax()
  - const formatIndiceCyber = Intl.NumberFormat('fr', { minimumFractionDigits: 1, maximumFractionDigits: 1 }).format

  mixin detailsIndiceCyber
    .indices-par-categories
      h3 Par catégorie de mesure
      +indicesCyberParCategorie(referentiel, formatIndiceCyber, indiceCyber, noteMax)

    h3 Qu'est-ce que l'indice cyber ?
    p: +descriptionIndiceCyber()
    p: +lienNouvelOnglet('/questionsFrequentes#indice-cyber', 'En savoir plus')

  +carteInformations({ titre: 'Indice cyber', details: 'detailsIndiceCyber' })
    .score-indice-cyber
      +scoreIndiceCyber(formatIndiceCyber, indiceCyber.total, noteMax)
