a.nouvel-onglet::after {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;

  -webkit-mask: url(/statique/assets/images/icone_lien_nouvel_onglet.svg) no-repeat center;
  mask: url(/statique/assets/images/icone_lien_nouvel_onglet.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position-y: 0.1em;
  mask-position-y: 0.1em;
  background-color: var(--bleu-mise-en-avant);
  transform: translateX(0.12em) translateY(0.15em);
}

a.nouvel-onglet {
  display: inline-block;
}
