.selectize-control:is(.multi, .single) {
  margin-top: 0.3em;
  font-family: Marianne;
}

.selectize-control:is(.multi, .single) .selectize-input {
  background: var(--fond-pale);
  padding: 0.8em;
  font-size: 1em;
  border: solid 1px var(--liseres);
  border-radius: 5px;
  box-shadow: none;
  cursor: text;
}

.selectize-control:is(.multi, .single) .selectize-input input {
  cursor: text;
}

.selectize-control:is(.multi, .single) .selectize-input.focus {
  box-shadow: none;
}

.selectized
  + .selectize-control.multi
  .selectize-input
  :is(.item, .item[data-value].active) {
  background: #fff;
  box-shadow: none;
  border-radius: 0.3em;
  border-color: #000;
  padding-bottom: 0.3em;
  color: var(--texte-fonce);
  text-shadow: none;
  font-weight: normal;
}

.selectized
  + .selectize-control.single
  .selectize-input
  :is(.item, .item[data-value].active) {
  box-shadow: none;
  border-radius: 0.3em;
  border-color: #000;
  color: var(--texte-fonce);
  text-shadow: none;
  font-weight: normal;
}

.selectize-control.multi .selectize-input .item a.remove {
  border-left: none;
}

.selectize-control:is(.multi, .single) .selectize-dropdown {
  font-weight: normal;
  font-size: 1em;
  color: var(--texte-fonce);
  box-shadow: none;
  border-color: var(--liseres);
}

.selectize-control:is(.single) .selectize-dropdown {
  border: 1px solid var(--bleu-survol);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transform: translateY(-3px);
}

.selectize-control:is(.single):is(.chargement-en-cours) + .icone-chargement {
  display: inline-block;
}

.selectize-control:is(.multi, .single)
  .selectize-dropdown
  .active:not(.selected) {
  background-color: #fff;
}

.selectize-control:is(.multi, .single)
  .selectize-dropdown
  .option:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.selectized + .selectize-control.single .selectize-dropdown .selected {
  background-color: transparent;
  color: var(--bleu-mise-en-avant);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectized + .selectize-control.single .selectize-dropdown .selected::after {
  content: '';
  width: 1em;
  height: 1em;
  background-image: url('/statique/assets/images/icone_ok_pastille_bleue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.selectized + .selectize-control.single .selectize-dropdown .option:hover {
  background-color: var(--fond-gris-pale);
}

.selectized:not(.intouche, [required]) ~ .message-erreur {
  display: block;
}

.selectized:not(.intouche, [required])
  + .selectize-control:is(.multi, .single)
  .selectize-input {
  border-color: var(--rose-anssi);
}

.selectized:not(.intouche, [required])
  + .selectize-control:is(.multi, .single)
  .selectize-input.has-items {
  border-color: var(--bleu-mise-en-avant);
}

.selectized[required]:not(.intouche)
  + .selectize-control:is(.multi, .single)
  .selectize-input {
  border-color: var(--bleu-mise-en-avant);
}

.selectize-control.single .selectize-input:after {
  display: none;
}

.no-results {
  color: #667892;
  font-weight: bold;
  font-size: 12px;
}

:is(.selectize-dropdown, .liste-suggestions) .option-ajout {
  padding: 0.6em;
  color: #0079d0;
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

:is(.selectize-dropdown, .liste-suggestions) .option-ajout::before {
  content: '';
  width: 1.3em;
  height: 1.3em;
  background-image: url('/statique/assets/images/icone_ajout_pastille_bleue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transform: translateY(1px);
}

:is(.selectize-dropdown, .liste-suggestions) .option-ajout.active {
  color: #0079d0;
}

.selectize-dropdown-content {
  min-height: 36px;
}

.selectize-control.plugin-clear_button .clear {
  visibility: hidden;
  font-size: 1em;
  opacity: 1;
  width: 2.5em;
  height: 2.5em;
}

.selectize-control.plugin-clear_button.single .clear {
  right: 0;
}

.selectize-control.plugin-clear_button .clear::before {
  content: '';
  width: 1.4em;
  height: 1.4em;
  background-image: url('/statique/assets/images/icone_supprimer_gris.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(3px);
  visibility: visible;
}
