.mention {
  display: flex;
  justify-content: end;
  margin-bottom: 1em;
}

:is(h1, hr) + .mention {
  margin: 2em 0 0;
}

.mention::before {
  margin-right: 0.4em;
}

.requis::before {
  position: absolute;
  left: -1em;
}

.mention::before,
.requis::before {
  content: '*';
  color: var(--rose-anssi);
}

form.champ-unique .requis::before {
  content: '';
}

.requis {
  position: relative;
}

.message-erreur,
.message-erreur-specifique {
  position: relative;
  display: none;

  margin: 1em 0;
  padding-left: 1.5em;

  color: var(--rose-anssi);
  font-weight: normal;
}

.message-erreur::before,
.message-erreur-specifique::before {
  content: '';

  position: absolute;
  left: 0;

  background-image: url(../../images/icone_attention_rose.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
  height: 1em;
  transform: translateY(0.35em);
}

.requis[data-nom='cguAcceptees'] {
  margin: 2em 0;
}

:is(input, select, textarea):not(.intouche):valid {
  border-color: var(--bleu-mise-en-avant);
}

input[type='radio']:not(.intouche):valid {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %230f7ac7; stroke-width: 0.50em" /></svg>');
}

:is(input, select, textarea):not(.intouche):invalid {
  border-color: var(--rose-anssi);
}

input[type='radio']:not(.intouche):invalid {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %23ff6584; stroke-width: 0.50em" /></svg>');
}

:is(input, select, textarea):not(.intouche):invalid:focus {
  outline-color: var(--rose-anssi);
}

:is(input, select, textarea):not(.intouche):invalid ~ .message-erreur {
  display: block;
}
