.mention {
  display: flex;
  justify-content: end;
  margin-bottom: 1em;
}

:is(h1, hr) + .mention {
  margin: 2em 0 0;
}

.mention::before {
  margin-right: 0.4em;
}

.requis::before {
  position: absolute;
  left: -1em;
}

.mention::before,
.requis::before {
  content: '*';
  color: var(--rose-anssi);
}

form.champ-unique .requis::before {
  content: '';
}

.requis {
  position: relative;
}

.message-erreur,
.message-erreur-specifique {
  position: relative;
  display: none;
  align-items: center;

  margin: 1em 0;
  padding-left: 32px;

  color: var(--rose-anssi);
  font-weight: normal;
}

.message-erreur::before,
.message-erreur-specifique::before {
  content: '';

  position: absolute;
  left: 0;

  background-image: url('/statique/assets/images/icone_attention_rose_2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.requis[data-nom='cguAcceptees'] {
  margin: 2em 0;
}

:is(input, select, textarea):user-invalid {
  border-color: var(--rose-anssi);
}

:is(input, select, textarea):user-invalid:focus {
  border-color: var(--rose-anssi);
}

:is(input, select, textarea):user-invalid ~ .message-erreur {
  display: flex;
}
