.mention {
  align-self: end;
  margin-top: 2em;
  margin-bottom: -1em;
}

.mention::before {
  margin-right: .4em;
}

.mention::before, .requis::before {
  content: "*";
  color: var(--rose-anssi);
}

.requis::before {
  position: absolute;
  left: -1em;
}

.requis {
  position: relative;
}

.message-erreur, .message-erreur-personnalise {
  display: none;

  margin-top: 1em;
  padding-left: 1.5em;

  color: var(--rose-anssi);
  font-weight: normal;
}

:is(.message-erreur, .message-erreur-personnalise)::before {
  content: '';

  position: absolute;
  left: 0;

  background-image: url(../../images/icone_attention_rose.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
  height: 1em;
  transform: translateY(0.35em);
}

.requis[data-nom = 'cguAcceptees'] {
  margin-bottom: 2em;
}

:is(input, select):not(.intouche):valid{
  border-color: var(--bleu-mise-en-avant);
}

input[type="radio"]:valid {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %230f7ac7; stroke-width: 0.50em" /></svg>')
}

:is(input, select):not(.intouche):invalid {
  border-color: var(--rose-anssi);
}

input[type="radio"]:not(.intouche):invalid {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="45" style="fill: white; stroke: %23ff6584; stroke-width: 0.50em" /></svg>')
}

:is(input, select):not(.intouche):invalid:focus {
  outline-color: var(--rose-anssi);
}

:is(input, select):not(.intouche):invalid ~ .message-erreur {
  display: block;
}

:is(input, select):invalid ~ .message-erreur-personnalise:not(:empty) {
  display: block;
}

:is(input, select):invalid ~ .message-erreur-personnalise:not(:empty) ~ .message-erreur {
  display: none;
}
