extends ../mssConnecte

block title
  title Administrateurs | MonServiceSécurisé

block variables
  - const ongletActif = "admin-admins"

block append scripts
  +composantSvelte('adminAdministrateurs.js')

block main
  #conteneur-admin-administrateurs
