extends ../mssConnecte

block title
  title Entités | MonServiceSécurisé

block variables
  - const ongletActif = "admin-entites"

block append scripts
  +composantSvelte('adminEntites.js')

block main
  #conteneur-admin-entites
