extends ../mssDeconnecte

block append styles
  link(href = '/statique/assets/styles/formulaire.css', rel = 'stylesheet')

block main
  form.etroit
    h1 Créez votre compte
    p
      a(href = '/connexion') Connectez-vous
      span &nbsp;si vous avez déjà un compte
    section
      label Prénom
        br
        input(id = 'prenom', type = 'text')
      label Nom
        br
        input(id = 'nom', type = 'text')
      label Adresse email
        br
        input(id = 'email', type = 'email')
    .bouton Créer le compte &nbsp;&nbsp;›

  script(src = '/statique/inscription.js')
