extends ../mssConnecte

block title
  title Utilisateurs | MonServiceSécurisé

block variables
  - const ongletActif = "admin-utilisateurs"

block append scripts
  +composantSvelte('adminUtilisateurs.js')

block main
  #conteneur-admin-utilisateurs
