extends annexes.pug

mixin bloc-description(liste, legende)
  if liste.length
    fieldset.bloc-indivisible
      legend= legende 
      ul
        each item in liste
          li= item 

block page
  +bloc-description(donnees.fonctionnalites, 'Fonctionnalités offertes')
  +bloc-description(donnees.donneesStockees, 'Données stockées')
  +bloc-description([donnees.dureeDysfonctionnementMaximumAcceptable], 'Durée maximale acceptable de dysfonctionnement grave du service')
