extends base

block page
  .piedpage
    div
      span.mss MonServiceSécurisé&nbsp;–&nbsp;
      span.service!= nomService
    .pagination
      span Page &nbsp;
      .pageNumber
      span /
      .totalPages
