mixin bloc-description(liste, legende)
  if liste.length
    +boite-grise(legende)
      ul.liste-puce
        each item in liste
          li!= item 

+bloc-description(donneesDescription.fonctionnalites, 'Fonctionnalités offertes')
+bloc-description(donneesDescription.donneesStockees, 'Données stockées')
+bloc-description([donneesDescription.dureeDysfonctionnementMaximumAcceptable], 'Durée maximale acceptable de dysfonctionnement grave du service')
