extends base

block page
  .entete
    img.illustration
    div
      h2 Risques de sécurité
      .sous-titre Tous les risques que l'on peut rencontrer pour votre service, classés par niveau de gravité en matière d'impact.
