extends base.entete.pug

block entete
  .entete
    img.illustration
    div
      h2 Avis sur la sécurité du service
      .sous-titre Le ou les avis de l'équipe participant à la sécurité du service pour aider à la décision d'homologation de sécurité.
