extends base

block page
  .entete
    img.illustration
    div
      h2 Mesures de sécurité détaillées
      .sous-titre
        span.indispensable Toutes les mesures indispensables
        img.indispensable
        span , recommandées et créées sont classées selon leur statut de mise en œuvre et par catégorie.
