extends base.entete.pug

block entete
  .entete
    img.illustration
    div
      .conteneur-titre-entete-annexe
        h2 Mesures de sécurité détaillées
        if afficheBadgeAncienReferentiel
          img.badge-ancien-referentiel
      .sous-titre
        span.indispensable Toutes les mesures indispensables
        img.indispensable
        span , recommandées et créées sont classées selon leur statut de mise en œuvre et par catégorie.
