extends base.entete.pug

block entete
  .entete
    img.illustration
    div
      h2 Documents joints
      .sous-titre La liste des documents joints pour aider à la décision d'homologation de sécurité.
