doctype html
meta(charset='utf-8')
meta(name = 'viewport', content = 'width=device-width')

html(lang='fr')
  head
    style
      include ressources/fonts.css
      include ressources/images.css
      include ressources/tourDePage.css

  block entete
