mixin boite-grise(titre, classe)
  table.boite-grise(class = classe)
    thead: tr: th
      .decalage-titre
      if titre
        .titre
          p= titre
      .bordure-titre
    tbody: tr: td.bloc-indivisible: .contenu
      block
    tfoot: tr: th: .bordure-pied-table

doctype html
html(lang = 'fr')
  head
    meta(charset='utf-8')
    meta(name = 'viewport', content = 'width=device-width')
    title Document PDF

    style
      include ressources/fonts.css
      include ressources/images.css
      include ressources/styles.css

  body
    block page
    //- On intègre ces divs pour forcer le chargement des polices avant le rendu PDF
    //- https://github.com/puppeteer/puppeteer/issues/422#issuecomment-759424240
    .police-marianne &nbsp;
    .police-marianne-moyen &nbsp;
    .police-marianne-gras &nbsp;
