doctype html
meta(charset='utf-8')
meta(name = 'viewport', content = 'width=device-width')

style
  include ressources/fonts.css
  include ressources/images.css
  include ressources/styles.css

mixin boite-grise(titre, classe)
  table.boite-grise(class = classe)
    thead: tr: th
      .decalage-titre
      if titre
        .titre= titre
      .bordure-titre
    tbody: tr: td.bloc-indivisible: .contenu
      block
    tfoot: tr: th: .bordure-pied-table

block page
