a(href='https://www.monservicesecurise.cyber.gouv.fr/' rel='noopener' target='_blank')
  img(src=`data:image/png;base64, ${base64}` alt="Tampon d'homologation de MonServiceSécurisé" width=largeur height=hauteur)