a.nouvelle-entite-externe {
  display: block;

  padding-left: 2em;
  background-image: url(../../images/icone_ajout_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-weight: normal;
}
