.titre ~ .description {
  font-weight: normal;
  font-size: 0.9em;
}

#risqueJuridiqueFinancierReputationnel :is(.exemple, .exemple + br) {
  display: none;
}

#risqueJuridiqueFinancierReputationnel input[value='oui'] ~ .exemple::before {
  display: none;
}

#risqueJuridiqueFinancierReputationnel
  input[value='oui']:checked
  ~ :is(.exemple, .exemple + br) {
  display: inline-block;
}

#nom-service.invalide {
  border-color: var(--rose-anssi);
}

.informations-complementaires {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

#nombre-organisations-utilisatrices {
  margin-top: 16px;
  appearance: auto;
  width: 288px;
}

.conteneur-nombre-organisations-utilisatrices {
  position: relative;
}

.conteneur-nombre-organisations-utilisatrices.vide
  #nombre-organisations-utilisatrices {
  color: #667892;
}

.conteneur-nombre-organisations-utilisatrices.vide::before {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  left: -32px;
  width: calc(100% + 48px);
  height: calc(100% + 32px);
  background: #ffdfdf;
  border-radius: 8px;
}

.banniere {
  margin-top: -2em;
  margin-bottom: 2em;
}

form.homologation .banniere p {
  margin-bottom: 0;
}

.banniere.invisible {
  display: none;
}

.banniere .contenu-texte-avertissement {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
}

section:first-of-type {
  border-top: none;
}

form#decrire-etape-2 {
  display: none;
}

.conteneur-actions-etapes {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  justify-content: end;
  border-top: 1px solid var(--liseres-fonce);
}

.conteneur-actions-etapes button {
  padding: 8px 16px;
  margin: 0;
}

.conteneur-actions-etapes :is(#etape-precedente, #etape-suivante) {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.conteneur-actions-etapes #etape-precedente:before {
  content: '';
  background: url('/statique/assets/images/fleche_gauche_bleue.svg');
  display: flex;
  width: 24px;
  height: 24px;
}

.conteneur-actions-etapes #etape-suivante:after {
  content: '';
  background: url('/statique/assets/images/fleche_gauche_bleue.svg');
  transform: rotate(180deg);
  filter: brightness(0) invert(100%);
  display: flex;
  width: 24px;
  height: 24px;
}

.conteneur-actions-etapes #etape-precedente {
  display: none;
}

.conteneur-actions-etapes .conteneur-bouton-finaliser {
  display: none;
}
