.titre ~ .description {
  font-weight: normal;
  font-size: 0.9em;
}

#risqueJuridiqueFinancierReputationnel :is(.exemple, .exemple + br) {
  display: none;
}

#risqueJuridiqueFinancierReputationnel input[value='oui'] ~ .exemple::before {
  display: none;
}

#risqueJuridiqueFinancierReputationnel
  input[value='oui']:checked
  ~ :is(.exemple, .exemple + br) {
  display: inline-block;
}

#nom-service.invalide {
  border-color: var(--rose-anssi);
}

.informations-complementaires {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

#nombre-organisations-utilisatrices {
  margin-top: 16px;
  appearance: auto;
  width: 288px;
}

.conteneur-nombre-organisations-utilisatrices {
  position: relative;
}

.conteneur-nombre-organisations-utilisatrices.vide
  #nombre-organisations-utilisatrices {
  color: #667892;
}

.conteneur-nombre-organisations-utilisatrices.vide::before {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  left: -32px;
  width: calc(100% + 48px);
  height: calc(100% + 32px);
  background: #ffdfdf;
  border-radius: 8px;
}
