.titre ~ .description {
  font-weight: normal;
  font-size: 0.9em;
}

#nom-service.invalide {
  border-color: var(--rose-anssi);
}

.informations-complementaires {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

#nombre-organisations-utilisatrices {
  margin-top: 16px;
  appearance: auto;
  width: 288px;
}

.banniere {
  margin-top: -2em;
  margin-bottom: 2em;
}

form.homologation .banniere p {
  margin-bottom: 0;
}

.banniere.invisible {
  display: none;
}

.banniere .contenu-texte-avertissement {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
}

section:first-of-type {
  border-top: none;
}

form#decrire-etape-2,
form#decrire-etape-3 {
  display: none;
}

form#decrire-etape-3 .icone-chargement {
  margin: 30px auto;
}
form#decrire-etape-3 .icone-chargement::after {
  width: 50px;
  height: 50px;
}

.conteneur-actions-etapes {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  justify-content: end;
  border-top: 1px solid var(--liseres-fonce);
}

.conteneur-actions-etapes button {
  padding: 8px 16px;
  margin: 0;
}

.conteneur-actions-etapes :is(#etape-precedente, #etape-suivante) {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.conteneur-actions-etapes #etape-precedente:before {
  content: '';
  background: url('/statique/assets/images/fleche_gauche_bleue.svg');
  filter: invert(36%) sepia(59%) saturate(1758%) hue-rotate(181deg)
    brightness(88%) contrast(105%);
  display: flex;
  width: 16px;
  height: 16px;
  align-self: center;
}

.conteneur-actions-etapes #etape-suivante:after {
  content: '';
  background: url('/statique/assets/images/fleche_gauche_bleue.svg');
  filter: invert(36%) sepia(59%) saturate(1758%) hue-rotate(181deg)
    brightness(88%) contrast(105%);
  transform: rotate(180deg);
  filter: brightness(0) invert(100%);
  display: flex;
  width: 16px;
  height: 16px;
  align-self: center;
}

.conteneur-actions-etapes #etape-precedente {
  display: none;
}

.conteneur-actions-etapes .conteneur-bouton-finaliser {
  display: none;
}

@keyframes pulse {
  0% {
    transform: translate(-2px, -2px) scale(1.8);
    opacity: 1;
  }
  100% {
    transform: translate(-2px, -2px) scale(3);
    opacity: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bar-grow {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(10%);
  }
}

.finalisationDescriptionServiceImporte {
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid var(--bleu-mise-en-avant);
  display: flex;
  flex-direction: row;
  padding: 0;
  background: transparent;
  overflow: hidden;
  gap: 0;
}

.finalisationDescriptionServiceImporte strong {
  font-size: 20px;
  line-height: 28px;
}

.finalisationDescriptionServiceImporte p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.finalisationDescriptionServiceImporte .conteneur-image {
  background: var(--bleu-mise-en-avant);
  padding: 16px 8px;
}

.finalisationDescriptionServiceImporte .contenu-texte-information {
  padding: 16px;
}
