.nom-service h1 {
  margin: 0;

  text-align: left;
  font-size: 1em;
  font-variant-caps: small-caps;
}

form.homologation * {
  text-align: left;
}

form.homologation h1 {
  margin: 0;
  padding-top: 5em;

  font-size: 0.8em;
  color: var(--bleu-anssi);
  text-transform: uppercase;
}

form.homologation h1.action {
  padding-top: 0;

  font-weight: normal;
  font-size: 1.7em;
  text-transform: none;
  color: var(--texte-clair);
}

.action + section {
  margin-top: 2em;
}

form.homologation h3 {
  font-size: 1.5em;
  font-weight: 200;
}

form.homologation p {
  margin-bottom: 3em;
}

form.homologation a.informations-additionnelles {
  display: inline-block;
  margin-top: 2em;
  padding-left: 2em;

  background-image: url(../../images/icone_plus_pastille_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  font-weight: 200;
  font-size: 0.9em;
}

form.homologation label p, form .decoration {
  margin: 0 0 1em;
  font-weight: 200;
  color: var(--texte-clair);
}

label.exemple::before {
  content: 'ex. '
}

label.exemple {
  display: inline-block;

  margin: 0 0 0 1.7em;

  font-weight: normal;
  color: var(--texte-clair);
}

a.nouvel-item {
  padding-left: 2em;
  background-image: url(../../images/icone_ajout_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-weight: normal;
}

.item-ajoute {
  position: relative;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
}

.item-ajoute label {
  display: inline-block;
  margin: 0;
  margin-left: 0.1em;
  font-weight: normal;
}

.icone-suppression {
  position: absolute;
  top: -0.55em;
  right: -0.55em;

  width: 1em;
  height: 1em;
  box-sizing: border-box;

  border: solid 1px var(--texte-clair);
  border-radius: 50%;

  background-color: #fff;
  background-image: url(../../images/icone_fermer.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.icone-suppression:hover {
  cursor: pointer;

  border: solid 1px var(--rouge-anssi);
  background-color: var(--rouge-anssi);
  background-image: url(../../images/icone_fermer_blanche.svg);
}
