form.homologation {
  width: 700px;
}

form.homologation * {
  text-align: left;
}

form.homologation h1 {
  margin: 0;
  padding-top: 5em;

  font-size: 0.8em;
  color: #0d4269;
  text-transform: uppercase;
}

form.homologation h2 {
  margin-top: 0;

  font-weight: normal;
  font-size: 1.7em;
  color: #abb6bf;
}

form.homologation h3 {
  font-size: 1.5em;
  font-weight: 200;
}

form.homologation p {
  margin-bottom: 3em;
}

form.homologation a.informations-additionnelles {
  display: inline-block;
  margin-top: 2em;
  padding-left: 2em;

  background-image: url(../../images/icone_plus_pastille_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  font-weight: 200;
  font-size: 0.9em;
}

form.homologation label p {
  margin: 0 0 1em;
  font-weight: 200;
  color: #abb6bf;
}

label.exemple::before {
  content: 'ex. '
}

label.exemple {
  display: inline-block;

  padding: 0 0 0 1.7em;

  font-weight: normal;
  color: #abb6bf;
}
