.retour {
  display: inline-block;

  margin-top: 3em;

  text-align: left;
}

.retour a {
  text-decoration: none;
  color: #1b7cc4;
}

form.homologation * {
  text-align: left;
}

form.homologation h1 {
  margin: 0;
  padding-top: 5em;

  font-size: 0.8em;
  color: #0d4269;
  text-transform: uppercase;
}

form.homologation h2 {
  margin-top: 0;

  font-weight: normal;
  font-size: 1.7em;
  color: #abb6bf;
}

form.homologation h3 {
  font-size: 1.5em;
  font-weight: 200;
}

form.homologation p {
  margin-bottom: 3em;
}

form.homologation a.informations-additionnelles {
  display: inline-block;
  margin-top: 2em;
  padding-left: 2em;

  background-image: url(../../images/icone_plus_pastille_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  font-weight: 200;
  font-size: 0.9em;
}

form.homologation label p, form .decoration {
  margin: 0 0 1em;
  font-weight: 200;
  color: #abb6bf;
}

label.exemple::before {
  content: 'ex. '
}

label.exemple {
  display: inline-block;

  margin: 0 0 0 1.7em;

  font-weight: normal;
  color: #abb6bf;
}

a.nouvel-item {
  padding-left: 2em;
  background-image: url(../../images/icone_ajout_bleue.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-weight: normal;
}

.item-ajoute {
  position: relative;

  padding: 1em;

  border: solid 1px #ebedf0;
  border-radius: 5px;
}

.icone-suppression {
  position: absolute;
  top: -0.55em;
  right: -0.55em;

  width: 1em;
  height: 1em;
  box-sizing: border-box;

  border: solid 1px #abb6bf;
  border-radius: 50%;

  background-color: white;
  background-image: url(../../images/icone_fermer.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.icone-suppression:hover {
  cursor: pointer;

  border: solid 1px #ce1b25;
  background-color: #ce1b25;
  background-image: url(../../images/icone_fermer_blanche.svg);
}
