.titre-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.conteneur-indicateurs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  position: absolute;
  right: 0;
}

.conteneur-indice-cyber {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  cursor: default;
}

.conteneur-indice-cyber:not(.flou) {
  cursor: pointer;
}

.conteneur-indice-cyber.flou :is(svg, .cartouche-indice-cyber) {
  filter: blur(4px);
}

.conteneur-indice-cyber svg {
  width: 4.2em;
  height: 4.2em;
}

.conteneur-indice-cyber svg .indice-cyber {
  font-size: 2.9em;
}

.conteneur-indice-cyber .cartouche-indice-cyber {
  border-radius: 8px;
  background: #f1f5f9;
  padding: 8px 12px;
  color: #08416a;
  font-weight: bold;
  transform: translateX(12px);
  white-space: nowrap;
}

.conteneur-indice-cyber:not(.flou):hover .cartouche-indice-cyber {
  background: #dbecf1;
}

.conteneur-indice-cyber:not(.flou):active .cartouche-indice-cyber {
  background: #08416a;
  color: white;
}
