.zone-principale {
  background: white;
}

#tableau-des-mesures {
  display: flex;
  flex-wrap: wrap;
}

#tableau-des-mesures > .conteneur-indicateurs {
  order: 20;
  background-color: white;
  margin: 0;
  width: 50%;
  z-index: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: sticky;
  top: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

#tableau-des-mesures > .barre-filtres {
  order: 10;
  width: 50%;
  padding-top: 24px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#tableau-des-mesures > .tableau-des-mesures {
  order: 30;
  width: 100%;
}

.conteneur-indice-cyber {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  margin-top: -14px;
  margin-left: -16px;
}

.conteneur-indice-cyber svg {
  width: 4.2em;
  height: 4.2em;
}

.conteneur-indice-cyber svg .indice-cyber,
.conteneur-indice-cyber.personnalise svg .indice-cyber-personnalise {
  font-size: 2.9em;
}

.conteneur-indice-cyber .cartouche-indice-cyber {
  border-radius: 8px;
  background: #f1f5f9;
  color: #08416a;
  font-weight: 500;
  white-space: nowrap;
  text-align: left;
  line-height: 16px;
  transform: translateX(26px);
  padding: 8px 30px 8px 12px;
}

.conteneur-indice-cyber .lien-indice-cyber {
  color: var(--bleu-mise-en-avant);
  font-size: 10px;
  font-weight: 500;
  text-decoration-line: underline;
}

.conteneur-page-formulaire {
  max-width: 1200px;
}

.texte-tiroir {
  display: none;
}

#contenu-mesure {
  display: flex;
  flex-grow: 1;
}

#conteneur-mesure {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#nouveaute-onglet-statuts-mesures {
  order: 30;
}

.conteneur-indice-cyber .cartouche-indice-cyber.personnalise {
  background: white;
  border: 1px solid var(--liseres-fonce);
}
