form#mesures nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2em;
  padding: 0.5em 1em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
}

form#mesures nav > a {
  padding: 0.5em 1.3em;
}

form#mesures nav > a.actif {
  background: var(--bleu-mise-en-avant-20-pc);
  border-radius: 3px;

  font-weight: bold;
}

form#mesures fieldset {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;

  position: relative;

  border: solid 1px var(--liseres);
  border-radius: 5px;
}

form#mesures fieldset br {
  display: none;
}

form#mesures fieldset .titre {
  grid-column: 1/-1;

  margin-bottom: 1em;
  padding: 1em 4em 1em 2em;

  box-sizing: border-box;

  border-bottom: solid 1px var(--liseres);
  background: var(--fond-pale);

  color: var(--texte-fonce);
}

form#mesures div.informations-additionnelles {
  grid-column: 1/-1;
  padding: 0 2em;
}

form#mesures input[type='radio'] {
  font-size: 0.85em;
  margin: 0.2em 1em 0.2em 2.3em;
}

form#mesures input[type='radio'] + label {
  margin: 0;
  padding-top: 0.54em;
  font-size: inherit;
}

form#mesures .decoration {
  margin: 0.2em 0 0;
}

.mesure {
  position: relative;
}

.mention-anssi.mesure-indispensable {
  display: inline-block;

  margin-top: 0.2em;
  padding:  0.2em 0.6em 0.4em;

  background: var(--vert-anssi);
  border-radius: 3px;

  font-weight: normal;
  font-size: 0.7em;
  color: #fff;
}

.specifiques {
  margin-bottom: 2em;
}

.specifiques .propriete-specifique {
  margin-bottom: 1em;
}

.specifiques .item-ajoute {
  padding: 1em 2em;
}

.specifiques .nom-champ {
  display: block;
  font-weight: bold;
}

form#mesures .specifiques input[type='radio'] {
  margin-left: 0;
}

#mesures-specifiques {
  margin-top: 2em;
}

.enregistrement, footer {
  position: sticky;
  background-color: #fff;
}

.enregistrement {
  bottom: 8em;
  display: flex;
  width: 100%;
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(-45deg, #5cc7ff33, #3788d733, #2c57aa33, #6b24dd33, #a826b333) 1;
}

footer {
  bottom: 0;
  border-top: solid 2px var(--systeme-design-etat-bleu);
}

main {
  border-bottom: 0;
}
