form#mesures nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2em;
  padding: 0.5em 1em;

  border: solid 1px var(--liseres);
  border-radius: 5px;
}

form#mesures nav > a {
  padding: 0.5em 1.3em;
}

form#mesures nav > a.actif {
  background: var(--bleu-mise-en-avant-20-pc);
  border-radius: 3px;

  font-weight: bold;
}

form#mesures fieldset {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;

  position: relative;

  border: solid 1px var(--liseres);
  border-radius: 5px;
}

form#mesures fieldset br {
  display: none;
}

form#mesures fieldset .titre {
  grid-column: 1/-1;

  margin-bottom: 1em;
  padding: 1em 4em 1em 2em;

  box-sizing: border-box;

  border-bottom: solid 1px var(--liseres);
  background: var(--fond-pale);

  color: var(--texte-fonce);
}

form#mesures div.informations-additionnelles {
  grid-column: 1/-1;
  padding: 0 2em;
}

form#mesures input[type='radio'] {
  font-size: 0.85em;
  margin: 0.2em 1em 0.2em 2.3em;
}

form#mesures input[type='radio'] + label {
  margin: 0;
  padding-top: 0.54em;
  font-size: inherit;
}

form#mesures .decoration {
  margin: 0.2em 0 0;
}

.mesure {
  position: relative;
}

.mention-anssi.mesure-indispensable {
  display: inline-block;

  margin-top: 0.2em;
  padding: 0.2em 0.6em 0.4em;

  background: var(--vert-anssi);
  border-radius: 3px;

  font-weight: normal;
  font-size: 0.7em;
  color: #fff;
}

.specifiques {
  margin-bottom: 2em;
}

.specifiques .propriete-specifique {
  margin-bottom: 1em;
}

.specifiques .item-ajoute {
  padding: 1em 2em;
}

.specifiques .nom-champ {
  display: block;
  font-weight: bold;
}

form#mesures .specifiques input[type='radio'] {
  margin-left: 0;
}

#mesures-specifiques {
  margin-top: 2em;
}

.enregistrement {
  position: sticky;
  background-color: #fff;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 7em);
  margin-left: -7em;
  padding: 1.4em 7em 1.4em 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(
      -45deg,
      #5cc7ff33,
      #3788d733,
      #2c57aa33,
      #6b24dd33,
      #a826b333
    )
    1;
}

.enregistrement #statut-enregistrement {
  margin-left: 7em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enregistrement #statut-enregistrement.enregistrement-en-cours {
  color: #0c5c98;
}

.enregistrement #statut-enregistrement.enregistrement-termine {
  color: #0e972b;
}

.enregistrement #statut-enregistrement:before {
  content: '';
  display: flex;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.enregistrement #statut-enregistrement.enregistrement-en-cours:before {
  background-image: url('/statique/assets/images/icone_enregistrement_en_cours.svg');
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.enregistrement #statut-enregistrement.enregistrement-termine:before {
  background-image: url('/statique/assets/images/icone_enregistrement_termine.svg');
}

.enregistrement .boutons {
  display: flex;
  gap: 25px;
}

.enregistrement .bouton {
  margin: 0;
  padding: 0.7em 1.2em;
}

.enregistrement .nouvel-item {
  display: flex;
  align-items: center;
  padding-left: 0.8em;
}

.enregistrement .nouvel-item::before {
  content: '';
  display: block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.4em;
  background: url(../../images/icone_plus_pastille_bleue.svg) center/contain;
}

footer {
  bottom: 0;
  border-top: solid 2px var(--systeme-design-etat-bleu);
}

main {
  border-bottom: 0;
}

.informations-complementaires {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

.formulaire {
  position: relative;
}

.titre-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.conteneur-indicateurs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: absolute;
  right: 0;
}

.jauge-progression-mesures {
  width: 4.2em;
  height: 4.2em;
}

.conteneur-jauge-progression {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  user-select: none;
}

.conteneur-jauge-progression .cartouche-progression-mesures {
  border-radius: 8px;
  background: #f1f5f9;
  padding: 8px 12px 8px 68px;
  color: #08416a;
  font-weight: 500;
  white-space: nowrap;
}

.conteneur-jauge-progression .jauge-progression-mesures {
  position: absolute;
  left: 5px;
}

.conteneur-indice-cyber {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  cursor: pointer;
}

.conteneur-indice-cyber svg {
  width: 4.2em;
  height: 4.2em;
}

.conteneur-indice-cyber svg .indice-cyber {
  font-size: 2.9em;
}

.conteneur-indice-cyber .cartouche-indice-cyber {
  border-radius: 8px;
  background: #f1f5f9;
  padding: 8px 12px;
  color: #08416a;
  font-weight: bold;
  transform: translateX(12px);
  white-space: nowrap;
}

.conteneur-indice-cyber:hover .cartouche-indice-cyber {
  background: #dbecf1;
}

.conteneur-indice-cyber:active .cartouche-indice-cyber {
  background: #08416a;
  color: white;
}
