.saisie-identite {
    border: 1px solid var(--liseres);
    border-radius: 3px;
    padding: 1em;
    margin-top: 1em;
}

.saisie-identite label {
    display: inline-block;
    margin: 0;
    margin-left: 0.1em;
    font-weight: normal;
}
