.risque {
  position: relative;

  margin-bottom: 1em;
  padding: 1em 2em;

  border: solid 1px var(--liseres);
  border-radius: 3px;
}

.synthese {
  display: flex;
  align-items: center;
  gap: 2em;
}

.synthese .titre,
.synthese input[name^='description-risque-specifique'] {
  flex-basis: 67%;
}

.synthese .titre {
  font-weight: bold;
}

.niveau-gravite .curseur {
  display: flex;
  gap: 0.4em;
}

.niveau-gravite .disque:hover {
  cursor: pointer;
  border-color: var(--bleu-anssi);
}

.niveau-gravite .disque.eteint {
  background: var(--liseres);
}

.disque {
  height: 1em;
  width: 1em;

  border-radius: 50%;
  border: solid 0.5px;
  border-color: transparent;
  background: var(--liseres);
}

.disque.cercle {
  border: solid 0.5px var(--bleu-anssi);
}

.disque.blanc {
  background: #fff;
}

.disque.vert {
  background: var(--vert-anssi);
}

.disque.jaune {
  background: var(--jaune-anssi);
}

.disque.orange {
  background: var(--orange-anssi);
}

.disque.rouge {
  background: var(--rouge-anssi);
}

.niveau-gravite .legende {
  height: 1.4em;
  font-size: 0.7em;
  font-weight: normal;
}

ul.niveaux-gravite {
  list-style: none;

  padding: 0;

  line-height: 1.8em;
}

.niveaux-gravite .disque {
  display: inline-block;

  margin: 0 0.8em -0.2em 0;
}

.rideau .modale {
  list-style: none;
}
.rideau .modale li {
  margin-top: 0.3em;
  margin-left: 1.5em;

  color: var(--texte-fonce);
}

.rideau .modale li::before {
  content: '\25CF';
  display: block;
  position: absolute;
  left: 3em;
}
