.risque {
  position: relative;

  margin-bottom: 1em;
  padding: 1em 2em;

  border: solid 1px var(--liseres);
  border-radius: 3px;
}

.risque .information {
  cursor: pointer;

  position: absolute;
  top: 1em;
  right: 1em;

  width: 1em;
  height: 1em;
  background-image: url(../../images/icone_information.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.synthese {
  display: flex;
  align-items: center;
  gap: 2em;
}

.synthese .titre, .synthese input[name^=description-risque-specifique] {
  flex-basis: 67%;
}

.synthese .titre {
  font-weight: bold;
}

.niveau-gravite .curseur {
  display: flex;
  gap: 0.4em;
}

.niveau-gravite .disque {
  height: 1em;
  width: 1em;

  border-radius: 50%;
  border: solid .5px;
  border-color: transparent;
  background: var(--liseres);
}

.niveau-gravite .disque:hover {
  cursor: pointer;
  border-color: var(--bleu-anssi);
}

.niveau-gravite .disque.cercle {
  border: solid .5px var(--bleu-anssi);
}

.niveau-gravite .disque.eteint {
  background: var(--liseres);
}

.niveau-gravite .disque.blanc {
  background: #fff;
}

.niveau-gravite .disque.vert {
  background: var(--vert-anssi);
}

.niveau-gravite .disque.jaune {
  background: var(--jaune-anssi);
}

.niveau-gravite .disque.orange {
  background: var(--orange-anssi);
}

.niveau-gravite .disque.rouge {
  background: var(--rouge-anssi);
}

.niveau-gravite .legende {
  height: 1.4em;
  font-size: 0.7em;
  font-weight: normal;
}
