.risque {
  position: relative;

  margin-bottom: 1em;
  padding: 1em 2em;

  border: solid 1px #ebedf0;
  border-radius: 3px;
}

.risque .information {
  cursor: pointer;

  position: absolute;
  top: 1em;
  right: 1em;

  width: 1em;
  height: 1em;
  background-image: url(../../images/icone_information.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.risque .titre {
  font-weight: bold;
}
