.details-service {
  margin-bottom: 3em;
}

.tableau-bord {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
}

.actions {
  display: flex;
  column-gap: 1.5em;

  margin-bottom: 5em;
}

.actions a {
  flex: 1;
  color: var(--bleu-anssi);
}

.actions a.indisponible {
  pointer-events: none;
}

.action {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;

  padding: 4em 2em 3em;
  border: solid 1.5px var(--texte-clair);
  border-radius: 10px;
}

.action.indisponible {
  background: var(--bleu-mise-en-avant-03-pc);
  color: var(--texte-moyen);
}

.action.indisponible:after {
  position: absolute;
  top: 1em;

  display: inline-block;
  content: 'BIENTÔT DISPONIBLE';

  padding: 0.1em 0.8em 0.2em;
  border-radius: 15% / 100%;
  background: var(--vert-anssi);

  color: #fff;
}

.action:not(.indisponible):hover {
  background: var(--fond-pale);
}

.action h2 {
  margin: 0;
  padding-bottom: 1em;
}

.action .statut {
  position: absolute;
  top: 1em;
  right: 1em;

  width: 1.3em;
  height: 1.3em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.action .statut.faite {
  background-image: url(../../images/icone_ok_pastille_verte.svg);
}

.icone-action {
  width: 2.2em;
  height: 2.2em;

  background-repeat: no-repeat;
  background-size: 100%;
}

.action.descriptionService .icone-action {
  background-image: url(../../images/icone_stylo.svg);
}

.action.mesures .icone-action {
  background-image: url(../../images/icone_cadenas.svg);
}

.action.homologations .icone-action {
  background-image: url(../../images/icone_feuille_papier.svg);
}

.action .sous-titre {
  font-size: 0.9em;
}

.cartes-outils-complementaires {
  text-align: left;
}

.cartes-outils-complementaires h2 {
  margin-bottom: 1.5em;

  font-size: 1.2em;
  font-weight: normal;
  color: var(--gris-fonce);
}

.outils-complementaires {
  display: flex;
  column-gap: 1.5em;
}

.outils-complementaires h3 {
  margin: 0;

  font-size: 1.5em;
}

.outil-complementaire {
  flex: 1;
  padding: 1.5em 2em;
  border: solid 1.5px var(--texte-clair);
  border-radius: 10px;
}

.outil-complementaire .titre-outil {
  display: flex;
  align-items: center;
}

.outil-complementaire .titre-outil .icone-outil {
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.8em;
}

.outil-complementaire.risques .icone-outil {
  background-image: url(../../images/icone_outils.svg)
}

.outil-complementaire.contactsUtiles .icone-outil {
  background-image: url(../../images/icone_outils_graphiques.svg)
}

.outil-complementaire .description {
  margin-top: 1em;
}

.outil-complementaire .description a:after, .liens a:after {
  content: '';
  display: inline-block;

  width: 0.4em;
  height: 0.4em;
  margin-left: 0.2em;
  border: 2px var(--bleu-mise-en-avant) solid;
  border-left: 0;
  border-bottom: 0;

  transform: rotate(0.12turn) translateY(-0.05em);
}

.liens {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  font-size: 0.65em;
}
