.details-service {
  margin-bottom: 3em;
}

.titre-service {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  text-align: left;
  margin-bottom: 1em;
}

.actions {
  display: flex;
  column-gap: 1.5em;

  margin-bottom: 5em;
}

.actions a {
  flex: 1;
  color: var(--bleu-anssi);
}

.action {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;

  padding: 4em 2em 3em;
  border: solid 1.5px var(--texte-clair);
  border-radius: 10px;
}

.action:hover {
  background: var(--fond-pale);
}

.action h2 {
  margin: 0;
  padding-bottom: 1em;
}

.action .statut {
  position: absolute;
  top: 1em;
  right: 1em;

  width: 1.5em;
  height: 1.5em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.action .statut.faite {
  background-image: url(../../images/icone_ok_pastille_verte.svg);
  background-size: 85%;
}

.action .statut.en-cours {
  background-image: url(../../images/icone_crayon_pastille_bleue.svg);
}

.icone-action {
  width: 2.2em;
  height: 2.2em;

  background-repeat: no-repeat;
  background-size: 100%;
}

.action.descriptionService .icone-action {
  background-image: url(../../images/icone_stylo.svg);
}

.action.mesures .icone-action {
  background-image: url(../../images/icone_cadenas.svg);
}

.action.dossiers .icone-action {
  background-image: url(../../images/icone_feuille_papier.svg);
}

.action .sous-titre {
  font-size: 0.9em;
}

.cartes-outils-complementaires {
  text-align: left;
}

.cartes-outils-complementaires h2 {
  margin-bottom: 1.5em;

  font-size: 1.2em;
  font-weight: normal;
  color: var(--gris-fonce);
}

.outils-complementaires {
  display: flex;
  column-gap: 1.5em;
}

.outils-complementaires h3 {
  margin: 0;

  font-size: 1.5em;
}

.outil-complementaire {
  flex: 1;
  padding: 1.5em 2em;
  border: solid 1.5px var(--texte-clair);
  border-radius: 10px;
}

.outil-complementaire .titre-outil {
  display: flex;
  align-items: center;
}

.outil-complementaire .titre-outil .icone-outil {
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.8em;
}

.outil-complementaire.risques .icone-outil {
  background-image: url(../../images/icone_outils.svg)
}

.outil-complementaire.contactsUtiles .icone-outil {
  background-image: url(../../images/icone_outils_graphiques.svg)
}

.outil-complementaire .description {
  margin-top: 1em;
}

.liens {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  font-size: 0.65em;
}

.telechargement-pdfs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 2em;
}

.telechargement-pdfs .bouton {
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1.85em;
  padding-right: 1.85em;
}

.cartes-informations a.nouvel-onglet::after {
  background-color: var(--bleu-mise-en-avant);
}

.zone-principale a.nouvel-onglet::after {
  background-color: white;
}
