name: Déploiement
run-name: Déploiement du commit "${{ github.event.head_commit.message }}"
permissions: {}

on:
  push:
    branches: [master]
  workflow_dispatch: # Pour activer le déclenchement manuel

jobs:
  deploiement-demo:
    name: Déploiement en DÉMO
    environment: DEMO
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Cloner l'intégralité du dépôt, pour ne pas avoir de « shallow repo » rejeté par Clever

      - name: Déterminer la version de Node.js à utiliser
        run: |
          echo "NODE_VERSION=$(./scripts/get-node-version.sh)" >> $GITHUB_ENV

      - name: Utiliser la version Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Installer la CLI Clever Cloud
        shell: bash
        run: npm install -g clever-tools@4.4.0 # Utilisation de `npm` acceptable avec une version épinglée

      - name: Spécifier la version de Node.js à utiliser auprès de Clever Cloud
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          clever link -o="$ID_ORGANISATION" "$ID_APP"
          clever env set CC_NODE_VERSION "${{ env.NODE_VERSION }}"

      - name: Déployer en DÉMO
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          clever deploy --force --same-commit-policy=rebuild

  deploiement-prod:
    needs: [deploiement-demo]
    name: Déploiement en PROD
    environment: PROD
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Cloner l'intégralité du dépôt, pour ne pas avoir de « shallow repo » rejeté par Clever

      - name: Déterminer la version de Node.js à utiliser
        run: |
          echo "NODE_VERSION=$(./scripts/get-node-version.sh)" >> $GITHUB_ENV

      - name: Utiliser la version Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Installer la CLI Clever Cloud
        shell: bash
        run: npm install -g clever-tools@4.4.0 # Utilisation de `npm` acceptable avec une version épinglée

      - name: Spécifier la version de Node.js à utiliser auprès de Clever Cloud
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          clever link -o="$ID_ORGANISATION" "$ID_APP"
          clever env set CC_NODE_VERSION "${{ env.NODE_VERSION }}"

      - name: Déployer en PROD
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          clever deploy --force --same-commit-policy=rebuild
