name: L'intégration continue
permissions: {}

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Construction de MonServiceSécurisé

    runs-on: ubuntu-latest

    env:
      SECRET_COOKIE: secret

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - name: Déterminer la version de Node.js à utiliser
        run: |
          echo "NODE_VERSION=$(./scripts/get-node-version.sh)" >> $GITHUB_ENV

      - name: Utiliser la version Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Installer les dépendances
        run: npm install -g "$(jq -r '.packageManager' package.json)" && pnpm install

      - name: Contrôler la mise en forme avec Prettier
        run: ./node_modules/.bin/prettier --check .

      - name: Contrôler la cohérence avec Eslint
        run: ./node_modules/.bin/eslint .

      - name: Contrôler le Typescript du Backend
        run: ./node_modules/.bin/tsc --noEmit

      - name: Contrôler le Typescript de Svelte
        run: ./node_modules/.bin/tsc --noEmit -p svelte/tsconfig.json

      - name: Exécuter les tests
        run: ./node_modules/.bin/vitest --reporter junit --outputFile=./test-report.xml

      - name: Rapport des tests
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }} # On force l'exécution même si l'étape précédente a échoué
        with:
          name: Tests
          path: ./test-report.xml
          reporter: jest-junit
